[2021-04-03 11:44] retorquere commented on #986
I have created a `dist` directory parallel to the `src-tauri` directory (which is where the `distDir` points to) and created a file `index.html` in it, but I'm getting the same error.

[2021-04-03 12:22] #1409 closed, assigned to nobody

[2021-04-03 19:38] nklayman commented on #986
What is in your `tauri.conf.json`?

[2021-04-04 11:01] retorquere commented on #986
[code]

[2021-04-04 21:50] nklayman commented on #986
Your dev path is set to `http://localhost:4000`, so Tauri will try to connect to it. Try changing it to `../dist` so that it uses the folder instead of the url.

[2021-04-04 22:14] retorquere commented on #986
That worked -- the conf file was just what I ended up with following the getting started guide.

I've tried replacing it with `https://gmail.com` but that keeps reloading, but -- page loading works.

[2021-04-05 08:46] nothingismagick commented on #1403
You know, this is sort of out of our control. Closing because it should probably be filed at Clippy.

[2021-04-05 08:46] #1403 closed, assigned to nobody

[2021-04-05 16:59] lucasfernog commented on #1252
We also need i18n for the default updater dialog (or just drop it and let the user handle it).

[2021-04-05 17:34] WilliamVenner commented on #1394
It's back @chippers ?

[2021-04-05 19:14] lights0123 opened #1428 "Add custom files to deb packages"
**Is your feature request related to a problem? Please describe.**

I'd like to ship udev rules with my app. However, Tauri creates the .deb bundle before I can include them.

**Describe the solution you'd like**

An option to specify files that should be included in the final .deb bundle, similar to `externalBin`. However, they need to be able to be stored at any location. Also, there should be a

[2021-04-05 19:56] chippers commented on #1394
I think it got reverted because we weren't able to serve files in dev. the refactor needed to fix it properly just landed this weekend so i can get a similar fix in the next day or so

[2021-04-06 00:17] github-actions[bot] opened #1431 "RUSTSEC-2020-0095: difference is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `difference`                      |
| Version             | `2.0.0`                   |
| URL                 | [https://github.com/johannhof/difference.rs/issues/45](https://g

[2021-04-06 04:15] #1394 closed, assigned to nobody

[2021-04-06 05:53] n-shift opened #1433 "Build fails on windows 10"
**Describe the bug**
After following tutorial and running `yarn tauri dev` i am getting webview build error.

**To Reproduce**
Steps to reproduce the behavior:
Run `yarn tauri dev` in project created with `yarn tauri init`

**Expected behavior**
Build succeed

**Platform and Versions:**

OS: Windows_NT(10.0.18363) - win32/x64
Node: 15.11.0
NPM: 7.6.0
Yarn: 1.22.4
Rustc: 1.51.0

**Additional contex

[2021-04-06 07:42] nothingismagick commented on #1433
Thankyou, but we are no longer accepting issues on alpha tauri.

https://github.com/tauri-apps/tauri/issues/1253

[2021-04-06 07:42] #1433 closed, assigned to nobody

[2021-04-06 08:43] nothingismagick commented on #1320
I am closing too, because I am running on the M1 as well and do not face these problems. Also, you provided a PR that fixed this issue. Thanks for reporting

[2021-04-06 08:43] #1320 closed, assigned to nobody

[2021-04-06 21:51] RangerMauve commented on #323
The other thing which I think is missing in a lot of webview libraries is the [registerScemesAsPriviledged](https://www.electronjs.org/docs/api/protocol#protocolregisterschemesasprivilegedcustomschemes) API that Electron provides.

This is what lets custom protocol handlers to access APIs which are normally only available via HTTPs as well as make the URL parser treat them as "proper" URLs so that

[2021-04-08 07:29] nothingismagick commented on #323
As a matter of fact, this is what wry is actually doing with its custom scheme @RangerMauve see:

https://github.com/tauri-apps/wry/blob/c49846cfc41bb548a685edeac5f8036501f7dcec/src/webview/mimetype.rs#L115

[2021-04-08 12:47] lucasfernog commented on #1349
Please reopen if you are still facing this issue.

[2021-04-08 12:47] #1349 closed, assigned to nobody

[2021-04-08 15:50] #1387 closed, assigned to lemarier

[2021-04-08 19:39] RangerMauve commented on #323
Oh wow! That's really cool to see @nothingismagick

It'd be super handy if wry provided APIs to register different protocol schemes like that.
I'd love to ditch all the extra bloat from Electron + Node!

[2021-04-08 21:38] domiSchenk opened #1447 "Process with warning does not complete the stdout"
**Describe the bug**
When running a command and getting a warning, like `git diff's : warning: LF will be replaced by CRLF in test.md.`
the stdout is not completed.

**To Reproduce**
Repo: https://github.com/domiSchenk/tauri-crlf-process
1. Create a new file `test.md` with CRLF/LF endings (should be the opposite then the standard)
2. Add some lines
3. Change path in file index.js:14 to this repo
4

[2021-04-10 07:58] nothingismagick commented on #323
@RangerMauve
https://github.com/tauri-apps/wry/pull/151/files

[2021-04-10 15:03] weepy opened #1450 "Media Capture support"
Hi - I was interested if Media Capture was possible  (in particular for MacOS). Typically with WkWebkit there's issues with app sandbox and permissions (especially with Mojave).

[2021-04-12 03:51] lucasfernog opened #1456 "Archive deprecated crates/packages/repositories"
## NPM packages:
- [x] https://www.npmjs.com/package/@tauri-apps/tauri-inliner
- [x] https://www.npmjs.com/package/tauri

## Crates:
- [x] https://crates.io/crates/tauri-inliner
- [x] https://crates.io/crates/tauri_includedir
- [x] https://crates.io/crates/tauri_includedir_codegen
- [x] https://crates.io/crates/tauri-api
- [x] https://crates.io/crates/tauri-updater
- [x] https://crates.io/crates/t

[2021-04-12 08:19] birdinforest opened #1458 "Can not build app"
**Describe the bug**

Build app by command ` yarn tauri build` or by ` yarn tauri build --debug`, get error says file `.cargo-lock` is locked by another process. However I don't find any process is accessing to that file.

**`yarn tauri dev` works well. The built debug `.exe` file works as well.**

**To Reproduce**
Steps to reproduce the behavior:
1. Generate new tauri project following official i

[2021-04-12 08:28] nothingismagick commented on #1458
Since you are running the Alpha version, I am going to close this issue - the Beta.rc is literally in the process of being published and we will not support Alpha.

Please see:
https://github.com/tauri-apps/tauri/issues/1253

[2021-04-12 08:28] #1458 closed, assigned to nobody

[2021-04-12 08:36] nothingismagick commented on #1456
I archived all the repos listed above, not totally sure what we should do about the crates though. I could yank - but who knows if someone out there finds them useful... Thoughts?

[2021-04-12 10:31] chippers commented on #1456
Add in documentation to the readme and crate root docs that it is deprecated and point to the new way of doings things. Upload as a new patch version

[2021-04-12 16:43] probablykasper opened #1464 "macOS window issues"
There are a few things that make Tauri windows a little weird on macOS:
1. The position of the window is not in the center by default, and it's not remembered. Every time Tauri starts, the window shows up in the bottom left corner
2. No window title
3. No border around the windows (especially noticeable in dark mode)
4. There's no drop shadow behind the windows, but this should be fixed already (h

[2021-04-12 16:44] nothingismagick commented on #1464
Are you using the dev branch? If so, please reopen this issue.

[2021-04-12 16:44] #1464 closed, assigned to nobody

[2021-04-12 17:41] m-lima opened #1465 "CPU at 100% usage in `embeddedServer: false` mode"
**Describe the bug**
When using `embeddedServer: false` launching mode, if an image is not found, the cpu peaks and holds at 100%.

**To Reproduce**
1 - Setup the project
[code]
2 - Enable **no-server mode**
[code]
3 - Build the project in release mode
[code]
4 - Execute the app
[code]
5 - Observe that image is not loaded.
6 - Observe CPU pinned to the max.

**Expected behavior**
Ideally, the imag

[2021-04-12 17:55] nothingismagick commented on #1465
Thanks for the report, but the beta version does not use this logic or even this webview integration. If you have the same problems after refactoring to use the beta version, please reopen.

[2021-04-12 17:55] #1465 closed, assigned to nobody

[2021-04-12 17:58] m-lima commented on #1465
I apologize for the noise. I read the request to hold back on issues and was going to close this issue myself. I was setting up my project to use the `dev` branch to confirm if it is present there. But you have answered already.
Thanks

[2021-04-12 18:07] probablykasper commented on #1464
Assumed these still existed because I couldn't find any issues mentioning them, but looks like they are fixed 👌

[2021-04-13 02:15] lucasfernog commented on #1447
As I suspected, the `warning` section is printed to `stderr` instead of `stdout`. If you also check `stderr`, you'll get the full output.

[2021-04-13 02:15] #1447 closed, assigned to nobody

[2021-04-13 02:18] lucasfernog commented on #1447
This is my test script btw:

[code]

test.md:
[code]

console output:
[code]

[2021-04-13 13:19] tiesselune commented on #1433
@shift-d Hi, I had the same problem with the same error message, and I struggled a bit before finding a solution. I updated MSBuild Tools for C++ by going in the updater, hit modify, and unchecked C++ build tools before re-checking it, which seems to have reset it (and uninstalled build tools for desktop .Net). Then waited for it to re-install. Something must have been missing.

I tried launching

[2021-04-14 14:44] Shanery opened #1480 "Hot Reloading not working in Mac OS. Always loading from cache..."
**Describe the bug**
Hot Reloading isn't working on Mac OS... This one might not be a plugin issue but any help would be appreciated.

So in the dev tools, as far as I can tell it's running safari, but my app.js and vendors.js are always using a cached version even when I have ignore cache, or hard refresh (option + command + r). It works correctly in safari so I'm not sure what the differences ar

[2021-04-14 14:49] lemarier commented on #1480
A new version will be released in the next hours and it should be fixed.

If it still happening, please reopen the issue with the new version details.

Thanks!

[2021-04-14 14:49] #1480 closed, assigned to nobody

[2021-04-14 20:57] #1253 closed, assigned to nobody

[2021-04-14 20:58] nothingismagick opened #1490 "cargo package of core/tauri reveals a number of warnings"
[code]

[2021-04-14 21:54] Shotman opened #1492 "[Win] Modifiers keys make init script crash"
**Describe the bug**
On windows when using the command tauri init from the @tauri-apps/cli package if any of those keys, left or right, CTRL , ALT, AltGr, SHIFT and Caps Lock are pressed it makes the script crash

**To Reproduce**
Steps to reproduce the behavior:
In a new folder
1. yarn init
2. yarn add @tauri-apps/cli
3. At any prompt, press any of the key, the script will crash

**Expected behav

[2021-04-15 03:00] Gabriel-Alves-Cunha opened #1504 "`yarn tauri init` doesn't work on my fedora machine. Help"
**Describe the bug**
Hi, I'm starting with Tauri but I couldn't pass the `yarn tauri init`. It gives an ugly error. I tried first using pnpm, then npm, then yarn, and all of them give the same error. If i enter `yarn tauri` it works, version and help also work, but anything else throws error.
PS.: the only difference in my machine is that it uses **volta** instead of **nvm**. Could that be it??

*

[2021-04-15 03:07] probablykasper commented on #1504
Getting the same issue on macOS, was just about to post an issue for it.

Also, running `npx create-tauri-app` gives me this error:
[code]

[2021-04-15 03:34] nklayman commented on #1504
Your issue was triggered because the prebuilt CLI binary wasn't published. It is published now, give it a try and it should work. You will probably have to reinstall the js package so that the prebuilt CLI is redownloaded as well.

[2021-04-15 06:41] nothingismagick opened #1507 "Prune Packages"
**Is your feature request related to a problem? Please describe.**
Many of our packages seem to have a little bloat. We want to reduce our environmental impact (and also the time spent downloading / building / shipping).

**Describe the solution you'd like**
Every npm package should have an `.npmignore` that prunes non-necessary stuff
Remove tests / examples from crates

-ALWAYS ship the licenses

[2021-04-15 06:57] nothingismagick opened #1508 "Workflow Documentation & Status"
**Is your feature request related to a problem? Please describe.**
It is unclear what steps need to be manually undertaken and in which order for us to cut a release. Further, unless you REALLY know where to look && are in direct conversation with the cutters, it is absolutely impossible to know what the publishing status is. Further, it is possible that you try to update source but not everything

[2021-04-15 08:16] yooouuri opened #1509 "Http TS definitions don't match (documentation and actual definitions)"
**Describe the bug**
TS definitions don't match

[code]

![image](https://user-images.githubusercontent.com/12934957/114836553-14f20e00-9dd3-11eb-84e3-21585ee59c62.png)

https://tauri.studio/en/docs/api/js#functions-4

The `get` state that options are optional.

**To Reproduce**
Steps to reproduce the behavior:
1. vue create some-app (choose vue 3 and typescript)
2. vue add tauri
3. Add component:

[2021-04-15 09:21] nothingismagick commented on #1504
Closing issue. If it is still happening, by all means reopen it.

[2021-04-15 09:21] #1504 closed, assigned to nobody

[2021-04-15 11:23] Gabriel-Alves-Cunha commented on #1504
Hi again, not sure if it is relatively the same issue but `yarn tauri info` gives out an error. `yarn tauri init` is working now.

Error:
[code]

[2021-04-15 11:29] lemarier commented on #1508
Chromium have a good dashboard

https://chromiumdash.appspot.com

[2021-04-15 11:31] amrbashir commented on #1504
@Gabriel-Alves-Cunha this is issue has been reported and fixed but not released yet. It should be released soon

[2021-04-15 11:33] Gabriel-Alves-Cunha commented on #1504
Oh, ok. Thank you :)

[2021-04-15 12:08] Pierstoval commented on #1504
Thanks for reporting this and fixing it so quickly ♥ I'm having the exact same issue on Ubuntu 20.04 under WSL 😀

🚀

[2021-04-15 19:46] parker-codes commented on #1492
I ran into this as well. Can't add a capitalized window title without shift! 😁

[2021-04-15 20:53] brendanosborne commented on #719
I rolled out a small beta test recently and the first two users had this msvcp140.dll is missing issue.

@lucasfernog I noticed in the Discord #windows chat back in 07/12/20 you were having trouble reproducing this issue. I am able to reproduce it using Windows Sandbox: https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-sandbox/windows-sandbox-overview

[2021-04-15 21:12] amrbashir commented on #719
@brendanosborne we recently released the beta, can you try again with that, the missing dll should be fixed.

[2021-04-15 21:19] brendanosborne commented on #719
@amrbashir I just built a fresh app this morning to test using vue-cli-plugin-tauri - maybe that is not targeting the new beta release yet?

[2021-04-15 21:25] amrbashir commented on #719
indeed, the `vue-cli-plugin-tauri` will be updated soon. For now you can try using `yarn create tauri-app --recipe vuecli`

[2021-04-15 21:46] brendanosborne commented on #719
I'm still seeing the same error with `yarn create tauri-app --recipe vuecli`

[tauri]: running info

Operating System - Windows_NT(10.0.19042) - win32/x64
Microsoft Edge - 44.19041.423.0_neutral__8wekyb3d8bbwe

Node.js environment
  Node.js - 15.11.0
  tauri.js - 0.14.1

Rust environment
  rustc - 1.51.0
  cargo - 1.51.0
  tauri-bundler - 0.9.4

Global packages
  NPM - 7.6.0
  yarn - 1.22.10

App

[2021-04-15 22:01] amrbashir commented on #719
@brendanosborne I am so sorry for the inconvenience, apparently we use `vue-cli-plugin-tauri`(which still needs to be updated) in `create-tauri-app` for `vuecli` recipe.
Can you try again `yarn create tauri-app` and choose another recipe, I'd recommend the `vanilla` just to test quickly.

If you have further question, join us on [Discord](https://discord.gg/HsnKWQcE)

[2021-04-15 22:06] lucasfernog commented on #719
This was fixed on #1368 , please reopen if you face any issues.

[2021-04-15 22:06] #719 closed

[2021-04-15 23:24] Pierstoval opened #1512 "Cannot import @tauri-apps/api/tauri"
**Describe the bug**
Cannot import `@tauri-apps/api/tauri` from a `<script lang="ts">` tag when frontend is build with Svelte kit and latest Tauri version.

The project was created **today**, with a totally fresh Tauri install (using the new beta version), and the frontend is a plain Svelte Kit application with one single change: instead of using the `node` bundle adapter, I'm using the `static` o

[2021-04-16 01:14] brendanosborne commented on #719
Unfortunately still seeing the same result with the `yarn create tauri-app` - `vanilla`.
It looks like I'm using the latest and greatest... the `package.json` contains:
[code]

I don't seem to be able to reopen the issue.

[2021-04-16 02:38] amrbashir commented on #719
@brendanosborne
Bad news, there is a bug in `create-tauri-app` which installed the old version of tauri.

Good news, the `vue-cli-plugin-tauri` is now updated with the latest changes. Try again with that.

[2021-04-16 04:02] nganhkhoa commented on #1512
It's because tauri was exported differently, possible a bug, try this

[code]

I was confused also.

[2021-04-16 10:22] nganhkhoa opened #1514 "Feature: Generate Typescript functions for Rust commands"
Goal: Atomatically generate Typescript functions for Rust commands in Typescript environment

Why: Use Typescript with type checking for Rust commands rather than `invoke('some string', somedata)`

How:

Assume these Rust commands are available

[code]

Using Typescript, we can create functions that conform to the Rust commands:

[code]

Now we can call `my_first_custom_command` and `my_second_cus

[2021-04-16 12:23] lemarier opened #1515 "bug(embedded-assets): SVG's not bundled"
**Describe the bug**
Looks like PNG's got bundled successfully but SVG's are not.

Refer to discord discussion for more details:
https://discord.com/channels/616186924390023171/803006835636306022/832590039761682443

**Expected behavior**
SVG works even on bundled applications.

**Screenshots**
### SVG's
![](https://cdn.discordapp.com/attachments/803006835636306022/832590096686645290/unknown.png)

[2021-04-16 12:34] Pierstoval commented on #1512
@nganhkhoa Thanks for helping!

I tried your suggestion, but I get another error:

[code]

Seems like it doesn't import other libs properly 😕

Could it be possible that the `@tauri-apps/api` package's building process have flaws somewhere?

[2021-04-16 14:28] alterae opened #1516 ""Error: Not a terminal" when attempting to type capital letters in the CLI"
**Describe the bug**
When using `tauri init`, attempting to type any letter while the shift key is held causes the CLI to fail with exit code 1 and the error "Not a terminal"

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new directory and set up a node project following the steps in the [tutorial](https://tauri.studio/en/docs/usage/development/integration) in the docs, up to the poi

[2021-04-16 14:37] amrbashir commented on #1516
It is already reported and tracked at #1492

[2021-04-16 14:38] #1516 closed, assigned to nobody

[2021-04-16 16:18] mq1 commented on #1512
Same error with Vite + Vue + vite-ssg

[2021-04-16 16:21] nganhkhoa commented on #1512
I used React (Javascript and Typescript) and that works, not sure about Svelte though. I guess they need to revise this export model.

[2021-04-16 16:33] nothingismagick commented on #1512
Yeah, we have identified the issue and will be resolving this and a number of other minor issues over the weekend. Hang in there please

[2021-04-16 20:19] Pierstoval commented on #1512
Need help? I might find some time in the weekend 😉 I just don't know where to start 😅

[2021-04-16 22:19] brendanosborne commented on #719
Thanks you. Confirming it is now working in the Windows Sandbox!

[2021-04-17 09:50] nothingismagick opened #1519 "remove lodash"
lodash is a walking timebomb. every week or two another vulnerability (usually prototype pollution) appears. So I went for a stroll though our codebase, and found a case where we are using it directly:

`tauri/tooling/create-tauri-app/src/index.ts`
[code]

Why aren't we just using the es6 builtins here? I would prefer to get that right.

[2021-04-17 09:53] nothingismagick opened #1520 "create-tauri-app uses different linting"
This is not a bug, but I noticed that in contrast to the CLI / API, `create-tauri-app` is using what looks like AIRBNB style instead of STANDARD.

I know Standard isn't "standard", but I do think we should haver parity in our projects - especially within the same repository.

[2021-04-17 22:03] redsuperbat opened #1522 "Trying to check if an object is an instance of SharedArrayBuffer throws error."
**Describe the bug**
During runtime Tauri interprets SharedArrayBuffer as a variable when checking instance types using instanceof. For example this code:
[code]
would throw :
[code]
instead of printing false to the console.

**To Reproduce**
1. Run the code `console.log({} instanceof SharedArrayBuffer);`
2. Throws error

**Expected behavior**
Should just print `false`

**Platform and Versions (pl

[2021-04-17 22:14] amrbashir commented on #1522
works fine for me, it prints `false`, do you have a minimal repo where the error happens ?

[2021-04-17 22:52] WilliamVenner opened #1523 "Add window events (resized, maximized) and getters"
**Is your feature request related to a problem? Please describe.**
It's not possible to save the user's preference of window size or maximization.

**Describe the solution you'd like**
Rust window events that fire when the window is resized or maximized.

**Describe alternatives you've considered**
I have looked into detecting window maximization via JavaScript but it is impossible.

Currently Jav

[2021-04-17 22:56] WilliamVenner opened #1524 "Re-export `tauri::runtime::manager::Args`"
**Is your feature request related to a problem? Please describe.**
I cannot store a static reference to anything Tauri-related because the generic type bounds are private.

**Describe the solution you'd like**
Re-export `tauri::runtime::manager::Args`

**Describe alternatives you've considered**
Re-exporting it myself

**Additional context**
[code]

[2021-04-17 23:09] WilliamVenner opened #1525 "SVG -> PNG Icon Generator"
**Is your feature request related to a problem? Please describe.**
The current icon generator isn't great because it takes PNG as an input and naively scales them, usually resulting in some very sharp/low quality icons.

**Describe the solution you'd like**
An icon generator that renders & scales SVGs into the correctly sized PNG files.

**Describe alternatives you've considered**
Just generating

[2021-04-18 00:12] redsuperbat commented on #1522
Sure here is a temporary repo with a blank vuejs app.

https://github.com/redsuperbat/temp-tauri-repo

The error occurs in the main.ts file on the line

[code]

To reproduce with the repo:
1. clone repo
2. run `npm install`
3. open terminal and start server with `npm run serve`
4. open second terminal and run `npm run tauri dev`
5. inspect and console should have the error

[2021-04-18 00:45] amrbashir commented on #1522
I still see `false` printed to the console. I am on windows though. I will have to test it on my linux machine later.

[2021-04-18 01:47] probablykasper opened #1526 "Cursor not changing"
**Describe the bug**
For macOS, if I have an element that should show a different type of cursor, like a `<textarea>` or an element with `cursor: pointer`, the cursor just stays as the default macOS cursor.

Opening or closing devtools can cause the bug to go away, but then it comes back when you open the context menu, or switch to a different app.

**To Reproduce**
1. Install `tauri-cli`: `cargo

[2021-04-18 02:23] EkaterinaGorbunova opened #1527 "Navigation between pages not working in Tauri-generated apps for PC and MAC"
He everyone!

**Issue:** navigation between pages not working in Tauri-generated apps for PC and MAC.

I am building an app using create-r3f-app and next.js with tailwind css. App does not have any 3D components yet. App has multiple pages and uses AWS backend services (like Cognito User Pool, DynamoDB, S3 etc).
When I run Tauri in dev environment - app works fine - I'm able to log in using AWS Co

[2021-04-18 10:08] Cupnfish opened #1528 "Wix supports custom templates"
**Is your feature request related to a problem? Please describe.**
I need to control wix more flexibly. If I can use a custom template, it will greatly facilitate my flexible control.

**Describe the solution you'd like**
My solution is to add the new `template` field in `WindowsSettings`, which takes the path to the custom template and creates the corresponding handlebars in Wix.

**Describe alte

[2021-04-18 10:53] amrbashir commented on #1522
I can see the error happening on my linux. Tauri uses WebkitGTK on linux, So I went to dig a little bit and found that WebkitGTK has removed the `SharedArrayBuffer`. See https://webkitgtk.org/2018/01/10/webkitgtk2.18.5-released.html

[2021-04-18 11:17] nothingismagick commented on #1522
I guess that it was removed due to Spectre (note the deprecation of high-resolution timers too). We should probably nudge the webkit devs to look into re-enabling.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/SharedArrayBuffer#security_requirements

This is definitely upstream and not anything either Tauri nor WRY can do anything about. Sorry

[2021-04-18 19:30] #1519 closed, assigned to jbolda

[2021-04-18 22:58] upday7 opened #1533 "Multi-window does not work in release bundle"
When use below codes to produce a new window rather than the default "main" it works for dev but throws error when I bundled it release version.

[code]

[code]

[2021-04-19 03:31] #1512 closed, assigned to nobody

[2021-04-19 08:06] Pierstoval commented on #1512
Awesome! 🚀

Do you have any ETA on when the next release will be published?

[2021-04-19 08:11] nothingismagick commented on #1512
In 4-8 hours.

[2021-04-19 08:17] Pierstoval commented on #1512
Thanks! Awesome! 👏

[2021-04-19 10:11] nothingismagick opened #1535 "API Example Revision"
There's a few of things here that aren't really working and we need to iron out before we release the beta and put this example up on the docs site:

- generally: I think that the console display should have newest result at the top instead of the end.
- I get linker errors on a macOS M1, so need to comment out the .cargo/config setting to get it to even build
- CLI example makes no sense / needs

[2021-04-19 10:44] nothingismagick commented on #1535
Also, I am a bit confused about what this context-click means on macOS:
<img width="172" alt="image" src="https://user-images.githubusercontent.com/35242872/115221455-fb6e0080-a109-11eb-8791-fd2c1797770d.png">

[2021-04-19 12:52] lemarier commented on #1535
Following on `updater should never allow versions older than the "minted timestamp" of the current version to be installed`

Actually, the update server should determine whether an update is required based on the [update request](https://tauri.studio/en/docs/usage/howtos/updater#update-requests). This allows rollback or fine-grained updating sequence if required. (By example rollback to v1 only fo

[2021-04-19 15:01] nothingismagick commented on #1522
It seems that this should actually be reenabled in a recent version:

wry is consuming an old version:
[code]

There are a few other ones - @wusyong - we should probably be closer to a modern version, no?
https://github.com/gtk-rs/webkit2gtk-rs/blob/9c1c05f47352b7923d2cb8c472267017ab7b7426/Cargo.toml#L23-L39

[2021-04-19 20:51] probablykasper opened #1542 "Modifiers not registered for macOS shortcuts"
**Describe the bug**
Modifiers keys don't work for registering shortcuts on macOS. When registering `CmdOrCtrl+X`, it responds to `x` but not `Cmd+X`.

**To Reproduce**
You can use the tauri's [api example](https://github.com/tauri-apps/tauri/tree/dev/examples/api).

**Platform and Versions (please complete the following information):**

OS: macOS 10.14.6
Node: 14.16.0
NPM: 6.14.11
Rustc: 1.51.0

[2021-04-19 21:24] probablykasper opened #1543 "error: linking with `cc` failed: exit code: 1"
**Describe the bug**
Quite often `tauri dev` gives me the error `error: linking with `cc` failed: exit code: 1`. Not sure how to reproduce it, it just happens after some time. Deleting `src-tauri/target` fixes it.

Logs
[code]

**Platform and Versions (please complete the following information):**
OS: macOS 10.14.6
Node: 14.16.0
NPM: 6.14.11
Rustc: 1.51.0

[2021-04-19 21:39] probablykasper opened #1544 "Restart when `tauri dev` starts"
**Describe the bug**
Running `tauri dev` starts two `cargo` processes.

Logs
[code]

**To Reproduce**
`npm run tauri dev`

**Platform and Versions (please complete the following information):**
OS: macOS 10.14.6
Node: 14.16.0
NPM: 6.14.11
Rustc: 1.51.0

[2021-04-20 04:20] Kethku commented on #1492
I also encountered this on windows with powershell. However the problem didn't happen with cmd.

[2021-04-20 07:14] mq1 commented on #1527
same affecting my app (ViteJS, VueJS, vue-router, vite-ssg)

[2021-04-20 08:00] nothingismagick commented on #1527
Are you using "history" or "hash" mode?

[2021-04-20 08:16] mq1 commented on #1527
I think hash, as it seems to be the default. If it helps I'm using https://github.com/antfu/vite-ssg, https://github.com/hannoeru/vite-plugin-pages and https://github.com/JohnCampionJr/vite-plugin-vue-layouts to manage the routes.

[2021-04-20 08:36] mq1 commented on #1527
Ok, the default was History, hash mode doesn't have this problem

[2021-04-20 09:00] nothingismagick commented on #1527
FYI we are tracking this at wry:
https://github.com/tauri-apps/wry/issues/170#issuecomment-822904272

[2021-04-20 12:11] Pierstoval opened #1546 "[Tauri beta rc.2] Cannot build a Svelte app with the Tauri API"
⚠ First, I am not sure whether this is a specific `svelte-kit build` issue or if the `@tauri-apps/api/index.js` file could fix this issue by changing the build process, so if this _actually_ comes from the Svelte lib, please tell me so I can create an issue on their side 😉 (The issue contains a very ugly hacky workaround that isn't suitable but may help the Tauri team know where to start to fix th

[2021-04-20 12:14] edbrannin opened #1547 "window.__TAURI__.invoke() throws "_this.transformCallback is not a function""
**Describe the bug**

Whenever I call `window.__TAURI__.invoke()`, I get this error:

[code]

**To Reproduce**

Code:

1. Make [a custom command](https://github.com/edbrannin/multi-diff/blob/70a8f04a78ef8e0effc0052ea98077c0be1c2bb8/src-tauri/src/main.rs)
2. [Run that command](https://github.com/edbrannin/multi-diff/blob/70a8f04a78ef8e0effc0052ea98077c0be1c2bb8/src/App.js#L47) with `window.__TAURI_

[2021-04-20 12:16] nothingismagick commented on #1547
Can you please update and try again? It seems that tauri.rs is out of date:
https://crates.io/crates/tauri/1.0.0-beta-rc.2

[2021-04-20 12:28] edbrannin commented on #1547
Whoops, I thought `tauri deps update` would take care of that.  It seems like it's checking, but isn't finding the update...

[code]

Sorry, I'm a rust newbie; I'll try to figure this out

[2021-04-20 12:30] nothingismagick commented on #1547
dang - you're right! it seems that it won't find the beta. @lucasfernog - got an idea here? this will probably follow us for a while

[2021-04-20 12:31] edbrannin commented on #1547
I ran `cargo update` in `src-tauri` and it's updated:

[code]

I tried again and it's still happening.

[2021-04-20 13:05] edbrannin commented on #1512
(whoops, commented on the wrong issue)

[2021-04-20 13:06] edbrannin commented on #1547
It works when I import invoke, so this may just be a problem with `window.__TAURI__`:

[code]

I'm going to move on now, but let me know if I can be useful for resolving the root cause somehow. :)

[2021-04-20 13:08] nothingismagick commented on #1547
Thanks for the headsup and the speedy resolution. Going to close this, since your issue was resolved.

[2021-04-20 13:08] #1547 closed, assigned to nobody

[2021-04-20 13:39] lemarier commented on #1527
Part of the bug should be resolved in [WRY](https://github.com/tauri-apps/wry/pull/173), now I need to check what's going on with `AWS Cognito` & `nextjs`

I'll invest and keep the thread updated.

[2021-04-20 14:22] edbrannin commented on #1547
Sounds good, though I hope you won't forget to check on `window.__TAURI__.invoke()` :)

[2021-04-20 14:25] lemarier commented on #1526
Related to https://github.com/tauri-apps/wry/issues/175

[2021-04-20 18:22] edbrannin commented on #1543
I've been seeing this too.  It seems to happen whenever I run `yarn tauri dev`, mess around with the React code for a while, and then quit/restart because I've made an error such that "right-click -> reload" won't actually reload.

I usually delete `src-tauri/target/develop` to fix it.  I'll probably make a "clean" script soon, but it would be nice not to have to. :)

[2021-04-20 18:31] edbrannin opened #1549 "Support typical system text-editing shortcuts"
**Is your feature request related to a problem? Please describe.**

I keep trying to paste into an `<input>` with Command-V, but the only thing that works is "Right-click, select Paste".
Similar with Command-A to select all; presumably also Command-C to copy but I haven't tried it yet.

I did try Control-A for select-all, but ^A/^E seem to work like the rest of the OS (same as bash/readline).

**D

[2021-04-20 18:53] lemarier opened #1550 "Treat macOS custom protocol as https for WebRTC"
**Describe the bug**
macOS custom protocol should be treated as HTTPS.

**To Reproduce**
N/A

**Expected behavior**
WebRTC should be enabled on custom protocol when permissions are granted.

**Additional context**
Linked with https://github.com/tauri-apps/wry/issues/85#issuecomment-823499749

`localhost` should be used as a custom protocol host in macOS. Instead of using `tauri://` we should use `

[2021-04-20 23:16] lucasfernog commented on #1492
This was supposed to be fixed by https://github.com/mitsuhiko/dialoguer/issues/110 :/

[2021-04-20 23:30] amrbashir commented on #1492
dialoguer depends on console and the actual fix https://github.com/mitsuhiko/console/pull/96 just got merged 12 days ago, so we still need console to publish a new release and use it as dependency patch.

[2021-04-20 23:59] lucasfernog commented on #1544
I couldn't reproduce this. Maybe you saved some file while the build was running?

The cargo process is killed and restarted when you changed some file on the src-tauri directory, so this isn't really an issue (but it's weird that it happened on the first run). The code that restarts the cargo process can be found here: https://github.com/tauri-apps/tauri/blob/b2ed00087d902e575a15a391e9e4a6a9a77c3

[2021-04-20 23:59] #1544 closed, assigned to nobody

[2021-04-21 00:02] lucasfernog commented on #1544
Also you can disable this by running `tauri dev --exit-on-panic` (short version: `tauri dev -e`).

This is a bad flag name, should probably be renamed to `fail-fast` or something.

[2021-04-21 02:05] probablykasper commented on #1544
@lucasfernog I didn't save anything, so it's not that. Just tried running `tauri dev` a bunch of times, and it seems like it happens around 80% of the time.

I thought it might be rls, but still happened after turning it off.

Are there any logs I can get ahold of that would help?

[2021-04-21 02:07] lucasfernog commented on #1544
We don't have any logs :(

[2021-04-21 03:58] lucasfernog commented on #323
#1553 is related to some of what has been discussed here (although that's not related to the original issue, which is just about deeplink support).

[2021-04-21 10:14] pansila commented on #1355
It should not be closed, I got the same issue and found no solution here! It's not cross-platform at all!

[2021-04-21 10:23] nothingismagick commented on #1355
Can you confirm this is still happening on Dev / beta @pansila ?

[2021-04-21 10:26] nothingismagick commented on #1355
FYI - the reason it was closed is because of our policy not treating issues apparently related to the alpha (and webview/webview) version of Tauri.

[2021-04-21 12:08] nothingismagick commented on #1355
Our research has shown that we might have to resort to "rust compiler tricks" because for whatever reason older versions of GCC are forwards compatible, but newer ones are not backwards compatible. I had hoped that things had "fixed themselves" recently, but will reopen to be on the safe side.

[2021-04-21 12:09] pansila commented on #1355
I'm using `tauri@1.0.0-beta-rc.0`

[2021-04-21 12:12] #1542 closed, assigned to lucasfernog

[2021-04-21 12:13] nothingismagick commented on #1355
that is not latest. can you try `cargo update` ? we are on beta-rc.2 already

[2021-04-21 12:13] pansila commented on #1355
It's not GCC compatibility issue, but the glibc version mismatch on different machines. I'm now trying to build the tauri app targeting at `x86_64_unknown_linux_musl`, but `openssl` and `glib-sys` failed to build with musl. openssl issue could be circumvented with `vendored` feature (openssl = { version = "0.10.33", features = ["vendored"] }) while got no idea for glib-sys.

[2021-04-21 12:33] nothingismagick commented on #1355
sorry, I meant glibc not gcc
https://redbeardlab.com/2019/05/07/rust-and-glibc-version/

[2021-04-21 15:30] nothingismagick commented on #1535
thats a great idea

[2021-04-21 15:33] nothingismagick commented on #1549
I believe this has been fixed here https://github.com/tauri-apps/tauri/pull/1560

will be in the next release

[2021-04-21 15:33] #1549 closed, assigned to nobody

[2021-04-21 15:34] lucasfernog commented on #1547
Hmmm the issue happened because you changed the context of `window.__TAURI__.invoke`. I can change it to not rely on `this` and it'll work.

[2021-04-21 15:37] mallendeo opened #1564 "Allow changing the webview background color"
**Describe the bug**
Window flashes a white background before rendering app content on macOS Big Sur.

The css for the `index.html` is:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an index.html with `<style>html, body { background: black; }</style>`
2. Run the app (dev, or dist bundle)
3. Screen will flash a white background before rendering the content.

**Expected behavi

[2021-04-21 15:46] lucasfernog commented on #1549
Indeed this falls under #544, and @lemarier is working on that.

[2021-04-21 16:54] mallendeo opened #1567 "Transparent window won't update content underneath when using filters."
**Describe the bug**
When `backdrop-filter` is applied on any element on a transparent window, the content underneath the window won't get updated unless the window is resized.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a tauri app with transparent window mode.
2. Apply any `backdrop-filter` to the `body` element.
3. As you move the window, underneath content updates won't be ref

[2021-04-21 18:46] mallendeo opened #1568 "App crashes when dragging an anchor `<a>` element on macOS."
**Describe the bug**
App crashes when dragging an anchor `<a>` element. It does not matter where the anchor points to, its properties or css styles.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Create an anchor on the main page.
2. Drag it around.

**Screenshots**

https://user-images.githubusercontent.com/1578018/115604927-ec28b780-a2af-11eb-8bbd-7cc201d92cc2.mp4

**Platform and V

[2021-04-21 19:30] jbolda opened #1569 "CTA + vite/vue fails on npm 6 due to `set-script`"
**Describe the bug**
CTA fails on a vite recipe with npm@6. It appears to fail on `set-script` which is only available in npm@7.

**Platform and Versions (please complete the following information):**

OS: mac
Node: ?
NPM: 6
Yarn: n/a
Rustc: n/a

**Stack Trace**

[code]

[2021-04-21 19:50] lemarier opened #1570 "macOS(tauri): Inject plist in the runtime for webRTC & al."
**Is your feature request related to a problem? Please describe.**
Yes. We should allow an option to inject a plist in the runtime to ask permissions.

**Describe the solution you'd like**
Add a new configuration field in `tauri.conf.json` for `macOS` to customize the plist.

### Option 1
We build a schema where they can define their own `dict` in `tauri.json.conf` (will require more works)

### O

[2021-04-21 19:52] nothingismagick commented on #1570
I am all for option #1 & #2

#1 we keep it REALLY simple
#2 is if they want to break it themselves

[2021-04-21 20:19] lucaheise opened #1571 "macOS-bundler: unmount old dmg when building"
When (re)building the binarys the Build-Script will fail if the previouly build .dmg file is still mounted.

Steps to reproduce the behavior:
1. Build the binarys
2. Open the .dmg file
3. Close the file (Closing won't actually unmount it)
4. Build again

**Expected behavior**
I think there should be an exception preventing this.
Either it should check if previously the created .dmg is still mounte

[2021-04-21 23:36] WilliamVenner opened #1573 "Consider using BSON rather than JSON"
**Describe the solution you'd like**
A feature gate that allows one to depend on [mongodb/js-bson](https://github.com/mongodb/js-bson) and [mongodb/bson-rust](https://github.com/mongodb/bson-rust) for better efficiency in writing, reading and transmitting arbitrary data to the webview.

**Describe alternatives you've considered**
JSON - it takes up a lot of memory, since it has to be UTF-8, and is

[2021-04-21 23:40] WilliamVenner opened #1574 "Consider using a websocket for communication between the webview and Rust"
**Is your feature request related to a problem? Please describe.**
JSON parsing + JavaScript evaluation can be slow, and can be considerably increased via a websocket + communication of binary formats.

**Describe the solution you'd like**
A feature gate or plugin that allows one to use a websocket to communicate webview <-> Rust.

**Describe alternatives you've considered**
Doing it myself, or st

[2021-04-22 00:26] #1569 closed, assigned to nobody

[2021-04-22 04:41] pansila commented on #1355
I managed to use the [Cross](https://github.com/rust-embedded/cross) to build the tauri app. Just need to build a new docker image based on the Cross docker image `rustembedded/cross:x86_64-unknown-linux-gnu` (glibc 2.15 which is old enough) to provide a complete build environment for tauri.

Dockerfile:
[code]

[2021-04-22 08:02] pansila commented on #1355
I also need to replace `tauri-cli` executable to use `cross` instead of `cargo` when building.

[rust.rs](https://github.com/tauri-apps/tauri/blob/dev/tooling/cli.rs/src/build/rust.rs)
[code]
Put it in the path `node_modules/@tauri-apps/cli/bin/tauri-cli`.

Add `distPath` in the `src-tauri/tauri.config.json`:
[code]

[2021-04-22 08:09] nothingismagick commented on #1355
awesome work and insight

[2021-04-22 09:41] nothingismagick commented on #1574
I think this should be a plugin and absolutely not part of core. My reasoning is that I don't want us to get in the habit of shipping insecure servers just because it might make things in some situations faster.

Should this be an official plugin? I see two thought processes here:
1. YES! Because otherwise people will just do it wrong and insecurely.
2. NO! Who is going to maintain it, document it

[2021-04-22 09:44] nothingismagick commented on #1573
I would like to see some real evidence of this, especially in the context of message passing within a javascript engine. Do you have resources to back up your claims? Will abstracting the data serialization and then proxying and serializing and then deserializing and then proxying on the other side be THAT much faster? In what circumstances?

Again, I think that this should be very carefully weigh

[2021-04-22 09:45] pansila commented on #1355
But failed to run if target machines's glibc version is lower than GLIBC_2.18.

[How can I compile a Rust program so it doesn't use __cxa_thread_atexit_impl?](https://stackoverflow.com/questions/39744926/how-can-i-compile-a-rust-program-so-it-doesnt-use-cxa-thread-atexit-impl)

[2021-04-22 13:09] #1550 closed, assigned to lemarier

[2021-04-22 13:42] nothingismagick commented on #982
I am closing this as just plain outdated. Please reopen if it still happens.

[2021-04-22 13:42] #982 closed, assigned to nobody

[2021-04-22 13:43] lucasfernog commented on #982
FYI the issue here is that the `tauri icon` correct signature is `tauri icon --icon /path/to/icon.png`. Maybe i'll change it to accept the positional argument instead, as this is a common mistake.

[2021-04-22 13:43] nothingismagick commented on #1573
related: https://github.com/tauri-apps/tauri/issues/1271

[2021-04-22 14:28] donkey-donkey commented on #1543
we are having the same problem. thanks for the quick fix with deleting the `src-tauri/target/debug`

[2021-04-22 14:40] lemarier commented on #917
Related to https://github.com/tauri-apps/tauri/issues/1570

[2021-04-23 03:25] #749 closed, assigned to nobody

[2021-04-23 04:34] #1520 closed, assigned to jbolda

[2021-04-23 04:40] #1490 closed, assigned to nobody

[2021-04-23 15:48] AustinBreslinDev commented on #1054
Hi @lucasfernog,

I haven't had time to do anything with my project since I reported this issue, has their been any updates to the project that so I can test this again?

And I honestly don't even think this is a problem with this project, I think it's a upstream issue. Like maybe the issue belongs in the upstreams Github Issues?

[2021-04-23 16:57] lucasfernog commented on #1054
We changed almost everything so it would be great if you could try it again when you have time. We just released our beta rc.

[2021-04-23 17:58] kinghat commented on #1564
also experiencing this on linux:

https://user-images.githubusercontent.com/16073360/115911342-94b35480-a433-11eb-90b9-23e64960c7a3.mp4

[2021-04-23 18:30] #1528 closed, assigned to nobody

[2021-04-23 19:25] chippers commented on #1564
I suspected this is the browser's default background color, so I made a small edit to `wry` to set the background manually to red (linux only) to see this a bit easier.  The initial color (dark/light) is the OS window's default color, then the webview is loaded with whatever background color is set (red here), and then the application loads.

https://user-images.githubusercontent.com/3301043/11592

[2021-04-23 21:03] lucasfernog commented on #1355
Can you see if compiling with this env variable fixes the issue?
`$ export RUSTFLAGS="-C target-feature=-crt-static"`

[2021-04-24 00:39] probablykasper opened #1605 "appWindow.show doesn't bring focus to window"
**Is your feature request related to a problem? Please describe.**
Calling `win.show()` in the frontend does not bring the window (or at least not the app) to focus

**Describe the solution you'd like**
Electron handles this by having `win.show()` and `win.showInactive()`. I would personally prefer `win.show(focus: true)`

[2021-04-24 00:39] probablykasper opened #1737 "Expose `focus()` to Window"
**Is your feature request related to a problem? Please describe.**
Calling `win.show()` in the frontend does not bring the window (or at least not the app) to focus

**Describe the solution you'd like**
Electron handles this by having `win.show()` and `win.showInactive()`. I would personally prefer `win.show(focus: true)`

[2021-04-24 00:52] amrbashir commented on #1737
what is your OS info ?

[2021-04-24 00:54] probablykasper commented on #1737
macOS 10.14.6

[2021-04-24 01:05] amrbashir commented on #1737
On linux: we can use `present_with_time()` https://gtk-rs.org/docs/gtk/trait.GtkWindowExt.html#tymethod.present_with_time

On windows: there is a lot of functions to try and maybe combine them `SetForegroundWindow`, `SetActiveWindow` and `SetFocus`.

On Macos: google search reveals this `[NSWindow makeKeyAndOrderFront: nil];` https://discourse.libcinder.org/t/how-to-bring-a-window-to-foreground-an

[2021-04-24 03:48] Cupnfish opened #1606 "Reduce some of the non-generic aspects of the WIX template"
**Is your feature request related to a problem? Please describe.**
Reduce some of the non-generic aspects of the WIX template.

**Describe the solution you'd like**
The current WIX template is the default download edge webview, for other rust projects do not need this, packaging with this is very inconvenient, there is no way to solve this problem?

**Describe alternatives you've considered**
I ca

[2021-04-24 03:53] lucasfernog commented on #1606
We'll need to add a flag to allow removing that step anyway :) so this is good

Btw how are you using the bundler? your own script?

[2021-04-24 06:05] Cupnfish commented on #1606
I use it directly as a lib, which is equivalent to using rust as a script.
My project is open source, you can view it [here](https://gitlab.com/localnative/localnative/-/merge_requests/6)

[2021-04-24 07:36] loicngr commented on #1504
Hi!

I'm on windows, and i have same error with `yarn tauri init` command.

[code]

My **package.json** config :
[code]

[2021-04-24 10:14] lemarier commented on #1737
We should check if it’s related to https://github.com/tauri-apps/wry/issues/184

[2021-04-24 10:19] nothingismagick commented on #1606
Well, I am not sure I fully understand that scope of your question - but I believe we need to generally revisit the means by which people expect to ship WebView2. I see three options:

1. Trust that the user has WebView2 installed (do nothing - most fragile)
2. Use the Evergreen Distribution Model (rolling updates, most secure)
3. Ship a "frozen" binary version of WebView2 (largest, required on ai

[2021-04-24 10:50] nothingismagick commented on #1606
@Cupnfish - maybe if you showed me though where in your codebase you are using / planning to use the bundler, then I would understand your requirements better.

[2021-04-24 10:55] Cupnfish commented on #1606
https://gitlab.com/localnative/localnative/-/blob/ec5a4d4b10ac778a2c39009f7523ae0f984a6e1e/localnative-rs/localnative_bundle/src/main.rs
I used it here, and the main requirement is that WebView is not necessary in non-Tauri projects. I also feel that adding some flags to turn off this option will make Tauri's bundler difficult to maintain, so if there is no other better method, this issue will be

[2021-04-24 10:58] amrbashir commented on #1504
@loicngr this is a know issue, tracked at #1492

[2021-04-24 11:04] nothingismagick commented on #1606
Don't get me wrong, there are situations where you may not even want a webview at all (like a pure headless / or CLI app). So I understand what you are after, just don't know exactly WHAT approach we will take yet.

[2021-04-24 21:19] lucasfernog commented on #1054
Please reopen if you see the issue with our beta-rc release. I hope the move to [rfd](https://github.com/PolyMeilex/rfd) fixed the problem.

[2021-04-24 21:19] #1054 closed, assigned to nobody

[2021-04-24 21:21] lucasfernog commented on #1543
From a quick research:
[code]
Maybe we need to delete the .o files on reload.

[2021-04-24 21:24] lucasfernog commented on #1571
Do you think you can make a PR fixing this? 🥺

[2021-04-24 21:31] lucasfernog commented on #1546
I can't reproduce this anymore so I think the latest @tauri-apps/api fixes solved this problem. Please reopen this issue if the version `1.0.0-beta-rc.3` still doesn't work on your app (it'll be released the next few days).

[2021-04-24 21:31] #1546 closed, assigned to nobody

[2021-04-24 22:01] #1606 closed, assigned to nobody

[2021-04-24 22:39] lucasfernog commented on #1574
For security reasons we can't offer this on the core crate (it's already quite some work to handle the security aspect of the current mechanism). As Daniel said, you can write your own solution for this.

A websocket plugin sounds amazing though :P

[2021-04-24 22:39] #1574 closed, assigned to nobody

[2021-04-25 04:46] #1428 closed, assigned to lucasfernog

[2021-04-25 04:46] lucasfernog commented on #1428
Let me know if I missed anything.

[2021-04-25 06:53] jbolda opened #1614 "@tauri-apps/cli init --ci still asks questions"
**Describe the bug**
When specifying `--ci`, it will still prompt: `? [NPM]: "Do you want to install @tauri-apps/api ?" (y/N)`

We may also want to review all of our prompts and/or co-locate them to it is easier to track these considerations.

**To Reproduce**
![image](https://user-images.githubusercontent.com/2019387/115983671-3b990d00-a568-11eb-929a-a14a5aa142d0.png)

**Expected behavior**
No pr

[2021-04-25 10:59] nothingismagick commented on #1355
I get that, but at some point we just have to cut our losses and admit that if a user is not keeping fundamental libs up to date then there isn't much we can do about it - other than perhaps informing them to join the 21st century. :P

[2021-04-25 11:03] nothingismagick commented on #1355
Jokes aside, 2.18 was released in 2013 - and only RHEL considers it still useful. Please compare:
https://sourceware.org/glibc/wiki/Release#Distribution_Branch_Mapping

[2021-04-25 12:56] lucasfernog commented on #1614
This was fixed on #1603

[2021-04-25 12:57] #1614 closed, assigned to nobody

[2021-04-25 12:57] lucasfernog commented on #1614
Still good to reconsider about the prompts location though.

[2021-04-25 14:34] #1492 closed, assigned to nobody

[2021-04-25 15:16] Pierstoval commented on #1546
I just used Tauri as submodule and built it, and the fact that the TS scripts are present is really useful I think, I have no other issue regarding the API itself 👍

[2021-04-25 15:17] lucasfernog commented on #1546
That's great, thanks for confirming it!

[2021-04-25 15:19] Pierstoval commented on #1546
Still, I'm using it as a submodule for now, so I'll check when the next release will be published to see if it still works for the "good way" of doing it 😄

[2021-04-25 22:06] Pierstoval opened #1621 "[Beta] Tauri breaks when adding specific CSS properties [WSL 2 only]"
Prerequisites:

* Using Windows 10 pro and WSL 2
* Have an X server running on the Windows host (VcXsrv or GWSL)
* Setup your WSL environment with the DISPLAY env var pointing to your host machine (as [stated in Tauri docs](https://tauri.studio/en/docs/getting-started/setup-linux#4-for-windows-subsystem-for-linux-wsl-users))

Here's the scenario:

* Clone this repo: https://github.com/Orbitale/Com

[2021-04-26 04:23] yamgent opened #1624 "Invoking a missing custom Rust command should show a warning in JS console"
**Is your feature request related to a problem? Please describe.**
Sometimes the JS frontend may call a custom Rust command that may not exist (either due to a typo, a refactoring error, wrong usage of the Rust's API, etc.).

[code]

It is hard to catch these errors since they fail silently.

**Describe the solution you'd like**
I think previously before the beta, there was a similar warning when

[2021-04-26 11:12] pansila commented on #1355
Thanks, didn't work though.

[`...crt-static feature which is turned off by default (except for musl).`](https://rust-lang.github.io/rfcs/1721-crt-static.html#specifying-dynamicstatic-c-runtime-linkage)

[2021-04-26 12:53] mq1 opened #1625 "ERR_REQUIRE_ESM building with ViteJS and vite-ssg"
[code]

[2021-04-26 13:04] nothingismagick commented on #1625
can you please share exactly how you are importing? have you tried importing the ts directly? or are you using `require`...

[2021-04-26 13:10] lucasfernog commented on #1624
This was implemented on latest beta-rc.4 release. What version are you using?

[2021-04-26 13:33] mq1 commented on #1625
My only import from tauri api is `import { invoke } from '@tauri-apps/api/tauri'` from ts.
How do I import the ts directly?

[2021-04-26 13:34] Pierstoval commented on #1621
I tested on a native Ubuntu machine, and I can confirm that the error does **not** appear, with any property.

So this is certainly a WSL-only issue 😕

I didn't test on native Windows because I have another issue ("cannot create webview"), I don't know (yet?) if it's related to the same subject.

[2021-04-26 13:48] probablykasper opened #1626 "Dangling dev server process"
**Describe the bug**
Sometimes when tauri exits, I'm left with the `beforeDevCommand` still running in the background (as a `node` process), which I notice because the port is still in use the next time I run `tauri dev`. I'm guessing this happens on some crashes or some other unusual situations.

**To Reproduce**
Haven't found a way to reproduce it reliably yet

**Platform and Versions (please co

[2021-04-26 14:04] probablykasper commented on #1626
Found two ways to reproduce:
- Quit the app itself by right-clicking it in the Dock.
- Call `app.exit()` in the webview

[2021-04-26 14:44] probablykasper commented on #1626
I think the issue could be that `kill_before_dev_process()` is not necessarily called depending on the if statements here: https://github.com/tauri-apps/tauri/blob/0f86bc4071635d142b54ae0abf5cf79694ec8ede/tooling/cli.rs/src/dev.rs#L171-L190

[2021-04-26 15:10] Pierstoval commented on #1621
Okay, I found a way to make it work!

Not sure it's a "definite" solution, but here is what I did:

* At first, I ran `export LIBGL_ALWAYS_INDIRECT=0`
* I updated my `VcXsrv` command and replaced `-wgl` with `-nowgl`
* It now works

I honestly just jiggled with parameters after looking at bazillion posts and tutorials and stuff, and now it works...

I hope it will keep working 😅

[2021-04-26 15:27] nothingismagick commented on #1621
So you just turned off webgl? I doubt this is going to be a good solution for consumers of your application and sounds very hacky since it treats the problem instead of solves it.

[2021-04-26 15:43] nothingismagick commented on #1625
Try this

[code]

[2021-04-26 15:54] mq1 commented on #1625
`[vite:resolve] Missing "./tauri.ts" export in "@tauri-apps/api" package`

[2021-04-26 16:10] lucasfernog commented on #1625
I think vite only follows package.json > exports field :( I see that your vite is trying to load the `.cjs` files though:

`at Object.<anonymous> (C:\Users\Manuel Quarneti\Desktop\runmc\node_modules\.pnpm\@tauri-apps+api@1.0.0-beta-rc.3\node_modules\@tauri-apps\api\tauri.cjs:1:75)`

Maybe something isn't configured properly?

[2021-04-26 16:57] pulse0ne opened #1628 "Cannot run tauri-cli behind corporate proxy"
**Describe the bug**
Tauri attempts to (and fails, due to `got` not handling proxies well) download an updated CLI, silently fails and exits before it is able to run the command. The cli update should either handle proxies properly, or be able to be toggled off with a flag.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any tauri command behind a corporate proxy

**Expected behavior**
T

[2021-04-26 17:01] Pierstoval commented on #1621
I agree, that's the reason why I think the "fix" isn't really a fix to me. WebGL seems to be mandatory for such app.

However, I think **running** this app on WSL isn't the purpose at all. I use WSL for development, but in the end, the linux version of it is supposed to be downloaded on linux platforms, not WSL.
Maybe I'm too skeptical to think that WSL is for development only, but I think that th

[2021-04-26 17:10] nothingismagick commented on #1628
Well, the fun won't end for you here, especially because to the best of my knowledge RHEL uses a VERY outdated glibc. However, I do understand your pain.

Now, I am not going to comment on Sindre's reasoning here other than to mention that this answer is from 6 years ago, and I am not sure why it should be considered his problem.

That said, we should absolutely offer an alternative approach - per

[2021-04-26 17:12] #1625 closed, assigned to nobody

[2021-04-26 17:15] mq1 commented on #1625
Thank you!

[2021-04-26 17:17] amrbashir commented on #1621
closed it by accident 😅

[2021-04-26 17:36] pulse0ne commented on #1628
Yeah, luckily I've been able to solve the toolchain (super old gcc, glibc, etc) problems on other projects, so *hopefully* it won't be so painful if I can get this figured out. Then again, there always seems to be something with RHEL...

I understand it's an old issue and maintaining code related to proxies is...less than fun. I just haven't seen any recent movement or information on how to even u

[2021-04-26 19:16] tensor-programming commented on #1621
Think its probably a good idea to close this issue for now.  If you want to use `webkit-gtk` under WSL right now, then you need to use WSL 1 not WSL 2.  In the meantime, Microsoft is developing a method to use GUI apps under WSL 2 that uses the GPU called [WSLg](https://github.com/microsoft/wslg) which will resolve the issue.   Its in the dev branch of the insider build of windows right now though

[2021-04-26 19:16] #1621 closed, assigned to nobody

[2021-04-26 19:20] sumade123 commented on #843
It's great that mobile is on the roadmap.

I am finding it a little difficult to choose what to use for a GUI right now for a new project. It must have easy support for calling Rust or Golang (or C library). This doesn't seem straightforward in RN/Expo, and desktop has to be Electron.
This really leaves me with Flutter, which is easy to use, but web support is not the best and I'd rather use HTML/

[2021-04-26 19:24] nothingismagick commented on #1628
Would downloading the binary with curl or directly from github releases work, in combination with some kind of configuration that allows you to manually point at its location?

Alternatively running directly from the dev branch?

[2021-04-26 19:27] nothingismagick commented on #843
We already have a working prototype for iOS, and within a year is totally reasonable for the major mobile platforms.

[2021-04-26 19:28] nothingismagick commented on #843
https://github.com/tauri-apps/wry/issues/11#issuecomment-825117008

[2021-04-27 02:14] nklayman commented on #1628
@pulse0ne You can manually download the CLI binary from [this page](https://github.com/tauri-apps/binary-releases/releases) and copy it to `node_modules/@tauri-apps/cli/bin/tauri-cli(.exe)`. Make sure to `chmod +x` it so that it is executable as well. Tauri CLI will use that binary instead of downloading an new one and it should work.

[2021-04-27 02:38] lucasfernog commented on #1535
The API example also need to showcase the file dropping and window dragging functionality from WRY.

[2021-04-27 03:04] nothingismagick commented on #1628
This would be a good error message.

[2021-04-27 16:27] lucasfernog commented on #1355
Hmm this is tricky. I also found out that statically linking glibc is highly discouraged. So if we want to share Tauri apps with older machines, we need to compile with an older glibc version too :/

[2021-04-27 22:01] lucasfernog opened #1633 "AppImage icon not working"
Some users reported an issue on AppImage icon. We should investigate that.

[2021-04-27 22:02] lucasfernog opened #1634 "Add current working directory and other options to the command API"
Ideally, also include env var options at least.

[2021-04-28 16:20] andreszorro commented on #1054
Hello @lucasfernog. Is the Beta RC available in Yarn/NPM? I can only find version 0.14.1, and I can still see this issue using `.save({})`. Even with the `directory: true` reported workaround. This is happening, as reported in Windows 10 with WebView2.

[2021-04-28 16:21] lucasfernog commented on #1054
We're going to merge the migration guide soon, but here's the docs: https://github.com/tauri-apps/tauri-docs/pull/198
@andreszorro

[2021-04-28 16:28] lucasfernog commented on #1054
Seems like the migration guide is ready so i'll merge it. It'll be available on the docs site.

[2021-04-28 18:16] andreszorro commented on #1054
Hi. After the update and migration, I am unable to reproduce the error. Seems like the new dependency worked like a charm. Thank you. Looking forward to seeing more of this project!

[2021-04-28 18:59] andreszorro opened #1642 "Custom Protocol issue for Windows + History API"
Hello team! Not sure if this is a bug or something I'm missing. I just migrated from Tauri 0.14.1 to 1.0.0-beta-rc.4 and I noticed a discrepancy in the builds between Windows and MacOS. I really hope this is only a misconfiguration from my end.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile in Mac and Windows any application that uses the Browser History API

**Expected behavior**
B

[2021-04-28 19:07] lucasfernog commented on #1642
Did we fix this on wry already @amrbashir ?

[2021-04-28 19:20] andreszorro commented on #1642
@lucasfernog Found the PR in [wry repo](https://github.com/tauri-apps/wry/pull/173), and indeed seems like the workaround was merged for wry#0.9.0. Running `cargo tree`, found out that the version 1.0.0-beta-rc4 is referencing wry#0.8.0. So I guess it's just a matter of updating the dependency.

I'm kind of a newbie in Rust. Is there a way to override the wry dependency locally while you guys publ

[2021-04-28 19:22] lucasfernog commented on #1642
I have an opened PR that updates wry and I'll merge it later tonight. You can pull the tauri crate from git on Cargo.toml to use it. I'll close this issue, please reopen if something is buggy.

[2021-04-28 19:23] #1642 closed, assigned to nobody

[2021-04-28 19:37] rodryquintero opened #1643 "Allow child windows to be created from main app window"
**Is your feature request related to a problem? Please describe.**
Yes, currently, newly spawned windows behave like separate app windows, independent from the main app itself. If you close the main app window, the spawned windows remain open.

**Describe the solution you'd like**
Enhance the `WebviewWindow` or `appWindow` API so that child widnows can be spawned related to the main app window.

U

[2021-04-28 21:25] #1634 closed, assigned to nobody

[2021-04-29 13:25] lucasfernog opened #1653 "Build fails if tauri version is a string"
If the `tauri` crate version on `Cargo.toml` is a string, the CLI fails to parse it.

Example:

[code]

It fails with an "unsupported format" error.

[2021-04-29 15:17] #1653 closed, assigned to lucasfernog

[2021-04-29 15:42] lucasfernog opened #1655 "Implement state for command handlers"
The current API for commands forces users to use global states because we only pass the `Window` and the invoke arguments (from JS) to the command function. We should manage state for commands.

[2021-04-29 20:12] lucasfernog opened #1656 "Change `drag-region` to data attribute"
Currently the draggable region is marked with a class (`drag-region`) but we've been discussing on Discord about changing to be a data attribute instead.

[2021-04-29 20:14] lucasfernog opened #1657 "Refactor `<a target="_blank">` link usage"
Currently, Tauri opens `<a target="_blank">` links using the default browser.
We should use a new Tauri window by default, and allow changing that to use the default browser or even disabling it.
Additionally, we should allow users to define an allowlist for such link opening.

[2021-04-29 23:38] #1656 closed, assigned to lucasfernog

[2021-04-30 13:46] lucasfernog commented on #1633
This was a desktop environment (or configuration) issue and not a Tauri issue, as we've seen it working on two different OS, and the issue was only reported on Manjaro with KDE.

[2021-04-30 13:46] #1633 closed, assigned to nobody

[2021-05-01 00:15] lucasfernog opened #1666 "`IsNotificationPermissionGranted` should return false when the api is disabled"
Currently the `IsNotificationPermissionGranted` returns an `ApiNotWhitelisted` error when `notification > all == false`. It should return false instead, so it doesn't show a console error.

[2021-05-01 06:42] chippers opened #1672 "Accept a trait in the return of a `#[command]`"
**Is your feature request related to a problem? Please describe.**
Accept a trait in the return of a `#[command]` function. Default implementations will include `()` and `Result`.

**Describe the solution you'd like**
We should implement this at the same time as #1665  and #1622  to change all aspects of `#[command]` codegen in a single release. It's likely I will implement this functionality this

[2021-05-02 04:33] bronson opened #1675 "[docs] Unprepared to answer tauri init questions"
While reading your setup docs, I feel unprepared for the questions `tauri init` asks.

I wanted to play around with Tauri so I went to set up a new app. Had smooth sailing until "Initialize Tauri in Your App" on https://tauri.studio/en/docs/usage/development/integration

I'm told to run `yarn tauri init`. Sounds sensible.

It asks `Where are your web assets (HTML/CSS/JS) located, relative to the "

[2021-05-02 16:01] wighawag opened #1679 "error on release, but not in debug or dev: any way to have the exact same behavior as release in dev ?"
**Describe the bug**
on dev and debug I see that the app load the files from the specified server url but in release it use the bundled files

I have an issue where In release, the app is failing to load files, while it works fine on dev mode. I suppose there are some url path issues somewhere

Is there a way to run dev without server so that it behave exactly like in release ?

[2021-05-02 16:08] nothingismagick commented on #1679
There is no server anymore. Are you certain you are using rhe beta? Can you provide the results of `yarn tauri info`?

[2021-05-02 16:25] lucasfernog commented on #1679
If there's issues loading paths, we need to track them and fix it. Can you share an example we can use to reproduce?

[2021-05-02 16:26] lucasfernog commented on #1679
There is a way to run dev without server. Specify a path to the directory with a index.html file on tauri.conf.json > build > devPath.

[2021-05-02 16:34] wighawag commented on #1679
Hi @nothingismagick and @lucasfernog thanks for your quick replies

My project is not public yet, I ll try to reproduce it with a simpler project once I get some time.

this is my tauri info :

[code]

If I set devPath to ` "devPath": "../build/index.html",`

and do `tauri dev` I get that in the console:

[code]

and on the app I get a page with the following content:

[code]

[2021-05-02 16:36] wighawag commented on #1679
Oh wait, never mind, I misread you @lucasfernog if I set devPath to `../build` I get the same issue as on release

Thanks I ll investigate more what is the issue and report back

[2021-05-02 16:38] nothingismagick commented on #1679
What framework are you using, and are you using hash or history mode?

[2021-05-02 16:41] lucasfernog commented on #1679
Seems like svelte from the file structure.

[2021-05-02 16:45] wighawag commented on #1679
yes svelte + svelte-kit

The issue seems to be about svg images. they do show up as broken but on the network tab I see 200 response
weirdly other svg image, loaded from web url (and not `file://custom-protocol-taurilocalhost/images/...`) works fine

[2021-05-02 16:48] wighawag opened #1680 "Access to the WebCrypto API is restricted to secure origins"
**Describe the bug**
I am using a library that relies on WebCrypto API and get this error when that library is loaded (it is loaded on demand)

[code]

is webcrypto not available in tauri ?

[2021-05-02 16:51] lucasfernog commented on #1680
Is this on dev or on build? Tauri relies on the crypto API so it should be available.

[2021-05-02 18:34] #1655 closed, assigned to lucasfernog

[2021-05-02 19:27] wighawag commented on #1680
both

[2021-05-02 19:28] nothingismagick commented on #1680
Can you please give us more details about your system? `yarn tauri info` is a good start, as is the frontend framework you are using.

[2021-05-02 19:28] lucasfernog commented on #1680
What OS are you running and which API are you trying to use? Tauri relies on `crypto.getRandomValues`.

[2021-05-02 19:29] lucasfernog opened #1681 "`tauri info` should attempt to detect app framework"
We can read the `package.json` to determine if a user is using Svelte, Vue, Angular, React, Webpack, Rollup...

[2021-05-02 19:30] nothingismagick commented on #1681
great idea

[2021-05-02 19:37] wighawag commented on #1680
`tauri info`

[code]

framework: svelte+svelte-kit

the library that is causing problem is loaded via a script tag element created at runtime.
I need to look deeper what exactly they are using : https://www.npmjs.com/package/@portis/web3

[2021-05-02 19:46] amrbashir commented on #1680
this is their detection function
[code]
So I think we already fixed this
at least on windows we are using `https:` protocol, we need to check linux and macOs

[2021-05-02 21:33] lucasfernog commented on #1680
This change is on wry 0.9, so it'll be available on the next release.

[2021-05-02 21:33] #1680 closed, assigned to nobody

[2021-05-02 21:33] #1666 closed, assigned to nobody

[2021-05-03 00:51] #1681 closed, assigned to lucasfernog

[2021-05-03 04:12] lucasfernog commented on #1679
SVG loading was fixed on [wry 0.9 release](https://github.com/tauri-apps/wry/blob/dev/CHANGELOG.md#090). It'll be available on the next release.

[2021-05-03 04:12] #1679 closed, assigned to nobody

[2021-05-03 04:19] lucasfernog commented on #1624
Please reopen if this is still happening on latest Tauri version.

[2021-05-03 04:19] #1624 closed, assigned to nobody

[2021-05-03 04:22] lucasfernog commented on #1626
What framework are you using? What's your beforeDevCommand?

[2021-05-03 06:15] zh-impact commented on #1543
I find the err always appears after `Tauri build`.

[2021-05-03 11:49] rodryquintero opened #1684 "Access to Rust libraries, similar to `@electron/remote`"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Access to libraries that can work with the  underluying OS. Similar to the way Node interacts with Electron.

**Describe alternatives you've considered**
Using Electron.

**Additional context**
Electron is able to access the entire Node JS library by the use of `@electron/remote` feature. T

[2021-05-03 11:54] nothingismagick commented on #1684
You can make custom commands and using our APIs have access to not only the shell, but also filesystem, network etc. You can even extend with plugins, to send a command to rust and get a response. I believe we already provide such functionality, especially considering that `remote` is deprecated and IPC also uses messaging.

[2021-05-03 11:54] #1684 closed, assigned to nobody

[2021-05-03 12:17] donkey-donkey commented on #1543
yes i now have the habit of deleting all folders in the target directory before i build

[2021-05-03 12:27] probablykasper commented on #1626
I'm using vite/Svelte

[2021-05-03 21:28] lucasfernog opened #1693 "`app_dir` should use bundle identifier"
The application dir is `${configDir}/${appName}`, but it uses the executable name. It should use the bundle identifier instead.

[2021-05-03 23:22] lucasfernog opened #1695 "Opening a dialog twice crashes the application"
**Describe the bug**
Opening a dialog twice is crashing the application with a tokio panic.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the API example
2. Go to the dialog tab
3. Click "Open dialog" twice

**Expected behavior**
App properly shows the dialogs without crashing.

**Platform and Versions (please complete the following information):**

OS: Linux

**Additional context**
[

[2021-05-04 00:52] dclong opened #1697 "[docs] Improve documentation for tauri"
The project tauri is very interesting. However, the documentation is a little hard to follow. More examples/showcases would also be extremely helpful.

[2021-05-04 01:05] lucasfernog commented on #1697
We're currently improving the examples and documentation, see #1685 #1687 #1690 #1692 #1694.
We would love to hear your thoughts and suggestions, please join the #documentation channel on Discord. Also, we're open to contributions :)

[2021-05-04 01:05] #1697 closed, assigned to nobody

[2021-05-04 01:06] #1695 closed, assigned to lucasfernog

[2021-05-04 04:18] BenoitRanque opened #1699 "rollup typescript issue when building tooling/api on windows"
I am having trouble building `tooling/api` on windows.

`[!] Error: Unexpected token (Note that you need plugins to import files that are not JavaScript)`
<details>
  <summary>Full Error</summary>

[code]
</details>

The steps I followed are such:

1. Clone the repo, dev branch
2. run `./scripts/setup.ps1`

I've been able to narrow the issue down to the `yarn build` command that runs in `tooling/a

[2021-05-04 04:36] lucasfernog commented on #1699
I just tried on the same OS, Node.js and Yarn versions and I couldn't reproduce it :( I'll have to close this, a lot of people successfully built the API package, I just think something weird happened on your install.

[2021-05-04 04:36] #1699 closed, assigned to nobody

[2021-05-04 05:37] lucasfernog commented on #1626
I can confirm this issue, it should affect all users. It happens because we're using `sh -c $beforeDevCommand` and it's not killing the child process.

[2021-05-04 06:47] BenoitRanque commented on #1699
thank you for taking the time to review this

[2021-05-04 12:12] wusyong commented on #1737
Closed by tauri-apps/wry#220

[2021-05-04 13:59] lucasfernog commented on #1626
I've fixed it on the Tauri side, but Svelte still has an issue, the [server kill](https://github.com/sveltejs/template/blob/d80f6723b2b9e1fcc0a3214c28d6a3634cd9caf6/rollup.config.js#L14) isn't working for some reason.

[2021-05-04 14:27] #1626 closed, assigned to lucasfernog

[2021-05-04 17:46] lucasfernog commented on #1524
The public counterpart of `Args` is `Params`. With the upcoming beta-rc.5, you'll be able to store `window` instances using the `manage` API, see [calling manage to store a state type](https://github.com/tauri-apps/tauri/blob/935db26c0193211df1948f8ee01a996fede96328/examples/splashscreen/src-tauri/src/main.rs#L72) and [reading a state on a command handler](https://github.com/tauri-apps/tauri/blob/

[2021-05-04 17:46] #1524 closed, assigned to nobody

[2021-05-04 17:49] probablykasper commented on #1626
@lucasfernog Hmm, a bit confused by that. Sending SIGINT to the `tauri dev` process works just fine, so wouldn't it be possible to handle this the same way?

[2021-05-04 17:51] lucasfernog commented on #1431
Blocked by https://github.com/lipanski/mockito/issues/132

[2021-05-04 17:52] lemarier commented on #1526
Fixed in https://github.com/tauri-apps/wry/pull/220

If you still have this problem with the next release, please open a new issue.

Thanks again for reporting!

[2021-05-04 17:52] #1526 closed, assigned to nobody

[2021-05-04 17:53] lemarier commented on #1527
Fixed in https://github.com/tauri-apps/wry/pull/173

If you still have this problem with the next release, please open a new issue.

Thanks again for reporting!

[2021-05-04 17:53] #1527 closed, assigned to lemarier

[2021-05-04 17:55] lemarier commented on #1515
Fixed in https://github.com/tauri-apps/wry/pull/169

[2021-05-04 17:55] #1515 closed, assigned to nobody

[2021-05-04 17:56] lemarier commented on #1405
I have a quick PoC here https://github.com/lemarier/tauri-studio

Feel free to start from it

If you need help let us know on discord!

I'll close this for now

Thanks

[2021-05-04 17:56] #1405 closed, assigned to nobody

[2021-05-04 18:11] probablykasper commented on #1737
@wusyong What's the intended solution in tauri-apps/wry#220? Assuming it's supposed to make `appWindow.show()` focus the window, it doesn't seem to be doing it (tested on latest tauri commit https://github.com/tauri-apps/tauri/commit/935db26c0193211df1948f8ee01a996fede96328)

[2021-05-04 18:12] lucasfernog commented on #1236
I've evaluated it and the change isn't worth the work IMO - convention over configuration. We can reevaluate if more people prefers this, but since Tauri is a cross platform framework, I think we should stick with the target triple solution.

[2021-05-04 18:12] #1236 closed, assigned to nobody

[2021-05-04 18:16] lucasfernog commented on #997
Following the explanation on #996, I believe this should be a community plugin, specially since it's a niche use case and brings additional dependencies.

[2021-05-04 18:16] #997 closed, assigned to nobody

[2021-05-04 18:17] lucasfernog commented on #1091
We'll track this on #1523

[2021-05-04 18:17] #1091 closed

[2021-05-04 18:22] nothingismagick commented on #1525
I have fixed the quality issue, it was because of a misplaced desire to make apps smaller than 500KB. Now quality should be a lot better. SVG source is error prone, and not something we are likely to do in the next 6 months.

[2021-05-04 18:22] #1525 closed, assigned to nobody

[2021-05-04 18:33] lucasfernog commented on #1090
I couldn't reproduce this. Your code to reproduce is incomplete, and Tauri has changed a lot since this issue.
I hope it's actually working on our beta-rc, please check on Discord if it isn't working, because I assume this could be something weird with actix.

[2021-05-04 18:33] #1090 closed, assigned to nobody

[2021-05-04 18:35] lucasfernog commented on #1093
Closing due to inactivity.

[2021-05-04 18:35] #1093 closed, assigned to nobody

[2021-05-04 18:45] lucasfernog commented on #1626
I think SIGINT is handled by `cargo`, not sure what kind of magic they're doing. But a simple `pkill -TERM -P pid` doesn't kill the Svelte subprocess :/ even though it receives the signal successfully. It works just fine on Vue.js.

[2021-05-04 20:55] probablykasper commented on #1544
@lucasfernog Tried running `cargo run --manifest-path ../../tooling/cli.rs/Cargo.toml -- tauri dev` in `examples/api` and logged `event_path`, which gave this output:

<details>
<summary>Logs</summary>

[code]

</details>

So these are the file file changes it reacts to:
[code]

Is tauri modifying Cargo.toml in some way?

The reason it reacts to the rollup build output is that `devPath` is set to

[2021-05-04 20:59] lucasfernog commented on #1544
Tauri modifies cargo.toml when tauri.conf.json is changed. Also it listen to the output files in this case because the devPath on the example is a path to a local directory instead of a URL.

[2021-05-04 21:05] probablykasper commented on #1544
@lucasfernog Would it be `cargo` that's writing to Cargo.toml, or some other tauri dependency in that case?

[2021-05-04 21:08] lucasfernog commented on #1544
I thought it was you LOL

[2021-05-04 21:09] probablykasper commented on #1544
@lucasfernog Definitely not me :p it happens every single time I run `tauri dev`

[2021-05-04 22:16] probablykasper commented on #1626
Reproduced it with just the svelte template, so opened an issue there. Thanks for helping with this!

[2021-05-04 23:26] #1693 closed, assigned to lucasfernog

[2021-05-05 02:29] lucasfernog commented on #913
CSP won't be applied on dev server usage for now (it's too tricky to make a proxy using a custom protocol since it doesn't have headers support). Also, you can define the csp as a meta tag on your own instead of relying on tauri.conf.json > tauri > security > csp.

[2021-05-05 02:29] #913 closed, assigned to nobody

[2021-05-05 02:43] lucasfernog commented on #1522
Using `v2_28` didn't solve the problem.

[2021-05-05 03:04] wusyong commented on #1522
I couldn't find the release note in WebkitGtk saying they re-enabled it.
So I think update the version won't help.

@nothingismagick We keep the older version because of this issue [tauri-apps/wry#51 ](https://github.com/tauri-apps/wry/issues/51).
It will require updating some upstream crates. I'll find some time to look into it again.

[2021-05-05 08:53] vbornand opened #1714 "File not found with app using react-router"
**Describe the bug**
When I try to navigate in a application using react-router, I get a "File not found" when I navigate,

When the app is in dev (with a local dev server), it works correctly, but when I used the bundled, when I navigate I get the error "File not found ERR_FILE_NOT_FOUND"

In the inspect window, I see a call to
file://custom-protocol-taurilocalhost/dashboard/products
with the res

[2021-05-05 08:54] nothingismagick commented on #1714
This is resolved in the next release.

[2021-05-05 08:54] #1714 closed, assigned to nobody

[2021-05-05 16:24] vbornand opened #1721 "Refresh issue"
**Describe the bug**
On Windows, in the contextual menu, there is "Refresh..." (or if you do Ctrl-R),
With a spa application with a custom router (for example react-router), the refresh fails with the message "custom-protocol-taurilocalhost’s server IP address could not be found."

**Steps To Reproduce**
1) Use an app with react-router
2) Navigate in another page (not the start page)
3) Ctrl-R or

[2021-05-06 01:21] lucasfernog commented on #1523
Maximized event will be implemented when [tao](https://github.com/tauri-apps/tao) provides it.

[2021-05-06 03:43] #1523 closed, assigned to nobody

[2021-05-06 09:27] Ludea opened #1727 "open default browser"
**Describe the bug**
open default browser from Tauri.

**To Reproduce**
Create a simple button
add `onClick={() => new Command("powershell", ["/C", "start https://google.com"]) }`
nothing happen

create a second button with
`onClick={() => window.open("https://google.com") }`
a new window is created

**Expected behavior**
Open the default browser (Brave in my case).

**Screenshots**
![windows open

[2021-05-06 09:32] nothingismagick commented on #1727
So, to be clear, you want to have this:

[code]

use the app consumer's powershell to open the browser. (Just give a thumb's up if this is the case)

[2021-05-06 09:34] nothingismagick commented on #1727
The problem with the former (in my opinion) is that this will obviously ONLY work on Windows. I suppose if that is all that matters, then that's fine - but really, that is something you will be able to write yourself with a custom command.

[2021-05-06 09:53] Ludea commented on #1727
I try to use powershell because `window.open ` is not working as expected (in my case).
I quickly try powershell, because I'm on Windows.
But It's not really a solution, I need it to be multi platform

[2021-05-06 12:22] lucasfernog commented on #1727
We have a dedicated API to open an URL on the default browser: https://tauri.studio/en/docs/api/js/modules/shell#open

And your command isn't doing anything because you didn't call SPAWN: https://tauri.studio/en/docs/api/js/classes/shell.command#spawn
(better docs with examples is coming on the next release).

We'll offer a way to make window.open use the default browser, see #1657

[2021-05-06 12:22] #1727 closed, assigned to nobody

[2021-05-06 15:57] #1571 closed, assigned to nobody

[2021-05-06 16:58] lucasfernog opened #1731 "Generate beautiful DMG files on CI"
A limitation of the bundler is that it uses [applescript](https://github.com/tauri-apps/tauri/blob/e37e187d4a3c7568463c2546099d03dd5a314f40/tooling/bundler/src/bundle/macos/templates/dmg/bundle_dmg#L328) to set the window size, icon position etc (so the DMG looks good). It doesn't work on CI because it accesses the Finder, which prompts for access.

The node-appdmg library creates a .DS_Store file

[2021-05-06 17:36] lucasfernog commented on #1731
I'm considering using a fixed .DS_Store file instead of writing one at build time. This works right now because we don't expose configuration of the opened window / icons, but it would only work if document that the app icon must be named "icon.icns", which is the default name.

[2021-05-06 17:37] nothingismagick commented on #1731
We can do that naming change for sure

[2021-05-06 17:41] lucasfernog commented on #1731
Writing it right now. We can revisit this issue when someone requests customization of the DMG.

[2021-05-06 17:55] lucasfernog commented on #1731
Hmm the problem is actually the application name, not the icon name.

[2021-05-06 18:26] WilliamVenner opened #1732 "`--quick` option for `cargo tauri build`"
**Is your feature request related to a problem? Please describe.**
Build times are very long for Tauri apps.

My computer takes about 5 minutes to build my application. It doesn't sound like much, but when you're doing little changes or need to frequently build+test stuff in release mode, it can be very frustrating. Additionally, I have a very powerful system, so that build time is most likely muc

[2021-05-06 18:40] lucasfernog commented on #1731
Seems like we'll need the .DS_Store writer :/

[2021-05-06 19:27] nothingismagick commented on #1732
Once beta is no longer RC, then we should start investigating benchmarking on different systems. I am moving this issue to discussions so we can track it.

[2021-05-06 19:27] #1732 closed, assigned to nobody

[2021-05-07 09:42] lemarier commented on #1737
We should expose `focus` to the Window. When window is already open, but hidden behind other windows, calling focus should bring the window at the top.

[2021-05-07 09:45] lemarier commented on #1737
Related to https://github.com/tauri-apps/tao/issues/22

[2021-05-07 15:13] houghtonap opened #1740 "Error installing tauri CLI under Windows"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Installed Windows prerequisites per [setup instrustions](https://tauri.studio/en/docs/getting-started/setup-windows)
2. cd project directory
3. `yarn init`
4. `yarn add @tauri-apps/cli`

**Expected behavior**
* installation of tauri cli

**Screenshots**
[code]

**Platform

[2021-05-07 15:15] lucasfernog commented on #1740
pngquant will be removed on the next release, see https://github.com/tauri-apps/tauri/pull/1678

Please reopen if it still doesn't work.

[2021-05-07 15:15] #1740 closed, assigned to nobody

[2021-05-07 16:30] nothingismagick opened #1742 "hosted-git-info vulnerability remediation backport to 2.8.9"
Apparently hosted-git-info has backported the regex fix of this new "massive reDoS" vulnerability, which is probably mostly just false positives, yet everywhere because of the wonderfully prolific use of Sindre's `read-pkg-up`. :(

Anyway, here is how to fix this with yarn, and it is what we have done. Unfortunately, while this addresses the underlying misuse of regex, it has not yet been accepted

[2021-05-07 16:34] nothingismagick commented on #1742
Its crazy that solutions like this even exist:
https://dev.to/antongolub/yarn-audit-fix-workaround-i2a

[2021-05-07 19:31] #1543 closed, assigned to nobody

[2021-05-07 21:05] nothingismagick commented on #1742
The backport has now been accepted by npm audit database as resolving the security issue.

[2021-05-07 21:05] #1742 closed, assigned to nobody

[2021-05-08 16:44] geocine commented on #1349
I have tried this on the tauri beta I still experience the issue

[code]
I will try the dev branch

[2021-05-08 20:21] lucasfernog commented on #1349
Seems like you only updated the Rust core crate though - check out the migration guide: https://tauri.studio/en/docs/guides/migration (you shouldn't have tauri.js v0.14.1 for instance).

[2021-05-09 11:15] #157 closed

[2021-05-09 11:52] #1672 closed, assigned to nobody

[2021-05-09 14:43] edsion11 opened #1752 "install cli in arm64"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
I want to install it by:
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Platform and Versions (please complete the following information):**

OS: linux debian 10 buster arm64
Node: 16.1.0
NPM: 7.12.0
Yarn: 1.22.10
Rustc: rustc 1.54.0-nightly (881c1ac40 2021-05

[2021-05-09 16:15] nothingismagick commented on #1752
Is there a reason why you can't run directly from rust in this situation?

[2021-05-09 16:16] nothingismagick commented on #1752
But if you want to do it this way, just read the stack trace and follow the instructions:
[code]

So you will have to install libvips.

[2021-05-10 05:57] vinicentus commented on #941
Is there any update on this? I see that #1664 has been merged.
I would also need aarch64 support for a project...

[2021-05-10 08:00] nothingismagick commented on #941
Yes, we have a dedicated discord channel for this topic, where we are working on getting this all to work on RPi.

[2021-05-10 08:12] nothingismagick commented on #941
https://discord.com/channels/616186924390023171/837614826900946954/839127214875869185

[2021-05-10 08:27] dibadibadiudiu commented on #1020
I had the same problem，I think it is necessary to open up this issue @nothingismagick
MAC OS M1
bigsur 11.2.3

[2021-05-10 08:59] nothingismagick commented on #1020
This has been fixed and will be released today. Thanks for your involvement!

[2021-05-10 09:27] nothingismagick commented on #941
<img width="857" alt="image" src="https://user-images.githubusercontent.com/35242872/117638004-b1b18c80-b182-11eb-9102-42bcde6056a1.png">

[2021-05-10 09:27] #941 closed, assigned to nobody

[2021-05-10 23:28] #1507 closed, assigned to nobody

[2021-05-11 04:40] madhupalo opened #1773 "How to run nodejs server in build mode ?"
First of all this is a great initiative and love ❤️ the project. I have an express app with front end in Vue and backend in nodejs server. I want to run and package both of them and have the api server run with a port.

Is this possible ?

Thanks again

[2021-05-11 04:42] lucasfernog commented on #1773
Check out the sidecar documentation and maybe the guijs project as an example (it is the same setup as you have). Please reach out on Discord if you have any questions.

[2021-05-11 04:42] #1773 closed, assigned to nobody

[2021-05-11 06:54] nothingismagick commented on #1773
Also, maybe consider if you ABSOLUTELY need the express server. Is this just for one device, or are you making it available over the network? Or is it because its something you are used to doing? I am asking, because this will add bloat and sacrifice performance (and probably have a security impact too)...

[2021-05-12 08:25] danielvschoor opened #1791 "tauri-cli fails if TAURI_PRIVATE_KEY is not set"
**Describe the bug**
If the pub key in tauri.conf.json is set, the tauri-cli fails with exit code 1 if the TAURI_PRIVATE_KEY is not set. This is different than how it used to work, where it would just skip signing the artifacts. This makes it difficult to run the testing workflow on tauri-action, since secrets are not passed to PRs from external forks.

**To Reproduce**
Steps to reproduce the beha

[2021-05-12 08:50] dibadibadiudiu opened #1792 "unresolved import `crate::api::PackageInfo`"
**Describe the bug**
After upgrading to tauri-1.0.0-beta.0
error[E0432]: unresolved import `crate::api::PackageInfo`
--> ~/.cargo/registry/src/github.com-1ecc6299db9ec823/tauri-1.0.0-beta.0/src/manager.rs:10:5

error[E0412]: cannot find type `PackageInfo` in module `crate::api`
no `PackageInfo` in `api`
fn package_info() -> crate::api::PackageInfo;
not found in `crate::api`

**To Reproduce**
Steps

[2021-05-12 09:00] dibadibadiudiu commented on #1792
resolved
1.delete file src-tauri/cargo.lock
2. Run `yarn tauri dev`

[2021-05-12 09:00] #1792 closed, assigned to nobody

[2021-05-12 10:13] dibadibadiudiu opened #1793 "When I updated to v1.0.0-beta.0，the app was blank"
**Describe the bug**

When I updated to v1.0.0-beta.0, when I finished building the application and opened it, the app was blank。
`yarn tauri build --debug` show this error

[Error] Refused to load tauri://localhost/js/chunk-vendors.27b1331a.js because it appears in neither the script-src directive nor the default-src directive of the Content Security Policy.

but run `yarn tauri dev` is ok。

**To

[2021-05-12 10:19] nothingismagick commented on #1793
Can you paste the results of your `yarn tauri info` please?

[2021-05-12 10:27] nothingismagick commented on #1793
And perhaps try to add `'self'` at the end of the CSP declaration (proposed on our Discord).

[2021-05-12 10:38] lemarier commented on #1791
Thanks for reporting.

The bug comes from here: (Error should be catched)
https://github.com/tauri-apps/tauri/blob/fcee4c25fc2e83a587e096b26d9f7c374c3db057/tooling/cli.rs/src/helpers/updater_signature.rs#L172

I'll make a PR to fix it.

[2021-05-12 10:39] dibadibadiudiu commented on #1793
Thank you for your prompt reply 🍺

Operating System - Mac OS, version 11.2.3 X64

Node.js environment
  Node.js - 15.8.0
  @tauri-apps/cli - 1.0.0-beta-rc.4
  @tauri-apps/api - 1.0.0-beta-rc.3

Global packages
  npm - 7.5.1
  yarn - 1.22.10

Rust environment
  rustc - 1.52.1
  cargo - 1.52.0

App directory structure
/dist
/node_modules
/public
/src-tauri
/.git
/src

App
  tauri.rs - 1.0.0-beta.0
b

[2021-05-12 10:41] nothingismagick commented on #1793
Great. Can you try to edit your `tauri.conf.json` and add `'self'` to the end of the CSP value?

[2021-05-12 10:49] dibadibadiudiu commented on #1793
Great! The problem was successfully solved. thank you very much！🎉

[2021-05-12 12:30] lemarier commented on #1791
See my comment here:
https://github.com/tauri-apps/tauri/pull/1797#issuecomment-839731469

Closing for now

Thanks for reporting tho!

[2021-05-12 12:30] #1791 closed, assigned to nobody

[2021-05-12 12:33] dibadibadiudiu opened #1798 "[docs] Please update the system tray documentation"
If I follow this document to do, I will get the following error.

[https://tauri.studio/en/docs/guides/system-tray](https://tauri.studio/en/docs/guides/system-tray)

err:
Finished dev [unoptimized + debuginfo] target(s) in 9.01s
     Running `target/debug/app`
`tauri.conf.json` error on `tauri`: Additional property 'systemTray' is not allowed

When I enter the following code, I get error

[code]

[2021-05-12 12:35] lucasfernog commented on #1798
You're not completely running on the beta release. Please update the NPM packages.

[2021-05-12 12:35] #1798 closed, assigned to nobody

[2021-05-12 13:09] dibadibadiudiu commented on #1798
This error occurred after the update
[code]

[2021-05-12 13:11] lucasfernog commented on #1798
Sounds like a missing feature enabled on our end, that is hidden on the workspace. If so, it'll be fixed on the next release.

[2021-05-12 13:14] dibadibadiudiu commented on #1798
OK, Hope it can be fixed in time. Thank you

[2021-05-12 13:17] lucasfernog commented on #1798
It will. Also, you should update your @tauri-apps/cli version.

[2021-05-12 13:20] dibadibadiudiu commented on #1798
haha, I've updated it and I'll experience all the bugs in the first place🤪

[2021-05-12 13:22] lucasfernog commented on #1798
Fixed on #1801

[2021-05-12 13:28] dibadibadiudiu commented on #1798
Thank you for your efforts. I also hope to contribute to tauri in the near future.

[2021-05-12 15:49] EkaterinaGorbunova commented on #1527
Hi everyone, i checked it out.
Multi-page links work great in Tauri v.1.0.0-beta.0
Thanks a lot!

[2021-05-12 17:12] madhupalo commented on #1773
Hi @nothingismagick - Its a developer tool which would require to be run have local server and can be run local as well as remote (when i say remote meaning the user data is all in same machine while we have user identity in cloud). The base app needs to have local server exposed and is part of product to be used by the user.

I dont want to use electron.

[2021-05-12 17:15] lucasfernog commented on #1773
This might help you:

https://tauri.studio/en/docs/guides/bundler/sidecar

This is how GUIJS does it:
https://github.com/Akryum/guijs/blob/40051bf07a2b9dc8dd0be19d15de93a84bed726c/packages/%40guijs/tauri-app/src-tauri/tauri.conf.json#L25
https://github.com/Akryum/guijs/tree/feat/tauri-beta-rc/packages/%40guijs/tauri-app/src-tauri/bin
https://github.com/Akryum/guijs/blob/40051bf07a2b9dc8dd0be19d15d

[2021-05-12 17:19] madhupalo commented on #1773
Hi @lucasfernog Yes I am trying your repo to make it work but facing issues. I will check again, also want to use latest of Tauri while the repo uses previous version

[2021-05-12 17:21] lucasfernog commented on #1773
I'll update that branch to beta right now.

[2021-05-12 17:25] lucasfernog commented on #1773
[tauri-theia](https://github.com/tauri-apps/tauri-theia) also uses the sidecar API.

[2021-05-12 17:31] lucasfernog commented on #1773
I've updated guijs to beta without any issues: https://github.com/Akryum/guijs/pull/94/commits/eb002f588ebc8db64e196d9a67f20b70638d260f

[2021-05-12 19:14] madhupalo commented on #1773
Hi @lucasfernog

In Cargo I see its taking the source from github, is that an issue ?

https://github.com/Akryum/guijs/blob/40051bf07a2b9dc8dd0be19d15de93a84bed726c/packages/%40guijs/tauri-app/src-tauri/Cargo.toml

[2021-05-12 19:16] lucasfernog commented on #1773
Check out the latest commit on the branch `feat/tauri-beta-rc`, it pulls the latest beta release.

[2021-05-12 22:41] olup opened #1813 "Tauri app using 100% CPU on ubuntu 20"
**Describe the bug**
The app in dev mode OR once built uses 100% of CPU on my ubuntu 20 machine

**To Reproduce**
Steps to reproduce the behavior:
I just started a new tauri project according to the docs, with version beta.1

**Expected behavior**
veru small cpu usage

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform and Versions (please complete the followi

[2021-05-12 23:45] o-super opened #1815 "yarn tauri dev - The system cannot find the path specified. (os error 3)"
Hello everyone,

**Describe the bug**
I am running against an error while running the command:
yarn tauri dev

**To Reproduce**
execute the following command:
yarn tauri dev

**Expected behavior**
Tauri development window should start.

**Platform and Versions (please complete the following information):**

**Additional context**
I've setup my project on my C drive but I am still running against t

[2021-05-13 00:11] lucasfernog commented on #1815
I think the distDir is not configured on tauri.conf.json, can you check that? it must be a path to the output directory of your assets.

[2021-05-13 00:46] o-super commented on #1815
Hello Lucas,

the distDir is setup this way:

"build": {
    "distDir": "../dist/html",
    "devPath": " ",
    "beforeDevCommand": "",
    "beforeBuildCommand": ""
  }

  My paths are:
  GUI\Tauri\src-tauri
  GUI\Tauri\dist\html

[2021-05-13 02:22] lucasfernog commented on #1815
The devPath can't be empty since you're running the dev command. We'll improve the error message though.

[2021-05-13 02:22] lucasfernog commented on #1815
You can use the same value as distDir or a dev server URL.

[2021-05-13 02:23] halgorithm opened #1816 "Feature request: JS API throws Error objects instead of strings"
**Is your feature request related to a problem? Please describe.**
As a web developer who works primarily in with HTML/CSS/JS, all of my app code is currently JS which calls the tauri APIs via its JS bindings when appropriate. When an expected exception occurs (for example, trying to read a file that doesn't exist), I'd like to catch it and do something depending on the type of the exception. The

[2021-05-13 02:31] o-super commented on #1815
It solved the issue thanks Lucas.

[2021-05-13 02:35] halgorithm opened #1817 "Poor `readBinaryFile` performance via JS API"
**Describe the bug**
`readBinaryFile` is very slow for me, taking over a second to read a 800kb local file and over a minute to read a 20MB one on my device. As a comparison, reading the 800kb file via Node's fs promises API takes less than 10ms.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Interacting with the file system via the JS API should have acceptable p

[2021-05-13 02:37] probablykasper opened #1818 "Support system tray without menu"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to click the system tray icon without a menu showing up, and be able to react to that.

**Describe the solution you'd like**
`.system_tray(vec![])` could be used to show the system tray icon, and `.on_system_tray_click(|app| {})` could be used to react to the click

[2021-05-13 02:44] halgorithm opened #1819 "[docs] JS API WindowOptions `transparent` missing"
Windows in `tauri.conf.json` can made transparent, and windows created through the JS API can be as well. However, `WindowOptions` does not mention a `transparent` option.
https://tauri.studio/en/docs/api/js/interfaces/window.windowoptions/

[2021-05-13 02:50] lucasfernog commented on #1819
Seems like the TS docs is really outdated, what happened @Laegel ?

[2021-05-13 02:53] probablykasper opened #1820 "window.is_visible()"
Would be great to be able to check if a window is visible. Useful for toggling a window's visibility

[2021-05-13 09:04] danielvschoor opened #1822 "Add a Window method to center the window"
**Is your feature request related to a problem? Please describe.**
My splash screen is not centered when my app launches. I’ve worked around it for now by hardcoding the position to the center of a 1920x1080 display. This will not be centered on 4K or other displays

**Describe the solution you'd like**
A method on the Window struct called ‘set_position_center()’ or ‘center()’ that centres the win

[2021-05-13 09:14] nothingismagick commented on #1822
Thanks @danielvschoor - technically this issue should probably be resolved at the https://github.com/tauri-apps/wry layer - but I will let @wusyong decide how he wants to handle that.

[2021-05-13 09:38] lemarier commented on #1820
Tracked in https://github.com/tauri-apps/tao/issues/43

[2021-05-13 09:39] lemarier commented on #1818
It’s in the roadmap but we want to stabilize the tray api before.
It should be available within few weeks.

[2021-05-13 09:40] #1818 closed, assigned to nobody

[2021-05-13 09:57] #1815 closed, assigned to nobody

[2021-05-13 11:11] nothingismagick commented on #1816
I totally understand where this comes from, and while I don't think you are wrong - I would encourage you to think from the perspective of "nothing being an error".

I think that the whole try / catch methodology of trapping exceptions is actual a relic of the days before you had strongly typed metalanguages like typescript and you wouldn't have to bother being diligent about how and what can be r

[2021-05-13 11:38] nothingismagick commented on #1813
this is quite strange, because it appears your dependencies are correct. can you clone the repo and run the API example?

[2021-05-13 11:39] nothingismagick commented on #1752
Yesterday we showed that installing the rust CLI is a viable alternative (even on Windows):
[code]

[2021-05-13 11:39] #1752 closed, assigned to nobody

[2021-05-13 11:41] nothingismagick commented on #1628
another option is to use the rust CLI:
[code]

[2021-05-13 17:04] crapStone opened #1826 "Support cargo workspaces"
**Is your feature request related to a problem? Please describe.**
We use subcrates for tauri plugins in our tauri workspace and every time we change code in theses subcrates we have to kill the `dev` command and start it again.

**Describe the solution you'd like**
If code in a subcrate is changed the dev command should restart the build process.

**Describe alternatives you've considered**
Killi

[2021-05-13 17:04] crapStone commented on #1826
i will try and make a PR.

[2021-05-13 17:17] halgorithm commented on #1816
I'm not sure I follow, the JS API currently _does_ raise exceptions for the cases when something other than a success happens. It's just that since they're always strings, it's hard to disambiguate the different cases and perform branching decisions based on them. If you'd prefer that the JS API never raise exceptions but instead always return result objects to avoid try/catch blocks, I'd have no

[2021-05-13 18:15] nklayman commented on #1813
I just tested on my Ubuntu 20 machine with a fresh project and have no issues whatsoever.

[2021-05-13 18:19] olup commented on #1813
Installing the api examples throws after compiling tauri :
[code]

Then `chalk` is not installed

[2021-05-13 18:25] olup commented on #1813
Ok, did what the script should have done, will revert with results.

[2021-05-13 18:30] olup commented on #1813
The API example app started building, downloading crates. then it failed on
[code]

Will try to fix an revert.

[2021-05-13 18:35] olup commented on #1813
Installed `libgtksourceview-3.0-1`, the build goes further, than ends up with no details `build failed`

[2021-05-13 18:51] olup commented on #1813
Fresh clean project - still running 100% cpu.
@nothingismagick Could start the api: example. Where should I find the build logs to get the error detail ?

[2021-05-13 19:31] olup commented on #1813
Ok, did finally build the API example. Example running at 100% CPU....

[2021-05-13 19:37] olup commented on #1813
@nklayman are you also running ubntu 20.10 ?

[2021-05-13 19:45] #1826 closed, assigned to nobody

[2021-05-13 19:47] nklayman commented on #1813
Yep.

[2021-05-13 20:30] WilliamVenner commented on #918
For Windows, you can do this in the installer. My project has this functionality; here are the relevant blocks of code:

https://github.com/WilliamVenner/gmpublisher/blob/master/src-tauri/msi/msi.wxs#L60-L80

https://github.com/WilliamVenner/gmpublisher/blob/master/src-tauri/msi/msi.wxs#L43-L47

https://github.com/WilliamVenner/gmpublisher/blob/master/src-tauri/tauri.conf.json#L42-L46

Good luck!!

[2021-05-13 23:55] lucasfernog commented on #1819
Docs was updated: https://tauri.studio/en/docs/api/js/interfaces/window.windowoptions/#transparent

[2021-05-13 23:55] #1819 closed, assigned to nobody

[2021-05-14 00:03] lucasfernog commented on #1817
I just checked the performance for reading a 2.9MB file, here's the results:

debug build:
read: 360ms
serialization (serde_json): 4s

release build:
read: 40ms
serialization (serde_json): 110ms

The bottleneck is the serde_json performance on debug, there's not much we can do about it. We're investigating better Rust->JS communication on wry, so this has room for improvements (specially since it

[2021-05-14 00:03] #1817 closed, assigned to nobody

[2021-05-14 05:07] yoroshikun commented on #1813
I am also getting this bug running on
[code]
is reproducible with just setting up new tauri app with [create-tauri-app](https://github.com/tauri-apps/tauri/tree/dev/tooling/create-tauri-app) I'm not sure if it matters but I am using the vite setup with preact-ts

It also seems to be hogging virtual memory below is example of htop
![image](https://user-images.githubusercontent.com/1892447/118224388

[2021-05-14 10:56] zzl221000 commented on #1773
@lucasfernog How to close the external bin when tauri exits

[2021-05-14 11:44] nothingismagick commented on #1773
This all sounds very much to me like we have a candidate for a tutorial.

[2021-05-14 13:17] dpetlyuk opened #1830 "Add silent update install option"
**Is your feature request related to a problem? Please describe.**
We have a self-service kiosk for e-queue, it has no keyboard or mouse, touch screen only. OS is Windows 10. We try to implement auto-update, but it requires administrator elevation, show success dialog window, and don't restart the app.

**Describe the solution you'd like**
Need some setting key to able to silent install updates. S

[2021-05-14 13:22] nothingismagick commented on #1830
That's a neat feature and it makes sense in your situation. I guess I see three ways of rolling this out:

Are you using our update mechanism?

[2021-05-14 13:24] dpetlyuk commented on #1830
Yes, update dialog disabled, updates handled by js.

[2021-05-14 13:54] nothingismagick commented on #1830
And it still wants an administrator elevation? That's tricky. We may have to wait until @lemarier gets back and has some time to think this over.

[2021-05-14 13:57] dpetlyuk commented on #1830
Temporary we car run the app as administrator (as I understand it is needed for installation of WebView2, but why it needs on update?). Is it possible now to make the update silent without that (some WiX config)?

[2021-05-14 14:02] nothingismagick commented on #1830
Well, in the near future WebView2 should be installed already (if you are using a fresh system for your kiosk - which I would expect). Over the next days we will be digging back into windows because we think we can improve startup time there.

I agree, requiring admin shouldn't be necessary.

[2021-05-14 14:05] lemarier commented on #1830
It’s required because we use wix(msi) and it use  Program Files. (Not sure if Installed in C:\your-app would work?) We could make updater to update the self binary only (no assets/icons etc) I’m leaving for the week end but when i’ll come back I can take a look.

It use msiexec.exe I think adding /quiet and /silent do the trick

[2021-05-14 14:07] dpetlyuk commented on #1830
Thanks, I look forward to it.

[2021-05-14 16:57] halgorithm opened #1833 "JS API `resolvePath` does not include BaseDirectory"
**Describe the bug**
`resolvePath('file.txt', BaseDirectory.APP)` returns simply 'file.txt' without the `appDir()`

**Expected behavior**
It should return a full path string like "{APP_DIR}/file.txt" with APP_DIR being the platform-specific app dir.

**Platform and Versions**

[code]

[2021-05-14 18:35] edsion11 commented on #1752
thank you very much, but now  I have some trouble when install optipng-bin in my computer.
[problem in this website](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=959487)

[2021-05-14 19:06] crobibero opened #1836 "External requests fails on linux"
**Describe the bug**
Attempting to hit an external API fails on Linux (PopOS), works fine on Windows. Works fine on Linux in dev mode.

**To Reproduce**
Repo: https://github.com/crobibero/jellyfin-vue/tree/tauri
Steps to reproduce the behavior:
1. `git clone https://github.com/crobibero/jellyfin-vue.git`
2. `npm i`
3. `npm run tauri build -- --debug`
4. Run compiled release
5. Attempt to access de

[2021-05-14 19:17] nothingismagick commented on #1752
`cargo tauri` does not use optipng - please use that approach instead of the npm CLI

[2021-05-14 19:26] madhupalo commented on #1773
Hi @nothingismagick  - yes definitely and all the work @lucasfernog has done could be of great use. I could do a PR but I am still facing issues with unable to start server with specific port.

[2021-05-14 19:34] nothingismagick commented on #1773
yeah, the problem with starting on a specific port is that how do you know if that port is not already in use?

[2021-05-14 19:45] happyshovels opened #1837 "How can I get my splash screen to work in development mode?"
Hi I am currently trying to get a splash screen for my application.

So far I followed the docs https://tauri.studio/en/docs/guides/splashscreen. The splashscreen works as expected when I build the app for production, but when I start the app with tauri dev I get a segmentation fault (I think this happens when the close_splashscreen is invoked). Also I do not see the splash screen opening so I ass

[2021-05-14 20:13] happyshovels commented on #1837
It works when I use `cargo run` in src-tauri instead of `yarn tauri dev`

[2021-05-14 20:16] nothingismagick commented on #1837
So a couple things i noticed:
Rustc should be at 1.52.1
Api should be beta.1

[2021-05-14 20:41] happyshovels commented on #1837
Hi, thanks for the review :) I updated rustc 1.52.1 and the api to beta.1. Unfortunately, the issue still persists...

[2021-05-14 22:04] happyshovels commented on #1837
Actually I only needed the splashscreen to come around the white background issue ().

I found another workaround for this

[code]
and win the tauri.conf.json
[code]

As this solved my original problem I will close this issue. thanks :)

[2021-05-14 22:04] #1837 closed, assigned to nobody

[2021-05-14 22:07] happyshovels commented on #1564
Since I also ran into this issue today, I am sharing my hacky workaround in case someone is also bothered by the white flashing. The idea is to start the window as hidden and then show it after the html is hopefully rendered.

It works somehow like this:

[code]
and win the tauri.conf.json
[code]

[2021-05-15 04:13] madhupalo commented on #1773
We could try using https://www.npmjs.com/package/get-port which will generate a random port if the specified port is not used and retry till we get an open one

[2021-05-15 05:11] edsion11 commented on #1752
ok,Thanks,I use `cargo tauri dev` in my project,it is running successfully!

[2021-05-15 10:02] edu-live opened #1838 "failed to run custom build command for `glib-sys v0.10.1`"
error: failed to run custom build command for `glib-sys v0.10.1`

  --- stderr
  `"pkg-config" "--libs" "--cflags" "glib-2.0" "glib-2.0 >= 2.44"` did not exit successfully: exit code: 1
  --- stderr
  Package glib-2.0 was not found in the pkg-config search path.
  Perhaps you should add the directory containing `glib-2.0.pc'
  to the PKG_CONFIG_PATH environment variable
  No package 'glib-2.0' fou

[2021-05-15 10:07] nothingismagick commented on #1838
I hate to be a pedant, but would you mind please giving more information about your OS, etc.
We do have an issue template because it helps us understand exactly the scope of the issue.

[2021-05-15 10:26] edu-live commented on #1838
thank you, I solve it:
sudo add-apt-repository universe
do i have to install tauri-bundler ?
it's not in  the doc .

[2021-05-15 10:26] #1838 closed, assigned to nobody

[2021-05-15 10:27] nothingismagick commented on #1838
tauri-bundler is now a library and is managed via the CLI - you don't have to install it alone anymore.

[2021-05-15 20:14] Shotman opened #1839 "Double click tauri-drag-region to maximize"
**Describe the bug**
Double click not working on element with data-tauri-drag-region attribute
**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/Shotman/tauri-bordeless-vue
2. Run yarn tauri:serve
3. Double click on custom sidebar
4. Event not triggered

Prebuilt packages are available if you don't want to build the project in the releases

**Expected behavior**
The eve

[2021-05-16 12:14] eneroth opened #1840 "Error decoding response body"
I try to call an endpoint that produces a [Transit](https://github.com/cognitect/transit-format) response, so the encoding is `application/transit+json`. I use the `@tauri-apps/api/http` API.

To send the request, I serialize the payload into a string, set it as `Text`, and send it off. The full headers I use is:

[code]

I get the following error: `"failed to execute API: Network Error: error dec

[2021-05-16 17:08] kiehnek commented on #1657
IMO links shouldn't be opened in a new tauri window by default. This suggests that the opened webpage is part of the application which is something I would try to avoid. With this enabled your application essentially becomes a browser.

I think adding an option to do this is a good idea, but opening the default browser should stay the default behaviour.

[2021-05-16 17:55] 6543 opened #1841 "Cant test against "tauri" whitout optional feature "wry""
**Describe the bug**
since https://github.com/tauri-apps/tauri/commit/27a78107673b63b6dad42fcf2bc8b7acd90b6ec4 "wry" is no optional dependency anymore

so either make it required or remove this dependency

**To Reproduce**
Steps to reproduce the behavior:
1. clone latest `tauri-apps/tauri`
2. `cd core/tauri`
3. apply diff:
[code]
4. exec `cargo test`

**Expected behavior**
tests should pass

**Err

[2021-05-16 22:19] probablykasper opened #1842 "NSWindow warning: adding an unknown subview"
**Describe the bug**
Getting this error when opening devtools on macOS. The app doesn't crash. When resizing, the screen goes white.

**To Reproduce**
I only opened the devtools, not sure what else would contribute to this.

**Platform and Versions (please complete the following information):**
[code]

<details>
<summary>Error log</summary>

[code]

</details>

[2021-05-17 02:44] samirdjelal opened #1843 "Blank window on windows 10."
**Describe the bug**
Blank window on windows 10.

**To Reproduce**
Steps to reproduce the behavior:
You can try a ready project if you want: https://github.com/samirdjelal/bidirectional
1. Build for Windows.
2. Copy the binary to a new **Windows 10** machine, (Windows Sandbox in my case)
3. Install **Visual C++ Redistributable Runtimes** as it is required by Tauri.
4. Launch the app, and see error

[2021-05-17 07:05] nothingismagick commented on #1843
you are way out of date @samirdjelal - we are running the beta version now, and this problem should no longer exist.
Please consult https://tauri.studio/en/docs/development/updating for help upgrading.

[2021-05-17 11:44] olup opened #1845 "Calling "open file" dialog throws panick"
**Describe the bug**
calling `await open({ multiple: false })` (imported from `import { open } from "@tauri-apps/api/dialog";`) ends up in panick, after seeing the dialog box in a flash:
[code]

With backtrace :
[code]
This use to work before today tao + wry updates

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to hap

[2021-05-17 17:51] NenoxAG opened #1849 "Rename the processes in Taskmanager"
**Is your feature request related to a problem? Please describe.**
I would like to choose the process name ("A Tauri App" and "Tauri App", maybe also "Microsoft Edge WebView2") that is shown in Taskmanager to make the app look more "professional". If it is possible to rename the "Microsoft Edge WebView2" process, i would also like to change the icon of it.

**Describe the solution you'd like**
A s

[2021-05-17 18:03] NenoxAG opened #1850 "The WebView wont start quick enough to display the splashscreen"
**Describe the bug**
When you start the app (one with a splashscreen) the splashscreen will just be white for some time and then the app will kick in.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a app with splash screen using the tutorial
2. Open the app

**Expected behavior**
The splashscreen should be displayed from the beginning

**Visuals**

This is how the splashscreen should

[2021-05-17 18:15] nothingismagick commented on #1850
Does the text just not render at all, or is it just not fast? Can you lengthen the timeout?

[2021-05-17 18:16] nothingismagick commented on #1850
On a side note, we have seen terrible performance on the latest evergreen versions of the WebView2 on very high performance devices.

[2021-05-17 18:19] samirdjelal commented on #1843
It seems that the beta version required webview2 to be installed in the machine, that's additional 100MB to be downloaded!

[2021-05-17 18:19] #1843 closed, assigned to nobody

[2021-05-17 18:23] NenoxAG commented on #1850
It renders, but it renders really late. Can anything be done about it?

[2021-05-17 18:27] nothingismagick commented on #1850
Try an image? Wait for MS to fix their mistake?

[2021-05-17 18:38] nothingismagick commented on #1843
Yeah, its just once per device

[2021-05-18 03:42] #1841 closed, assigned to nobody

[2021-05-18 09:44] lemarier commented on #1737
Merged in https://github.com/tauri-apps/tao/pull/28

[2021-05-18 09:44] #1737 closed, assigned to nobody

[2021-05-18 10:10] dibadibadiudiu commented on #1793
@nothingismagick  Hello friend，I encountered the problem of opening the blank after the update.

**Describe the bug**

The app was blank When I updated to v1.0.0-beta.2 and opened app。
`yarn tauri build --debug` show this error

[Error] TypeError: window['e848dfba-4ff6-40ff-b262-6706bda088ce'] is not a function. (In 'window['e848dfba-4ff6-40ff-b262-6706bda088ce']({event: "tauri://resize", payload:

[2021-05-18 10:17] nothingismagick commented on #1793
can you please edit your package.json, update the @tauri-apps/cli manually, remove your `node_modules` folder and then run `yarn` again?

[2021-05-18 10:39] ThibsG commented on #1792
Just had the same problem:
[code]
and your solution worked like a charm, thanks!

[2021-05-18 11:33] nothingismagick commented on #1793
also try this:
[code]

[2021-05-18 12:15] mxismean opened #1857 "javascript: window.open() Don't work"
"vue-cli-plugin-tauri": "~1.0.0-beta.2",
"@tauri-apps/cli": "^1.0.0-beta.2",

Tauri that I plugged into the Vue project,
The    @@@'window.open' method is executed in js, but does not work

[2021-05-18 12:16] mxismean commented on #1857
@zuckschwerdt @deftsp @liusong1111 @roryok  Please help me, thank you

[2021-05-18 13:43] aleksanderkoder opened #1879 "Can't load files with spaces in build"
Images referenced in Vue components do not show up in release build gotten by doing "yarn tauri:build". The images do show up in the dev build gotten with "yarn tauri:serve".

Tauri info:
![tauri info](https://user-images.githubusercontent.com/49065176/118661055-1017e400-b7ef-11eb-9943-55cd5ce8cee7.JPG)

Dependencies:
![pak info](https://user-images.githubusercontent.com/49065176/118661354-5241258

[2021-05-18 14:36] crapStone commented on #1841
nice, thanks

[2021-05-18 16:19] ThisSeanZhang opened #1858 "Create transparent window ,When there is still a part that is not transparent at startup"
**Describe the bug**
A clear and concise description of what the bug is.
Create *transparent window* in win10,start app background still white, But maximize the window extra part can transparent .
When resize cover the white space，Area becomes transparent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior

[2021-05-18 16:19] ThisSeanZhang opened #8632 "A window with decorations can't be transparent initially until resized"
**Describe the bug**
A clear and concise description of what the bug is.
Create *transparent window* in win10,start app background still white, But maximize the window extra part can transparent .
When resize cover the white space，Area becomes transparent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior

[2021-05-18 16:21] nothingismagick commented on #1857
@mxismean - why did you ping these people? They are not (to the best of my knowledge) involved in tauri

[2021-05-18 16:24] nothingismagick commented on #1857
do you want to open a new tauri window?
look here: https://tauri.studio/en/docs/api/js/classes/window.webviewwindow

[2021-05-18 16:24] #1857 closed, assigned to nobody

[2021-05-18 20:48] Boscop commented on #1271
+1 for binary payloads. It seems this is currently blocked upstream by https://github.com/MicrosoftEdge/WebView2Feedback/issues/1005
But I'm also very much looking forward to this.
In my app, I'm using websockets with binary payloads between Rust backend and frontend (for both directions), because JSON was too slow.
The app is sending lots of data and needs to visualize it with lowest possible lat

[2021-05-18 21:13] Boscop commented on #1378
@geolehmann Note: When [this](https://github.com/tauri-apps/wry/issues/265#issuecomment-841804226) is merged, you can print a user-friendly error if WebView2 is not installed, indicating that if the user doesn't have admin rights, their admin should install it for them.

[2021-05-18 23:50] nklayman commented on #1879
Can you share a repo that demonstrates the error? I am unable to reproduce it myself (I am on Linux, but I don't expect this to be a windows-only issue).

[2021-05-19 01:21] mxismean commented on #1857
I want to open it in a local browser. Can't I use window.open?

[2021-05-19 01:24] mxismean commented on #1857
I want to open it in a local browser. Can't I use window.open?

[2021-05-19 01:25] lucasfernog commented on #1857
Check the shell open API: https://tauri.studio/en/docs/api/js/modules/shell#open

Using `window.open` is being tracked on issue #1657

[2021-05-19 01:28] mxismean commented on #1857
Thanks

[2021-05-19 01:37] dibadibadiudiu commented on #1793
I've just tried it all, but it still doesn't work.

[code]

[2021-05-19 03:02] dibadibadiudiu commented on #1793
`yarn tauri dev`
It works

`yarn tauri build `
 [Error] TypeError: window['e848dfba-4ff6-40ff-b262-6706bda088ce'] is not a function. (In 'window['e848dfba-4ff6-40ff-b262-6706bda088ce']({event: "tauri://resize", payload: {"height":1080,"width":1920}}, 'f5451315-1f7d-4636-ae17-c0bce323145c')', 'window['e848dfba-4ff6-40ff-b262-6706bda088ce']' is undefined)

[2021-05-19 08:00] MFAshby commented on #1752
Hi, I hit the same issue; [the docs](https://tauri.studio/en/docs/usage/development/integration/#2-initialize-tauri-in-your-app) for initializing tauri don't mention that you can run it from `cargo` rather than `yarn` or `npm`. Is it worth updating those?

[2021-05-19 08:44] dibadibadiudiu commented on #1793
The cause of this problem has been found. The page path caused by the route of Vue is not found.

[2021-05-19 08:44] #1793 closed, assigned to nobody

[2021-05-19 09:16] NenoxAG commented on #1850
Using an image makes no difference. I think I'll wait then

[2021-05-19 09:16] #1850 closed, assigned to nobody

[2021-05-19 09:42] aleksanderkoder commented on #1879
https://github.com/aleksanderkoder/tauriimagebug

I made a stripped version of the project. It shows the issue, at least on my machine ;)
Neither the app logo nor the background image shows up in the release build gotten with "yarn tauri:build", but they do show up with "yarn tauri:serve".

Don't forget to install all the dependecies, but probably don't have to say that :)

[2021-05-19 12:54] dibadibadiudiu commented on #917
@AlexanderShvaykin
I have the same problem. Will you consider repairing this problem?  It works on MAC, but it doesn't work on windows.

[2021-05-19 13:24] dibadibadiudiu opened #1870 "Windows Notification Api causes application crash"
**Describe the bug**

Using the notification API on windows will cause the application to crash.

Errors in both `yarn tauri build` and `yarn tauri dev` modes.

The error is as follows:

[code]

yarn tauri info:

[code]

[2021-05-19 13:29] dibadibadiudiu commented on #1870
In addition, the winrt and winrt-notification package versions of Tauri are not up-to-date.

[2021-05-19 17:17] Boscop opened #1872 "Making Tauri useable as GUI for VST plugins"
It would be great if Tauri could be used for making GUIs for VST plugins (at least on Windows).
1. This requires being able to create the WebView2 window [as a child window on the parent window](https://docs.rs/winit/0.25.0/i686-pc-windows-msvc/winit/platform/windows/trait.WindowBuilderExtWindows.html#tymethod.with_parent_window) whose handle the [VST host passes in](https://docs.rs/vst/0.2.1/vst/

[2021-05-19 18:45] kestred opened #1873 "MacOS Global Shortcut captures keyboard events even when Window is not focused"
**Describe the bug**
On MacOS (11.13), when a Global Shortcut is registered, it continues to captures keyboard events even when the Tauri application window is not focused/active.

**To Reproduce**
Steps to reproduce the behavior:
1. Register a global shortcut using javascript; e.g.
[code]
2. Run the tauri app with `yarn tauri dev`
2. Wait for the window to open.
3. Switch to a different applicati

[2021-05-19 21:43] lucasfernog commented on #1873
That's why it's called `global` shortcut :) if you want a shortcut trigger only when the window is focused, maybe you can use some JS library like this: https://github.com/jaywcjlove/hotkeys

[2021-05-19 21:43] #1873 closed, assigned to nobody

[2021-05-20 01:17] nklayman commented on #1879
The `src-tauri` folder appears to be missing from the repo you sent me. Can you add that and then ping me?

[2021-05-20 04:07] ghost opened #1876 "Dialog window doesn't take focus"
**Describe the bug**
If I open a dialog it moves freely and the main window doesn't get blocked in any way.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a Dialog

**Expected behavior**
The dialog should prevent access to the main window while open

**Platform and Versions (please complete the following information):**

OS: Windows, version 10.0.19042 X64
Node: 14.15.4
NPM: 6.14.10
Ya

[2021-05-20 09:12] aleksanderkoder commented on #1879
It has now been added.

[2021-05-20 13:58] olup opened #1877 "Poor interfacing performance - dev or build"
**Describe the bug**
Reading a simple txt file will take a mere ms for rust, but half a second of a full second to get the content in js - and the thrad is blocked, so UI becomes unresponsive and static.

This is worst in dev, but is also present in released builds.

Probably linked to https://github.com/tauri-apps/tauri/issues/1817

I have been advised on Discord that performances where no so goo

[2021-05-20 14:03] lucasfernog commented on #1877
We're tracking improvements [here](https://github.com/tauri-apps/wry/issues/253). Does it take 1 second to receive the data on a release build too?

[2021-05-20 14:03] #1877 closed, assigned to nobody

[2021-05-20 15:24] lucasfernog commented on #1876
Will be fixed when (and if) https://github.com/PolyMeilex/rfd/pull/14 is merged and published.

[2021-05-20 16:18] ghost commented on #1876
Out of curiosity, there is also a bug where the dialog window spawns below all other windows most of the time. Would this be fixed as well with this change?

[2021-05-20 16:51] lucasfernog commented on #1870
Duplicated of #917

[2021-05-20 16:51] #1870 closed, assigned to nobody

[2021-05-20 19:04] olup commented on #1877
The poor performance seems unrelated to serializing - I get this whatever the form or size of what is returned.

Even if I don't return anything from the rust command, the js promise can still take a very long time to resolve.
In DEV mode or with the BUILT product It can go up to 6 seconds. And never less thant 600-ish miliseconds. The rust operations ends up under a milisecond, of course.

[2021-05-21 02:20] lukeed commented on #1055
I'm still seeing the contextmenu show up on `paste` while using macOS and `tauri@1.0.0-beta.1`

Not sure if this version was the "next release"

[2021-05-21 02:36] nklayman commented on #1879
It seems like the custom protocol doesn't support files with spaces in the names...we'll definitely need to fix this.

[2021-05-21 03:37] mxismean opened #1882 "error: failed to run custom build command for `app v0.1.0"

[2021-05-21 03:38] dibadibadiudiu opened #1883 "[mac updater]The app cannot be opened after it is updated"
**Describe the bug**
The app cannot be opened after it is updated.

I wonder if it has something to do with Mac's signature certificate (MAC applications must sign to update on electron), but I can't find Mac's signature document. What should I do if I want to publish it to the MAC app store?

my code:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. If there is an update detected, cli

[2021-05-21 03:40] mxismean commented on #1882
$ yarn tauri info
yarn run v1.22.10
warning w-pc-bb-nav@0.1.3: The engine "pm2" appears to be invalid.
$ C:\Users\BillionWeb\Desktop\web\w-pc-bb-nav\node_modules\.bin\tauri info
 app:spawn Running "C:\Users\BillionWeb\Desktop\web\w-pc-bb-nav\node_modules\@tauri-apps\cli\bin\tauri-cli.exe tauri info" +0ms

Operating System - Windows, version 10.0.19042 X64
Webview2 - 90.0.818.62

Node.js environmen

[2021-05-21 03:47] mxismean opened #1884 "error: failed to run custom build command for `app v0.1.0 (C:\Users\BillionWeb\Desktop\web\w-pc-bb-nav\src-tauri)`"
DONE  Compiled successfully in 3438ms上午11:22:22
<s> [webpack.Progress] 100%
  App running at:
  - Local:   http://localhost:8081/
  - Network: http://192.168.6.154:8081/
  Note that the development build is not optimized.
  To create a production build, run yarn build.
 app:spawn Running "C:\Users\BillionWeb\Desktop\web\w-pc-bb-nav\node_modules\@tauri-apps\cli\bin\tauri-cli.exe tauri dev --config

[2021-05-21 03:47] mxismean commented on #1882
@

[2021-05-21 03:47] #1882 closed, assigned to nobody

[2021-05-21 03:49] mxismean commented on #1884
$ yarn tauri info
yarn run v1.22.10
warning w-pc-bb-nav@0.1.3: The engine "pm2" appears to be invalid.
$ C:\Users\BillionWeb\Desktop\web\w-pc-bb-nav\node_modules\.bin\tauri info
 app:spawn Running "C:\Users\BillionWeb\Desktop\web\w-pc-bb-nav\node_modules\@tauri-apps\cli\bin\tauri-cli.exe tauri info" +0ms

Operating System - Windows, version 10.0.19042 X64
Webview2 - 90.0.818.62

Node.js environmen

[2021-05-21 03:51] mxismean commented on #1884
@nothingismagick

[2021-05-21 06:28] mxismean commented on #1884
Cargo.toml

[code]

[2021-05-21 07:28] olup commented on #1877
Another one - fresh project.

Reading a text file using tauri api, again an again - the built app will tale anything from a few milliseconds to 4 or even 6 seconds !

I guess the weird factor is the large randomness of it. Is there any ways for me to log debugs info from rust to track the perf timings ?

To me this is a bug, not an improvement, don't you think ?

[2021-05-21 07:45] amrbashir commented on #1833
It works fine for me and I can't reproduce it.
[code]
results in
[code]

[2021-05-21 07:47] amrbashir commented on #1833
I will close the issue but feel free to re-open it with further details if you're still having problems with it

[2021-05-21 07:47] #1833 closed, assigned to nobody

[2021-05-21 07:59] amrbashir commented on #1849
1. we don't control `Microsoft Edge WebView2` so we can't change that.
2. `Tauri App` is just the window title, so you can change that either in your `tauri.conf.json` or programmatically through our api either from rust or js
3. `A Tauri App` is picked up from the `description` field in your `src-tauri/cargo.toml`, not sure if we are doing that intentionally or is it from `cargo`, so I will ping

[2021-05-21 08:50] mxismean opened #1886 "Windows packaging is only in .msi format, not .exe format? why?"
[code]

[2021-05-21 08:52] mxismean commented on #1886
1.This .msi file was sent to another friend's computer.
Installation failed: the file directory is corrupted...

2.How can I get the exe installation package? I want to try exe

[2021-05-21 09:20] #1884 closed, assigned to nobody

[2021-05-21 09:34] amrbashir commented on #1839
I see you're on Windows, unfortunately dragging the window requires capturing the mouse and sending `HTCAPTION` msg to the window to simulate a click on a title bar so the `dblclick` event won't be delivered to the webview correctly.

I see you want the `dblclick` on `data-tauri-drag-region` to simulate "double click titlebar to maximize the window", which you won't need to do when I finally fix t

[2021-05-21 10:22] lucasfernog commented on #1849
I think cargo does that but we should see about overriding it with the config.

[2021-05-21 12:40] aafnnp commented on #1879
same problem
https://github.com/Manonicu/remix
branch dev

[2021-05-21 19:15] lucasfernog commented on #1876
I hope it will, since we'll set the tauri window as parent of the dialog, I think Windows will handle that.

[2021-05-21 19:16] #1872 closed, assigned to nobody

[2021-05-21 19:53] #1876 closed, assigned to nobody

[2021-05-22 10:39] lemarier commented on #1883
Thanks for reporting,

Is there any way i can test it?
Could you provide a old version of the app so we can trigger the update from our end and test the flow?

thanks!

[2021-05-22 15:43] kestred commented on #1873
😆, ok fair point.

@lucasfernog one reason I was trying to do so is that using keyboard input events in the web view triggers the system bell sound and the global shortcut would disable it.  Do you know if there is a better way to notify the system that the shortcut is being handled?

[2021-05-22 15:48] lucasfernog commented on #1873
I have no idea, maybe @lemarier can help

[2021-05-22 16:05] lemarier commented on #1873
We’ll work on this, next week;
https://github.com/tauri-apps/tao/issues/33

Please follow the issue, we may be able to bring something you could use.

[2021-05-22 16:39] Boscop opened #1891 "I hear the Windows modal warning sound whenever I type the first char in a text field after starting the app"
**Describe the bug**
Whenever I start the [todomvc](https://github.com/tauri-apps/smoke-tests/tree/dev/rust/yew/todomvc) app.exe and type the first char in the text input field, I get a Windows sound.

**To Reproduce**
Steps to reproduce the behavior:
1. Build todomvc app.exe
2. Double click on app.exe, wait for the webview to load
3. Click in text input field to place the cursor in it
4. Type a c

[2021-05-23 13:31] galax028 opened #1892 "Failed to run custom build command for `zstd-sys v1.6.0+zstd.1.5.0`"
**Describe the bug**
I tried to execute the command `tauri dev` but `zstd` failed to compile with gcc.

**To Reproduce**
Steps to reproduce the behavior:
1. Install MinGW-w64 and add to path
2. Run `rustup default stable-x86_64-pc-windows-gnu`
3. Run `tauri dev`
4. See error

**Expected behavior**
I expected Tauri to compile.

**Screenshots**
![image](https://user-images.githubusercontent.com/7264

[2021-05-23 16:50] RealDrPuc opened #1893 "Crash when trying to get any monitor"
**Describe the bug**
The execution of the program stops when I try to use primary_monitor(), available_monitors() or current_monitor().

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following code to the Builder::default()
[code]
2. Run with yarn tauri dev.
3. See console and the program's window.
4. See that "This won't." isn't printed and the window does not respond.

**Expected

[2021-05-23 21:12] Flakebi commented on #1893
I get the same hang on Linux/Wayland with tauri 1.0.0-beta.1.

**Edit:** I guess this is a deadlock because tauri tries to schedule something and wait for it while we are currently in the scheduler thread. Starting a new thread and calling `current_monitor()` there creates `thread 'main' panicked at 'not yet implemented'`.

[2021-05-24 08:43] SOVLOOKUP opened #1894 "api example run failed"
**Describe the bug**
api example run failed with compile error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `examples/api`
2. `npm i`
3. `tauri dev`

**Expected behavior**

[code]

**Platform and Versions (please complete the following information):**

OS: Linux
Node: v16.1
NPM:npm@6.14.11
Yarn:1.22.10
Rustc:rustc 1.52.1 (9bc8c42bb 2021-05-09)

[2021-05-24 14:43] lemarier commented on #1883
I can't reproduce the issue

Could you share an example pls?

Thanks

[2021-05-24 14:53] RealDrPuc commented on #1893
I can confirm this is a Tauri issue, WRY and Tao can get the monitors but Tauri can't.

The following code returns **Some(MonitorHandle { inner: MonitorHandle(0x10001) })**
[code]

[2021-05-25 07:15] dibadibadiudiu commented on #1883
After installation, wait for a while until the system prompts you to install and click OK.

[0.0.1_x64.dmg.zip](https://github.com/tauri-apps/tauri/files/6537224/0.0.1_x64.dmg.zip)

[2021-05-25 07:26] zzl221000 opened #1896 "Sidecar process is still alive when the main process exits"
First of all, I think this project is really great!❤
But I have encountered a little problem in using it.
I have embedded an aria2 downloader in the program using Sidecar. Everything was working fine until I closed the program and found that the aria2 process was still alive.
How should I deal with this problem?

I solved it in the following way for now. But I think it is the wrong way.
[code]

[2021-05-25 07:45] rxliuli commented on #1628
For any proxy-related issues, you can consider trying a transparent proxy tool like Proxifier, which can proxy all requests from the computer and forward them to the designated proxy server

---

If your company’s network configuration is whitelisted, you can only leave...

[2021-05-25 08:02] rxliuli commented on #1773
If there is a simpler way to use nodejs, it will make it easier for nodejs services to migrate to tauri

[2021-05-25 15:40] pulse0ne commented on #1628
It seems like there are some good workarounds here. Closing

[2021-05-25 15:40] #1628 closed, assigned to nobody

[2021-05-25 19:09] parker-codes opened #1897 "Exclude src-tauri from relative devPath"
**Describe the bug**
Not tested by me - came from Discord help-triage.

The developer said:

I replied that they can put a relative path instead of a dev server location. My example was to put `../`, thinking that devs may keep their vanilla assets at the top level.

Noah highlighted that this may cause issues because it would then include `/src-tauri`.  Obviously this can be bypassed if these are

[2021-05-25 19:25] parker-codes commented on #1897
This recursive bit seems to be the part to change:
https://github.com/tauri-apps/tauri/blob/2b4e2b7560515b76002d0c724bcca1f470ed106f/tooling/cli.rs/src/dev.rs#L146-L159

Though it's blocked by https://github.com/notify-rs/notify/issues/204. No work has been done on it in a while, it seems.

[2021-05-25 20:08] parker-codes commented on #1897
@amrbashir gave a good solution!

[2021-05-26 02:11] adamierymenko opened #1898 "Sub-menus in system tray menu"
**Describe the solution you'd like**
It doesn't appear that there's a way to add sub-menus to the system tray menu. This would be really nice to be able to show status, etc.

**Describe alternatives you've considered**
[This system tray code](https://github.com/zserge/tray) can do it, and might be a reference for you.

[2021-05-26 06:55] dpetlyuk commented on #1830
Good day! Any news?

[2021-05-26 10:49] lemarier commented on #1830
Hi @dpetlyuk !

We didn’t forgot you!
It’s added in my current sprint and i’ll try to get to it ASAP.

Its something you need right now?

[2021-05-26 10:52] dpetlyuk commented on #1830
Hi @lemarier!

Currently, no new releases are planned, but it would be nice to know the approximate timeframe.

[2021-05-26 11:48] lemarier commented on #1830
Awesome! I'll try to start working on this probably next week.
If things go well, you should expect it in ~ 2 patch releases of Tauri to give us time to run tests, so ~ 1 month.

[2021-05-26 15:36] loyy77 commented on #1140
我的解决办法：把devPath的值由 http://localhost:3000 改为 http://127.0.0.1:3000 或 http://0.0.0.0:3000
My solution: Change the value of devPath from http://localhost:3000 to http://127.0.0.1:3000 or http://0.0.0.0:3000
[code]

[2021-05-26 20:54] olup opened #1908 "Return of tauri command invoke hangs until mouse is moved"
**Describe the bug**
Resolution of js promise that call some tauri command hangs until the mouse moves - even a little bit - then it resolves.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Platform and Versions (please complete the following information):**
[code]

**Additional context**
From @lucasfernog on the discord channel:

**Stack Trace**

[2021-05-27 12:13] mq1 opened #1911 "<select> opens outside window on first try"
`<select>` elements open outside the application window. When opened a second time, they open in the correct position. The problem occurs again when moving the window to a new location.

OS: Windows, version 10.0.19043 X64
Node: 15.14.0
Rustc: 1.52.1

[2021-05-28 09:13] lemuellew opened #1913 "error: could not compile `zstd-safe`"
**Screenshots**
![image](https://user-images.githubusercontent.com/59448437/119960344-6fd47300-bfd7-11eb-9443-f1ef7d3ec0d7.png)

**Platform and Versions:**
OS:      Ubuntu 20.04.2 LTS
Node:   v16.2.0
NPM:   7.13.0
Yarn:    1.22.10
Rustc:  1.49.0 (e1884a8e3 2020-12-29)

[code]

[2021-05-28 09:21] lemarier commented on #1913
Make sure to use rust stable version

You can update with;

rustup update

[2021-05-28 09:21] #1913 closed, assigned to nobody

[2021-05-28 10:42] janakg opened #1914 "Drop-in replacement of UI code written for Electron."
**Is your feature request related to a problem? Please describe.**
We have developed for Electron for 2+ years, UI works flawlessly in Chrome. For Tauri, we need to support multiple browsers for various OS, it is a time-consuming task and roadblock.

**Describe the solution you'd like**
Can the WebView lib mandate the availability of Chrome with a certain version on all platforms? And it will run

[2021-05-28 18:28] nothingismagick commented on #1914
This is not a possibility, unfortunately.

[2021-05-28 18:28] #1914 closed, assigned to nobody

[2021-05-28 18:51] dardanbujupaj opened #1916 "Bundler waits for macos notarization to finish even if it takes a long time"
**Describe the bug**
The notarization from Apple for macos apps is usually pretty fast, but sometimes it can take a very long time.
The tauri bundler waits for the notarization to finish no matter how long it takes.
In my case the github release action ran for about 3h before i cancled it manually. But I received the confirmation mail for the notarization about 5 hours later.

**To Reproduce**
Ste

[2021-05-28 21:00] ghost opened #1917 "Installing fails"
**Describe the bug**
When I try to install Tauri (`npm -g install @tauri-apps/cli`), it errors

**To Reproduce**
Steps to reproduce the behavior:
1. Install `rustc` and `nvm`
2. Run `npm -g install @tauri-apps/cli`

**Expected behavior**
I expected it to install the `tauri` command without problems.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform and Versi

[2021-05-28 22:33] dardanbujupaj commented on #1916
I just had another look at it. The process I wasn't sure about is called stapling and is done here:
https://github.com/tauri-apps/tauri/blob/e85472b9e2a4fdf91c01ca51b7b740cf44d47380/tooling/bundler/src/bundle/macos/sign.rs#L306

Here is the description from apple:

https://developer.apple.com/documentation/security/notarizing_macos_software_before_distribution/customizing_the_notarization_workflow

[2021-05-30 01:05] chrispinkney opened #1920 "cargo install tauri-bundler --force fails on windows"
**Describe the bug**
Sorry for the dumb question, just for the life of my I can't seem to get `cargo install tauri-bundler --force` to run on my Windows 10 machine. Works fine on Manjaro:

[code]

I've been to the link a dozen times and can't get around this hurdle with either msvc or mingw (which gives a different error.) Both have been successfully added to PATH, so my shell responds to `cl` or

[2021-05-30 01:37] MikeChongCan opened #1921 "[docs] Should @tauri-apps/cli be `devDependencies`?"
In [the integration document](https://tauri.studio/en/docs/usage/development/integration#1-install-tauri-js-package-as-a-dependency), `@tauri-apps/cli` is installed as the `dependencies` instead of `devDependencies`.

[code]

Does it make more sense to use `yarn add -D @tauri-apps/cli` instead?

[2021-05-30 05:09] amrbashir commented on #1921
yes you can add it as a dev-dependency and you should do so, I will update the docs to reflect that.

[2021-05-30 05:09] #1921 closed, assigned to nobody

[2021-05-30 19:08] florianfelix opened #1922 "window icons not working"
**Describe the bug**
Window Icons are not displayed

**To Reproduce**
I have setup a fresh project at https://github.com/florianfelix/downloader
Neither in dev mode nor final build are the window icons displayed correct.
The dev window has some other icon and the final build has some kind of placeholder image.
Pictures and tauri info are in the readme of the project.

**Screenshots**
![binaryicon]

[2021-05-30 20:46] tcastelly opened #1924 "create-tauri-app Vite - not working by default"
Hello,

I had little problems during the creation of a project with Vite + (React or Vue)

[code]

So, I installed the dependencies of my project and re-execute the initialisation of the project

Then when I run `npm run tauri dev` I had this error:
[code]

I add in the scripts section of my package.json:

And it works :)

---

**Platform and Versions (please complete the following information):**

[2021-05-30 21:01] amrbashir commented on #1924
what is the output of `npx create-tauri-app -v` and can you try creating a fresh project with `create-tauri-app` cause for some reason `npx` just pulled an old version of `create-tauri-app` and I had to run the command again for it to get the latest version, anyhow the `create-tauri-app` process was successful the second time.

[2021-05-30 21:19] tcastelly commented on #1924
The output

[code]

I installed globally `create-tauri-app`, I have the same version

[code]

For both I have the same issue:

[2021-05-31 06:27] amrbashir commented on #1924
I can reproduce it now with `node 14` and `npm 6`, `esbuild` has been giving us a hard time, will see if we can fix that.

[2021-05-31 06:55] tcastelly commented on #1924
ok :)

About the problem with the missing "start" in package.json. Are we agree I only need to add

?

[2021-05-31 06:57] amrbashir commented on #1924
<s>no, that's a mis-configuration on our end, will fix that too</s> fixed this one.

[2021-05-31 11:36] ravern opened #1927 "Confused between commands and events; How to push data to frontend"
I've run into two issues with Tauri after using it for a day or two. Do let me know if this is the wrong place to request for help.

1. Reading the documentation, I am thoroughly confused about the difference between commands and events. Are commands the high-level implementations of events? Or are they using separate methods of passing data around altogether?

2. Also, how would, for example, a c

[2021-05-31 11:50] Laegel commented on #1927
Hey @ravern !
I guess this is what you're looking for: https://tauri.studio/en/docs/api/rust/tauri/window/struct.Window#pub-fn-emite-sized-sself-event-e-payload-s---result-where-pevent-borrowe-e-tagrefpevent-s-serialize

We've planned to improve both the search results (right now, only five in all docs, which is not enough) and the Rust docs layout so it becomes easier to understand.
Don't hesitat

[2021-05-31 12:10] lemarier commented on #1883
Hi @dibadibadiudiu

The problem as you spotted first, comes from the binary signature.
I'll make more tests from my side but I've done a little PR who could also help with the binary corruption with the latest macOS update.

I'll keep this issue open till we release it and got confirmation it works fine.

Also, signing the binary should prevent this out of the box.

Thanks

[2021-05-31 12:12] lucasfernog commented on #1927
`App` and `Window` implement the `Manager` trait: https://docs.rs/tauri/1.0.0-beta.1/tauri/trait.Manager.html#method.get_window

And on the next release you'll also be able to get an App handle: https://github.com/tauri-apps/tauri/blob/cb6c807ac8a28592b559e679157330580f970840/core/tauri/src/app.rs#L181

We'll improve docs on events, but your use case is exactly what the event system is designed fo

[2021-05-31 12:12] #1927 closed, assigned to nobody

[2021-05-31 13:38] probablykasper opened #1928 "`Must use import to load ES Module`"
Importing `@tauri-apps/api/tauri` in SvelteKit with SSR disabled results in the following error:

[code]

Related SvelteKit issue: https://github.com/sveltejs/kit/issues/779

**To Reproduce**
Use the reproduction repo: https://github.com/probablykasper/tauri-sveltekit-esmodule-bug

**Platform and Versions**
OS: macOS 10.15.7 x64
Node: 14.16.0
npm: 6.14.11
rustc: 1.52.1

[2021-05-31 14:12] lucasfernog commented on #1928
This same error was already discussed on our Discord server, see [this](https://discord.com/channels/616186924390023171/625037620996734986/842087004282945566) and [this](https://discord.com/channels/616186924390023171/625037620996734986/845351691947999232).

[2021-05-31 14:38] probablykasper commented on #1928
@lucasfernog Forgot to mention, this does work, as mentioned on [this reddit thread](https://www.reddit.com/r/sveltejs/comments/natnu3/problem_with_import_must_use_import_to_load_es):
[code]

I couldn't find anything in the first conversation that fixes it, and the second one was mentioned by Rich Harris in https://github.com/sveltejs/kit/issues/779, but it requires code like this:
[code]

As Rich

[2021-05-31 14:42] #1897 closed, assigned to nobody

[2021-05-31 20:36] clockler commented on #1816
What was being noted here was that not finding a file *does* trigger an exception, except instead of throwing an object with useful metadata for differentiating not finding a file from not having permissions to access it (or the file being badly encoded, or the file being locked, etc) what is thrown is a string and contains no easily accessible information on the cause of failure.

This isn't part

[2021-05-31 22:42] lucasfernog commented on #1920
You don't need this step anymore (the bundler is show shipped as a library instead of a binary). Why are you trying to install it? Maybe we forgot to update some documentation or you're just trying to use the bundler as a binary yourself?

[2021-05-31 22:42] #1920 closed, assigned to nobody

[2021-05-31 22:45] lucasfernog commented on #1917
This is a `sharp` install error, not related to Tauri. Maybe https://github.com/lovell/sharp/issues/1882 helps?

[2021-05-31 22:45] #1917 closed, assigned to nobody

[2021-05-31 22:47] lucasfernog commented on #1896
Process cleanup must be done manually :( I think we can do it on our end for sidecar processes though.

[2021-05-31 23:27] chrispinkney commented on #1920
@lucasfernog No I was just following some outdated guide, sorry about that! I followed the one [here](https://tauri.studio/en/docs/getting-started/setup-windows/) and I'm still getting the same error when running `npm run tauri dev`:

[code]

`npm run build` also fails similarly:

[code]

Any ideas how to solve this? In case you need it for more info the project I'm trying to build is [here](https

[2021-06-01 01:31] lucasfernog commented on #1920
I guess you need to install gcc :)

[2021-06-01 01:32] lucasfernog commented on #1920
Or maybe wait for the next release, tinyfiledialogs won't be used anymore.

[2021-06-01 01:46] chrispinkney commented on #1920
With gcc ([mingw via chocolatey](https://community.chocolatey.org/packages/mingw)) I get the following:

[code]
[code]

Sorry, I don't mean to be a bother, I just don't understand why tauri doesn't build on Windows. Do no other Windows users have this issue? ☹️

[2021-06-01 02:24] janakg commented on #1914
@nothingismagick Thanks for the clarification. Just another thought.
As an option to the developer, would it be possible to repurpose PlayWright or Puppeteer as a window management tool with Chrome as its browser?

[2021-06-01 02:26] lucasfernog commented on #1920
Did you follow our [setup guide for Windows](https://tauri.studio/en/docs/getting-started/setup-windows)? We have a bunch of Windows users (myself included) and we didn't see this error before.

[2021-06-01 02:40] lucasfernog commented on #1893
On Linux the API is not implemented yet. I'll investigate the issue on Windows.

[2021-06-01 02:59] lucasfernog commented on #1893
The problem here is that `setup` runs before the `tao` event loop is initialized, and the `available_monitors` (and most of the other window APIs) sends a message to the event loop and waits for the response, so it's a deadlock. There's not much to do here except document this behavior on the `setup` callback.

Example code that works:

[code]

[2021-06-01 02:59] #1893 closed, assigned to nobody

[2021-06-01 03:09] #1896 closed, assigned to nobody

[2021-06-01 08:21] fkromer opened #1933 "Tauri version conflict in template generation?"
**Describe the bug**
A clear and concise description of what the bug is.

When I follow the docs about how to setup [Tauri in WSL2-Ubuntu](https://tauri.studio/en/docs/get-started/setup-linux) and how to [create a Tauri app in WSL2-Ubuntu](https://tauri.studio/en/docs/development/integration) and run `yarn tauri dev` I get the following error:

[code]

**To Reproduce**
Steps to reproduce the behav

[2021-06-01 09:01] fkromer opened #1934 "Angular recipe for create-tauri-app"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

For some complex apps it might be helpful to beeing able to use Angular.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

An entry for `Angular` (which is essentially `Angular with TypeScri

[2021-06-01 10:39] nothingismagick commented on #1934
To be fair, you can use angular with typescript today, you just have to bring it yourself. If you check out the way the create-tauri-app system works, it should be pretty trivial to add another UI recipe - and we would welcome such a PR.

https://github.com/tauri-apps/tauri/tree/dev/tooling/create-tauri-app/src/recipes

[2021-06-01 11:45] olup opened #2013 "Bug - On dev branch - ubuntu 20 - open / save file modal will freeze and crash app"
This is a bug

Using Tauri with patched Tao (latest dev branch) on ubuntu 20.10.

Trying to open a file modal (to open or save) will try to open something - it shows in the task bar - but no window is actually drawn to the screen. It hangs and eventually crash : "App is not responding / Force quit / Wait"

[2021-06-01 12:00] lemarier commented on #2013
Thanks for reporting.

We'll do our tests and keep you updated.

[2021-06-01 12:27] lucasfernog opened #1935 "Command stdout is only emitted on child process close"
**Describe the bug**
The `tauri::process::Command` API has a bug on the tokio mpsc usage: the stdout line is sent on the channel but the receiver only sees the message when the process is terminated.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the API example
2. Click on the shell tab
3. Run the following command: `node -e "console.log('message'); while(true){}"
4. You'll see that t

[2021-06-01 13:20] lucasfernog commented on #1933
You're probably using an older tauri CLI version. the `@tauri-apps/cli` version must be `1.0.0-beta.2`.

[2021-06-01 13:20] #1933 closed, assigned to nobody

[2021-06-01 14:11] #1935 closed, assigned to nobody

[2021-06-01 14:43] lucasfernog commented on #1894
Did you rebuild the `tooling/cli.js` package? Also check if there's any `tooling/cli.js/bin/tauri-cli` binary in there, if there is, delete it. I think your CLI is outdated so it removed the `menu` feature on `examples/api/src-tauri/Cargo.toml`.

[2021-06-01 14:43] #1894 closed, assigned to nobody

[2021-06-01 16:07] #1922 closed, assigned to nobody

[2021-06-01 16:34] fkromer commented on #1933
@lucasfernog `create-tauri-app` works just fine for me.

[2021-06-01 16:34] lucasfernog commented on #1908
@olup do you have an example command/app to reproduce this? I'm not seeing this issue anymore.

[2021-06-01 16:45] lucasfernog commented on #1892
`internal compiler error: in based_loc_descr, at dwarf2out.c:14264` seems like something is wrong with your `gcc`. What's the output of `gcc --version`? Mine is `gcc.exe (tdm64-1) 9.2.0` (note that i'm using tdm-gcc instead).

[2021-06-01 16:45] #1892 closed, assigned to nobody

[2021-06-01 16:47] lucasfernog commented on #1886
The exe is located under `target/release/appname.exe` (or `target/debug` if you built a debug app). But we recommend using msi if you're shipping the app to users that do not have the webview2 runtime installed or you're using sidecar binaries / resources.

[2021-06-01 16:47] #1886 closed, assigned to nobody

[2021-06-01 18:49] #1879 closed, assigned to lemarier

[2021-06-01 20:00] olup commented on #1908
@lucasfernog this behavior is gone with latest tauri dev and latest tao dev - I just pulled that today. This works very well now.

[2021-06-01 20:30] #1908 closed, assigned to nobody

[2021-06-01 20:30] lucasfernog commented on #1908
Thanks to the tao guys for magically fixing issues! @wusyong @lemarier @amrbashir

[2021-06-02 06:48] fkromer commented on #1934
I know. In general, I don't program anything for free if other programmers could potentially get paid to implement it. I'm sticking to this code of conduct for years now and won't change my mind. Sponsoring is no option as well cause we are a small startup. As long as there is no stable release of tauri the company I'm working for won't let me put time into this even if I'd like to. As soon as the

[2021-06-02 11:06] tcastelly opened #1942 "impossible to use dialog"
I build with success the api example from the up-to-date dev branch. When I try to open a dialog:
- without moving the cursor nothing happen
- after moving the cursor the application is frozen
![image](https://user-images.githubusercontent.com/37597737/120469512-b8f34100-c3a2-11eb-8b08-141f173db6fe.png)

OS: Archlinux + i3wm
Node: 15.16.0
NPM: 6.14.11
Yarn: 1.22.10
Rustc: rustc 1.52.1 (9bc8c42bb 2

[2021-06-02 14:08] SOVLOOKUP commented on #1894
thanks, after rebuilding `tooling/cli.js` it passed the compilation.
But it's all blank, what's wrong with it ...
![image](https://user-images.githubusercontent.com/53158137/120494573-81aa8180-c3ee-11eb-9573-93df725940eb.png)

Actually when I run `npm run dev`, svelte runs blank web page too.
![image](https://user-images.githubusercontent.com/53158137/120494704-9edf5000-c3ee-11eb-8a8f-50a2ef338b88

[2021-06-02 14:13] lucasfernog commented on #1894
You also need to build tooling/api

[2021-06-02 18:42] nklayman commented on #1886
@mxismean do you mean a runnable exe that's just the app, or an exe that installs the app just like the msi does? If you are looking for the first, the above comment will help you. If you want the later, why do you need an exe over an msi?

[2021-06-02 18:45] nklayman commented on #1914
@janakg that has been tried by google: https://github.com/GoogleChromeLabs/carlo

[2021-06-03 08:13] nothingismagick commented on #1914
So here is the thing, right now we are stabilizing for the following use case:

system webview + rust backend + webdriver.io test harness

Once we have a stable system with all the expected bells and whistles that runs perfectly on desktops and mobiles, then we are going to circle back and see about supporting other window types, such as pure GL contexts. We will also investigate bindings from rus

[2021-06-03 16:34] olegshilov opened #1943 "iframe with fragment in src don't render"
**Describe the bug**
The problem is when iframe src includes a URI fragment, like `#something`, it won't load when you try to load it from disk.

**To Reproduce**
Minimal reproducible example placed here:
https://github.com/olegshilov/tauri-testing/tree/iframe-issue
Steps to reproduce:
- clone
- install dependencies
- run `yarn start` or `yarn build`

**Expected behavior**
Every iframe with fragme

[2021-06-04 04:58] #1298 closed, assigned to nobody

[2021-06-04 11:00] shirakaba commented on #1943
I don't think this is a Tauri-specific issue, but I decided to try it just through a local Apache web server using Safari 14.1.1 on macOS 10.15.7 out of interest.

I made only three changes to your https://github.com/olegshilov/tauri-testing/tree/iframe-issue/app:

* In `index.html`, I changed the start of each path from `/iframe.html` to `./iframe.html` (because I was in a subdirectory of the web

[2021-06-04 11:02] shirakaba commented on #1943
Also works over the file system (rather than a web server) with Safari:

<img width="1367" alt="image" src="https://user-images.githubusercontent.com/14055146/120791951-bb81a200-c52c-11eb-8960-6578f2910a00.png">

[2021-06-04 11:31] olegshilov commented on #1943
@shirakaba hi.  it's Tauri-specific issue because we detect the place where it happened
https://github.com/tauri-apps/tauri/blob/37db639a65edce5ede0151ac58c614934b1f1ee0/core/tauri/src/manager.rs#L400

[2021-06-04 14:23] olup commented on #2013
Just wanted to add that I just tried it on macos - no issue. I'll test on windows too.

[2021-06-04 16:51] #1898 closed, assigned to nobody

[2021-06-04 17:18] n8jadams opened #1948 "Unable to close Tauri app with Command+Q on MacOS"
**Describe the bug**
I hear the bad sound (https://www.youtube.com/watch?v=8rz44o_gGpE&ab_channel=akashiluddi) when trying to close Tauri app on MacOS with Command+Q. I have to hit the red x in the top left corner to close it (or kill it in the command line in watch mode)

**To Reproduce**
Steps to reproduce the behavior:
1. [Clone my repo](https://github.com/n8jadams/tauri-typescript-react-boiler

[2021-06-04 17:37] lucasfernog commented on #1942
I can confirm this issue, we'll investigate it and track it on https://github.com/tauri-apps/tao/issues/81

[2021-06-04 17:37] #1942 closed, assigned to nobody

[2021-06-04 17:38] lucasfernog commented on #2013
Should be a Linux-only issue. I'll help track this.

[2021-06-04 17:52] lucasfernog commented on #2013
The problem started after tauri-apps/tao#68, ControlFlow::Wait and ControlFlow::Poll are not working. I guess we'll need your help here @wusyong

[2021-06-04 21:37] #1943 closed, assigned to nobody

[2021-06-05 01:20] lucasfernog commented on #1916
We discussed this and agreed that it's more complicated to allow skipping the notarization check (or settings a timeout), specially since you also need to make sure notarization succeeded before shipping your app.

[2021-06-05 01:20] #1916 closed, assigned to nobody

[2021-06-05 01:35] lucasfernog commented on #1948
You need to create a menu with a `MenuItem::Quit` entry.

[code]

^ This is the next release syntax (the menu is getting a small breaking change).

Thanks to @lemarier for helping with this on Discord.

[2021-06-05 01:35] #1948 closed, assigned to nobody

[2021-06-05 01:37] lucasfernog commented on #1911
Can you provide a HTML example to reproduce it?

[2021-06-05 01:47] wusyong commented on #2013
Sure, I can look into it. Is there an example (on tao) I could test?

[2021-06-05 01:49] lucasfernog commented on #2013
Not really, we just run "cargo run --bin api" on the tauri repo and open the dialog tab.

[2021-06-05 02:43] lucasfernog commented on #1891
I can't reproduce this on Windows 10. Does it happen on any other example app?

[2021-06-05 03:19] lucasfernog commented on #1849
[winres](https://docs.rs/winres/0.1.11/winres/struct.WindowsResource.html#method.new) is responsible for it. I'm making a PR to pull the info from `tauri.conf.json > package` instead, but we can also add setters to customize it if you need.

[2021-06-05 03:24] lucasfernog commented on #917
Unfortunately we need better info to reproduce the error. Seems like it only happens on some specific setups.

[2021-06-05 03:31] lucasfernog commented on #1840
The response deserialization is defined by the [`ResponseType enum`](https://tauri.studio/en/docs/api/js/enums/http.responsetype), which defaults to JSON. As you can see we only support JSON, byte array and string, so you could either try parsing a byte array or writing your own API.

Maybe we could also add a feature flag for transit support.

[2021-06-05 03:31] #1840 closed, assigned to nobody

[2021-06-05 04:16] #1849 closed, assigned to nobody

[2021-06-05 06:30] galax028 commented on #1892
Hey. Sorry for the late response but I uninstalled MinGW GCC and installed tdm-gcc instead. I then successfully compile `zstd` but now there is a new error when compiling `hyper`. The error is `ld.exe: cannot find -lgcc_eh`.

[2021-06-05 10:54] mq1 commented on #1911
I created this repo https://github.com/mq1/tauri-issue

[2021-06-05 11:58] lucasfernog commented on #1911
The issue doesn't happen on my end. What's the output of `tauri info`? I'd try updating the webview runtime to latest. Mine is `Webview2 - 91.0.864.41`.

[2021-06-05 11:59] lucasfernog commented on #1911
I'm closing this issue since it seems like an old Windows webview issue. Please reopen if you find something else.

[2021-06-05 12:03] mq1 opened #1953 "Reopening issue #1911"
`<select>` elements open outside the application window. When opened a second time, they open in the correct position. The problem occurs again when moving the window to a new location.

Tauri info:
[code]

[2021-06-05 12:05] mq1 commented on #1911
I reopened the issue (https://github.com/tauri-apps/tauri/issues/1953)
My Webview2 version is the same as yours

[2021-06-05 12:06] mq1 commented on #1911
Maybe we'll find other people with the same issue

[2021-06-05 12:14] lucasfernog commented on #1836
Your repo doesn't exist anymore :(

[2021-06-05 12:20] lucasfernog commented on #1813
@olup we made some changes that probably fixes this, can you try pulling latest `dev` changes and run the API example again?

[2021-06-05 12:23] lucasfernog commented on #1820
Closed by #1925

[2021-06-05 12:23] #1820 closed, assigned to nobody

[2021-06-05 12:24] lucasfernog commented on #1953
Why did you create another issue? You can just reopen the other one.

[2021-06-05 12:24] #1953 closed, assigned to nobody

[2021-06-05 12:25] mq1 commented on #1953
Sorry, I didn't know issues could be reopened

[2021-06-05 12:36] lucasfernog commented on #1015
@olegshilov is right, the API example uses that approach: https://github.com/tauri-apps/tauri/blob/6a95d7acc378b40230bab18d00ea32de40a5818c/examples/api/src/components/FileSystem.svelte#L13

[2021-06-05 12:36] #1015 closed, assigned to nobody

[2021-06-05 12:45] lucasfernog commented on #1025
We could use https://docs.rs/filedescriptor/0.8.0/filedescriptor/ here.

[2021-06-05 12:50] #775 closed, assigned to nobody

[2021-06-05 12:54] lucasfernog commented on #1192
The `net2` crate is not used anymore.

[2021-06-05 12:54] #1192 closed, assigned to nobody

[2021-06-05 12:55] lucasfernog commented on #1431
We're ignoring this since https://github.com/tauri-apps/tauri/commit/10715e63b13951d2f8315d478f0212e27d7313e7

[2021-06-05 12:55] #1431 closed, assigned to nobody

[2021-06-05 12:58] lucasfernog commented on #876
I'm closing this since we're not facing any issues with this anymore. Let me know if you still think we should do something :)

[2021-06-05 12:58] #876 closed, assigned to nobody

[2021-06-05 13:02] lucasfernog commented on #818
Closed by #1408. Check out https://tauri.studio/en/docs/api/js/modules/shell

[2021-06-05 13:02] #818 closed, assigned to nobody

[2021-06-05 13:04] lucasfernog commented on #449
We need to revisit this. Maybe tell users to go with `sh -c "script"`.

[2021-06-05 13:10] olup commented on #1813
Sorry, yes indeed i haven't had the 100% cpu thing for a little while using the dev branch. I thought I notified it on discord, but I should have closed this issue.

[2021-06-05 13:10] #1813 closed, assigned to nobody

[2021-06-05 13:32] crobibero commented on #1836
Ah I knew I was keeping the repo around for a reason! I've added it back and verified that the issue still exists.

[2021-06-05 15:24] lucasfernog commented on #1836
Seems like that's a CORS issue. The `tauri://localhost` domain is not allowed on the jellyfin server, so the console shows a `Network error` followed by	the WebKit error.

You can see the CORS error when running the following fetch call:

`fetch('https://demo.jellyfin.org/stable/System/Info/Public').then(console.log)`

[2021-06-05 15:24] #1836 closed, assigned to nobody

[2021-06-05 15:26] lucasfernog commented on #1911
Also, do you see this issue when opening the HTML on the chromium Edge?

[2021-06-05 17:06] mq1 commented on #1911
No, it works correctly

[2021-06-05 21:20] #1822 closed, assigned to nobody

[2021-06-06 00:40] lucasfernog commented on #1456
Finally done!

[2021-06-06 00:40] #1456 closed, assigned to nobody

[2021-06-06 00:51] lucasfernog commented on #1214
I just tested this on macOS and it's working as expected: the file is written to `$HOME/Library/Application Support/your.app.id/tauritestfile.txt`, where `your.app.id` is the bundle identifier defined on the `tauri.conf.json > tauri > bundler > identifier` option.

The documentation was updated, you can see this on https://tauri.studio/en/docs/api/js/modules/path#appdir and https://tauri.studio/en

[2021-06-06 00:51] #1214 closed, assigned to nobody

[2021-06-06 09:11] Heliozoa commented on #1933
I ran into the same issue by following https://tauri.studio/en/docs/get-started/intro with Ubuntu and yarn. Running `yarn add -D @tauri-apps/cli` `yarn tauri init` in a directory with nothing but the initial package.json works, but I can replicate the issue by first running `yarn set version berry` (as recommended in yarn's installation guide https://yarnpkg.com/getting-started/install).

`yarn se

[2021-06-06 11:08] intrnl opened #1959 "Precompiled binaries"
**Is your feature request related to a problem? Please describe.**
I think there's plenty of potential in Tauri, yet it's hard to get started with it, for most developers, having to set up a Rust dev environment to build Tauri seems like it'd be a hassle to do, especially for the simplest of apps.

Electron, meanwhile, lets you get started with it as simple as `npm install electron`

**Describe th

[2021-06-06 11:13] lemarier commented on #1959
Hi, thanks for your suggestion.

We do have some POC with wry.
- https://github.com/lemarier/wry_standalone (standalone/v8/deno-core)
- https://github.com/lemarier/wry_deno (with-deno)

We work to stabilize our apis and window/webview bindings.

But yes, we’ll bring this into tauri-apps toolchain, but we can’t say when.

Thanks again for your kind words.

[2021-06-06 11:13] #1959 closed, assigned to nobody

[2021-06-06 13:12] n8jadams opened #1960 "Crash on windows startup: The code execution cannot proceed because WebView2Loader.dll was not found."
**Describe the bug**
Crash on app startup on windows.
The error message says:

**The code execution cannot proceed because WebView2Loader.dll was not found. Reinstalling the program may fix this problem.**

**To Reproduce**
1. Clone https://github.com/n8jadams/tauri-typescript-react-boilerplate
2. yarn install
3. yarn build
4. Open src-tauri\target\release\app.exe or go through the process of runn

[2021-06-06 18:34] u2m4c6 commented on #849
So is the clipboard now supported on all operating systems? Definitely update the home page!!! I almost decided to stop my investigation into using Tauri until I found this issue through Google!

[2021-06-06 20:42] Kestrer opened #1961 "Don't expose phf"
Tauri currently exposes phf in its public 1.0 API, but phf is not 1.0. This violates [C-STABLE](https://rust-lang.github.io/api-guidelines/necessities.html?highlight=1.#public-dependencies-of-a-stable-crate-are-stable-c-stable).

[2021-06-06 23:33] lucasfernog commented on #1961
`phf` is only exposed in [generated code](https://github.com/tauri-apps/tauri/blob/5cba6eb4d28d53f06855d60d4d0eae6b95233ccf/core/tauri-codegen/src/embedded_assets.rs#L255) on the user crate. It should not be used directly. We will document this.

[2021-06-06 23:43] geieredgar opened #1962 "Scripts evaluation is blocked until a new event is handled"
**Describe the bug**
When JavaScript code is dispatched for evaluation, e.g. as part of the response of a Rust command invoked from the JavaScript side, the execution does not start until a new event arrives.

**To Reproduce**
Steps to reproduce the behavior:
1. Call a rust command via `invoke` and print its output via `console.log`
2. The output only appears when a new event is handled, which we

[2021-06-07 00:04] chippers commented on #1961
we should probably mark it `#[doc(hidden)]` too since that's its only purpose.  I mistakenly didn't mark it when exposing it.  While it's "breaking" it's not really a big deal since it's straight up a re-export and we didn't plan to support the re-export explicitly

[2021-06-07 02:09] lucasfernog commented on #1962
Does it still happen on Tauri dev branch? Someone reported that it was fixed.

[2021-06-07 05:31] wusyong commented on #2013
Okay, I can confirm this is because of the new control flow since it now also runs on the main loop aside with `gtk::main_iteration`.
Unfortunately, I don't think we could change the implementation. Because it is the only way to work with all control flow and many other event variants afaik.
The workaround I think could spawn a glib task (`Maincontext::spawn` or `invoke`) when calling dialog.
Sine

[2021-06-07 07:34] geieredgar commented on #1962
Unfortunately, the dev branch does not build on my local machine. The latest commit I can build is 7e160675d16b6240b1961169bd833475cb6679fd, and there it does still happen. I also couldn't find anything in the code of the current dev branch that would suggest otherwise.

[2021-06-07 08:23] FabianLars commented on #1962
Can you try it with this in your Cargo.toml? Some change in tao fixed this behaviour for me and others.
[code]

[2021-06-07 10:50] geieredgar commented on #1962
Yes, thank you, using the dev branch version of tao does indeed fix the issue, I assume because the MainEventsCleared event now makes sure that the event handler is run again after `dispatch_events`. I will close this issue and my PR, but I think it might be still worth to consider [tauri-apps/wry#289](https://github.com/tauri-apps/wry/pull/289), because using the `Dispatcher` of `wry` might cause

[2021-06-07 10:50] #1962 closed, assigned to nobody

[2021-06-08 10:56] SOVLOOKUP opened #1966 "[docs] External Binaries Path"
Docs of Embedding External Binaries outdated in https://tauri.studio/en/docs/usage/guides/bundler/sidecar:
![image](https://user-images.githubusercontent.com/53158137/121172285-1b0fe280-c88a-11eb-998d-84ca0621fee5.png)

Docs of command api 404 :
https://tauri.studio/en/docs/api/rust/tauri_api/command/fn.spawn_relative_command#function-tauri_apicommandspawn_relative_command

It seems that command a

[2021-06-08 14:33] fanninpm commented on #1934
Have you considered learning Vue.js?

[2021-06-09 08:46] fkromer commented on #1934
@fanninpm I already do 🍡

[2021-06-09 22:04] #1961 closed, assigned to nobody

[2021-06-10 07:50] olup commented on #2013
Hi, any progress on this ? Should this issue be moved to tauri repo ?

[2021-06-10 10:59] lemarier commented on #2013
Let's see what @lucasfernog has to say about that.

[2021-06-10 20:48] DBTaylor opened #1975 "Window Close Terminates Application"
When I close the application window, the application exits immediately: code after Builder::run() does not run, and managed state is not dropped.

I expect run() should complete and managed state should be dropped.

**Platform and Versions**
[code]

[2021-06-10 21:56] lucasfernog commented on #1975
.run() indeed exits the process; next release will include a run_return API.

[2021-06-10 21:56] #1975 closed, assigned to nobody

[2021-06-11 07:50] yang-dong-dong opened #1976 "error running light.exe window"
yarn tauri build

![image](https://user-images.githubusercontent.com/20069609/121650900-a24c9880-cacc-11eb-9e40-6a1f6fddfed6.png)

[2021-06-11 14:36] DBTaylor opened #1977 "Option to use external executor"
It would be nice if Builder had an run_async method that returned a future to be run on an executor and Tauri used that executor instead of its internal one. Like:
[code]
I have some managed state that needs to be initialized in an async context. Right now I block_on in setup and use App::manage, but it would be nice if I had the option to initialize pre-Tauri, await, and use Builder::manage.

[2021-06-11 14:50] DBTaylor commented on #1975
Thanks! Until then is there a good way to drop managed state? I have some read-only state T. To get it to drop now, instead of using State<T>, I use State<RwLock<Option<T>>> and write None before exiting.

[2021-06-12 03:43] q32757468 opened #1979 "could not execute process `target\debug\app.exe`"
**Describe the bug**
could not execute app whether dev or build

**To Reproduce**
Steps to reproduce the behavior:
PS E:\projects\tauri-projects\tray-test> npx tauri dev
 app:spawn Running "E:\projects\tauri-projects\tray-test\node_modules\@tauri-apps\cli\bin\tauri-cli.exe tauri dev" +0ms

   Compiling app v0.1.0 (E:\projects\tauri-projects\tray-test\src-tauri)
    Finished dev [unoptimized + debu

[2021-06-12 06:40] FabianLars commented on #1979
You need to have Microsoft Build Tools 2019 installed. iirc you also need to remove old versions (2015/2017) too (no side-by-side installs).

[2021-06-12 07:11] ravern commented on #1977
Same here. Trying to `manage` an `sqlx` connection pool but async is required to create the pool and start the connections.

I saw that in the past, `setup` actually took in an `async` closure? What changed?

[2021-06-12 11:51] q32757468 commented on #1979
it's work ,great! thanks!

[2021-06-12 11:52] q32757468 commented on #1979
@FabianLars it's work, great! thanks!

[2021-06-12 11:53] #1979 closed, assigned to nobody

[2021-06-12 22:16] gabcoh opened #1981 "[docs] Document how to create multiple commands"
There is no documentation on how to create multiple commands. I tried calling `invoke_handler` multiple times which did not work, and was only steered in the right direction by someone on the discord referencing a conversation from a month ago. Looking back, I see how it should be obvious that `tauri::generate_handler!` is a macro that takes an array, but being inexperienced in rust that did not c

[2021-06-13 09:11] ravern commented on #1977
I found this when looking through the examples. It's not exactly using an external executor, but at least it allows you to share the runtime with `tauri`. And I think it solves your problem for initialising async state as well.

https://github.com/tauri-apps/tauri/blob/c1f8e11342941b846479d73bf50cb0a328ac3574/examples/splashscreen/src-tauri/src/main.rs#L21-L39

Perhaps there could be a `tauri::asy

[2021-06-14 14:50] dumrich opened #1984 "[Question] How can I use Rust commands in Vanilla JS?"
I've never used JS before, but I am familiar with Rust. How can I use the custom Rust commands in Vanilla Javascript? I am not using any Node JS framework, just HTML/CSS/JS. I can't import anything or invoke anything.

[2021-06-14 14:55] lucasfernog commented on #1984
`window.__TAURI__.invoke('your_command_name', thePayload)`.

[2021-06-14 14:55] #1984 closed, assigned to nobody

[2021-06-14 15:03] lemarier commented on #2013
Tried to test if it can work by patching the `message` in Tauri, and I still got the same issue;
(disabling `rfd` work, so the issue comes from there)

[code]

I'll check `rfd` how they work...
Edit; they use `std::thread::spawn` into the GTK integration that causes the crash.

[2021-06-14 15:19] dumrich commented on #1984
Yep, this works!

[2021-06-14 20:26] probablykasper opened #1985 "Rendering issue when resizing window with devtools open"
This ain't right

https://user-images.githubusercontent.com/11315492/121954761-69782200-cd5f-11eb-95a6-9537265c7b3b.mp4

Reproduction repo: https://github.com/probablykasper/tauri-devtools-resize-bug

**Platform and Versions (please complete the following information):**

OS: macOS 10.15.7 x64
Node: 14.16.0
npm: 6.14.11
rustc: 1.52.1

[2021-06-15 16:21] #1981 closed, assigned to nobody

[2021-06-15 16:54] guillemcordoba opened #1986 "error while loading shared libraries: libgtksourceview-3.0.so.1: cannot open shared object file: No such file or directory"
**Describe the bug**

After I package my tauri app in an `AppImage` and try to run it in another Ubuntu, I get this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build your tauri app into an `AppImage`.
2. Download that `AppImage` to another PC that doesn't have `libgtksourceview` installed.
3. Try to run the `AppImage` in a terminal.

I've tried with both my app (it uses th

[2021-06-15 17:12] lucasfernog commented on #1986
I wonder what we should do with the whole GTK dependency tree :/

[2021-06-15 17:13] lucasfernog commented on #1986
This is the output of `ldd` on a Tauri binary:

[code]

[2021-06-15 17:17] lemarier commented on #1986
Maybe this can help;
https://github.com/philn/ephy-canary/blob/main/install-webkitgtk.sh

it's for a `Flatpak` but quite similar, it can give idea...

[2021-06-15 18:16] EduardoLopes opened #1987 "The cmd window appears when a command is ran"
**Describe the bug**
When i build and run the app, the command window flashes in the screen (as shown in the GIF) every time a command is ran. This doesn't happen if i build the app flagged as debug.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a tauri command that run a cli command using rust `Command::new`
2. Invoke the command using `import { invoke } from '@tauri-apps/api/tauri`

[2021-06-15 21:25] guillemcordoba commented on #1986
@lucasfernog do you think there is some way to include a customized list of libs inside the bundle? Custom `build.rs` perhaps?

As far as I understand it should be as easy as[ adding a `lib` folder inside the already existing `usr` folder ](https://askubuntu.com/questions/246662/how-to-package-shared-library-in-deb-packages) and package all of that.

[2021-06-15 21:55] lucasfernog commented on #1986
Yeah we can easily copy the shared libraries to the appimage, but seems like it's a little tricky for GTK.

[2021-06-15 22:00] guillemcordoba commented on #1986
Oh okey... Any possible directions to follow would be greatly appreciated :)

[2021-06-15 22:05] lucasfernog commented on #1986
We need to change something to the Tauri bundler, nothing you can do directly on the app :/

[2021-06-15 23:04] lucasfernog commented on #1976
With #1988 you can add this to your `tauri.conf.json` under the `bundle` object:

[code]

Where the language can by any value from https://docs.microsoft.com/en-us/windows/win32/msi/localizing-the-error-and-actiontext-tables

[2021-06-16 00:12] #1976 closed, assigned to nobody

[2021-06-16 00:14] lucasfernog commented on #1987
I thought you were using the tauri Command API. To use the Rust command interface, you need to set a flag to hide the console window: https://github.com/tauri-apps/tauri/blob/463fd00d06241c734994fe8e1882788dc30cc993/core/tauri/src/api/process/command.rs#L82

[2021-06-16 00:14] #1987 closed, assigned to nobody

[2021-06-16 00:14] lucasfernog commented on #1987
Alternatively, you can import `Command` from `tauri::api::process`, the API is similar to the `std` one.

[2021-06-16 01:39] EduardoLopes commented on #1987
I'm still learning Rust, so i didn't know that! And as it works as i wanted when making a debug build, i though it was related to tauri!

Thank you ✨.

[2021-06-16 02:12] #1535 closed, assigned to wusyong, lucasfernog, lemarier

[2021-06-16 04:39] rodrigomata opened #1994 "Detect idle time"
I want to know if there is a way to know if the user is afk. With electron I've used previously [Power Monitor](https://www.electronjs.org/docs/api/power-monitor), but I'm unable to see if this option exists within Tauri in the docs.

**Describe the solution you'd like**
A feature like the one provided by Electron would reach the only remaining functionality that I need to migrate from Electron to

[2021-06-16 04:47] coraunderhill opened #1995 "Can't Initialize Tauri App - Crates.io installation issue"
**Describe the bug**
Trying to run `npm run tauri init` results in the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Complete the setup process for Mac (Homebrew, GCC, Rust, etc)
2. Run `npm run tauri init` from the project directory
3. Follow on-screen prompts

**Expected behavior**
It's supposed to actually _work_

**Screenshots**

**Platform and Versions (please

[2021-06-16 09:39] arnoson opened #1997 "Add an example of how to use serialport [docs]"
I am trying to make the serial port accessible to javascript. So I need:
* a rust command that accepts a buffer or a string an sends it to the serial
* emit an event if rust recieves a serial input.

I'm using the [serialport-rs](https://gitlab.com/susurrus/serialport-rs) library but can't figure out how to make the port available in the tauri command.

I've been trying like this:
[code]
But I get

[2021-06-16 11:54] Laegel commented on #1997
Hey @arnoson !
I fear your need is a bit too specific for us and should be in a Github discussion or in our Discord, #help-triage channel, rather than in a Github issue.
Why don't you come see us there? :)
https://discord.com/invite/tauri

[2021-06-16 12:07] lucasfernog commented on #1997
Try wrapping the serialport type in a Mutex. See https://doc.rust-lang.org/nomicon/send-and-sync.html and https://users.rust-lang.org/t/solved-how-to-move-non-send-between-threads-or-an-alternative/19928

[2021-06-16 12:07] #1997 closed, assigned to nobody

[2021-06-16 12:17] lucasfernog commented on #1995
Seems like the `src-tauri` dir already existed so it didn't update the dependency version. If that's the case, you can just change `1.0.0-beta-rc.4` to `1.0.0-beta.2` (and also update the tauri-build version).

Otherwise try removing the node_modules folder and trying again, you might be running an older CLI version (that has the beta-rc template).

If that doesn't work, please reach out to our co

[2021-06-16 12:26] arnoson commented on #1997
Thanks for your quick replies! I agree it is a bit too specific and I'll ask in your Discord channel next time (and learn a bit more rust ;)

[2021-06-16 12:27] lucasfernog commented on #1994
Seems like it's quite easy to use https://crates.io/crates/user-idle/0.4.0

[2021-06-17 03:38] mxismean commented on #1886
Thanks all 🙏
The problem has been solved.

[2021-06-17 07:18] mxismean commented on #1034
axios , http url
then,
I got:
[Error] Failed to load resource: The resource could not be loaded because the App Transport Security policy requires the use of a secure connection.

[2021-06-17 07:46] mxismean opened #2002 "Failed to load resource: The resource could not be loaded because the App Transport Security policy requires the use of a secure connection."
Our project uses Vue + Vue CLI Plugin Tauri.
Server-side communication using Axios.
Because our project is used internally, all are deployed in an Intranet environment.
The interface is deployed on the Intranet.
The URL we request can only be HTTP, not HTTPS.
The development environment runs fine.
But the production environment is packaged and no data can be requested.
An error is as follows:
`Fai

[2021-06-17 07:51] mxismean commented on #2002
![image](https://user-images.githubusercontent.com/44690729/122354676-ce13c680-cf83-11eb-9cb5-2516ad6d9023.png)

[2021-06-17 07:55] mxismean commented on #2002
![image](https://user-images.githubusercontent.com/44690729/122355311-5f833880-cf84-11eb-8440-c5bd93266769.png)
The domain name is an Intranet domain, not accessible on the extranet

[2021-06-17 07:59] mxismean commented on #2002
![image](https://user-images.githubusercontent.com/44690729/122355963-ed5f2380-cf84-11eb-9493-14e09c4949ba.png)

[2021-06-17 08:01] mxismean commented on #2002
@lucasfernog

[2021-06-17 08:08] nothingismagick commented on #2002
In my opinion you shouldn't be doing any requests in the webview. You can use this JS API to do such things more safely:
https://tauri.studio/en/docs/api/js/modules/http

That said, internal networks are also prime territory for attacks, and you should always practice good hygiene and use https. Creating a self-renewing certificate with cert-bot and  let's encrypt is absolutely trivial for devs or

[2021-06-17 08:08] #2002 closed, assigned to nobody

[2021-06-17 08:13] roojay opened #2003 "Web Inspector can't capture http request"
**Describe the bug**
I want to know specific details of a http request response, but `Web Inspector` can't capture it. I tried to use tools(charles, fiddle) to capture network traffic but also failed. How can I debug it?

console
![image](https://user-images.githubusercontent.com/11495164/122354985-16cb7f80-cf84-11eb-96ba-088892a2fe83.png)

netnetwork
![image](https://user-images.githubusercontent

[2021-06-17 08:16] mxismean commented on #2002
Is it possible to add a configuration for the developer to choose

[2021-06-17 08:16] nothingismagick commented on #1034
@mxismean - your comment is not relevant to the discussion, since you are trying to send a request to a remote server that does not use any encryption. See my comment on your other issue.

[2021-06-17 08:18] nothingismagick commented on #2002
What do you mean? certbot / let's encrypt is outside of the context of tauri entirely and is something you would install on the remote http server.

[2021-06-17 08:18] mxismean commented on #2002
Since our project needs to run both in the browser and on the desktop, it is not appropriate to change the current Web project

[2021-06-17 08:19] mxismean commented on #2002
Let the developer choose whether to allow HTTP requests

[2021-06-17 08:27] nothingismagick commented on #2002
Adding a lets encrypt certificate is really trivial, and doesn't change the nature of a "Web project" - it merely adds proper security.

This is something that the rust http service (available via JS API) can do (did you look at the docs page i sent?).

That said, I want it to be clear that I absolutely oppose the idea of sending any traffic across any network that is not encrypted. It is a lazy s

[2021-06-17 08:31] mxismean commented on #2002
ok, thanks 🙏

[2021-06-17 08:33] nothingismagick commented on #2003
We need more information to triage this. How are you making the request? What is the (sanitized) url? What kind of response are you expecting?

[2021-06-17 08:42] shirakaba commented on #2003
Just as a sanity check, as these things are true outside of the context of Tauri too:

I notice that you have some filters on in the web inspector. If the request is not of XHR type, then you won’t see it.

Also, if the request was fired before the Web Inspector was opened, then it’s likely that the request won’t be seen.

[2021-06-17 09:16] nothingismagick commented on #1994
yeah, i also think this is going to be a bring your own kind of solution. i don't see us adding this to core anytime soon. it could easily become a plugin though.

[2021-06-17 09:16] #1994 closed, assigned to nobody

[2021-06-17 09:41] lemarier commented on #1570
@lucasfernog if you want i can do it, i would love to know how you see it and which option you prefer.

[2021-06-17 10:47] lucasfernog commented on #1570
I think we should go with #2, writing a plist in JSON must be weird (and prevents someone to just copy a file from stackoverflow lol).

[2021-06-17 10:59] lemarier commented on #1570
make sense lol!

gonna draft that quickly

[2021-06-17 13:40] lucasfernog commented on #2003
You're using the Tauri HTTP API. That API call is not performed by the webview, but from the Rust code. Can I access that API so that we can return the proper error message?

[2021-06-17 13:45] lucasfernog commented on #2003
I've managed to reproduce the lack of error message with a 400 response I wrote. Gonna fix it.

[2021-06-17 14:33] #2003 closed, assigned to nobody

[2021-06-18 10:35] guillemcordoba opened #2005 "Dynamic update of system tray items"
**Is your feature request related to a problem? Please describe.**

The list of items in the system tray of my tauri app depend on actions that the users takes. Eg, if a user activates a module in the app, that module should appear in the systray as a new item. I think this is probably something that a lot of projects will need.

**Describe the solution you'd like**

It would be amazing to extend

[2021-06-18 10:42] lemarier commented on #2005
Thanks for reporting,

It’ll be available in the next release.

Have a great day.

[2021-06-18 10:42] #2005 closed, assigned to nobody

[2021-06-19 00:54] kmcluckie commented on #917
This is happening to me also:

`thread 'main' panicked at 'failed to call RoInitialize: error -2147417850', C:\.....\winrt-0.4.0\src\rt\mod.rs:729:9`

I am not a desktop developer, but my uneducated investigation shows this has to do with initialising the Window Runtime, and mod.rs specifies RO_INIT_MULTITHREADED. The error code returned leads me to search results with the error message "Cannot ch