[2022-03-01 14:14] amrbashir commented on #3498
This doesn't work when `decorations` is disabled which is intended because it is hard to know the location of the custom maximize button. I think I have a way to achieve this, similar to `data-tauri-drag-region` but It will have to wait until tauri v2.

[2022-03-01 15:48] ksumarine opened #3582 "[bug] JavaScript Command.sidecar: app errors saying that sidecar not configured under tauri.conf.json when it is"
### Describe the bug

After configuring the sidecar and security in tauri.conf.json and trying to call the side car from JS using
[code]
I get an error: `sidecar not configured under 'tauri.conf.json > tauri > bundle > externalBin': my-sidecar`

### Reproduction

1. Create new tauri app
2. Configure sidecar properties in tauri.conf.json
3. Run the app and try to call the sidecar

### Expected beha

[2022-03-01 15:48] JamesYeoman commented on #3571
Wow, thanks for digging this far. Out of interest, what's the underlying CPU used by the VM? Considering my cpu is a mobile Kaby Lake architecture, that could explain the vast differences. Could you try doing a clean build of [my project](https://github.com/JamesYeoman/dsrbmm) to see if you get similar timings on your machine?

[2022-03-01 16:41] ksumarine commented on #3582
Here's my tauri.conf.json content:
[code]

[2022-03-01 16:50] decahedron1 commented on #3466
My repro is just the Tauri hello world application, but I set the window to transparent. I believe (99% sure) that this fixes my issue:

[code]

Was playing around with the Tauri vibrancy plugin and accidentally used `DWMSBT_DISABLE`, which removed the bar. I also don't see the bar when enabling acrylics.

Not sure what could be causing OP's issue though...

[2022-03-01 16:57] chippers commented on #3571
Host OS: Windows 10 Pro
Host CPU: AMD Ryzen 7 2700X 8 cores (16 logical)

I used VirtualBox, with the processor set to 2 cores (out of 16 although only 8 are select-able). Looking at it again, I also had allocated to 8GiB of RAM, which I should probably knock down to 4 the next time I test with it.
Guest OS: Windows 10 Home

The timings were just done with PowerShell, using commands like `Measure-

[2022-03-01 17:03] chippers commented on #3571
I also have an old Thinkpad T410 which has an Intel Core i5-520M 2.4GHz CPU (2 cores 4 threads) that I can do some of these tests on. I do have the storage upgraded to a SSD and additionally I believe I replaced the RAM to 8GiB. The CPU is still stock though, so it should be a good test of a CPU constrained build. I will probably stick to Linux when testing on it, but maybe if I want to feel the p

[2022-03-01 17:13] amrbashir commented on #3466
This the tauri repo not the vibrancy plugin repo so I expected all issues here are related to tauri and not the plugin. Anyways, The helloworld in this repo doesn't have this black border at all. Tested on Win11 build 22000.

[2022-03-01 17:15] decahedron1 commented on #3466
The issue *is* related to Tauri. I'm experiencing this on the Tauri default hello world example without the vibrancy plugin even installed.

[2022-03-01 17:16] ikey4u opened #3583 "[feat] Tauri should provide the power of unsafe inline javascript"
### Describe the problem

Tauri has introduced CSP (Content Security Policy) to make tauri app more security. Take an example html  below

[code]
with security section of  `tauri.conf.json` as
[code]

I have declared `unsafe-infline` both in tauri's configuration and meta in the html, it works in modern browser (let's say chrome), but it does not work in tauri with the reason `Refused to execute a

[2022-03-01 17:19] amrbashir commented on #3466
Ah I misunderstood, anyways, Since Any Win11 build other than 22000 is not stable yet, I can't investigate any issues related to it and will consider this bug doesn't exist on Windows.

I will be investigating Linux when I switch to my Linux machine since that's where OP had the issue.

[2022-03-01 17:41] varholak-peter commented on #3544
@amrbashir it's not that I need to have a `.` in the label, but the application should not crash. Instead I would expect a proper Result error to be thrown.

The API specifies a label needs to be a string. I can imagine people namespacing their labels with `.` and should get a proper error if this is impossible due to internal logic.

[2022-03-01 17:53] amrbashir commented on #3544
cc @lucasfernog

[2022-03-01 18:00] nothingismagick commented on #3583
Are you sure this isn't a typo?
[code]

the `img-src:;` bothers me

I would expect something like:
`img-src data: 'self';` perhaps.

`unsafe-inline` SHOULD work but maybe I am missing a nuance here.

[2022-03-01 18:14] nothingismagick commented on #3583
I know this, because WASM injection requires `unsafe-inline`...

[2022-03-01 18:18] FabianLars commented on #3544
create_window already _does_ return a Result which should give an error like this:

" Window label must include only alphanumeric characters, `-`, `/`, `:` and `_` "

~~Edit: opened by accident.~~ Nvm you're right, it panics.
The tokio runtime worker also panics if you create the window in javascript (not crashing the whole application). Furthermore it suggests that the creation was succesul (no e

[2022-03-01 18:23] FabianLars commented on #3583
It seems to be the specific combination of the inline `onclick` and the hashing of the inline script tags that we do.

For example, it works fine if you remove the onclick and register the listener in the inline script tag instead.

Edit: Furthermore this seems to be something we can't change without disabling the hashing.

[2022-03-01 18:50] FabianLars commented on #3582
Yep yep, that one is indeed on me, sorry for that 😅

First you need to change the name property in the shell `scope` to `"name": "bin/my-sidecar",` ("cmd" won't be required for sidecars in the next version).
Then you need to change your javascript to `const cmd = Command.sidecar("bin/my-sidecar", ["-version"]);`

[2022-03-01 19:11] jeff-hykin commented on #3189
Yeah, I use Nixpkg and 1.57.0 is the newest one I see a commit hash for at the moment

[2022-03-01 19:12] jeff-hykin commented on #3189
I did find a workaround, I just had to dig until I found that installing from the the Dec 28th 2021 commit hash on the `next` branch fixes the issue for me.

(I'm using pinned older versions of Tauri to avoid instability instead of trying to keep up with master)

[2022-03-01 19:15] nothingismagick commented on #3189
can you share the commit hash please?

[2022-03-01 19:25] jeff-hykin commented on #3189
Sure!

[code]

[2022-03-01 19:39] FabianLars commented on #3189
This version shouldn't work with tauri@rc, or at least not 100% (not to mention the 3 months of bugfixing...), if you need rc support you can install the cli from this branch: https://github.com/tauri-apps/tauri/pull/3579

[2022-03-01 21:20] ksumarine commented on #3582
Excellent, that seems to have worked. Thank you!

[2022-03-01 21:20] #3582 closed, assigned to nobody

[2022-03-02 00:23] ikey4u commented on #3583
@nothingismagick
Both
[code]
and
[code]
are correct. But they are not related with the script CSP and do not solve the problem. Maybe the idea mentioned by @FabianLars is a solution.

[2022-03-02 08:43] pwespi commented on #3583
I think you are right.

This CSP:
[code]
results in the following error in Edge:

[code]

So `unsafe-inline` is ignored if you add a hash value (which is done by Tauri as far as I understand).

[2022-03-02 08:46] d3rpp opened #3586 "[feat] Generate Typescript Declaration from Structs in Rust"
### Describe the problem

Typically, when you create a struct on the rust side, you need to declare the same struct on the typescript side using a `.d.ts` file or having a dedicated interface file. This normally isn't bad if not a little bit time consuming, though it does open up the floodgates for human error which can slow progress down significantly on larger codebases.

### Describe the soluti

[2022-03-02 08:49] nothingismagick commented on #3586
Great idea! This kind of automation is nice for those lucky enough to struggle with TS in their day-to-day work.

[2022-03-02 08:52] amrbashir commented on #3586
possibly duplicate of #1514

And tbh I don't know why should we implement this since there is already crates for it out there.

https://crates.io/crates/typescript-definitions
https://crates.io/crates/ts-rs

[2022-03-02 08:54] FabianLars commented on #3586
Yeah i think for this specific use-case it makes more sense to promote existing solutions (maybe integrate them in the docs or use them in an example).

[2022-03-02 08:57] d3rpp commented on #3586
in a sense, yes it is, and my idea is to implement the crates you listed into the build system, so when you run `tauri dev` for example, it would create the type definitions for your structs and functions in an effort to streamline development

[2022-03-02 09:39] nothingismagick commented on #3583
this is interesting:
https://stackoverflow.com/a/67602355

[2022-03-02 14:07] jmcartlamy commented on #3241
MacOS notification still not working on Release Candidate.

When we call `requestPermission()`, promise is always resolved with `denied` value. MacOS system preferences notifications do not show anything about the application.

### Platform and versions

[code]

[2022-03-02 14:25] jeff-hykin commented on #3189
Yeah like I said I'm using pinned older versions of Tauri to avoid instability.

[code]

I to plan to update everything incrementally, but only after making sure all my test cases pass.

[2022-03-02 14:52] nothingismagick commented on #3189
We don't support the beta anymore @jeff-hykin

[2022-03-02 14:55] jeff-hykin commented on #3189
Yup that's fine 👍 @nothingismagick
I don't need support, just stability.

[2022-03-02 14:58] FabianLars commented on #3189
i don't see the "stability" here tbh, but who am i to judge 🤷

Furthermore we should probably stop all that off-topic chatting 😅

P.S. does anybody know if the actual issue here is resolved on macOS? 😂

[2022-03-02 16:09] Sparkenstein opened #3591 "[feat] Allow reading any file"
### Describe the problem

I am working on an application where I need to read any file from anywhere on users directory. currently we have only fixed set of configurable scopes, so the user of my application wont be able to `select` any file.

### Describe the solution you'd like

need a way to select any file from file system. if I can only select a file from specific directory like Download or D

[2022-03-02 16:12] Worble opened #3592 "[bug] Asset protocol not configured to allow the path"
### Describe the bug

I am attempting to retrieve Icons for the users currently installed applications. I already have the icon paths (under `/usr/share/icons` and `/usr/share/pixmaps`) and I am trying to use `convertFileSrc` so they can be shown in an image, however no matter what I try I get the error `asset protocol not configured to allow the path: <path>`.

I have my allowlist set as follows:

[2022-03-02 16:18] FabianLars commented on #3591
We are working on some kind of whitelist system for user-selected paths (dialog and file-drop).
Providing a general "read all the files you want"-option most likely won't be implemented as this behavior got introduced as a result of the audit.

Furthermore you don't have these restrictions in rust which should generally be preferred for file system interactions anyway.

[2022-03-02 21:46] lucasfernog commented on #3580
It works if you set your FS scope to `["$APP", "$APP/*"]` on the tauri configuration file.

[2022-03-02 21:49] lucasfernog commented on #3522
Fixed by https://github.com/tauri-apps/tao/pull/330 (only works on x11 again :( )

Run `cargo update` on the `src-tauri` folder to get the new tao release.

[2022-03-02 21:49] #3522 closed, assigned to nobody

[2022-03-02 22:59] lucasfernog commented on #3581
We inject the CSP at runtime, reading all assets to hash JS and CSS files, and nonce other inline usages such as external scripts. So this is not really possible unless we create a Webpack/Rollup/Vite plugin.

[2022-03-02 23:24] lpturmel opened #3597 "[bug] External window does not load properly on Windows"
### Describe the bug

Creating a new window from the `AppHandle` struct with the `create_window` function results in a blank window on **Windows**.

## Example:

[code]
Results in:
![image](https://user-images.githubusercontent.com/71670411/156464430-cd699a47-3dcf-4924-a80d-c878db41c98e.png)

Calling the same function from the setup function like so creates the window successfully:
[code]

The exa

[2022-03-03 12:01] jeff-hykin commented on #3189
When I was trying RC versions I got the error that was mentioned earlier

[code]

Suggestion I found online was to install Tauri-cli directly from the latest master. That had compiler issues for me.

There was version mismatches + conflicts between tauri-utils, tauri-macros, tauri-runtime, etc (none of them were directly in my cargo file) which is why I had to pin all of them down via guess-and-ch

[2022-03-03 12:57] nothingismagick commented on #3189
@jeff-hykin - please create a new issue or discussion please, because this is really about the question if the center is fixed, or not.

We NEVER promised that beta would be stable or even work for anyone for any purpose. It was a stepping stone to get us where we are today, and now we are in the RC phase. Yes, software in alpha and beta and RC changes. That is the nature of the beast.

[2022-03-03 13:54] Sparkenstein commented on #3591
Thank you for the response, yes I might try to implement it myself in rust.

but I am failing to understand what Tauri is achieving by implementing such feature? as you mentioned it's anyway achievable with rust so from what I see `Scopes` is just making tauri developers write extra code.

tauri apps are desktop apps, they are supposed to read any file. so far my entire application works just fine

[2022-03-03 13:59] nothingismagick commented on #3591
We are working on a solution (see https://github.com/lucasfernog/tauri/commit/bcca82e2d7b4c3e5103fbef8f521d637c18d3d31) - however the security implication is that access to ANY file is very, very much a security risk, especially if you are using any code / dependency that you didn't write yourself. Giving this kind of superpower to JS should scare you. Writing rust should not scare you. :)

[2022-03-03 14:07] trgwii commented on #3591
What plans are there to mitigate the security risks involved if you are using code / dependencies that you didn't write yourself in Rust?

[2022-03-03 14:38] nothingismagick commented on #3591
You should use the isolation pattern: https://tauri.studio/docs/architecture/patterns/isolation

You should vet your dependencies with e.g. SNYK.COM or SOCKET.DEV

You should read our Security Guidelines: https://tauri.studio/docs/development/security

[2022-03-03 14:43] jeff-hykin commented on #3189
I totally support you guys on that 👍 And I agree 100% with both major breaking changes and the focus of all dev efforts on only the latest version.  Didn't mean for my comment to read like criticism about those choices. First half was supposed to be as a status update on the issue (the outcome of the recommended "install from git") , with the 2nd "stability" half as a separate thought.

My bad @no

[2022-03-03 16:09] #3580 closed, assigned to nobody

[2022-03-03 16:09] #3592 closed, assigned to lucasfernog

[2022-03-03 16:46] varholak-peter commented on #3544
Glad to see this resolved. 🎉
I didn't need a floating number as a label really, I just used a stringified `Math.random()` as a temporary measure and my app kept crashing so that's the story behind the bug. ¯\\\_(ツ)_/¯

[2022-03-03 17:23] zenghongtu opened #3604 "[feat] support disabled CORS"
### Describe the problem

I was migrating an electron project to tauri, which used a third-party API that does not support cross-domain requests, and i can be disabled using websecurity in electron, but I didn't find a configuration in tauri.

### Describe the solution you'd like

websecurity:false

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-03-03 18:03] zzzgydi opened #3605 "[feat] More event or api for updater"
### Describe the problem

I want to kill the sidecar when the app has been downloaded and is going to be installed. Because I noticed that the sidecar does not quit when the app exit.

If I write my code below. I should restart my sidecar when the installer failed. Not only that, when my sidecar is providing some kind of service, and the service has to be stopped during the app update.

[code]

If

[2022-03-03 18:38] lucasfernog commented on #3604
CORS can't be bypassed on the webviews. You can use the Rust APIs to make HTTP requests: https://tauri.studio/docs/api/js/modules/http

[2022-03-03 18:38] #3604 closed, assigned to nobody

[2022-03-03 18:42] #3591 closed, assigned to nobody

[2022-03-03 19:40] rscarson opened #3608 "[bug] app_handle.tray_handle().set_menu() does not appear to update menu item IDs, leading to a crash when new items are selected"
### Describe the bug

`app_handle.tray_handle().set_menu()` does not appear to update menu item IDs, leading to a crash when new items are selected.

Crash occurs at `tauri-1.0.0-rc.3\src\app.rs:1257:33', on unwrap() - since the ID being looked up is not in the ids HashMap

Menu appears updated, but new items to the menu cause a panic when selected

### Reproduction

Add a system tray to app:
[cod

[2022-03-03 21:22] zacbre opened #3610 "[bug] Window Size Increases When Dragging Across Monitors Of Different DPI Scale"
### Describe the bug

Window size increases when dragged between 2 monitors with different DPI settings...This does not happen when window decorations are enabled, so I'm suspecting it has something to do with compensating for the height of the titlebar in the window.

When I first startup my app, here's what it looks like (started on a 150% dpi scaled monitor):
![image](https://user-images.github

[2022-03-04 06:47] red010182 opened #3612 "[bug] sidecar: No such file or directory (os error 2)"
### Describe the bug

sidecar binary not found.

js code
[code]

file system
[code]

tauri.conf.json
[code]

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]
[code]

[2022-03-04 08:07] red010182 commented on #3612
If I move `src-tauri/bin/ffmpeg-x86_64-apple-darwin` into `src-tauri/ffmpeg-x86_64-apple-darwin` and change all `"bin/ffmpeg"` into `"ffmpeg"` in both config and js code, it works.

[2022-03-04 08:19] FabianLars commented on #3612
Try changing `cmd` in the scope config to "ffmpeg" (leave everything else as "bin/ffmpeg").

I know it says different in the docs but i think they're wrong. Furthermore you don't need to specify `cmd` for sidecars on the next release

[2022-03-04 09:55] desanvicenteg opened #3613 "El AltepeMerario GDSV"
- [https://user-images.githubusercontent.com/86469386/156741287-a3dff9dc-1d48-44da-aa0c-6a40d2bbb8a7.MOV]()

[2022-03-04 10:01] nothingismagick commented on #3591
Not sure why you felt it necessary to thumbs-down the respone to @trgwii, @Sparkenstein. If you want to persist this setting (which a user should be empowered to do - and against our security recommendations) then you can use this:

https://github.com/tauri-apps/tauri-plugin-persisted-scope

[2022-03-04 14:05] rscarson commented on #3608
thanks for the quick work @lucasfernog! Looking forward to the next RC with the patch

[2022-03-04 16:34] simmslabs opened #3614 "^1.0.0-rc.1 writeBinaryFile still writes empty file"
### Describe the bug

writeBinaryFile still writes empty file with ArrayBuffer or Blob in this version ^1.0.0-rc.1

### Reproduction
[code]
_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-03-04 16:55] JonasKruckenberg commented on #3614
Can you provide code samples and steps to reproduce this bug?

[2022-03-04 17:39] simmslabs commented on #3614
@[JonasKruckenberg](https://github.com/JonasKruckenberg), Kindly check Reproduction for sample code

[2022-03-04 18:30] zsmatrix62 opened #3615 "[feat] set_visible for tauri::SystemTrayHandle"
### Describe the problem

the need is to show/hide system tray on the fly by user's configuration for example, i just checked the doc that this feature is not implemented yet.

https://docs.rs/tauri/1.0.0-rc.3/tauri/struct.SystemTrayHandle.html

### Describe the solution you'd like

implement `set_visible` function to `tauri::SystemTrayHandle`, signature would be like:

pub fn set_visible(&self, v

[2022-03-04 19:00] #3608 closed, assigned to lucasfernog

[2022-03-04 19:23] amrbashir commented on #3615
/upstream tauri-apps/tao

[2022-03-04 20:25] Silbad commented on #3498
Thanks, ok I wait for the next release ;)

[2022-03-04 22:09] lucasfernog commented on #3614
You need to convert it to `Uint8Array` using `new Uint8Array(arraybuffer)` before sending it to the API. If you used typescript you'd catch this as our API typings does not allow ArrayBuffer to be passed to `writeBinaryFile`.

[2022-03-04 22:09] #3614 closed, assigned to nobody

[2022-03-04 22:15] lucasfernog commented on #3612
This will be fixed on the next release (you won't need to configure the `cmd` value), see #3574

For now you could just use "ffmpeg" instead of "bin/ffmpeg" for the "cmd" value and the tauri build script will move the file to the right place for development.

[2022-03-04 22:15] #3612 closed, assigned to nobody

[2022-03-04 22:19] lucasfernog commented on #3605
Let's fix the cleanup issue first :)

[2022-03-04 22:28] lucasfernog commented on #3605
Changing how the update is download and installed is more complicated, we'll have to do it on another time. It'll also need to be audited again since the updater is one of the major security risks. But at least we can fix your issue.

[2022-03-04 22:36] lucasfernog commented on #3597
Seems like it's a deadlock, changing the command to be async fixes it. I'll keep investigating.

[2022-03-04 23:07] lucasfernog commented on #3597
I've opened an issue on wry to track this issue: tauri-apps/wry#583
I'll try a different window creation approach in the meantime.

[2022-03-04 23:21] simmslabs commented on #3614
Thank you @[lucasfernog](https://github.com/lucasfernog) i will try that on my next project. I rather created a custom_command to handle that. Hope your answer helps another newbie.

[2022-03-05 00:19] #3605 closed, assigned to nobody

[2022-03-05 00:41] xuchaoqian commented on #3534
Hi friends @lucasfernog @amrbashir,  could you help me to investigate this bug? Thanks a lot.

[2022-03-05 02:30] zzzgydi commented on #3605
Thanks for your help!!!

[2022-03-05 03:58] lucasfernog commented on #3534
Sure thing, I can take a look tomorrow.

[2022-03-05 09:45] spirityy commented on #3501
always Unhandled Promise Rejection: cannot traverse directory

"allowlist": {
      "all":true,
      "fs": {
        "scope": ["$USER/**"]
      }
    },

window.__TAURI__.fs.writeFile({ path: `/Users/xxxxxx/Downloads/aa.txt` }, {})

[2022-03-05 09:51] FabianLars commented on #3501
@spirityy As said before absolute paths are currently not allowed. WIth https://github.com/tauri-apps/tauri/pull/3595 being merged this will change in the next release.

Until then you could try it like this
[code]

[2022-03-05 10:25] gardc commented on #3563
Created a pull request that fixes this issue: https://github.com/tauri-apps/tauri/pull/3570

[2022-03-05 14:13] lucasfernog commented on #3534
Seems like it's a threading issue on the event loop. There's some cases:

- creating two visible windows works
- creating two invisible windows does not work with the tao `dev` branch
- creating one invisible window works if I change `execute_in_thread` to always run `PostMessageW` (seems like it was deadlocking on the ShowWindow call on window_state.rs, maybe because it was executed directly on t

[2022-03-05 17:25] zsmatrix62 opened #3617 "[feat] add build verbose message to CLI"
### Describe the problem

By signing macOS apps today I found everything I arranged is good but the step always fails `Error running CLI: failed to bundle project: failed to sign app: failed to sign app`, I cannot see the detail of the failing reason even if I added `--verbose` at the end.

![image](https://user-images.githubusercontent.com/2951879/156893638-213fe414-5ada-4df4-b6ed-42028a4c2ef3.pn

[2022-03-05 19:14] #3617 closed, assigned to nobody

[2022-03-05 20:50] puyoxyz opened #3619 "[feat] Bundle Tauri apps as Flatpak"
### Describe the problem

According to [this page](https://tauri.studio/docs/distribution/linux), Tauri apps can only be bundled as .deb or AppImage.

### Describe the solution you'd like

An option to bundle Tauri apps as Flatpaks.

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-03-05 20:54] FabianLars commented on #3619
fwiw, flatpak and rpm support is on my todo list, but i won't start working on it until after v1 stable is released (if nobody beats me to it by then)

[2022-03-06 02:53] xuchaoqian commented on #3534
@lucasfernog  Thank you so much.

I also found a weird case.

If I change the following code
`WindowUrl::App(PathBuf::from("index.html"))`
to
` WindowUrl::External(url::Url::parse("https://www.youtube.com/watch?v=BhmXTi0X7Kg").unwrap())`

### The pages are NOT loaded successfully first:
![image](https://user-images.githubusercontent.com/1064052/156907389-4b9de1de-8ec8-439f-80d5-63643e44ea0f.png)

[2022-03-06 04:27] xuchaoqian commented on #3534
I found another weird case: it will cause the app to be Not Responding if I click the dock icon multiple times as quickly as possible during the loading process.

https://user-images.githubusercontent.com/1064052/156909160-a41ab5e7-a525-426c-a9fa-b4f0cfea0025.mov

[2022-03-06 06:46] amrbashir commented on #3534
That's a lot of bugs in one issue, I will focus on the first one then see if it solves the other two or if they aren't related.

I tracked it to this tao [commit](https://github.com/tauri-apps/tao/commit/01fc43b05ea41463d512c0e3497971edc543ac9d) and I don't know how did this go unnoticed for so long but I will look more into it today.

Edit: Since that commit is just porting winit's `new-keyboard`

[2022-03-06 13:15] #3533 closed, assigned to nobody

[2022-03-06 17:04] amrbashir commented on #3534
Hopefully fixed in https://github.com/tauri-apps/tao/pull/338. @xuchaoqian If you can, try test it by adding the following in your `Cargo.toml`.
[code]

[2022-03-06 18:05] lucasfernog commented on #3534
Typo alert: it's `tao = { git = "https://github.com/tauri-apps/tao", branch = "fix/windows/keyboard-deadlock" }` instead of `tao = { git = "https://github.com/tauri-apps/tauri", branch = "fix/windows/keyboard-deadlock" }`

[2022-03-06 18:06] DaviRain-Su opened #3621 "[bug] yarn start react template"
### Describe the bug

[code]

### Reproduction

1. select react template
2. yarn start

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-03-06 18:17] lucasfernog commented on #3534
Also you need to run `cargo run -p tao` on your example.

[2022-03-07 00:29] #3563 closed, assigned to nobody

[2022-03-07 00:29] xuchaoqian commented on #3534
Awesome! All three bugs have gone away on the tauri-examples project!
I am going to try this in our app and give the feedback here soon.

[2022-03-07 02:01] betamos opened #3625 "[docs] Clarify asyncness of events"
The events guide contains examples showing how to emit events to the backend:

[code]

Note that `emit` returns an empty promise, which is discarded here and suggests an incorrect usage of the API. I suggest that the docs should answer at least these questions:

- Can these promises be safely discarded without introducing leaks or race conditions with other events or commands? If so...
- In what c

[2022-03-07 03:15] naaive opened #3626 "[bug] can't open when i use macos installer"
### Describe the bug

<img width="299" alt="image" src="https://user-images.githubusercontent.com/73341653/156961006-11126321-b150-426b-b583-b87902baf2ce.png">

i can open app via terminal, but when i open it from spotlight, it issue a dialog as above.

i guess the reason is that the permission issue. it will travel the filesystem.

here is my tauri config
https://github.com/naaive/orange/blob/mas

[2022-03-07 05:02] red010182 commented on #3612
@FabianLars It works! Thanks.

[2022-03-07 05:40] xuchaoqian commented on #3534
I have tried this in our app, and it works just like a charm!

Thank you very much. @amrbashir @lucasfernog

[2022-03-07 05:41] #3534 closed, assigned to amrbashir

[2022-03-07 06:32] red010182 opened #3627 "[feat] Add start and terminate lifecycle hooks"
### Describe the problem

Just like setup, it is very common to do some things before app quit (like clean up or save config or kill child process).

In iOS development, Apple's framework offers a bunch of application level lifecycle hooks like: `application(_:didFinishLaunchingWithOptions:)` or `applicationWillTerminate`, which is very easy to work with.

### Describe the solution you'd like

It

[2022-03-07 07:25] red010182 opened #3628 "How to emit events in shortcut.register closure?"
Hi, I'm new to Rust. I want to do something before quit but I don't know how to use `tauri::App` in closure.

[code]

The error message is quite scaring and the solution is beyond my understanding for now:
[code]

Does anyone know how to do that?

[2022-03-07 07:36] trgwii commented on #3591
I feel like if they were only recommendations, there would be a scope for `$ROOT`. How is Rust having full FS access less of a security issue than JS having it? Is all code on crates.io audited by security professionals to not misbehave in the context of Tauri?

[2022-03-07 07:43] amrbashir commented on #3627
We already have that, check it in our example/api here https://github.com/tauri-apps/tauri/blob/5293445f08f1484639ad9f56c45aad53039ba579/examples/api/src-tauri/src/main.rs#L215-L257 .

[2022-03-07 07:43] #3627 closed, assigned to nobody

[2022-03-07 07:45] nothingismagick commented on #3626
Please update to the latest tauri RC.

[2022-03-07 07:48] amrbashir commented on #3628
your function argument should be `AppHandle` instead of `App`.
[code]

Also worth noting that you should create global shortcuts when the app is ready. Here is an example: https://github.com/tauri-apps/tauri/blob/5293445f08f1484639ad9f56c45aad53039ba579/examples/api/src-tauri/src/main.rs#L217-L227

[2022-03-07 07:48] #3628 closed, assigned to nobody

[2022-03-07 08:26] red010182 commented on #3628
@amrbashir Thanks, it works!

[2022-03-07 08:30] red010182 commented on #3627
@amrbashir Thanks for that. Didn't see this on doc.

[2022-03-07 13:06] lucasfernog commented on #3626
Try using the PathResolver an app_dir APIs instead of relying on the CWD, that might be the issue too.

[2022-03-07 13:12] nothingismagick commented on #3626
Rustc is also out of date.

[2022-03-07 16:25] alvaroblanco1 opened #3632 "Additional Build Configurations"
### Describe the problem

Hi,

I just recently started learning about Tauri in general. I have an angular app that I localize to both Spanish and English and build them both at the same time in angular. However, I have not yet seen a way to configure Tauri to allow me to build a windows version from each localized version.

Currently I have to build the html, js, css bundle of one language then bu

[2022-03-07 17:39] JonasKruckenberg commented on #3632
From a UX point of view I strongly dislike applications that force you into a specific language.
So I tend towards something like your second alternative, letting the frontend dynamically change the language.

In general it's important to note we have this on our radar, but it'll be most likely implemented in a plugin, not the core itself.

[2022-03-07 18:13] alvaroblanco1 commented on #3632
I would agree. Then the most likely option would be to have the program somehow read the locale version of the computer it is installed on and display that app version. I would just then need to figure out how to load both localized versions into Tauri due to the fact that each localized version has its own index.html.

I am unfortunately just not super familiar with Rust and would love to get int

[2022-03-07 21:24] nothingismagick commented on #3632
This is something that you can do with CI. You can even merge tauri config files to point at different dist folders etc.

[2022-03-07 21:53] alvaroblanco1 commented on #3632
Interesting. Because when I have angular compile the localized versions Tauri compiles but the program never starts.

  "build": {
    "distDir": "../dist/my-app/en",
    "devPath": "http://localhost:4200",
    "beforeDevCommand": "npm run serve",
    "beforeBuildCommand": "npm run build",
    "withGlobalTauri": true
  },

With this configuration the index.html for the US localized version is in t

[2022-03-07 22:09] amrbashir commented on #3498
tao hasn't been published yet which includes the fix for the bug. I will see if it can be published today. For now you can try the fix by adding this inside your Cargo.toml
[code]

[2022-03-07 22:48] amrbashir commented on #3498
@Silbad it is now published, run `cargo update -p tao` inside `src-tauri`

[2022-03-07 23:01] Silbad commented on #3498
oh... (-_-) ok :)

[2022-03-07 23:10] Silbad commented on #3498
Ok I update to tao v0.6.4, and I find the initial bug with the black screen (win11) :

- launch dev mod
- maximize : not ok => a flash and the window returns to its initial state
- re-maximize : ok
- minimize : ok
- clic on the icon in the taskbar to maximize : not ok => black screen. The famous.

[2022-03-08 02:19] 9ParsonsB commented on #1252
Related: #2317

[2022-03-08 03:39] xuchaoqian opened #3636 "[feat] Should NOT read .gitignore to check if tauri.conf.json exists"
### Describe the problem

We use `tauri.conf.template.json` to generate `tauri.conf.json`, and commit `tauri.conf.template.json` to the repo, but ignore `tauri.conf.json`.

Then different OS hosts will pull the code to run different build script which generates `tauri.conf.json` on demand.  It works in the earlier version of tauri , but does NOT work any more after upgrading to the latest release.

[2022-03-08 06:45] red010182 opened #3637 "[bug] How to debug with released binary?"
### Describe the bug

I have a vue based app and it is running perfectly in development but the css file was missing in released windows binary. However, it's totally perfect on released macos binary.

Does anyone experienced like this before? Or how should I debug with released binary? Is there're any way to open up a dev console in released binary?

### Reproduction

_No response_

### Expected

[2022-03-08 07:04] xuchaoqian commented on #3637
Put "devtools" flag to Cargo.toml to enable "devtools" feature in release build. Just like this:

[code]

see the [docs](https://docs.rs/tauri/1.0.0-rc.3/tauri/index.html#cargo-features)
![image](https://user-images.githubusercontent.com/1064052/157184475-a910ab3b-27f4-46c2-8543-d0a2e26dfaa6.png)

Mod Edit: code formatting

[2022-03-08 07:24] #3637 closed, assigned to nobody

[2022-03-08 08:19] amrbashir commented on #3498
@Silbad I can't reproduce this at all and I am on win11. Try creating a minimal repro and post it here and if the bug happens, try to record it.

[2022-03-08 09:06] naaive commented on #3626
CWD is the root path (`/`) when open app from spotlight.
I resolve this issue by set app data path, use lib https://crates.io/crates/directories

very thanks!

[2022-03-08 09:06] naaive commented on #3626
thanks for your response!

[2022-03-08 09:06] #3626 closed, assigned to nobody

[2022-03-08 11:10] LQS5858 opened #3639 "[bug] (node:41354) UnhandledPromiseRejectionWarning: Error: failed to run cargo: No such file or directory (os error 2)"
### Describe the bug

When I add vue-cli-plugin-tauri to an existing vue project and run npm run tauri:serve throws an error (node:41354) UnhandledPromiseRejectionWarning: Error: failed to run cargo: No such file or directory (os error 2)

### Reproduction

First:vue add tauri
Second:npm run tauri:serve

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No

[2022-03-08 11:13] FabianLars commented on #3639
Did you follow the [installation instructions](https://tauri.studio/docs/getting-started/prerequisites) for your OS?

[2022-03-08 11:13] nothingismagick commented on #3639
You still have to follow all the setup steps for your development platform. Please see this page:

https://tauri.studio/docs/getting-started/prerequisites/

[2022-03-08 11:13] #3639 closed, assigned to nobody

[2022-03-08 12:23] LQS5858 opened #3640 "[bug] error: failed to get `serde` as a dependency of package `app v0.1.0 (/Users/project)`"
### Describe the bug

When i Setting Up macOS and run npm run tauri:serve throw error error: failed to get `serde` as a dependency of package `app v0.1.0 (/Users/project)`

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-03-08 12:54] FabianLars commented on #3640
1) Please fill out "Platform and versions" like asked with the output of `tauri info`
2) Can you post your Cargo.toml? Do you have `serde` inside of that?
3) Can you see if running `cargo update` in your src-tauri dir prints any (more extensive) errors? If so, please post them too.

[2022-03-08 15:08] JamesYeoman commented on #3571
I'm glad I'm not just going insane! That's some impressive performance problem recreation there, chippers. And it just goes to show how a little bit of insight to how tools operate can be a massive boon 😄

As for the zstd improvement when it's the sole crate that is building C code, I wonder if as a stopgap solution, it's possible to use zstd without a sys crate, or at least a rust-native implemen

[2022-03-08 15:27] dgu87 opened #3642 "[bug] Updating system tray menu with invoke / tauri command -> unexpected output"
### Describe the bug

Updating the tray menu with a tauri command adds unexpected suffixes to the updated titles.

![tray1](https://user-images.githubusercontent.com/55397234/157268920-fda420da-5e58-4617-aeb6-f78f67131d3e.png)
![tray2](https://user-images.githubusercontent.com/55397234/157268948-18a90560-2a63-46b0-b4b4-b254f2a204b9.png)
![tray3](https://user-images.githubusercontent.com/55397234/1

[2022-03-08 15:29] red010182 opened #3643 "[bug] Error to bundle project in WSL2 (windows subsystem linux)"
### Describe the bug

Hi, I'm building my app in wsl2 (windows subsystem linux). It seems that the binary is built successfully but fail to bundle the install package due to the sidecar. I do have the external binary in `src-tauri/bin/ffmpeg-x86_64-unknown-linux-gnu`. I've tried use `--verbose` but didn't see any debug message.

Is it means that the `.deb` package built successfully but fail to bu

[2022-03-08 15:30] amrbashir commented on #3642
Will be fixed once https://github.com/tauri-apps/tao/pull/297 is merged and published.

[2022-03-08 15:38] FabianLars commented on #3643
Can you try `pnpm tauri build -- --verbose` or `pnpm tauri build -- -- --verbose`?
Also try upgrading your tauri dependencies there are some fixes related to sidecars and stuff in there (although mostly for Windows iirc)

[2022-03-08 15:41] red010182 commented on #3643
@FabianLars

[code]

[2022-03-08 15:42] FabianLars commented on #3642
Are you sure? Because i can't repro that issue in tao directly, only in tauri. But i could be doing it wrong, not a tao guy 🤷

[2022-03-08 15:49] amrbashir commented on #3642
Yeah I came across this issue when I was refactoring menus (see [here](https://github.com/tauri-apps/tao/blob/b0395925a1fe9f73d4b3646e622138598d5b1bc3/src/platform_impl/windows/menu.rs#L198-L201)). It was because of a missing `\0`(null character). `windows-rs` used to automatically add it but I think there was a regression in one of their recent version so I am gonna make sure it won't break again

[2022-03-08 15:56] FabianLars commented on #3642
Ahh i see, thanks.

And yes appending `\0` fixes it (on my end).
What it doesn't fix tho, is `ÄÖÜ`. These chars work fine if you create the item with it, but not in the command above. Any idea if that's auto fixed by that PR too?

[2022-03-08 18:24] amrbashir commented on #3642
Can you leave a comment there with this info so I don't forget?

 Sorry, I can't test it for another 3 weeks but the Windows portion of that PR is done so you can just check the tao PR locally and try.

[2022-03-08 19:34] moxaj opened #3645 "[bug] `create_window` panics with `RecvError`"
### Describe the bug

The exact message I see in the logs:

`thread 'main' panicked at 'called Result::unwrap() on an Err value: RecvError': [...]\tauri-runtime-wry-0.3.2\src\lib.rs:1548`

which is [here](https://github.com/tauri-apps/tauri/blob/tauri-runtime-wry-v0.3.2/core/tauri-runtime-wry/src/lib.rs#L1548). The line is: `let window_id = rx.recv().unwrap();`.

The problem is, I cannot reproduce

[2022-03-08 19:34] lucasfernog commented on #3642
Can that PR even be part of tauri v1? Probably not, so we'd need a patch specific to this issue anyway.

[2022-03-08 20:00] smw-wagnerma opened #3646 "[bug] cargo run --example streaming isn't working on Windows 10/11"
### Describe the bug

I am interrested in the tauri streaming feature, I tried the latest dev branch and run the cargo run --example streaming. The window with the video player opened, but no video is shown. It was downloaded and the mp4 file is working (verified in another video player), but playback/streaming in the tauri example seems not to work.

### Reproduction

cargo run --example streamin

[2022-03-08 20:42] amrbashir commented on #3642
It definitely can, I just couldn't put more work in it this vacation due to some IRL issues, but I should be able to finish it on my next vacation.

But yeah I agree, tao can make a patch for it until the PR is finished. I will make a quick patch for it tomorrow once I get settled, if no one beats me to it.

[2022-03-08 21:22] Hotdogishot commented on #158
It is possible to only "hide" the frame (like electron) ?

[2022-03-08 21:26] nothingismagick commented on #158
yes @Hotdogishot. see here: https://tauri.studio/docs/guides/window-customization

[2022-03-08 23:58] alvaroblanco1 opened #3647 "[bug] can't connect to tauri.localhost"
### Describe the bug

Using angular when opening a router link on the build version always gives a
This site can’t be reached; tauri.localhost refused to connect;
This does not happen on the dev version due to the fact that the dev version is not running on tauri.localhost but on http://localhost:4200.

In order for a route link to work on angular every link must lead back to index.html. I assume

[2022-03-09 02:01] LQS5858 commented on #3640
Updated

[2022-03-09 02:18] spirityy commented on #3501
@FabianLars  But the base directory was created by Dialog.open , there wan't a particular path before writeFIle

[2022-03-09 02:31] vdvman1 commented on #3501
The PR that Fabian linked too fixes exactly that issue, `Dialog.open` returns an absolute path, so wasn't usable, the PR fixes that by adding the returned path to the allowed scope automatically for you

[2022-03-09 03:41] lucasfernog commented on #3642
Tao patch: https://github.com/tauri-apps/tao/pull/340

[2022-03-09 07:15] red010182 commented on #3643
My guess was right, the deb package has already built successfully. It could be installed via `apt install vizip_0.1.0_amd64.deb`. The AppImage format is somehow unable to build.

[2022-03-09 07:20] #3642 closed, assigned to nobody

[2022-03-09 08:34] namaljayathunga opened #3650 "[docs] How do I connect pouchdb with rust"
Is there any good library to connect the pouchdb with rust?

[2022-03-09 10:43] dumblob commented on #616
I think the motivation of the question was to maintain one code base for all devices - desktop, mobile, **and** web.

Is that possible?

Does it need some shim library on the web (mimicking the Tauri API)?

Does anyone writes & maintains such shim library?

[2022-03-09 11:12] nothingismagick commented on #616
2 years ago we didn't have all the answers, and the question was phrased in a very confused manner. Please file a new issue  @dumblob specifically asking for a feature - or start a discussion. Thankyou :)

[2022-03-09 11:17] #3650 closed, assigned to nobody

[2022-03-09 11:30] moxaj opened #3654 "[bug] Window event is only received after user interaction"
### Describe the bug

Scenario: I have a transparent, hidden, always-on-top window. The backend sends an event to it, the window makes itself visible, so far so good. After some time, the backend sends another event to the window, but this event isn't received immediately, only after some user interaction with the window (a mouse click in my case suffices). Also, this is not 100% reproducible.

Ac

[2022-03-09 11:49] dumblob opened #3655 "Could tauri app run inside browsers?"
### Describe the problem

As pointed out in https://github.com/tauri-apps/tauri/issues/616 programmers want to maintain one code base for all devices - desktop, mobile, **and web**.

### Describe the solution you'd like

Write once run everywhere :wink:.

Compilation of the app shall produce a [PWA app](https://en.wikipedia.org/wiki/Progressive_web_application ) in a bundle (maybe a compressed arc

[2022-03-09 11:50] dumblob commented on #616
Done :wink:.

[2022-03-09 13:36] moxaj commented on #3654
I think I know why: the first event (after which the window shows itself) was bound to the hotkey `alt + 1`. But `alt` is also the default key to navigate the window menu on the top left (my window has no decorations, but I guess there's no way to disable this?). I'll leave it up to the maintainers to decide whether this qualifies as a bug (not receiving events while the alt menu is focused(?))

[2022-03-09 19:01] rscarson opened #3657 "Events do not propagate to JS, no errors are returned [bug]"
### Describe the bug

Events do not appear to propagate to JS - I am getting no errors on either side - the event simply never trigger

I tried sending events from the .setup callback, and from the app.run's RunEvent::Ready event

I tried the app_handle emit_all method, and the per-window events

The events example [here](https://tauri.studio/docs/guides/events) has the same issue for me - no erro

[2022-03-09 19:59] Celestialme commented on #3655
Can I get URL of my app to open in browser instead of opening webview window? This will be so handy for example when developing linux apps from windows remotely without using X11 forwarding. For now my front end framework (svelte) gives me URL but of course it is not connected to Rust to invoke command. shortly I want to open front end in browser which will be connected to Rust to invoke backend c

[2022-03-10 03:00] wangyuxiangloveyou commented on #3007
@lucasfernog tauri-plugin-localhost 可以支持程序cargo tauri build以后支持ws合http协议嘛   https://github.com/tauri-apps/tauri-plugin-localhost

[2022-03-10 03:04] xiaowang-web commented on #3007
@lucasfernog Can the Tauri plugin localhost program support WS and HTTP protocols after cargo Tauri build
https://github.com/tauri-apps/tauri-plugin-localhost

[2022-03-10 05:43] go-jar commented on #3646
It isn't working on Ubuntu either.

[2022-03-10 06:38] red010182 opened #3661 "[feat] Clean up CLI"
### Describe the problem

Is there any command that could clean up like `make clean`? The `src-tauri` takes 2.75GB in my small project. It would be better if the disk usage is small until next time I develope on it. Because you know, Macbook's disk space is always small.

### Describe the solution you'd like

[code]

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-03-10 06:44] red010182 commented on #3655
Perhaps WASM is a possible way?

[2022-03-10 07:42] tqwewe opened #3662 "[feat] Render winit subwindow within Tauri app"
### Describe the problem

I'd like to render bevy app within Tauri natively. Bevi uses winit to render apps.

### Describe the solution you'd like

Have a child winit app within my main window which can be positioned with a fixed padding of the main window.

### Alternatives considered

- Wasm canvas, though it turned out to be quite slow.
- Create the separate bevy window, set it to borderless an

[2022-03-10 07:48] red010182 commented on #3657
In my case, I successfully emit the event to a specific window
[code]

And you need to await the listen promise
[code]

[2022-03-10 08:03] JonasKruckenberg commented on #3661
Your problem is certainly valid, I just don't know if it warrants it's own subcommand.
The only action that command would perform is `rm -r src-tauri/target` something that you can do equally fast by hand.

Edit: Or if you're on windows, whatever removes the `target` directory in `src-tauri`

[2022-03-10 08:05] Silbad commented on #3498
Okay I'll do that for you. What is the best application to record the Win11 desktop? I tried win+g but it doesn't work with tauri app...

[2022-03-10 08:15] FabianLars commented on #3661
shameless plug for the built-in `cargo clean` command, which does exactly the same (although you can optionally specify profile & target)

[2022-03-10 08:26] #3661 closed, assigned to nobody

[2022-03-10 08:31] FabianLars commented on #3646
@go-jar This is expected and mentioned in the example. This should be fixed with the upcoming webkit2gtk 2.36 release.

[2022-03-10 08:37] amrbashir commented on #3655
To answer the OP question, If you want to use your codebase for web and tauri at the same time then you need to guard your tauri app apis usage. e.g.
[code]

[2022-03-10 08:37] #3655 closed, assigned to nobody

[2022-03-10 08:40] amrbashir commented on #3662
you can use `app.create_tao_window().

tao is just a fork of winit but it won't work on Linux though because, tao uses a different backend on Linux.

[2022-03-10 08:51] amrbashir commented on #3662
I don't think this is possible currently for two reasons:
1. we use `tao` which is a fork of `winit` but with a different Linux backend, so `bevy` won't work on Linux with Tauri.
2. To achieve what you need, you probably need a way to lay the webview on top of the `tao` window, and have it pass clicks to `bevy` and you probably need to control the webview transparency apart from the window itself.

[2022-03-10 08:52] #3662 closed, assigned to nobody

[2022-03-10 08:56] go-jar commented on #3646
Thanks!

[2022-03-10 08:58] amrbashir commented on #3498
use [ScreenToGif](https://www.screentogif.com)

[2022-03-10 09:08] amrbashir commented on #3647
Please provide a minimal repro or steps to reproduce with some snippets.

[2022-03-10 10:09] JonasKruckenberg commented on #3655
Or use the `@tauri-apps/api/mocks` module which is basically officially maintained "shims"

[2022-03-10 10:56] RyKilleen commented on #2589
@betamos @zzzgydi If there's a public example somewhere of `auto-launch` integrated with a Tauri app, I'd appreciate it!

[2022-03-10 11:47] #3544 closed, assigned to nobody

[2022-03-10 11:58] heniu75 opened #3663 "[bug] Spawning an app via sidecar when using angular causes many multiple web windows and app instances to launch"
### Describe the bug

Setup a project to target angular using the tauri cli. Then use the Tauri sidecar example to spawn an app in main.rs. When running 'npm run tauri dev' numerous web windows are launched and it also looks like numerous app instances are launched. The behaviour seems very similar on Mac-OS. The release build on both platforms seem unaffected by this issue.
I've create a repo to

[2022-03-10 12:58] FabianLars opened #3664 "[feat] file-drop payload in rust"
### Describe the problem

Currently you can only listen to file-drop events via the `listen` api which provides only a serialized string payload which is obviously not optimal.

### Describe the solution you'd like

Since i don't see a way to extend `listen` in a way that would allow non-serialized/string payloads my first idea was to extend `on_window_event` for this, but idk if that's possible s

[2022-03-10 13:27] tqwewe commented on #3662
@amrbashir thanks for the fast response. I've just managed to clone bevy locally and switch winit to tao quite easily with a few small code reference changes.

Now that I have bevy running in tao, could you point me in the right direction to having my bevy app running within the main tauri window?

I'd like to have bevy app placed in the center of my tauri app with empty space surrounding it for m

[2022-03-10 14:27] heniu75 commented on #3663
I think I may have found a way to resolve this by renaming the node app named 'app' to something other than 'app' as this seems to have a clash with the tauri default app name ('app'). Solution -

1.  Change main.rs to reference node-app i.e. `Command::new_sidecar("node-app")`
2. Change tauri.conf.json i.e. `externalBin": ["binaries/node-app"]`
3. Change scripts/move-binary.js line 22 i.e. `src-ta

[2022-03-10 15:06] volgar1x commented on #2647
Is there a workaround in the mean time, please?

[2022-03-10 15:19] FabianLars commented on #2647
@volgar1x As a workaround you can enable the buster repos in sources.list to get access to libappindicator3-dev (i'm not a debian user so please ask a search engine of your choice for guidance 🙏)

[2022-03-10 15:57] alvaroblanco1 commented on #3647
Yes I put together this version. You can test it out yourself. The dev build routes work fine. And each work no matter if they open using target="_blank" or by left clicking open on a new window but they do not work on the build version.

https://github.com/alvaroblanco1/angular-router-tauri

[2022-03-10 16:48] ndarilek opened #3665 "[bug] Shortcuts don't play well with HMR"
### Describe the bug

Shortcuts don't seem to update on hot module reloading, and I'm not sure if there's some recommended pattern that I'm missing. Maybe I'm supposed to manually unregister them when components recreate, but that doesn't make a lot of sense given that other state is refreshed just fine.

### Reproduction

1. Create a Svelte app (or maybe any template works but I went with Svelte)

[2022-03-10 17:12] #3663 closed, assigned to nobody

[2022-03-10 17:13] amrbashir commented on #3663
Yeah, don't use 'app' as that what tauri cli uses to trigger hot reload when rust code changes.

[2022-03-10 17:39] rscarson commented on #3657
It turned out to be a delay in JS being ready - I waited for JS to fire a ready event before sending anything

[2022-03-10 17:39] #3657 closed, assigned to nobody

[2022-03-10 18:49] rscarson opened #3666 "[bug] ClipboardManager goes out of sync in some situations"
### Describe the bug

When attempting the following workflow:
1- read the contents of the clipboard
2- send the key combination CTRL-C
3- read the contents of the clipboard

For all windows, the 2nd read contains the new text - UNLESS the current window belongs to the running tauri app. In that case, the clipboard contents get updated, but further clipboard reads still contain the same text as the

[2022-03-10 18:52] nothingismagick commented on #3666
That's juicy

[2022-03-10 18:58] rscarson commented on #3666
@nothingismagick maybe a little overly specific

If I run it more than once, the clipboard manager always contains the intended result from last time
The clipboard actually does update, I did confirm that - but clipboard reads always give answer over and over again

[2022-03-10 19:01] nothingismagick commented on #3666
It reminds me of a discussion I had with @rootmos about clipboard encryption. We would probably have to deal with it on the tao layer though...

[2022-03-10 19:37] mihirsamdarshi opened #3667 "[bug] Getting promise rejection when listening to `tauri://file-drop` event on frontend"
### Describe the bug

It seems that when listening to a `tauri://file-drop`, `tauri://file-drop-hover`, or `tauri://file-drop-cancelled` event, an `event` key is not being added to the listen function.

I am receiving an error that looks like this: `` missing field \`event\` ``

There is some kind of deserialization error happening but I am not sure where.

The `unListenFn`'s promise is being reje

[2022-03-10 19:44] amrbashir commented on #3665
That's not a good idea and since we can't detect HMR on the cli, I don't think we should put any efforts into this.

You should deal with this on your end. Maybe hook into your build tool HMR cycle and call unregister.

[2022-03-10 19:44] #3665 closed, assigned to nobody

[2022-03-10 19:53] rscarson commented on #3666
It seems to come down to the clipboard manager not detecting changes to the clipboard that occur within the lifetime of a global shortcut handler.

It updates fine between shortcut events

This only occurs while tauri is the active window

[2022-03-10 20:00] ndarilek commented on #3665
I'd appreciate an example of how to do this. I'm using the default
vite-svelte template, so presumably it's something Tauri ships.

Thanks.

[2022-03-10 20:05] amrbashir commented on #3662
I suspect you're on Windows or macOS because this shouldn't work on Linux at all, because bevy probably can't get a gl surface on Linux using tao.

Yeah, in order for this to happen you need to modify `wry` to expose apis to allow resizing the webview to a certain size and allow positioning it inside the window because currently a webview will just fill the whole window surface.

After that, you n

[2022-03-10 20:15] amrbashir commented on #3665
[code]

See https://vitejs.dev/guide/api-hmr.html#hot-on-event-cb for more info.

[2022-03-10 20:17] ndarilek commented on #3665
Awesome, looks easy enough. Thanks!

[2022-03-10 20:17] amrbashir commented on #3665
[code]

See https://vitejs.dev/guide/api-hmr.html#hot-on-event-cb for more info.
Also above snippet should be automatically tree-shaked and removed in production build.

[2022-03-10 20:17] benrogmans opened #3668 "[bug] shell.Command: in JS it's "bin/sidecar" and in rust "sidecar""
### Describe the bug

When using a sidecar in JS, you have to prefix the binary path with the directory:
[code]

While in Rust:
[code]

The expectation is that referring to sidecar binaries is be consistent. Created for @lucasfernog and @FabianLars.

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additio

[2022-03-10 20:18] amrbashir commented on #3665
Note that vite will automatically tree-shake and remove this code in production builds.

[2022-03-10 20:21] rscarson commented on #3666
I won't pretend I understand why this worked but
Wrapping the whole handler in a thread works:
[code]

Wrapping the actual reads inside the handler in threads does not help - but this way seems to work fine!

[2022-03-10 20:21] #3666 closed, assigned to nobody

[2022-03-10 21:05] albingroen opened #3669 "Failing to build Mac universal"
### Describe the bug

When I try to build a Tauri app for Mac OS Universal, I get a bunch of Rust errors in these shapes.

<img width="1493" alt="image" src="https://user-images.githubusercontent.com/19674362/157754079-0bfb3b7c-2940-4654-b23d-e8cfcbc43c34.png">

### Reproduction

[code]

### Expected behavior

The command will produce a successful build.

### Platform and versions

[code]

### Sta

[2022-03-10 21:34] barrenechea commented on #3669
Try updating the tauri dependencies? I see a mismatch on a few, and they usually should be "all in-sync".

On your package.json, you could bump those:
[code]

And on your cargo.toml, you could bump both  `tauri-build` and `tauri` from `1.0.0-rc.3` to `1.0.0-rc.4`

Give those changes a try (make sure to install the new dependencies) and retry!

[2022-03-10 21:36] lucasfernog commented on #3669
Wow seems like your rust is completely messed up, if nothing works you could `rustup self uninstall` and reinstall it again.

[2022-03-10 22:30] albingroen commented on #3669
@SebastianBar @lucasfernog I've now tried both your suggestions, but to no success. I get the same errors. After updating the dependencies do I have to run a specific command for installing the Rust ones. I ran npm install to install the new js deps.

[2022-03-10 22:42] albingroen commented on #3669
But also, even though I updated the cli dep, it still says it's outdated?
<img width="1800" alt="image" src="https://user-images.githubusercontent.com/19674362/157767207-51df1f2d-dae5-4a0e-bddf-52d5debdaf54.png">

[2022-03-10 23:20] chippers commented on #3571
It's easier to switch to brotli as changing zstd implementations would mean there needs to be a good quality rust only crate of it, which I don't believe exists. As is, it's rather encapsulated because it decompresses before handing it off to the asset handler. We can leave handing it over still compressed until later as a performance gain. I have a branch on that ThinkPad that replaces `zstd`, `b

[2022-03-11 02:15] zzzgydi commented on #2589
@RyKilleen Hi, I have used `auto-launch` on my app [clash-verge](https://github.com/zzzgydi/clash-verge), you can see the code [here](https://github.com/zzzgydi/clash-verge/blob/b2a24c7abd82f4650ec3ec873b742219169310de/src-tauri/src/core/verge.rs#L73).

[2022-03-11 02:21] cangSDARM opened #3671 "[feat] Is it possible to implement something like System.Clipboard.SetDataObject in windows' c# api?"
### Describe the problem

https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.clipboard.setdataobject?view=windowsdesktop-6.0

This api allow u to clears the Clipboard and then places nonpersistent data on it.

### Describe the solution you'd like

`app_handle.clipboard_manager().replace_clipboard_contents()` or some else

### Alternatives considered

_No response_

### Additional con

[2022-03-11 02:24] FujiiCat opened #3674 "[bug] page flickers"
### Describe the bug

When I stretch the screen size, the page flickers。Either dev or Build。

### Reproduction

1. [You can check out my Cat-Family/cat-tube repo](https://github.com/Cat-Family/cat-tube)
2. cd frontend fold
3. Install devDependencies
4. You can use build or dev

### Expected behavior

When you pull the edge of the screen to resize, the page will flicker

### Platform and versions

[2022-03-11 03:48] kaichaosun commented on #3201
It's resolved in latest release, thanks!

[2022-03-11 03:48] #3201 closed, assigned to nobody

[2022-03-11 06:08] mihirsamdarshi opened #3676 "[feat] Implement Debug for tauri::State"
### Describe the problem

I am writing an application, and I would like to add the `#[instrument]` macro from the [`tracing`](url) crate (as well as Sentry) to some of my `tauri::command`s.

However in order to do that, for some of my commands which access state, I am receiving the following error, which states that `tauri::State` does not implement `Debug`

[code]

### Describe the solution you'd

[2022-03-11 07:11] JonasKruckenberg commented on #3676
#3677

[2022-03-11 07:16] JonasKruckenberg commented on #3674
I assume you mean resizing the window? Unless you're in a VM, resizing your screen would be quite the violent activity 😉

Jokes aside, can you please provide a minimal reproduction of this issue? We're all volunteers and don't have the time to debug full blown projects.

[2022-03-11 07:42] Silbad commented on #3498
![tauri_black_screen](https://user-images.githubusercontent.com/31576982/157823686-a99d2c6e-ed06-4c5a-aa2b-aa78a246aead.gif)

[2022-03-11 07:43] Silbad commented on #3498
I update the process https://github.com/tauri-apps/tauri/issues/3498#issuecomment-1061234686

[2022-03-11 08:07] albingroen opened #3678 "Update not working"
### Describe the bug

I'm trying to set up the updater to work correctly. I've gotten to the point where I get this popup once there is a new update available. But clicking the blue button doesn't actually do anything after that.

<img width="393" alt="image" src="https://user-images.githubusercontent.com/19674362/157826970-413ae53e-4392-4aa8-ae32-d989254667a6.png">

Is there any way I can debug t

[2022-03-11 09:18] JonasKruckenberg commented on #3581
Yeah true, forgot about that nonce thingy. nvm

[2022-03-11 09:18] #3581 closed, assigned to nobody

[2022-03-11 09:20] FujiiCat commented on #3674
I'm sorry, I didn't describe the problem clearly. The project I built under windows has no problem, but the project after manajro build has this resizing the window problem. I am not using a VM.

[2022-03-11 09:23] FabianLars commented on #3674
afaik that's just webkit(gtk) not being good at resize handling. i don't think there is something we can do about that (other than changing the white background color so it's not as bad on the eyes: #1564)

[2022-03-11 09:26] FujiiCat commented on #3674
I see, thanks for your help

[2022-03-11 09:26] #3674 closed, assigned to nobody

[2022-03-11 11:33] tqwewe commented on #3662
Damn thank you for the information.
The main benefit of using tao with bevy is that I can make the UI with HTML & CSS (really customizable) and still have the native bevy viewport.

Are there any alternatives I could use? I'm familiar with iced ui library, but I think html and css are really powerful for this kind of thing.

[2022-03-11 13:29] FabianLars commented on #3662
What's wrong with bevy's UI? Sure it's not as flexible as html,css,js but at least you're not adding a performance hog to your game(?).
Ofc this doesn't matter for non-fps heavy games, so feel free to ignore my comment 👍

[2022-03-11 13:38] tqwewe commented on #3662
I'm actually looking into making a bevy editor, and exploring my options. I haven't really worked with bevy's in-built UI, I don't know how flexible it is.

[2022-03-11 13:40] FabianLars commented on #3662
Ah sorry, overlooked the editor comment 😅

Edit: But depending on what people create with your editor, slow web tech could indeed end up being problematic 🤔

[2022-03-11 13:50] tqwewe commented on #3662
I was thinking the web part wouldn't have to be integrated with bevy, it just has to communicate it. So there would be a gap in the middle where bevy would be rendered, and the sorrounding area is just normal tauri UI, which shouldn't have any concern with performance.

But as stated, the lack of linux support is quite frustrating, so I might have to just go with egui or something :/

[2022-03-11 14:56] tqwewe commented on #2127
I see this was closed with a commit, but I'm not quite clear on how to get access to the event loop still. Any ideas?

[2022-03-11 15:20] dumblob commented on #3655
Thanks for the pointer. Let me rephrase the answer:

*No, there is no such functionality nor any plans to align Tauri (down to the API level) with web.*

Is that correct?

[2022-03-11 15:43] nothingismagick commented on #3655
We understand your question, and I can tell you from firsthand experience, with a combination of clever CI and either middleware or checks like those above, you can very easily achieve what you want.

Our priority is to make desktop and mobile apps, because that is our mission.

[2022-03-11 15:43] FabianLars commented on #3655
Yea that's correct. This is the responsibility of your frontend not tauri itself. It's kinda like asking `node-fetch` to implement support for `window.fetch`. Edit: This may not be the best example, but it was the first one i came up with. Either way you get the idea.

And about the shim lib, this should be a community project instead of something official imo. (But even this library can't ever be

[2022-03-11 20:16] amrbashir commented on #3655
Tauri's api was not designed to align with web apis and was just about introducing helper functions for JS devs. There is issue [#2233](https://github.com/tauri-apps/tauri/issues/2233) where I try to reduce the gap between tauri's api and Node.js and I can't say for sure that we won't align with web apis in the future. It is just not a priority right now.

[2022-03-11 21:11] dumblob commented on #3655
I understand.

Ok, we could then discuss it from a different angle. How about significantly decreasing the pain to port a an existing full-featured complex pure-tauri desktop/mobile app to web while maintaining the desktop/mobile version fully functional?

[2022-03-11 21:29] rscarson opened #3681 "[bug] tauri://close-requested does not appear to function as documented"
### Describe the bug

According to the [documentation](https://tauri.studio/docs/api/js/modules/window/):
[code]

However, when listened on from rust, the window closes after the event fires

### Reproduction

Listen to the event:
[code]

Then close the window -

the event fires, and the window closes anyway. Global listeners have the same effect.

### Expected behavior

When event listener is reg

[2022-03-11 21:46] FabianLars commented on #3681
Well, the documentation is about the javascript api. In rust you need to use the CloseRequested event instead. Example: https://github.com/tauri-apps/tauri/blob/dev/examples/api/src-tauri/src/main.rs#L230

[2022-03-12 01:24] #3681 closed, assigned to nobody

[2022-03-12 01:28] #3676 closed, assigned to nobody

[2022-03-12 01:49] lucasfernog commented on #3671
/upstream tauri-apps/tao

[2022-03-12 01:56] lucasfernog commented on #3669
I think the problem here is trying to cross compile a M1 build on Intel mac. Might need a change on our script.

[2022-03-12 02:11] lucasfernog commented on #3668
After checking the codebase, I don't think we have a fix for this right now. We can't validate the configured sidecars on `tauri::api::process::Command::new_sidecar`, and changing how the JS API validates it really makes the configuration weaker.

[2022-03-12 02:11] #3668 closed, assigned to nobody

[2022-03-12 02:12] lucasfernog commented on #3667
Please update `@tauri-apps/api` to `1.0.0-rc.2`.

[2022-03-12 02:12] #3667 closed, assigned to nobody

[2022-03-12 02:14] lucasfernog commented on #3647
Thanks for the repro app, we'll take a look.

[2022-03-12 02:19] lucasfernog commented on #3647
Couldn't reproduce on macOS. I'll try Windows tomorrow.

[2022-03-12 02:51] lucasfernog commented on #3632
Can you share a minimal repro to this issue? I'd like to see what the dist dir looks like and what's the problem.

[2022-03-12 03:25] lucasfernog commented on #3241
We need more information on this issue. I don't see a relation between Safari as default browser and the notification not working (I just tested it and it's working ok) @ShivamJoker

@jmcartlamy can you write an example app? did you enable the notification allowlist? also if you already clicked `deny` on the permission request dialog before, you'd need to `$ rm $HOME/Library/Application\ Support/c

[2022-03-12 03:27] lucasfernog commented on #3539
We do install it on the same dir as the executable on Windows, and use the same relative path. This sounds like an issue when checking if the resource is a file or directory. I can investigate tomorrow.

[2022-03-12 05:05] albingroen commented on #3669
I'm on a M1 Mac though..?

[2022-03-12 11:09] lucasfernog commented on #3669
Ahh I was confused by the OS line. Did you run `rustup target add x86_64-apple-darwin`?

[2022-03-12 11:20] albingroen commented on #3669
Oh okay, no I haven't run that?

[2022-03-12 11:35] lucasfernog commented on #3597
PR fixing this: #3684

[2022-03-12 11:35] lucasfernog commented on #3645
PR fixing this: #3684

[2022-03-12 11:43] #3646 closed, assigned to nobody

[2022-03-12 11:45] smw-wagnerma commented on #3646
Re-Checked it on Windows 10, also not working, the tauri window with the player stays dark, cmd output:

[code]

[2022-03-12 11:48] lucasfernog commented on #3646
Just pushed the fix @smw-wagnerma

[2022-03-12 17:44] alvaroblanco1 commented on #3632
I made this repo here.

https://github.com/alvaroblanco1/localized-angular-sample

if you build the localized version with two languages in the folder en and es the tauri build does not work but not localized it does. At least on windows when I was testing.

[2022-03-12 18:47] UserVeryUnknown opened #3688 "[bug] Closing windows does not emit WindowEvent::Destroyed"
### Describe the bug

In a previous version a secondary window that I created emited the WindowEvent::Destroyed event when closed. I just upgraded to 1.0.0-rc.4 and here the event seems not being emitted.

### Reproduction

https://github.com/UserVeryUnknown/test-tauri-2win

The application consists of a main window with a button to open a second window. Once it is open there are 2 ways closing th

[2022-03-12 18:50] amrbashir commented on #3655
Isn't that the same thing as web compatible apis? Anyways, we are open to suggestions but not a priority right now. Maybe you can start a discussion with problems you encountered and possible improvements.

[2022-03-12 20:16] Septias opened #3690 "[bug] Can't build project"
### Describe the bug

I can't build my tauri project.
I used the tauri-vite template, but switched the vue-project with `vitesse` template from antfu.

### Reproduction
`git clone https://github.com/Septias/reddit_wallpapers.git`
`pnpm i`
`cargo tauri build`

### Expected behavior
It should build without errors

### Platform and versions
[code]

### Stack trace

[code]

### Additional context

_No

[2022-03-12 20:29] FabianLars commented on #3690
You need to set `category` in tauri.conf,json to a _valid_ value or null ("App" is not a valid one). We used to list them in a tooltip and in the docs, but i guess they got lost in the audit pr file conflicts.

Here is what the tooltip showed before: <https://github.com/tauri-apps/tauri/commit/62182383de59a6ead275ba8e85f010b2a0704832>

I'll leave this issue open until we re-add that comment.

[2022-03-12 20:39] Septias commented on #3690
Ah nice, thank you :)

[2022-03-12 21:41] dumblob commented on #3655
@amrbashir not at all. When porting a complex app to a new platform, you're very far from rewriting it (actually porting means "trying very hard to not rewrite anything").

Suggestion is to align Tauri's API with web APIs - e.g. by providing a maintained shim (either wrapping Tauri APIs or by providing Tauri API as wrappers over web APIs or a mixture of these two approaches).

I doubt anyone would

[2022-03-13 03:07] naca-nyan commented on #3542
[code]

works for me.

[2022-03-13 05:29] elibroftw commented on #3674
If I resize the window violently:
![image](https://user-images.githubusercontent.com/21298211/158046426-9635672e-0ea7-4756-b623-b6a487c134ea.png)

This issue is present in Edge or Chrome but barely and definitely not in Firefox.
Additionally, in both Tauri and Edge, maximizing the app makes the app invisible for a split second.
OS: Windows

[2022-03-13 05:33] elibroftw commented on #3674
Maximizing split second issue. I think it's easy to reproduce and so does not warrant a video showing the issue.
![image](https://user-images.githubusercontent.com/21298211/158046544-11ad9dc3-f294-446c-ad5c-755ea92695e7.png)

[2022-03-13 09:42] mitchpk opened #3691 "[bug] Slow and buggy `:active` effects"
### Describe the bug

In both my own Tauri project and the example project, I am noticing a delay when interacting with buttons with the mouse. Buttons with the default styling sometimes don't immediately change colour when I click down on them or they don't perform their action immediately until I move the mouse after letting go of left click.

This occurs on my laptop and desktop, both of which

[2022-03-13 13:32] moxaj opened #3692 "[bug] First run (from the installer) does not produce logs"
### Describe the bug

The last step of the windows installer has a checkbox "Launch [your app name]". If I select this and click `Finish`, the app launches, but does not produce any logs. I've tried logging with `log4rs` and `tauri-plugin-log`, both have this issue. The latter I registered as:

[code]

Any subsequent runs (from the start menu or manually with the .exe) work as expected.

### Repro

[2022-03-13 13:38] FabianLars commented on #3692
You need to update `@tauri-apps/cli`. There was a bug which caused the "Launch appname" checkbox to run the app from the `target/release` directory instead of the actuall installation dir.

[2022-03-13 13:38] #3692 closed, assigned to nobody

[2022-03-13 14:18] #3690 closed, assigned to nobody

[2022-03-13 14:20] #3636 closed, assigned to nobody

[2022-03-13 14:28] #3664 closed, assigned to nobody

[2022-03-13 14:28] #3539 closed, assigned to lucasfernog

[2022-03-13 23:04] elibroftw commented on #3241
Can I request that examples be added directly to the docs? https://tauri.studio/docs/api/js/modules/notification has 0 examples.

There should be an example with the Notification Web API and also an example using `window.__TAURI__.notification.sendNotification`

[2022-03-13 23:18] elibroftw commented on #3241
Yeah, there's no examples, and since I've never used the Notification API, I'm getting problems:

The docs say I can use `Notification`, but simply calling

`Notification.requestPermission()` in the frontend panics Tauri:
[code]

[2022-03-13 23:24] elibroftw commented on #3241
The `new Notification("Notification title", {
      body: "This is the notification body",
    });` example doesn't even work on Windows. There's no error messages either.

[2022-03-13 23:29] FabianLars commented on #3241
@elibroftw that panic is caused by an outdated tauri-runtime-wry dependency. Yours is 0.2.1, but the latest is 0.3.x. Try running `cargo update` in your src-tauri dir (probably a good idea to make sure that your dependencies in Cargo.toml are up-to-date too)

[2022-03-13 23:36] Ahm3dksa opened #3693 "[bug] I Can't use my App vuejs in Windows 7"
### Describe the bug

![‏‏لقطة الشاشة (131)](https://user-images.githubusercontent.com/14205849/158083517-f34774ca-a584-417a-8e0a-73d01bb95187.png)

I Can't use my App vuejs in Windows 7 86x

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-03-13 23:50] elibroftw commented on #3241
Is there a way for the notification permission to be true by default?

[2022-03-14 02:27] amrbashir commented on #3693
Did you build the binary for x86? try
[code]

[2022-03-14 04:37] tqwewe commented on #3662
@amrbashir I'm going down the path of trying to modify wry to manage the transparent pass manually, and attempting to resize the webview manually too.

Any pointers on where the transparency should be modified? I tried adding `.with_transparent(true)` to the window, which does make the window transparent, but the bevy render is not visible below.

I've resized the webview by cloning wry, but bevy

[2022-03-14 04:39] elibroftw opened #3694 "[bug] Slow &:active compared to browser"
### Describe the bug

Tauri window lags when elements that have an `:hover:active` style,

### Reproduction

Even though I am using React, this is a major performance bug. I think you can reproduce the issue with plain html/css though.
Suppose an element has the following style.
[code]
This means that when the users presses their mouse on the element, the element will go a bit down. When the user

[2022-03-14 04:58] elibroftw opened #3695 "[bug] Build Crashed Computer and Requires Build Deletion"
### Describe the bug

I ran `yarn rls` which calls `yarn tauri build` and my computer crashed. I highly doubt it was a coincidence since my computer usually crashes if the power goes out, and my power did not go out. This is the second time something fishy happened. Earlier today, my taskbar disappeared after I was greeted with a black screen for a good 10 seconds. Another issue is that I have two

[2022-03-14 05:18] elibroftw commented on #3695
I deleted the release target folder and this is what I got after building.
![image](https://user-images.githubusercontent.com/21298211/158109301-caf49685-b342-4aa4-a7ee-8468632f9a19.png)
tauri build is completely broken. I have no idea if this is a ReactJS build fault, but this is a serious problem!

[2022-03-14 05:23] elibroftw commented on #3695
Can confirm this is a Tauri issue because `npx serve -s build` works fine.

[2022-03-14 06:50] amrbashir commented on #3662
You should try using `wry` directly without `tauri`.

With `wry` you can already control transparency of the webview apart from the window itself. Tauri combines both window and webview transparency into one option.

Interesting, which OS?

[2022-03-14 07:26] tqwewe commented on #3662
Oh okay, I didnt of going directly with wry like that.

Yeah I managed to make the webview transparent, but couldn't see the bevy render behind. I thougnt maybe the transparency pass was clearning the bevy render.

I'm on MacOS (Intel). I'm not sure why it wouldn't be rendering bevy... I was thinking maybe tao window lacked support for it, but I was able to modify bevy_winit to use tao and the exa

[2022-03-14 07:34] amrbashir commented on #3662
I suspected that. I think the webview replaces the `NSView` of the `tao` window and that removes bevy rendering. I am not expert in macOS development so I can't really help there but I am 90% sure it would work on Windows.

[2022-03-14 07:38] tqwewe commented on #3662
Ohh interesting, I'll try to ask someone on windows to test it.

[2022-03-14 08:06] JonasKruckenberg commented on #3694
Can you paste the full `tauri info` output?

[2022-03-14 08:12] zhanglun opened #3696 "[bug] Notification API Error: thread 'main' panicked at 'This API cannot be called on the main thread"
### Describe the bug

There is a button on the page that calls the Notification API after the button is clicked.
When I click the button, app crashed, terminal message shows like

[code]

my tauri.config.json

[code]

where I use API

[code]

### Reproduction

1. run `yarn tauri dev`
2. click elements in the app window
3. app crashed

### Expected behavior

show notify message

### Platform and ve

[2022-03-14 08:16] JonasKruckenberg commented on #3695
Alright, again please paste the full output of `tauri info` that will include the OS and Tauri version by default.

That you are experiencing a broken build after your PC crashed mid-compilation doesn't surprise me. Run `cargo clean` or remove the `target` folder to remove all build artifacts.
And yes, Rust wants you to keep your build artifacts between runs. This is called incremental compilation

[2022-03-14 08:18] JonasKruckenberg commented on #3241
Not on macOS at least, because the OS will prompt the user first. I don't know enough about windows or the different linux DEs to know if they have similar checks in place.

[2022-03-14 09:45] betamos opened #3697 "[feat] Prevent device from sleeping"
### Describe the problem

Prevent the device from going to sleep.

### Describe the solution you'd like

Electron has a pretty decent API: https://www.electronjs.org/docs/latest/api/power-save-blocker

This includes the ability to enable and disable this mode dynamically at runtime.

Note that there are two modes:

1. Prevent the device from entering sleep mode (audio, downloads etc)
2. Prevent th

[2022-03-14 09:59] amrbashir commented on #3696
Please upgrade to latest rc version, beta is not supported anymore.

[2022-03-14 10:01] #3695 closed, assigned to nobody

[2022-03-14 12:12] kmcluckie opened #3698 "[feat] Notification onclick event"
### Describe the problem

I am running my Tauri app in the tray and I only want to show the UI when the user responds to a notification. I can't seem to subscribe to any notification onclick event.

### Describe the solution you'd like

I would like to be able to subscribe to a click event, like so:

[code]

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-03-14 13:22] lucasfernog commented on #3241
We do the check ourselves so there is a way around it, but you'd need to create a file yourself and save the correct information (quite some work, you shouldn't do it).

[2022-03-14 13:26] lucasfernog commented on #3695
Addtionally, please file individual issues for each problem you find instead of listing them in a single one.

[2022-03-14 13:26] lucasfernog commented on #3696
This was fixed on the RC.

[2022-03-14 13:26] #3696 closed, assigned to nobody

[2022-03-14 13:32] lucasfernog commented on #3698
Click events aren't implemented yet.

[2022-03-14 14:01] lucasfernog opened #3699 "Do not expose tauri-runtime on tauri"
### Describe the problem

The tauri-runtime crate will stay on the alpha releases while Tauri stable is released. For this reason, we cannot expose tauri-runtime (`pub use tauri_runtime as runtime`).

### Describe the solution you'd like

We need a dedicated module that only exposes what is stable for users to import).

### Alternatives considered

_No response_

### Additional context

_No respon

[2022-03-14 14:17] elibroftw commented on #3695
<details>
<summary markdown="span">Tauri Info</summary>

[code]
</details>

[2022-03-14 14:22] elibroftw commented on #3241
On Windows and Linux, I've never had to accept permissions to see notifications from an app. Therefore there shouldn't be an artificial alert box for something that is not needed on Linux and Windows.

[2022-03-14 14:22] elibroftw commented on #3694
<details>
<summary markdown="span">Tauri Info</summary>

[code]
</details>

[2022-03-14 14:33] elibroftw commented on #3695
I know it's incremental compiling, I'm saying that if there is an issue with an older file, it should be deleted. You guys probably aren't responsible for it anyways.

As for the devtools, how can I check devtools if this is a release build?

[2022-03-14 14:34] FabianLars commented on #3695
Yep yep, that's it.

Either by creating a debug build (`tauri build --debug` -> output in /target/debug/) or by enabling the `devtools` flag on the tauri dependency in Cargo.toml

[2022-03-14 14:44] elibroftw opened #3700 "[bug] Notification uses Windows Powershell"
### Describe the bug

![image](https://user-images.githubusercontent.com/21298211/158195927-143dfcaf-0545-4fff-9574-09f78a43a8f2.png)

### Reproduction

[code]

### Expected behavior

The app's icon and app's name instead of Windows Powershell. I shouldn't need to provide that myself.

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-03-14 14:45] lucasfernog commented on #3700
It only uses Powershell on dev (Windows limitation, needs an actual installed bundle id to work). It will use your app name and icon on the built application.

[2022-03-14 14:45] #3700 closed, assigned to nobody

[2022-03-14 14:49] elibroftw commented on #3695
`--debug` doesn't allow me to open devtools with F12 or Ctrl + Shift + I or with right clicking. How do I enable the devtools flag on the dependency in cargo.toml?

[2022-03-14 14:52] elibroftw commented on #3700
No it doesn't.
![image](https://user-images.githubusercontent.com/21298211/158197873-2fb1dbe1-b1c5-4404-81b8-0d1bb0e24778.png)

[2022-03-14 14:52] FabianLars commented on #3695
This is not really possible. Using `tauri dev` is pretty much the same as a debug build (in that regard), so if one works the other has to work too.

Add it to the existing `features` array, something like this
[code]

[2022-03-14 14:53] FabianLars commented on #3700
You need to install it via the .msi so that it "installs" the bundle id

[2022-03-14 15:06] elibroftw commented on #3694
This issue is not present when using pywebview which uses .NET's webview bindings.

[2022-03-14 15:39] elibroftw commented on #3695
No errors in sources or network, but under console, I see this 4 times
[code]

[2022-03-14 16:50] FabianLars commented on #3695
Enabling CSP disallows inline styles (by default): <https://tauri.app/docs/development/security/#secure-content-loading>.
In theory you'd need to add 'unsafe-inline' as the error says, but you really shouldn't do this (there's a reason it's called unsafe), also because we add nonces to the CSP config, unsafe-inline shouldn't have an effect, see parts of the discussion here: <https://github.com/tau

[2022-03-14 16:54] elibroftw commented on #3695
So what is the solution? I have 0 clue how to replace my inline styles because it is React, and 0 clue how to stop tauri from throwing a tantrum.

[2022-03-14 16:55] elibroftw commented on #3695
How can Tauri get hacked if it's supposed to be self contained? It's only possible if the users device is already compromised?

[2022-03-14 17:05] FabianLars commented on #3695
React does support CSS files too. Actually their docs recommend that too for performance reasons (kinda sad that they don't mention security stuff anywhere 🤔)

I suggest reading the `security` doc page, it hopefully answers your questions. For more i'll leave this question for the security experts (really not my field of expertise (yet?)).

[2022-03-14 17:06] elibroftw commented on #3695
Well I removed security entirely and that fixed it

[2022-03-14 17:07] FabianLars commented on #3695
That's indeed an interesting "fix" 👍

[2022-03-14 17:09] elibroftw commented on #3695
It does say in the docs "With the CSP protection enabled, using inline style attributes it not allowed." So according to CSP, its either all security or no security.

[2022-03-14 17:09] elibroftw commented on #3695
The typo is in the docs btw https://tauri.app/docs/development/security/#secure-content-loading

[2022-03-14 17:12] FabianLars commented on #3695
Yes i know that. I'm just surprised every time a dev chooses the way of least friction no matter the security "cost".

Thanks, we'll fix this.

[2022-03-14 17:20] elibroftw commented on #3695
Well, you aren't letting me know of a way to allow inline styles with CSP enables, and I chose React to reduce development time in the first place, but I'm starting to think it's causing more problems that necessary. It's not just Tauri. It's the entire dev tool system that causes havoc.

[2022-03-14 17:23] elibroftw commented on #3695
Like is `unsafe-inline` getting ignored or something?

[2022-03-14 17:33] elibroftw commented on #3695
Well it started working even with CSP. Might've changed a setting somewhere to make it work.

[2022-03-14 17:36] elibroftw commented on #3694
Fortunately, this bug is barely noticeable in a release build.

[2022-03-14 19:58] Ahm3dksa commented on #3693
I do not know what the exact problem is, I installed the program but it does not open and the previous message appears
Is it because Windows?

[2022-03-14 19:59] Ahm3dksa commented on #3693
If you have a copy of an application that works in a new way on Windows 7, please upload it

[2022-03-14 19:59] Ahm3dksa commented on #3693
If you have a copy of an application that works in a new way on Windows 7, please upload it

[2022-03-14 20:28] decahedron1 commented on #3674
Also having this issue when resizing a Tauri window, though maximizing doesn't give me any problems (Windows 11, build 22572)

https://user-images.githubusercontent.com/61946759/158254572-f4825fa4-eed3-4a55-8a02-6ad6d184d168.mp4

(above is VS Code, below is a blank Tauri app)

[2022-03-14 22:40] danimesq opened #3701 "[bug] Rust package build failing when trying "tauri dev""
### Describe the bug

Output:

[code]

Even more details:

[code]

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-03-14 23:59] lucasfernog commented on #3701
You need to install the system dependencies listed [here](https://tauri.studio/docs/getting-started/setting-up-linux/#1-system-dependencies).

[2022-03-14 23:59] #3701 closed, assigned to nobody

[2022-03-15 00:08] 9ParsonsB commented on #3478
related: #2317

[2022-03-15 14:11] adaptive-simon commented on #3498
For me setting `1.0.0-rc.4` in Cargo.toml and running `cargo update` has resolved the issue. The only problem that remains seems to be that `toggleMaximize()` only maximizes but never minimizes as would be expected from a function called "toggle".

So my solution for that problem was simply doing it "manually":
[code]

[2022-03-15 15:59] #3645 closed, assigned to lucasfernog

[2022-03-15 16:00] #3597 closed, assigned to lucasfernog

[2022-03-15 17:34] danimesq commented on #3701
Have installed `libwebkit2gtk-4.0-dev`, `build-essential`, `curl`, `wget`, `libssl-dev`, `libgtk-3-dev`, `libappindicator3-dev`, `librsvg2-dev`.
Have NOT installed `libappindicator` nor `librsvg` as they're marked as optional.

Already have NodeJS installed (although not sure if installed from official NodeJS or from nvm).

Have upgraded my old (but already installed) Rustc and Cargo.

`rustc --ve

[2022-03-15 17:45] danimesq commented on #3701
Have installed `libwebkit2gtk-4.0-dev`, `build-essential`, `curl`, `wget`, `libssl-dev`, `libgtk-3-dev`, `libappindicator3-dev`, `librsvg2-dev`.
Have NOT installed `libappindicator` nor `librsvg` as they're marked as optional.

Already have NodeJS installed (although not sure if installed from official NodeJS or from nvm).

Have upgraded my old (but already installed) Rustc and Cargo.

`rustc --ve

[2022-03-15 21:23] jolic commented on #918
Could you please paste some code how to use this?

[2022-03-15 21:24] jolic commented on #918
Could you please paste some code to see how it could be implemented?

[2022-03-15 23:02] JonasKruckenberg commented on #918
First of all, this is an old repo (2y), so many things about Tauri have changed in the meantime but the last comment before yours already has code snippets that show exactly how this can be archived. There is nothing new to add here.

[2022-03-16 02:13] customautosys commented on #1355
Is there an equivalent to this for (K)ubuntu?

[2022-03-16 08:36] ehhc commented on #918
@JonasKruckenberg i opend this issue some time ago. So -- at least for me -- it's not relevant anymore. I understand that it still might be relevant for others, but with the solution given by the comment of @WilliamVenner (https://github.com/tauri-apps/tauri/issues/918#issuecomment-840815713) it might be a good idea to close this issue. Should i do it? Or do you contributors want to do it (I'm not

[2022-03-16 08:38] JonasKruckenberg commented on #918
If this issue is solved for you then feel free to close this issue. One can always create a new issue after all.

[2022-03-16 08:42] #918 closed, assigned to nobody

[2022-03-16 09:21] yeus opened #3708 "[bug] problem using tauricon"
### Describe the bug

I am trying to use tauricon but failing. Installation seems to work fine...  I did both:

globall:

  yarn global add @tauri-apps/tauricon

and locally:

  yarn add @tauri-apps/tauricon

I can start tauricon in both cases. But getting this error message, and at the same time my mouse turns into this funny cross...
I am really not sure whats going on here?

it doesn't matter w

[2022-03-16 09:32] yeus commented on #3708
soo..  a bit more investigaten

I added this line to the top of "tauricon" (my project dir:  ./node_modeuls/.bin/tauricon):

`#!/usr/bin/env node`

and now running tauricon inside my project it works...

when I run the global version outside the project dir I m getting error messages like this:

[code]

I guess it scans my entire hoe directory? not sure if thats a good way to do this...

- there s

[2022-03-16 10:15] farfromrefug opened #3709 "[bug] notarize(xcrun) does not report errors"
### Describe the bug

If i run xcrun directly i get errors report in the output JSON.
If notarize with `tauri` i dont get the error which makes it almost impossible to discover the true error.

Tauri should report the error directly.
Also i thing it would really nice for tauri to print the `xcrun` command with args in `verbose` mode so that the user can try it himself directly and debug things

he

[2022-03-16 10:26] FabianLars commented on #3708
I didn't test it enough when i rewrote the docs and i forgot that it searches for a tauri project to save the icon to.
The first thing that comes to mind is to detect whether the command runs globally and output the icons in `./icons` instead. I'm open for suggestions.

[2022-03-16 10:39] yeus commented on #3062
I am not sure, why this is close,d but this is still a problem...  when building icons with tauricon I get this error message:

[code]

more info:

[code]

[2022-03-17 00:10] burdiyan opened #3714 "[feat] Support non-semver for auto-updater with static JSON"
### Describe the problem

After reading the docs and the code, it seems like Tauri requires to use SemVer for auto-updater (at least with the static JSON file).

It would be great if it could support other versioning schemes or be totally agnostic to it. We'd like to use some [date-based versioning scheme](https://calver.org). I believe you could still do that with server-side updated (is that tru

[2022-03-17 05:25] kfiven opened #3715 "[bug] AppImage show error on Manjaro and Debian"
### Describe the bug

When installing AppImage on **Manjaro** it shows the following errors:
![image](https://user-images.githubusercontent.com/33421343/158735718-3896f6fb-724b-4f17-9e0c-3b92c8f07e0e.png)

When installing on **Debian 11/bullseye**:
[code]

### Reproduction

* Download AppImage from https://github.com/kfiven/cinny/releases/tag/v1.8.1
* Try installing on Manjaro and Debian OS.

###

[2022-03-17 06:55] FabianLars commented on #3714
The main drawback here is that the app itself _needs_ to be major.minor.patch, numeric only, mainly (or only) because of wix. And last time I checked the msi skips the installation if the same version is already installed (did you try that already yourself? I may very well be wrong here).

[2022-03-17 07:19] FabianLars commented on #3715
Just gonna copy paste my discord message for transparency or whatever https://discord.com/channels/616186924390023171/731495028677148753/953904420813439036

[2022-03-17 07:37] kfiven commented on #3715
I have tested and getting these errors on following:
* Manjaro + GNOME
* Debian 11 + KDE

[2022-03-17 07:38] kfiven commented on #3715
Will try to check on more.

[2022-03-17 07:43] FabianLars commented on #3715
That's enough for me, thank you.

Debian + Gnome is kinda surprising tho since the os file structure should match the Ubuntu one (therefore it should find the system one since we didn't change the "search folder")

[2022-03-17 07:47] kfiven commented on #3715
You meant Debian + KDE?

[2022-03-17 07:50] FabianLars commented on #3715
Haha nevermind I can't read, sry.

That explains it then (if it's similar to other appimage problems we had). kde sometimes just doesn't have these gtk specific files and Manjaro has a different fs structure.

[2022-03-17 08:01] stephan-fischer opened #3716 "[feat] (macOS) (MAS) Security Scoped Resources via startAccessingSecurityScopedResource"
### Describe the problem

For _macOS_ it is **important** to have the functions [startAccessingSecurityScopedResource()](https://developer.apple.com/documentation/foundation/nsurl/1417051-startaccessingsecurityscopedreso) and [stopAccessingSecurityScopedResource()](https://developer.apple.com/documentation/foundation/nsurl/1413736-stopaccessingsecurityscopedresou). This is required for apps from t

[2022-03-17 10:08] gdotdesign opened #3718 "[bug] `file-drop` event fires with the same payload"
### Describe the bug

I've implemented the `file-drop` event like this (`Tauri` is `@tauri-apps/api` exposed):

[code]

The first time, it shows the path of the dragged file, but subsequent times it shows the path of the first dragged file.

### Reproduction

_No response_

### Expected behavior

The event should show the path of the most recent dropped file(s).

### Platform and versions

[code]

[2022-03-17 10:35] burdiyan commented on #3714
I haven't touched windows in more than 10 years, and know nothing about it to be honest. I just read some docs on MSI and WIX and apparently you're right:

🤦‍♂️

I also read that apparently what is important for MSI to determine if it needs to update is FileVersion not so much ProductVersion. But anyway it needs to be a number as far as I understand.

Closing this, as looks like it's not possible

[2022-03-17 10:35] #3714 closed, assigned to nobody

[2022-03-17 12:12] arkhon7 commented on #3498
The `minimize()` seems also to be a problem. It does work when you don't maximize the window, but after maximizing it, the subsequent minimize events will not work.  ```js
// this condition is valid when pressing minimize
        if (await appWindow.isMaximized()) {

            console.log('minimized the maximized window!')
            appWindow.minimize() // the program minimizes for like 1 fram

[2022-03-17 13:40] Janaka-Steph opened #3719 "[bug] `cargo tauri build` fails on MacOS M1 12.3"
### Describe the bug

`cargo tauri build` fails on MacOS M1 12.3.

[code]

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-03-17 13:44] nothingismagick commented on #3719
That's interesting and new. We have been building on Mac M1 for a while now... @lucasfernog wdyt is going on here?

[2022-03-17 13:47] nothingismagick commented on #3716
This is a great finding! Thankyou for the insight.

[2022-03-17 13:48] nothingismagick commented on #3716
We may want to consider this from an upstream perspective at TAO or WRY though...

[2022-03-17 13:59] Egeye opened #3720 "[bug] Setup error"
### Describe the bug

There is a problem with this Windows Installer package. A program run as part of the setup did not finish as expected. Contact your support personnel or package vendor.

### Reproduction

1. A demo from 【npx create-tauri-app】
2. npm run tauri:build
3. Copy 【\target\release\bundle\msi\tauri-app_0.1.0_x64_en-US.msi】 to another PC
4. Click tauri-app_0.1.0_x64_en-US.msi and try t

[2022-03-17 14:09] lucasfernog commented on #3719
It's a macOS 12.3 change, see https://github.com/create-dmg/create-dmg/issues/127
We just need to update our fork of that script.

[2022-03-17 15:10] percy507 opened #3722 "[bug] drag content, but failed drop in rich-text editor"
### Describe the bug

Hi,

In this page, there is a basic editor based on ProseMirror.

When I select some text or img node, I want to drag it into the position where I want to.

On safari browser or chrome browser, it works as expected.

But when I open it in tauri's webview, the drag not works. It can be drag, but it can't be drop.

![2022-03-17 23 02 20](https://user-images.githubusercontent.co

[2022-03-17 17:05] firstdorsal opened #3725 "[bug] Loading a video/audio as an asset does not work"
### Describe the bug

Loading a video as an asset does not work.

I followed the guide here: https://tauri.studio/docs/api/js/modules/tauri

It works fine with image files (png/jpg etc.) but not with videos.
I tried loading the video https://www.w3schools.com/html/mov_bbb.mp4 directly from the URL, and this worked without problems.
But using the `asset:///home/paul/Downloads/mov_bbb.mp4` URL this

[2022-03-17 20:03] amrbashir commented on #3498
@arkhon7 this should be fixed now, make sure to use latest version

[2022-03-17 20:12] adaptive-simon commented on #3498
Yea sorry just misphrased, you undestood me correctly.

Also I discovered that the black screen still sometimes happens, but only on one monitor for some reason. Seems more stable now at least, I'm no longer afraid of my window control buttons haha.

[2022-03-17 23:46] firstdorsal opened #3726 "[bug] Trying to create a window with a `.` in the label will not create the window neither throw an error."
### Describe the bug

Trying to create a window with a `.` in the label will not create the window neither throw an error.

[code]
This is okay but at least not stated in the docs:
https://tauri.studio/docs/api/js/classes/window.WebviewWindow#constructor

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Ad

[2022-03-18 01:57] cuizhijun opened #3727 "[feat] Do not query when field isNull"
### Describe the problem

`select * from project where type= '${type}' and status = '0'`

Do not query when type isNull

### Describe the solution you'd like

Do not query when type isNull

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-03-18 04:41] ghost opened #3728 "[feat] Arch support for tauri bundler"
### Describe the problem

Currently, tauri bundler can't make Arch packages

### Describe the solution you'd like

I would like to add support for Arch packages

### Alternatives considered

_No response_

### Additional context

I'd love to add this myself, but the contributing guide says to open an issue first

[2022-03-18 06:14] amrbashir commented on #3728
Thanks for following the contributing guide. And yeah you can make a PR for it if you want.

[2022-03-18 06:38] JonasKruckenberg commented on #3719
Still weird though, I've been using the 12.3 beta for a while now and had no issues building 🤔

[2022-03-18 06:46] JonasKruckenberg commented on #3727
I'm rather confused by this issue, did you mean do open an issue for https://github.com/tauri-apps/tauri-plugin-sql instead?
Tauri is not a SQL engine but a desktop app framework.

[2022-03-18 06:46] #3727 closed, assigned to nobody

[2022-03-18 08:47] Zhiqiang-Wu opened #3729 "[feat] Browser extension"
### Describe the problem

Redux DevTools
React Developer Tools
........

### Describe the solution you'd like

....

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-03-18 08:52] FabianLars commented on #3729
This is nothing we can control. This needs to be implemented in the webview itself, this already rules out macos and linux and last time i checked Microsoft is either working on it or only considering it.

For now you have to use the standalone dev tools. I don't know about redux, but react offers a standalone version.

[2022-03-18 08:52] #3729 closed, assigned to nobody

[2022-03-18 09:12] FabianLars commented on #3728
Just keep in mind that this will most likely won't make it into v1 since it would break the audit afaik

[2022-03-18 09:13] ghost commented on #3728
fine by me, we can make a custom solution on our end until the change is able to be merged

[2022-03-18 09:23] FabianLars commented on #3726
It does mention that it requires the label to be alphanumeric. (Tbf alphanumeric can _optionally_ include additional characters like punctuation in some definitions). This still needs to be adjusted since it's alphanumeric plus `-`, `/`, `:` and `_`.

But you're right about the error, it's supposed to throw one, just like it does in rust. #3544

[2022-03-18 09:44] FabianLars commented on #1355
@siauderman I'd recommend using github actions for this since it supports ubuntu 18.04 too and you could build for mac and windows at the same time. Alternatively we added support for [cross](https://github.com/cross-rs/cross) quite some time which should make this pretty straight forward too.

If you still want to use the docker script you need to
- Replace the first line with an ubuntu image
- r

[2022-03-18 11:46] firstdorsal commented on #3726
Oh yes you are right it is stated below but when trying to get it working everyone will read the example (like me) and try it out not reading what is stated half a page down beneath the fold.
![image](https://user-images.githubusercontent.com/10563452/158996819-bdf3e4a8-b1f2-41a7-ae9b-ba277ce03987.png)

So maybe something like this?
[code]

Thank you!

[2022-03-18 11:48] FabianLars commented on #3726
@JonasKruckenberg What do you think?
Also, i'm gonna re-add the bug label since this issue describes 2 issues (the doc and the function not returning an error)

[2022-03-18 12:01] JonasKruckenberg commented on #3726
I prefer documenting the type (class) not methods associated to it, especially for something as important as the window label it should be documented in the comment for `WebviewWindow` not it's constructor IMO.
The best example of this is wasmtime: https://docs.rs/wasmtime/latest/wasmtime/struct.Store.html where they have extensive documentation for each type and limited documentation for each met

[2022-03-18 15:47] JonasKruckenberg opened #3731 "[bug] Event naming differences"
### Describe the bug

The rust API names the resized event `WindowEvent::Resized` while  the JavaScript API calls it `tauri://resize`.
Similarly the rust API names file drop events `Dropped` `Hovered` and `Cancelled` while javascript names are present tense: `file-drop-hover`,  `file-drop` and `file-drop-cancelled`. (Notice how the last is actually a different tense too)

The naming is not horribl

[2022-03-18 15:53] JonasKruckenberg opened #3732 "[feat] File drop event enum"
### Describe the problem

I noticed file drop events:

- `tauri://file-drop`
- `tauri://file-drop-hover`
- `tauri://file-drop-cancelled`

are only exposed to rust via the string ids.

### Describe the solution you'd like

In the same spirit of other events we should expose these to Rust in a structured format (enum).

### Alternatives considered

_No response_

### Additional context

_No response

[2022-03-18 16:11] aonez commented on #3719
Maybe they've changed `bless` in the final release of 12.3 and not during the beta stages.

[2022-03-18 16:21] FabianLars commented on #3732
#3686

[2022-03-18 16:21] #3732 closed, assigned to nobody

[2022-03-18 16:29] JonasKruckenberg commented on #3732
oops, my bad! Thanks for the reminder!

[2022-03-18 16:57] #3719 closed, assigned to nobody

[2022-03-18 16:58] lucasfernog commented on #3359
I'll be implementing this today.

[2022-03-18 21:27] KarlitosVII commented on #3691
Hello,
I'm experiencing the same bug with a Tauri / Dominator app.
It seem to be a bug in the Tauri side (src-tauri) because it appeared when I migrated from `beta` to `rc` without recompiling the Web/UI/wasm side.

[2022-03-19 07:44] red010182 opened #3735 "How to play video file selected by user on webview?"
### Describe the bug

From https://tauri.studio/docs/api/js/modules/tauri/ there's `convertFileSrc` to convert file system location to url which can be used in the webview. But did `convertFileSrc` work for arbitary file system location? Or just for files allowed in `tauri.conf.json`?

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Sta

[2022-03-19 08:43] sprout2000 opened #3736 "[feat] Adding file association functionality."
### Describe the problem

At this time, I can't double-click or right-click on a file to launch an app.

### Describe the solution you'd like

I would like to be able to configure file associations via `tauri.config.json`.

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-03-19 09:02] red010182 commented on #3725
This config works for me.
[code]

---
Edit:

Don't do this. It's dangerous: https://github.com/tauri-apps/tauri/issues/3735#issuecomment-1072978250

[2022-03-19 09:04] red010182 commented on #3735
[code]

[2022-03-19 09:04] #3735 closed, assigned to nobody

[2022-03-19 09:34] farfromrefug opened #3737 "[bug] `--debug` not passed to vite config"
### Describe the bug

right now if you build with `tauri build --debug` there is no way to know on the vite config side.
This is very important because you would want to have sourcemap enable in debug production builds when you could not want then in a normal release production build

### Reproduction

run `tauri build --debug`

### Expected behavior

There should be a way to know the `--debug` op

[2022-03-19 09:40] FabianLars commented on #3737
before(Dev|Build)Commands inject multiple env vars, one of them `TAURI_DEBUG` which should be set to true in `build --debug` too: <https://tauri.studio/docs/api/config#build.beforeBuildCommand>

[2022-03-19 09:43] FabianLars commented on #3735
Yeah, you really shouldn't do this. This gives javascript access to the whole filesystem. We are already working on a fix for this btw so this "solution" will break on the next release.

On your actual question: The asset scope gets automatically expanded with **user-selected** paths (dialog & file-drop) so you shouldn't run into problems if the paths are indeed selected by the user. Alternatively

[2022-03-19 09:44] FabianLars commented on #3736
For reference and some hints: #918.

Edit: You can keep this issue open since the other one's closed without being generally resolved.

[2022-03-19 09:46] farfromrefug commented on #3737
@FabianLars awesome ! sorry for not finding this is the docs.
i ll close as soon as it tested this to work

[2022-03-19 09:57] FabianLars commented on #3725
As i said in the other issue, you shouldn't configure the scope like this (Especially since we are working on a fix).
You're better of by doing it more like this:
1) Configure it correctly and as strict as possible.
2) Use dialogs and file-drop events to dynamically extend it.
3) Use rust to manually extend the scope at runtime as a last resort.

About scope errors: It should be logged to the term

[2022-03-19 10:10] JonasKruckenberg commented on #3737
Yes please test it on your end too, but it should work. I added it specifically for conditional compilation using vite at work. We've been using it to great success ever since.

Edit: Note that for best results you need to adapt your vite config somewhat. Here's the recommended one from the upcoming new docs:
[code]

[2022-03-19 12:47] firstdorsal commented on #3725
This is not a scope issue. My scope already looks like this:
[code]
For my project this is necessary as the file explorer that i'm building requires the capability to, you know, display files :p.
Images do work via asset://, text like files and pdfs are loaded through rust but videos won't load with the assets protocol.

[2022-03-19 12:57] FabianLars commented on #3725
Ah whoops, didn't see that you were 2 different people, sorry.

[2022-03-19 13:37] stephan-fischer commented on #3716
@nothingismagick for this integration is also good to know if the app is running in the MacOS App Store (MAS).
For that you can implement a boolean maybe in process like that:

[code]

[2022-03-19 14:10] farfromrefug commented on #3737
@JonasKruckenberg awesome! thanks for config. i upgraded mine with your changes!
And i confirm it works :D

[2022-03-19 14:10] #3737 closed, assigned to nobody

[2022-03-19 22:21] pwespi opened #3738 "[bug] fullscreen true in tauri.conf.json does not work on Ubuntu"
### Describe the bug

I created a new app with `npx create-tauri-app` and only changed `fullscreen` to `true` in `tauri.conf.json`. The app opens in fullscreen on Windows and macOS, but it does not open in fullscreen on Ubuntu.

### Reproduction

1. npx create-tauri-app
2. change `fullscreen` to `true` in `tauri.conf.json`
3. npm run tauri dev
4. app opens in normal window

### Expected behavior

[2022-03-20 01:18] aiyanbo commented on #3359
@lucasfernog

And `download_url` can be an array?

https://github.com/tauri-apps/tauri/blob/next/core/tauri/src/updater/core.rs#L43

[2022-03-20 02:00] lucasfernog commented on #3359
@aiyanbo Why do you need the download url to be an array?

[2022-03-20 03:41] elibroftw opened #3740 "[feat] Remember Window Position and Size"
### Describe the problem

I open the app, maximize it, close it, and when I re-open the app, it does not remember that it was maximized.

I open the app, resize it, close it, and when I re-open the app, it does not remember the size I set.

I open the app, move the window around, close it, and when I re-open the app, the position is as if its the Windows File Explorer.

### Describe the solution y

[2022-03-20 04:51] red010182 commented on #3735
Thanks a lot. I didn't know asset scope gets automatically expanded with user-selected paths.

[2022-03-20 04:55] red010182 commented on #3725
Did you try adding media-src in csp? Add `media-src 'self' asset: https://asset.localhost` works for me.

[2022-03-20 05:35] aiyanbo commented on #3359
@lucasfernog

My app is distributed in different parts of the world and I want to use an effective CDN failback to resolve a single network failure.

[2022-03-20 05:45] amrbashir commented on #3740
use https://github.com/tauri-apps/tauri-plugin-window-state

[2022-03-20 05:45] #3740 closed, assigned to nobody

[2022-03-20 12:54] lucasfernog commented on #3359
That is already handled, the tauri.conf.json updater config is an array of urls

[2022-03-20 12:55] lucasfernog commented on #3359
Though I can see a case where you might want to return a list of URLs on the updater JSON file format if that's what you're using. Can you file a separate feature request?

[2022-03-20 16:29] percy507 commented on #3722
Ah. It seems if I disable the `fileDropEnabled` config in `tauri.conf.json` , then the rich-text can be drag and drop.

I find the doc of the [`fileDropEnabled` config](https://github.com/tauri-apps/tauri/blob/393f4b3d79b77efa388d604d5308efa67b2c9c9d/tooling/api/src/window.ts#L1247).

<img width="759" alt="image" src="https://user-images.githubusercontent.com/18365078/159172296-6e94cb49-9a49-43d9-

[2022-03-20 16:35] nothingismagick commented on #3722
Can you share a minimal reproduction repo please?

[2022-03-20 17:02] percy507 commented on #3722
Hi @nothingismagick ,

I made a test just now. And I use a fresh tauri project created by `npx create-tauri-app`.

I don't change anything but the config file `tauri.conf.json`.

- The changes:
  - set the `devPath` with value `"https://prosemirror.net/examples/basic/"`
  - set the `fileDropEnabled` with value `false`

Then you can see what I said above.

[2022-03-21 02:51] aiyanbo commented on #3359
@lucasfernog OK

[2022-03-21 03:46] ghost opened #3743 "[feat] Support for playing audio/video on linux/mac without requirng an interaction"
### Describe the problem

On linux and mac, playing audio/video requires interaction on the window

### Describe the solution you'd like

To add support to play video/audio on the app without requiring interactions

### Alternatives considered

Right now we are controling the mouse to click the top corner of the window

### Additional context

_No response_

[2022-03-21 07:00] lysdexic-audio commented on #2076
Being able to [do this ](https://www.electronjs.org/docs/latest/api/browser-view) would make me jump from Electron to Tauri immediately.

I am assuming this what the original request was about. I can't see why this was closed, actually. Please consider reopening.

[2022-03-21 07:54] FabianLars commented on #2076
@lysdexic-audio Please take a look at #2709 which is explicitly about BrowserView.

[2022-03-21 07:58] FabianLars commented on #3743
should be a duplicate of #3478, right?

[2022-03-21 14:18] #3743 closed, assigned to nobody

[2022-03-21 17:29] jmcartlamy commented on #3241
@lucasfernog After testing the example API app, I see it's working correctly. I re-tested on my project and it turns out that it works now too. The way macOS handles notifications is very particular and I must have missed the permission request dialog.

[2022-03-21 17:57] #3241 closed, assigned to nobody

[2022-03-21 18:32] ghost commented on #3478
The rust audio play isnt a good solution as I need the JS audio api for wjay it supports

[2022-03-21 23:22] firstdorsal commented on #3725
@red010182
The `default-src` already does allow assets: `default-src tauri: asset: https://asset.localhost`
I tried it anyway but it is not working. Also loading assets from the web wouldn't work if that was the problem.

[2022-03-22 02:38] naaive commented on #3715
#naaive/orange/issues/14

[2022-03-22 12:04] FabianLars commented on #3715
My findings so far:
- colorreload-gtk-module: sometimes requested by the host, not the appimage itself. To check this, look for `gtk-modules=colorreload-gtk-module` in `~/.config/gtk-3.0/settings.ini`
- window-decorations-gtk-module: the same or something similar, i think didn't find much about that and didn't come around to test on manjaro or debian myself yet (only fedora kde)
- xapp-gtk3-module

[2022-03-22 13:46] elvinaspredkelis opened #3745 "[feat] Pickup environment variables from repository"
### Describe the problem

Adding multiple environment variables can be a hassle and/or not that portable.

For example, Signing and notarizing the app for macOS requires to set quite a bit of environment variables. Can be done by setting all of it in `.zshrc`, for example, but it doesn't seem like an ideal approach. Especially when working with multiple projects with multiple people.

### Describe

[2022-03-22 15:47] kfiven commented on #3715
Don't know if it's related to these module errors but in the screenshot I shared in issue, Cinny Tauri app is fails to make requests to  homeserver so login doesn't not work. This doesn't happen on mac and windows. I don't have linux os at hand so wasn't able to debug.

[2022-03-22 16:01] FabianLars commented on #3715
Okay thanks for the heads-up. I'll try to look into it when I'm back home.
We had issues with the browser's built-in http stuff because of _other_ missing files so it wouldn't surprise me if it needs another one...
What's more fun than packaging apps on Linux 😂

[2022-03-22 16:27] Lucide opened #3747 "[bug] Everything in `@tauri-apps/api` shown as type `any`"
### Describe the bug

Everything in `@tauri-apps/api` is shown to have type `any` in vscode

### Reproduction

1. run `npx create-tauri-app`, create a Svelte project with Typescript enabled
2. import something from `@tauri-apps/api` in `App.svelte`, like:
[code]

    Everything under `appWindow` will be shown as having `any` type by VSCode's intelisense. Svelte types will be shown correctly.

[2022-03-22 20:23] Hupka opened #3751 "[feat] Allow creation of child Window for macOS"
### Describe the problem

It is possible to "bind" two windows as parent & child in most operating systems. By doing so, they share additional behavior which is currently not possible to replicate with Tauri.

Right now, the solution is partially implemented in Tauri and Tao. When looking through the Git history, it seems like maybe it was "forgotten" to extend support to at least include macOS.

[2022-03-22 21:01] FabianLars commented on #3715
Okay so i merged the [change](https://github.com/tauri-apps/linuxdeploy-plugin-gtk/pull/2) for the live test, but i'm 99% sure it doesn't break anything, because i did quite _a lot_ of testing already.

After this change i won't "fix" any appimage warnings without proof that the app actually doesn't function properly (which it did with these warnings).

That said, i will look into the connection e

[2022-03-23 07:05] toplinuxsir opened #3758 "The tauri support linux arm64 (such as raspberry pi 4?)"
### Describe the problem

The tauri support linux arm64 (such as raspberry pi 4?)

### Describe the solution you'd like

The tauri support linux arm64 (such as raspberry pi 4?)

### Alternatives considered

The tauri support linux arm64 (such as raspberry pi 4?)

### Additional context

The tauri support linux arm64 (such as raspberry pi 4?)

[2022-03-23 07:15] aohan237 opened #3759 "[feat] how to utilize current angular component with tauri on read/write files on local system?"
### Describe the problem

i use this component for image upload.

https://ng.ant.design/components/upload/en#api

and have config tauri fs  like https://tauri.studio/docs/api/js/modules/fs config said.

but when click to upload files, nothing happens. (but it works fine in browser)

when i check with developer tools, nothing error or tips shows.

how to make this happen?

### Describe the solution

[2022-03-23 07:39] #3758 closed, assigned to nobody

[2022-03-23 08:55] elvinaspredkelis opened #3761 "[bug] `invalid utf-8 sequence of 1 bytes from index 1`"
### Describe the bug

Hello,

I get `invalid utf-8 sequence of 1 bytes from index 1` error in two cases:

1. When running `tauri build`. The build process successfully finishes, however this error is shown in the logs.
2. When trying to check for/install update, I also get `Updater: Signature encoding error: invalid utf-8 sequence of 1 bytes from index 1`.

### Reproduction

I'm not really sure wh

[2022-03-23 10:12] nothingismagick commented on #3761
Can you share your repo or at least a minimum reproduction? On a total wild guess, maybe try with a different ICNS icon file...

[2022-03-23 14:08] arnaudambro commented on #2173
I use `create-react-app` which already has it's fast reload - I guess it's the same principle as Live server (is it ?) and still my app is not reloading - do you have a trick for me @vsnthdev ? 😬

[2022-03-23 14:45] almahdi commented on #3323
You need to use patchelf or use the hook, or nix-ld to patch linuxdeploy-x86_64.AppImage

I'll try to fix your shell file when I get time this weekend.

[2022-03-23 15:22] FabianLars commented on #3715
I have no idea what causes that connection error, in the devtools console it says something like "internal webkit error", which isn't really helpful, especially since doing the request manually in the devtools console works completely fine.
Furthermore i was only able to reproduce this error on ubuntu, building on other distros was fine. It's also not a cross-distro compatibility problem since the

[2022-03-23 15:22] #3715 closed, assigned to FabianLars

[2022-03-23 15:54] kfiven commented on #3715
Alright, btw just ftr `cinny: error while loading shared libraries: libOpenGL.so.0: cannot open shared object file: No such file or directory` is what I got on Ubuntu with AppImage while I was able to get app installed with .deb but no luck on http requests.

[2022-03-23 16:28] FabianLars commented on #3715
Yeah that's a driver problem though, or a wsl problem, can't remember but that file is not bundled into the appimage by design (nobody does it since it depends on the gpu driver or whatever)

Do you mean that the http requests don't work in .deb installed apps either?

[2022-03-23 16:30] #3751 closed, assigned to nobody

[2022-03-23 16:31] #3312 closed, assigned to nobody

[2022-03-23 16:31] #3359 closed, assigned to lucasfernog

[2022-03-23 16:31] kfiven commented on #3715
yeah. atleast it didn't for me on Ubuntu.

[2022-03-23 17:56] vsnthdev commented on #2173
@arnaudambro Unless manually disabled, `create-react-app` uses a technology called HMR (Hot module reloading) where only that particular component/function/element is resent through a websocket...

With the Live server VSCode extension, a JavaScript full-page refresh is triggered. Have your tried visiting http://localhost:5500 in your browser to check if reloading is working there?

[2022-03-24 00:45] joshhansen commented on #3738
I'm getting this, on Fedora 35

[2022-03-24 03:37] ssbunny commented on #3395
Thanks a lot, I'll give it a try too.

[2022-03-24 07:44] arnaudambro commented on #2604
hi @wravery @amrbashir

I'm not specialist of cookie so I don't understand the whole discussion

but I'm finding out that my app on macOS can't use cookie, it doesn't work :(
in dev and in production, same result

is it something you say it can't be fixed ? or is it something that you plan to fix on your roadmap ?

thanks for the great job anyway, I just setup my whole webapp in tauri in a couple

[2022-03-24 07:48] arnaudambro commented on #2604
oh, I didn't see [[MacOS / Linux] WebKit doesn’t set Secure cookies on localhost](https://github.com/tauri-apps/wry/issues/444)

[2022-03-24 10:16] elvinaspredkelis commented on #3761
@nothingismagick thanks for the tip!

I've regenerated the ICNS and the error went away when running `tauri build`.

I'm still getting `Updater: Signature encoding error: invalid utf-8 sequence of 1 bytes from index 1` when calling the Tauri API `checkUpdate()`.

I will try to reproduce this in a new repository because the current repo is a little "too big to share".

The minimum reproduction is k

[2022-03-24 11:03] nothingismagick commented on #3761
ok, we are finalizing some stuff on the updater - so maybe try with latest dev branch instead of the release ?

[2022-03-24 11:04] peterroe opened #3769 "This version of %1 is not compatible with the version of Windows you are running"
### Describe the bug

I run `npx vue-cli-service tauri:serve`, and error happend：

[code]

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-03-24 11:06] FabianLars commented on #3769
You need Visual Studio Build Tools Version 2019 or 2022. 2017 doesn't work at all (side-by-side installations may cause problems too)

[2022-03-24 11:06] #3769 closed, assigned to nobody

[2022-03-24 11:08] peterroe commented on #3769
Thank you, I will try it.

[2022-03-24 17:42] FabianLars commented on #3699
#3749

[2022-03-24 17:42] #3699 closed, assigned to nobody

[2022-03-24 18:37] arnaudambro commented on #2173
actually it works good now ! I tried a few times before sending this message, not working, but today everything works like a charm... thanks !

[2022-03-24 19:35] JonasKruckenberg commented on #3726
@lucasfernog

[2022-03-24 19:43] JonasKruckenberg commented on #3726
As the [documentation](https://tauri.studio/docs/api/js/classes/window.WebviewWindow) mentions, errors are emitted as the `tauri://error` event and I can confirm it actually returns the proper error there.

[2022-03-24 19:43] #3726 closed, assigned to JonasKruckenberg

[2022-03-24 20:13] FabianLars commented on #3726
Honestly don't know how to feel about that 🤔

[2022-03-24 20:46] FabianLars commented on #1911
This was fixed in webview2 directly a few months ago. There is still an issue with _opened_ dialogs not moving with the window.

[2022-03-24 20:46] #1911 closed, assigned to nobody

[2022-03-24 22:43] #3747 closed, assigned to nobody

[2022-03-24 22:47] lucasfernog commented on #3726
It uses the event because we use the constructor of the WebviewWindow class, which cannot return a promise obviously.

We could either use a static method instead of the constructor:

[code]

or assign the promise on the WebviewWindow constructor to let the user await it:
[code]

First one is better but I really like the constructor usage, it makes more sense and it feels natural to JS developers.

[2022-03-24 22:49] FabianLars commented on #3726
Ahh oh my god I forgot that we're talking about a constructor, nvm then...

Edit: therefore I prefer the current way too

[2022-03-25 02:45] probablykasper commented on #3189
I'm not able to reproduce this, so closing for now. Feel free to open a new issue if you experience it again

[2022-03-25 02:45] #3189 closed, assigned to nobody

[2022-03-25 03:00] probablykasper commented on #3654
Maybe related to https://github.com/tauri-apps/tauri/issues/2543

[2022-03-25 06:23] JonasKruckenberg commented on #3726
Tbh I think the constructor + events approach makes a lot of sense to JS folks.
The events should just not be prefixed 🤔

[2022-03-25 10:25] elvinaspredkelis commented on #3761
@nothingismagick unfortunately it hasn't fixed the issue.

The error is now `Signature encoding error: invalid utf-8 sequence of 1 bytes from index 1`, lost the `Updater: `  part but that's probably insignificant.

[2022-03-25 10:27] nothingismagick commented on #3761
ok, pinging @lucasfernog because he has been working on the updater. The better error message is now a bit more helpful. what code editor are you using, what encoding are you using?

[2022-03-25 10:46] elvinaspredkelis commented on #3761
Thanks!

I'm using VSCode and I'm not entirely sure what encoding I'm using. I haven't been touching the encoding in any way on purpose, so I'm guessing `utf-8`.

Also, were there any differences between the v1 release contenders and the versions before when it comes to encoding? If so, I could have overlooked something when updating.

As for the updater, I'm strictly following the docs (https://t

[2022-03-25 12:38] lucasfernog commented on #3761
Did you set up the pubkey properly on tauri.conf.json? And also the TAURI_PRIVATE_KEY variable.
I'll see if invalid values can end up with that error.

[2022-03-25 12:52] lucasfernog commented on #3761
Seems like your public key might be wrong. It must have exactly 152 characters.

This is an example output of `tauri signer generate`:

[code]

In this case, you must set `dW50cnVzdGVkIGNvbW1lbnQ6IG1pbmlzaWduIHB1YmxpYyBrZXk6IDU4QzE1MzE1MDBGNjREMjEKUldRaFRmWUFGVlBCV0szOXZPRjZ5NzhuZEd4UGRXT3ltalhQNy9Xb09UU05xZEVEbS8zdDNkY00K` to the `pubkey` field of the updater object on `tauri.conf.json` and `dW50

[2022-03-25 13:55] schickling opened #3776 "[feat] Pressing `Cmd + Option + i` should open dev tools during development"
### Describe the problem

During development I frequently need access to the devtools. This should be made easier via the common browser keyboard shortcut `Cmd + Option + i`.

### Describe the solution you'd like

Pressing `Cmd + Option + i` should open dev tools during development

### Alternatives considered

_No response_

### Additional context

https://github.com/tauri-apps/tauri/issues/1213

[2022-03-25 15:00] JamesYeoman commented on #3571
Ok, so an update on the situation: Chip is a literal god, pulling a full 20% performance increase with https://github.com/tauri-apps/tauri/pull/3773 🎉

There ended up being literally no crates that take longer than 20 seconds to compile, so I had to reduce the min unit time slider to 15 seconds
![image](https://user-images.githubusercontent.com/21042602/160144447-54d26e40-fb18-4ea5-8bc5-9652a5bea3

[2022-03-25 16:25] chippers commented on #3571
The `tauri-utils` building twice is probably due to it building inside a proc-macro crate along with non proc-macro dependencies. A little strange since the codegen features are a strict subset of the non-one, but I recall this being a difference in the new cargo resolution where it allows different copies for build deps vs deps. Maybe we can find a way to share it again.

[2022-03-25 21:23] lucasfernog commented on #3738
This is a `tao` issue, the patch is here: https://github.com/tauri-apps/tao/pull/348
It will be part of the next release. Thanks for the report!

[2022-03-25 21:23] #3738 closed, assigned to nobody

[2022-03-25 21:28] lucasfernog commented on #3718
I can't reproduce this. Can you write a minimal example @gdotdesign ?

[2022-03-25 21:38] lucasfernog commented on #3647
If I understood correctly, your problem is that you want to open your build content in the browser and it's failing right? If that's the case, it's indeed the correct behavior, your application assets are only visible to the app webview itself for security reasons. On dev this works because the development server is external (generated by Angular) and visible to the entire OS.

If you need to open

[2022-03-25 21:38] #3647 closed, assigned to nobody

[2022-03-25 22:39] lucasfernog commented on #3688
First step for the fix: https://github.com/tauri-apps/tao/pull/349

I'll open the Tauri PR in a bit.

[2022-03-25 23:21] lucasfernog commented on #3688
Also https://github.com/tauri-apps/tao/pull/350 is needed for this.

[2022-03-25 23:37] lucasfernog commented on #3678
I'll test using your updater server if it's still running :)

[2022-03-25 23:49] lucasfernog commented on #3678
It's returning a `MissingUpdaterSignature` error. When you bundle your application, a `Coiner.app.tar.gz.sig` file is saved next to the `Coiner.app.tar.gz`, containing the signature of that file. You need to return that on the `https://api.getcoiner.app/api/darwin/0.0.1` response JSON on the `signature` field.

You can check updater errors by listening to the `tauri://update-status` event on the f

[2022-03-25 23:49] #3678 closed, assigned to lucasfernog

[2022-03-26 02:27] elibroftw commented on #3740
@amrbashir does not work. see https://github.com/tauri-apps/plugins-workspace/issues/250

[2022-03-26 08:57] gdotdesign commented on #3718
@lucasfernog here it is: https://github.com/gdotdesign/tauri-issue-371

https://user-images.githubusercontent.com/302692/160232295-9be3cd9e-0b31-4a18-b65b-6545ff8faee9.mp4

[2022-03-26 09:02] gdotdesign commented on #3718
:thinking: maybe it's a wierd interaction between the file browser in Elementary OS https://github.com/elementary/files/ and Tauri, since it works with Nautilus.

Let me know if I should keep this issue open.

[2022-03-26 13:19] lucasfernog commented on #3718
I can reproduce it using the Elementary file explorer. Will check on `wry` now.

[2022-03-26 13:25] elvinaspredkelis commented on #3761
@lucasfernog

Thank you so much! It seems to have solved it 🥳

I'm not sure if this is of any help now, but:

- I've tried regenerating these keys with the latest release and it would cause the error, but it's not causing it anymore when the repo is pointed to the `dev` branch.
- Perhaps it would be amazing to have a more explicit error message in this case. I think that the updater is an essentia

[2022-03-26 13:40] lucasfernog commented on #3718
This is definitely something with the Elementary file explorer. When you drag and drop a file to a Tauri window, the file explorer keeps the file selected. You can see that even the app preview image is not updated (if you try to drop two files of different extension).

You can also see the problem if you drag and drop the file to a tauri window, and after that you drop a different file to the fil

[2022-03-26 13:40] #3718 closed, assigned to nobody

[2022-03-26 14:39] lucasfernog commented on #3761
Thanks for the feedback! I've introduced better validations of response types and added some unit tests too, so finding the issue will be easier next time.

[2022-03-26 22:54] elmcapp opened #3781 "[bug] if Tauri app is running and you open QuickTime Player Macbook pro will freeze"
### Describe the bug

There is a bug where macOS will freezes if a Tauri app is open and running  and then you open QuickTime player and start a screen record.

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-03-27 01:06] jamesb93 commented on #3055
I get this error when trying to run `pnpm tauri build`. Same issue with finder access.

[2022-03-27 06:07] rscarson opened #3783 "[bug] GlobalShortcutManager registration fails with 'Unknown error' on Ubuntu 20.04"
### Describe the bug

Shortcut key registrations fail on Ubuntu 20.04, with the error only containing 'GlobalShortcut(InvalidAccelerator("Unknown error"))'

This error occurs for any accelerators registered

### Reproduction

[code]

### Expected behavior

Expectation is behaviour of the same codebase on Windows hosts, where the shortcut is registered successfully

### Platform and versions

[code

[2022-03-27 07:59] maoly1012 commented on #3610
Is there a solution?

[2022-03-27 20:28] ttfkam commented on #3669
I'm on a Macbook Pro (M1 Max) and am seeing the same thing. I've got `^1.0.0-rc.7` for `@tauri-apps/cli` in `package.json` but it won't update past `-rc.6`. I've tried deleting the `package-lock.json` file and `node_modules` (at the same time) and re-running `npm install` but it keeps coming back as `-rc.6`. I don't have anything tauri-related installed globally except for `create-tauri-app`.

[2022-03-27 20:42] ttfkam commented on #3669
Never mind. I see this message in the npm install logs.
[code]

[2022-03-27 21:41] elibroftw opened #3784 "[bug] no method named `get_window`"
### Describe the bug

I was trying to make a function that shows the window in the setup of the tauri. I was trying to follow https://tauri.studio/docs/guides/splashscreen/#waiting-for-rust, but got:

error[E0599]: no method named `get_window` found for mutable reference `&mut tauri::App` in the current scope
  --> src\main.rs:30:31
   |
30 |         let main_window = app.get_window("main")?;
   |

[2022-03-27 21:50] FabianLars commented on #3784
The error message actually includes the solution here:
[code]

So, just add the missing import (`use tauri::Manager;`) at the top of the file.

[2022-03-27 21:50] #3784 closed, assigned to nobody

[2022-03-27 22:03] elibroftw commented on #1564
[code]

[2022-03-27 23:16] lucasfernog commented on #3669
Weird that you're running on M1 Max but yhe NPM logs show this: `(current: {"os":"darwin","arch":"x64"})` @ttfkam

@albingroen Does the build work if you run `rustup target add x86_64-apple-darwin`?

[2022-03-27 23:17] lucasfernog commented on #3669
Can you guys share the output of `rustup target list`?

[2022-03-27 23:48] #3761 closed, assigned to lucasfernog

[2022-03-27 23:52] #3571 closed, assigned to nobody

[2022-03-28 00:27] lucasfernog commented on #2794
The issue was fixed on Windows, but the Svelte template still has issues on Linux/macOS, we could only fix it using SIGKILL which is not a good approach.

[2022-03-28 01:47] ttfkam commented on #3669
Thanks for pointing that out. Running the following fixed the architecture issue.
[code]
Still can't build the universal binary though. Same error as before.
[code]

**aarch64-apple-darwin (installed)**
aarch64-apple-ios
aarch64-apple-ios-sim
aarch64-fuchsia
aarch64-linux-android
aarch64-pc-windows-msvc
aarch64-unknown-linux-gnu
aarch64-unknown-linux-musl
aarch64-unknown-none
aarch64-unknown-none-

[2022-03-28 02:24] lucasfernog commented on #3669
@ttfkam can you share the output of `tauri info`? Seems like the version you're running does not support the universal-apple-darwin virtual target.

[2022-03-28 02:45] braebo opened #3786 "[bug] MacOS bootstrapper breaks builds"
### Describe the bug

When attempting to launch an app built with `useBootstrapper` enabled, the app fails to start.  Running `__bootstrapper` directly results in a lot of errors.

Without the bootstrapper, custom commands fail with `No such file or directory (os error 2)`.

### Reproduction

Running `__bootstrapper` directly results in errors:

<details>
<summary>error log</summary>

[code]

</de

[2022-03-28 04:47] rjluck opened #3787 "[feat]"

[2022-03-28 04:48] #3787 closed, assigned to nobody

[2022-03-28 05:25] ttfkam commented on #3669
I take it back. Looks like it's still stuck on `rc6`. package.json and package-lock.json both have `rc7` listed. 🤷
[code]

[2022-03-28 06:20] Labham-Jain opened #3788 "[feat] Keybindings For Inspect Element Console."
### Describe the problem

I'm building an app which has custom `contextmenu` so in order to create it, we need to disable the default browser behaviour. And  as tauri doesn't have keybinding for inspect element it's hard to open it.

### Describe the solution you'd like

Adding support of keybinding for like reload and inspect element options

### Alternatives considered

_No response_

### Additi

[2022-03-28 07:50] amrbashir commented on #3788
You should set up the keybindings yourself and call the [`open_devtools`](https://docs.rs/tauri/1.0.0-rc.4/tauri/window/struct.Window.html#method.open_devtools) method.

You can add another entry in your custom menu that is only available in development and it invokes a tauri command to open the devtools.

Here is the command:
[code]

[2022-03-28 07:51] #3788 closed, assigned to nobody

[2022-03-28 07:56] beardgans opened #3789 "[feat] Show a message if a newer version of `tauri-cli` is available"
### Describe the problem

`tauri-cli` can be installed via `npm` or `cargo`.
At the moment there is no opportunity to know that the new version of `tauri-cli` came out.

### Describe the solution you'd like

My suggestion is to show a message if a new version of `tauri-cli` is available.
This will be an indicator for a user that it's time to update.

### Alternatives considered

I found this usefu

[2022-03-28 11:14] Janaka-Steph commented on #2794
The issue should stay open then

[2022-03-28 12:38] lucasfernog commented on #3788
I think we should implement this on tauri since it's a super common functionality.

[2022-03-28 12:41] lucasfernog commented on #3788
But this is duplicate, see #3776

[2022-03-28 13:24] #3688 closed, assigned to nobody

[2022-03-28 14:17] #3776 closed, assigned to nobody

[2022-03-28 14:42] schickling commented on #3776
@lucasfernog excited to see this being addressed! Does this also include **closing** the dev tools again (i.e. toggling)?

[2022-03-28 14:52] nothingismagick commented on #3776
https://github.com/tauri-apps/tauri/commit/ab92492418820dd7ec4638b00a8ad38e00c47b34#diff-cf8ee419c6e85fa83601b86b02c9ed9e32de84c9a3b962287bf0aa2255a3a312R5

[code]

[2022-03-28 14:55] lucasfernog commented on #3776
Yeah, toggling will work on Linux and macOS (webview2 doesn't have an API to close the devtools yet :( )

[2022-03-28 15:31] Pierstoval commented on #3066
Hey folks, having the same problem here on linux, but it's working on Windows, all with the latest (to date) version of tauri

<details><summary>Output of `yarn tauri:info` on windows:</summary>

[code]
</details>

[2022-03-28 16:01] lucasfernog commented on #3066
@Pierstoval please file a separate issue with details on how it isn't working and what error are you seeing. This one is related to macOS only.

[2022-03-28 16:02] lucasfernog commented on #3066
@ozws there's no alternative for macOS unfortunately, only 11+ will have the window.print implementation.

[2022-03-28 16:02] #3066 closed, assigned to nobody

[2022-03-28 19:11] lorenzolewis commented on #3055
FYI, tracing this back into https://github.com/create-dmg/create-dmg/issues/113.

[Mojave introduced a new plist value](https://developer.apple.com/documentation/bundleresources/information_property_list/nsappleeventsusagedescription) that is required for Apple Script (used in create-dmg) to work with other applications (i.e. Finder).

Maybe we could introduce an OS version check to see if it's Mo

[2022-03-28 20:30] lucasfernog commented on #3055
I wish we could stop using applescript and use something like https://github.com/LinusU/node-appdmg but it's a lot of work to translate that one to Rust.

[2022-03-28 21:27] vtu-dog opened #3794 "[bug] Window content extending over the boundary (macOS)"
### Describe the bug

Hello,
I tried to create a wrapper for OvenPlayer and found some strange bugs related to windows. [Here's a repository](https://github.com/vtu-dog/tauri-bugtest) with sample code and videos showcasing the bugs.

In certain situations, a white stripe (approximately 1px wide) appears on the sides and / or at the bottom of a window, ignoring window boundaries. I had to [record](

[2022-03-28 23:01] UserVeryUnknown commented on #3688
@lucasfernog : I just built against the rc5 and I still have the same issue!

[2022-03-29 00:58] lucasfernog commented on #3688
My bad I just found the regression. Fixing it atm.

[2022-03-29 02:53] lucasfernog commented on #3688
Fixed on rc.6

[2022-03-29 05:35] Rming opened #3799 "[bug] Hiding the maximized window on Windows triggers a different event and the window is not hidden"
### Describe the bug

![2022-03-29 13 26 43 2022-03-29 13_32_03](https://user-images.githubusercontent.com/1621419/160540118-8f4c89e6-342c-457b-83d3-304a2fa0cc00.gif)

### Reproduction

https://github.com/Rming/tauri-example

run on Windows 10 21H2

### Expected behavior

normal hidden on maximized window

### Platform and versions

[code]
[code]

[2022-03-29 05:39] JonasKruckenberg commented on #3794
As those are most likely unrelated bugs, can you please open a separate issue for the secondary one?

[2022-03-29 10:04] cangSDARM commented on #3507
What does this regular format look like and what does it follow

[2022-03-29 10:30] cangSDARM commented on #3507
never mind. I use rc3, it seems that this feat is only available in rc5

[2022-03-29 12:39] vtu-dog opened #3801 "[bug] Hello world app, title bar problem (macOS)"
### Describe the bug

Hello,
When I focus a hello world app and mouse over the title bar, the bar expands downwards by a very slight margin and changes in colour. I [recorded](https://github.com/vtu-dog/tauri-bugtest/blob/master/title-bar.mov) the issue using QuickTime. When the window is out of focus, mousing over it does nothing out of the ordinary.

### Reproduction

1. Create a new hello world

[2022-03-29 12:41] vtu-dog commented on #3794
Done. The other issue can now be found here: #3801

[2022-03-29 19:10] gdotdesign commented on #3614
I just run into this issue and can confirm that converting to `Uint8Array` works. Was this in the changelog somewhere?

[2022-03-30 00:16] lucasfernog commented on #3007
Yes it'll work @wangyuxiangloveyou

[2022-03-30 01:30] ritsuke opened #3805 "[feat] Remove items from native context menus that represent browser-specific functionality"
### Describe the problem

The context menu displays items that represent browser-specific functionality.

For example, on Windows, the context menu has the `Share` item. When clicking this item, a dialog displays with the favicon and title of `index.html`. The link to be shared is `https://tauri.localhost/`

This doesn't appear to be useful.

### Describe the solution you'd like

Though native, cu

[2022-03-30 02:48] amrbashir commented on #3805
Unfortunately, it isn't possible. However, in the future, we will allow you to make your own native context menu.

[2022-03-30 02:49] #3805 closed, assigned to nobody

[2022-03-30 06:15] cangSDARM opened #3808 "[bug] The mini menu of windows webview still exists in production mode"
### Describe the bug

![image](https://user-images.githubusercontent.com/20441896/160763134-91f07a40-21ff-4e84-8556-f18cd84d8df7.png)

If some text selected, the windows webview (edge) will show a mini menu like the image shows. This is not too important in development mode, but in production mode this could lead to some potential bugs that could compromise the app. Webview2 seems to have related

[2022-03-30 11:21] maoly1012 opened #3811 "[feat] Mouseup events do not take effect when the data-tauri-drag-region attribute is added"
### Describe the problem

Mouseup events do not take effect when the data-tauri-drag-region attribute is added

### Describe the solution you'd like

Mouseup events can take effect when the data-tauri-drag-region attribute is added

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-03-30 12:15] snowfluke commented on #2647
This fixed me in debian 11, thank you

1. Add debian 10 (buster) repository to sources list

`sudo nano /etc/apt/sources.list`

2. Add this line

`deb http://deb.debian.org/debian buster main contrib non-free`

3. Run

`sudo apt-get update && apt-get install libappindicator3-dev`
`sudo apt --fix-broken install`

[2022-03-30 12:49] Janaka-Steph opened #3812 "[docs] MenuItem::About() expected 2 arguments"
Writing `add_native_item(MenuItem::About("Blabla".to_string()))` now returns error `expected 2 arguments`
Please add an example in the doc `https://tauri.studio/docs/guides/menu`

[2022-03-30 15:23] Janaka-Steph opened #3814 "[bug] Resize window with devtool opened make the screen jump"
### Describe the bug

It's easier to explain with images.

Here I run the app (in dev or build debug) with devtool opened.
<img width="1179" alt="Screenshot 2022-03-30 at 16 20 06" src="https://user-images.githubusercontent.com/4022128/160871037-0d6b28f7-a1d3-4d0e-9d57-8ead118caee3.png">

Here I resized the window just a bit. The view "jumped" and is locked like this.
<img width="1177" alt="Screen

[2022-03-30 15:34] amrbashir commented on #3814
subscribe to https://github.com/tauri-apps/wry/issues/297 see when it gets fixed.

[2022-03-30 15:34] #3814 closed, assigned to nobody

[2022-03-30 18:33] pwespi opened #3815 "[bug] tauri-driver does not work in docker"
### Describe the bug

Currently tauri-driver does not work in a Linux based docker container. This is because it calls the Linux WebDriver with `WebKitWebDriver --port=4445` and without the `--host` argument. The default `host` for `WebKitWebDriver` is `::1` (IPv6 equivalent of 127.0.0.1), however IPv6 cannot be used inside a docker container without explicitly [enabling it](https://docs.docker.co

[2022-03-30 20:48] Silbad commented on #3498
I update cargo, the issue still here :(

[2022-03-30 21:10] amrbashir commented on #3498
The minimize issue is fixed in the latest tauri release. It has nothing to do with cargo or rust version.

[2022-03-30 21:52] corentinguilloteau opened #3817 "[feat] Better error message when using the updater on Linux"
### Describe the problem

When trying to use the updater on Linux, I encountered the error `Unsupported operating system or platform`. The problem was that I ran my application after installing it with the `.deb` package and not directly from the `AppImage`.

I spent some time figuring out where the problem was from because this error message is the same as the error message used if `target_arch`

[2022-03-30 23:07] #3815 closed, assigned to nobody

[2022-03-31 01:16] mojizo opened #3821 "How to execute complex shell script？"
I didn't see the doc about how to execute complex shell script like `cd path/to/folder && node scripts/build.js`, I want to use Command JavaScript API to execute it.
Can anyone post examples? I'll be very grateful for any help.

[2022-03-31 02:49] glud123 opened #3822 "[bug] thread 'main' panicked at 'error found during tauri-build: unknown field `allowDowngrades`"
### Describe the bug

It will appear when I run dev or run build

### Reproduction

1. `npm run tauri dev` or `npm run tauri build`
2. an error will be reported during the compilation phase

### Expected behavior

start app normally

### Platform and versions

[code]

### Stack trace

[code]

### Additional context

_No response_

[2022-03-31 06:33] JonasKruckenberg opened #3823 "Plugin workflow builds crate twice"
### Describe the bug

The covector config generated by `tauri plugin init` builds the crate twice on publish. Once through `cargo package` and a second time through `cargo publish`.

I guess the intent was to show a summary of the crate/check the status before actually publishing the crate, but with compile times being the way they are this is really suboptimal.
Shall we just remove the `cargo pac

[2022-03-31 06:36] Janaka-Steph commented on #2794
If anyone interested, you can kill the previous process when launching the app like so:
`"beforeDevCommand": "kill -9 $(lsof -i :3003 -t) &>/dev/null || true && yarn start"`

[2022-03-31 06:37] amrbashir commented on #3822
Please update your `@tauri-apps/cli` version to `1.0.0-rc.8`

[2022-03-31 06:37] #3822 closed, assigned to nobody

[2022-03-31 06:43] JonasKruckenberg commented on #3822
Maybe we should remove `deny_unknown_fields` 🤔 Or at least stop panicking and give a proper error

[2022-03-31 06:53] JonasKruckenberg commented on #3817
I see this as a documentation issue, not something addressable through code, but yes you are correct we should be more forthcoming about which packaging formats support updating and which do not.

[2022-03-31 06:57] JonasKruckenberg commented on #3821
Have you tried just executing that command using the API?
If that doesn't work, a few options come to mind:
1. Simulate `&&` in code. You can just execute the first command, await it's success and then dispatch the second command.
2. Call the shell with the string as an argument. You can call the shell binary passing it the command string as an argument. Depending on the OS, you might need to spec

[2022-03-31 07:08] glud123 commented on #3822
Thanks!
My local `@tauri-apps/cli` version is already  `1.0.0-rc.8`, But it still gives the same error.
[code]
And I found that the version of the information `@tauri-apps/cli` produced by `npm run tauri info` is not accurate.
Now I execute `npm run tauri info` and it still shows that the version of `@tauri-apps/cli` is `1.0.0-rc.7`.

[code]

[2022-03-31 07:09] 34205037 opened #3824 "[feat] How to listen for web events when loading a remote url?"
### Describe the problem

How to listen for web events when loading a remote url?

### Describe the solution you'd like

For example, in electronjs:
[code]
I didn't find anything in Tauri doc. Did I miss anything?

### Alternatives considered

_No response_

### Additional context

_No response_

[2022-03-31 07:16] red010182 opened #3825 "[bug] dotenv not work in production"
### Describe the bug

I'm using dotenv crate to save some important informations like access keys and secrets by saving them in the `src-tauri/.env` file. It works perfectly in dev but fail to load in release mode.

[dotenv](https://crates.io/crates/dotenv)

[code]

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No respon

[2022-03-31 07:54] mojizo commented on #3821
Thanks for your reply ^^. I have tried the 1st option:
My shell scope config as follow:
`
    "allowlist": {
      "all": true,
      "shell": {
        "all": true,
        "execute": true,
        "sidecar": true,
        "open": true,
        "scope": [
          {
            "name": "node",
            "cmd": "node",
            "args": ["scripts/build.js"]
          },
          {

[2022-03-31 08:02] cjdxhjj opened #3826 "[feat] intercept window open"
### Describe the problem

i have few site online, it is build on vue, it's package to the tauri is very simply,
but when i open a new window, from a link or window.open method, i found it sometimes open the system browser, then the user session is not managed.

### Describe the solution you'd like

tauri provider the pre open method, to open in the webview2 browser or prevent it. then the window c

[2022-03-31 08:41] joepio opened #3827 "[docs] Rename one of two `WindowBuilder`s"
There are two `WindowBuilder`s exported: `tauri::window::WindowBuilder` and `tauri::WindowBuilder`. One is a Struct, the other a Trait. Took me longer than I want to admit that I had imported the Trait, not the Struct, which was why everything went wrong.

I think the best solution is to rename one of both.

[2022-03-31 08:41] amrbashir commented on #3610
related to tauri-apps/tao#194

[2022-03-31 08:48] Weiyi-Feng commented on #3062
Same issue

[code]

[2022-03-31 09:12] FabianLars commented on #3821
@mojizo If it's really just about `cd` it would be easier to just set the working dir like so:
[code]
If you need other commands than just `cd` you probably need to execute them as scripts, so something like this i think
[code]
Note that this has to be adapted per OS of course.

[2022-03-31 09:53] schickling commented on #1817
Is there a tracking issue I can subscribe to for this? We're also hitting this limitation.

[2022-03-31 10:03] JonasKruckenberg commented on #3826
Even with a way to intercept these kinds of requests (which is already possible using the isolation pattern) you would not be able to share login sessions with the browser that is opened. This is just down to the fact that both are separate programs, with separate processes, separate contexts and unique file system structures. Sharing a session with the newly opened tab is only possible by putting

[2022-03-31 10:03] #3826 closed, assigned to nobody

[2022-03-31 10:15] JonasKruckenberg commented on #3825
This will not work in release mode because the released binaries does not have the folder structure you have during development (specifically there is no `src-tauri` folder in release mode). The dotenv crate reads the file dynamically at runtime. So it's reasonable that this does not work in production, as there is not dotenv file.

As for workarounds, you can try to include the dotenv file into t

[2022-03-31 10:26] mojizo commented on #3821
Your suggestions work well.
That blame my lack of knowledge.
Thanks above guys a lot~

[2022-03-31 10:26] #3821 closed, assigned to nobody

[2022-03-31 10:46] philipborg commented on #2319
To quote @FabianLars ["The webview installer doesn't need admin anymore"](https://discord.com/channels/616186924390023171/731495158217965659/954344819587686430), so that hindrance is out of the way.

Yuca965 seems to have had some degree of success getting it running though it required replacing the entire template. Conversation in link.

Seemingly
`        <Property Id="ALLUSERS" Value="2"/>

[2022-03-31 11:09] cangSDARM opened #3828 "[bug] Hard to drag when dom hierarchy is complex"
### Describe the bug

https://github.com/tauri-apps/tauri/blob/45d427e44c0e06194079426c2690019643e03277/core/tauri/scripts/core.js#L136

here is my dom hierarchy:

[code]

It renders like this:
![image](https://user-images.githubusercontent.com/20441896/161040936-5078c945-9631-4b3d-a370-d6e1c8744180.png)

I can't properly trigger the window's drag unless I add `data-tauri-drag-region` to every ele

[2022-03-31 11:12] cangSDARM commented on #3828
A less elegant solution from before

https://github.com/tauri-apps/tauri/pull/3031

Customize an event and allow tauri users to bind it themselves may better

[2022-03-31 11:12] FabianLars commented on #3828
See here for the reasons why we can't change it: <https://github.com/tauri-apps/tauri/pull/3031>.
So yes you need to add the attribute to the _actual_ click target (which generally should be the innermost element)

[2022-03-31 11:14] cangSDARM commented on #3828
I saw. So I suggest using a custom event to let the user bind himself

[2022-03-31 11:14] FabianLars commented on #3828
You can already do that by using `startDragging` yourself.

[2022-03-31 11:15] cangSDARM commented on #3828
It would be better to implement in tauri to avoid other potential bugs.
Or give a hint in the documentation?

[2022-03-31 11:19] amrbashir commented on #1817
@schickling here the tracking issue of headers support on Linux https://github.com/tauri-apps/wry/issues/422
Once that is fixed, we can start overhauling the IPC system for better performance.

[2022-03-31 11:20] schickling commented on #1817
Thanks a lot @amrbashir! Would it maybe make sense to keep the current issue open to track the progress on the Tauri side?

[2022-03-31 11:25] amrbashir commented on #1817
I think opening a new issue is better.

[2022-03-31 11:27] #3825 closed, assigned to nobody

[2022-03-31 11:32] amrbashir commented on #3828
It is documented here https://tauri.studio/docs/api/js/classes/window.WindowManager#startdragging

[2022-03-31 11:40] cangSDARM commented on #3828
I mean here: https://tauri.studio/docs/guides/window-customization

[2022-03-31 11:45] amrbashir commented on #3828
Yeah that guide needs to highlight `data-tauri-drag-region` more and also include a manual implementation of it using `window.startDragging` and `mousedown` event.

[2022-03-31 12:10] amrbashir commented on #2549
I can't reproduce this anymore, please upgrade to latest tauri and reopen if you still encounter the bug.

[2022-03-31 12:58] aaronleopold commented on #2549
I still have this issue on `1.0.0-rc.6`, can provide video if needed but pretty much exactly as the others above.

[2022-03-31 13:10] lokimckay commented on #3805
@amrbashir is this functionality being tracked somewhere? I would like to subscribe to it to get a notification when it's added

[2022-03-31 13:16] amrbashir commented on #3805
There isn't one atm. Feel free to open one.

[2022-03-31 13:24] toovy commented on #1872
@Boscop did you look further into the VST plugin compatibility? I would also be interested in the other way around, not really knowing where to start.

[2022-03-31 13:24] red010182 commented on #3825
Thanks for reply. Ok, let's forget about dotenv.

So, where should I save config that can be read at runtime in rust while at the same time protect these files from being accessed by user?

[2022-03-31 13:41] amrbashir commented on #3693
This is a problem in your windows 7 installation. It is missing an update, this one specifically
https://support.microsoft.com/en-us/topic/update-for-customer-experience-and-diagnostic-telemetry-0b4f29c3-8361-b748-f862-7ecedbc57cbf. You may encounter other errors and missing system dlls afterwards, all of which are not related to Tauri but to Windows in general.

[2022-03-31 13:41] #3693 closed, assigned to nobody

[2022-03-31 13:44] amrbashir commented on #3811
There is a [PR](https://github.com/rust-windowing/winit/pull/2200) over at `winit` to fix this, we can port it over to `tao` once it is merged.

[2022-03-31 13:53] amrbashir commented on #2863
Since webview2 doesn't support transparency on Windows 7, we automatically turned off transparency on Windows 7. You shouldn't get unresponsive windows anymore but your window won't be transparent on Windows 7.

[2022-03-31 13:53] #2863 closed, assigned to nobody

[2022-03-31 13:55] #3081 closed, assigned to nobody

[2022-03-31 14:07] amrbashir commented on #2530
Do you still experience this issue?

[2022-03-31 14:09] JonasKruckenberg commented on #3825
That depends, what do you need that config file for anyway? Can you just replace a config file with compile time constants? That would be the safest option.

[2022-03-31 14:17] Janaka-Steph commented on #2794
@FabianLars As discussed on Discord it appears that the issue still persist on MacOS M1, with create-react-app, quitting the app from red cross or Dock. Quitting with Ctrl+C on CLI kills the process successfully.
Here are the steps I took:
[code]

[code]

[2022-03-31 14:20] corentinguilloteau commented on #3817
Wouldn't it also be possible to add a new `Error` [here](https://github.com/tauri-apps/tauri/blob/50d135b20fff1b6997241bdaf60a910811522cee/core/tauri/src/updater/error.rs) and use it [here](https://github.com/tauri-apps/tauri/blob/50d135b20fff1b6997241bdaf60a910811522cee/core/tauri/src/updater/core.rs#L491) instead of the `Error::UnsupportedPlatform` ?

[2022-03-31 14:42] FabianLars commented on #3817
Ideally the app wouldn't even include the updater code for non appimage bundles, but that would mean that we'd have to build the binary twice :((

[2022-03-31 15:20] MaKleSoft opened #3830 "[bug] window.open not working on MacOS"
### Describe the bug

Calling `window.open(someUrl)` from within the web view doesn't seem to be working on MacOS. No errors, but nothing happens. Working fine on Windows.

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-03-31 15:30] MaKleSoft opened #3831 "[feat] Allow limiting dangerousDisableAssetCspModification to "script" or "style""
### Describe the problem

The [dangerousDisableAssetCspModification](https://tauri.studio/docs/api/config#tauri.security.dangerousDisableAssetCspModification) is great for us because we've found that injecting nonces for style sheets didn't play well with the UI library we were using ([lit](https://lit.dev)). But it would be even better if there was an option to disable nonces for `style` and `scr

[2022-03-31 17:50] #3827 closed, assigned to nobody

[2022-03-31 17:51] #3786 closed, assigned to nobody

[2022-03-31 18:25] JonasKruckenberg commented on #3831
I like this idea, but I have one note: This specific config api only works with these 3 possible values: `boolean | "script" | "style"` since each are mutually exclusive. This is not a problem right now, but we should thin about other resource types in the future? Do we see Tauri injecting nonces for images in the future? Videos? Wasm?

[2022-03-31 19:05] 0rvar opened #3835 "[bug] Spawning an async task prevents clean exit"
### Describe the bug

When a long running async task is spawned with `async_runtime::spawn`, the app cannot be exited with ctrl+c.

### Reproduction

Minimal reproduction: https://github.com/0rvar/tauri-async-issue

### Expected behavior

Spawned async tasks should be aborted when the program receives an interrupt

### Platform and versions

<details><summary>Expand</summary>

[code]

</details>

[2022-04-01 01:07] lucasfernog commented on #3835
This is a problem with actix-web, not Tauri, see https://github.com/actix/actix-web/issues/1098#issuecomment-533961494 and https://docs.rs/actix-web/latest/actix_web/struct.HttpServer.html#method.disable_signals

actix-web uses tokio's ctrl_c to handle the signal: https://docs.rs/tokio/latest/tokio/signal/fn.ctrl_c.html

[2022-04-01 01:07] #3835 closed, assigned to nobody

[2022-04-01 01:12] lucasfernog commented on #3831
We need to consider future changes so using an array makes more sense here.

[2022-04-01 01:13] lucasfernog commented on #3830
`window.open` is not handled by Tauri, only webview2 implements it so you should use our API instead: https://tauri.studio/docs/api/js/classes/window.WebviewWindow

[2022-04-01 01:13] #3830 closed, assigned to nobody

[2022-04-01 01:16] lucasfernog commented on #2530
I've switched to QEMU recently for all my Windows usage and Tauri is running fine (I use both the Tauri examples and a more complex app I'm working on), maybe you could share your configuration? We can reopen if the issue is still happening.

[2022-04-01 01:16] #2530 closed, assigned to nobody

[2022-04-01 01:17] lucasfernog commented on #2794
Thanks for the steps to reproduce it, I'll give it a try soon.

[2022-04-01 01:18] lucasfernog commented on #3824
We do not have this kind of API yet, we've only focused on local apps so far.

[2022-04-01 01:19] lucasfernog commented on #3823
The main Tauri workflow also uses both commands. @jbolda I believe you wrote that, any reason for it?

[2022-04-01 01:21] lucasfernog commented on #3812
The documentation does state that the metadata is only applied on Linux.

[2022-04-01 01:23] lucasfernog commented on #3669
Does it update to rc.8? @ttfkam

[2022-04-01 02:25] ttfkam commented on #3669
I updated package.json to have -rc.8 for cli and -rc.3 for api. Output is definitely more colorful, but cli only updated to -rc.7? (I tried deleting node_modules and package-lock.json. Same result with npm install.) The notice about api being outdated on the latest version is puzzling to say the least.
[code]
The relevant parts of package.json are unremarkable.
[code]

[2022-04-01 07:25] SorenHolstHansen opened #3836 "[feat] open at login"
### Describe the problem

It would be great if you could make the app open at login. The user can do this on their own (at least on mac, don't know about windows and linux), but it would be better to have it as default.

### Describe the solution you'd like

Preferrably this would be a setting like in [electron](https://www.electronjs.org/docs/latest/api/app#appsetloginitemsettingssettings-macos-w

[2022-04-01 07:34] amrbashir commented on #3836
duplicate of #2589

[2022-04-01 07:34] #3836 closed, assigned to nobody

[2022-04-01 09:53] rjluck opened #3837 "error: could not compile tauri-runtime-wry due to 2 previous errors[bug]"
### Describe the bug

I added tauri-plugin-localhost  to Cargo.toml as seen below
[code]

### Reproduction

wry could not be compiled for some reason?

[code]

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-04-01 09:55] amrbashir commented on #3837
This is because the `tauri-plugin-localhost` is using an older version of `tauri`, I will transfer the issue.

[2022-04-01 13:06] rscarson commented on #3783
Upon further investigation, the error was due

[2022-04-01 13:06] #3783 closed, assigned to nobody

[2022-04-01 13:11] rscarson opened #3838 "[bug] Global shortcuts are never triggered on Linux"
### Describe the bug

Similar to [Tao issue #307](https://github.com/tauri-apps/tao/issues/307), global shortcuts never trigger on the Linux platform

Perhaps a requirement that isn't specified somewhere?

Tested on 2 fresh installs of Ubuntu 20.04 running on the vmware, and VirtualBox platforms, and also tested through WSL2

### Reproduction

[code]

### Expected behavior

Registered handler shou

[2022-04-01 13:14] amrbashir commented on #3838
Once the upstream issue is resolved in `tao`, it will be automatically available to `tauri`. There is no need to keep this issue open so subscribe to the other issue instead.

[2022-04-01 13:14] #3838 closed, assigned to nobody

[2022-04-01 13:15] rscarson commented on #3838
Was not aware it had not made it to the RC builds

Thanks - any timeline on it?

[2022-04-01 13:20] amrbashir commented on #3838
The progress has halted for now but we sure need to fix it before the `tauri` v1 stable release.

[2022-04-01 13:24] rscarson commented on #3838
Thanks

[2022-04-01 20:52] Silbad commented on #3498
I update cli and api too (https://tauri.studio/docs/development/updating-dependencies), issue still here, sorry

[2022-04-01 21:09] amrbashir commented on #3498
The issue described in this comment https://github.com/tauri-apps/tauri/issues/3498#issuecomment-1070848736 is fixed, the black screen is not as I am not able to reproduce it nor I have a clue what might cause it.

[2022-04-01 21:34] tedbyron commented on #3725
@firstdorsal do you have a reproduction? I have a video conversion app I'm making and I'm able to display user-uploaded videos (from tauri dialog) in a `<video>` element with the following config:

[code]

[2022-04-01 22:44] lucasfernog commented on #3725
I can reproduce this issue, seems to be a webkit2gtk problem.

[2022-04-01 23:15] dceddia commented on #2934
This crash was happening for me when I clicked on an image. I'm on macOS 12.0.

I was able to stop it from happening by stopping propagation of the click event. My app is using Svelte, so this was enough to do it:

[code]

I tried with `preventDefault` too, and that didn't make a difference. Without `stopPropagation` though, it crashes when I click the image.

With that solved, I noticed it *also*

[2022-04-01 23:44] lucasfernog commented on #2934
Thanks for the insight @dceddia. I'll close this issue since there's not much to do on our end, I didn't see the issue since updating to 12.3.

[2022-04-01 23:44] #2934 closed, assigned to nobody

[2022-04-01 23:49] dzervas commented on #3725
Is there a workaround that we can use? Or we just wait for a proper fix?

[2022-04-02 04:40] red010182 opened #3841 "[bug] cannot load assets if filepath contains "#""
### Describe the bug

If the filepath contains "#" character, the assets would load fail because the filepath is somehow not encoding character "#".

Loading the test file with filepath `D:\#a b c.mp4` results:
![image](https://user-images.githubusercontent.com/2116935/161366415-c3cafff2-6cb3-4ccc-9af1-f10c0abbcd95.png)

White spaces are encoded to %20 but "#" doesn't (it should be %23).

### Repr

[2022-04-02 07:00] Silbad commented on #3498
Ok I understand...

[2022-04-02 07:10] Silbad commented on #3498
![Wye9oPn](https://user-images.githubusercontent.com/31576982/161371500-4f2bdf5e-51df-479d-9d1e-2c7eaf5a75d3.png)

ok I have a new clue, then I'll stop bothering you with it. I have three screens, it works on screen 2, and I reproduce the bug on screens 1 and 3. So actually not a code problem I think.

[2022-04-02 10:42] amrbashir commented on #3117
I'll close this because there is nothing we can do about it. Once `wayland `adds an API to set `alwaysOnTop`, it will be automatically fixed on our end.

[2022-04-02 10:42] #3117 closed, assigned to nobody

[2022-04-02 10:47] firstdorsal commented on #3725
@tedbyron

If you mean using the "Native" browser dialog to select a video then this is not related I think.

@lucasfernog great, good to know! Is this working on Win/Mac?

[2022-04-02 10:55] #3032 closed, assigned to nobody

[2022-04-02 10:56] amrbashir commented on #3032
It is probably better for you to just point to the real path of the symlink.

[2022-04-02 11:32] amrbashir commented on #3099
`rfd` uses the win32 API `MessageBox` for its dialog and this type of dialog is meant for short messages. You probably better implement your own HTML dialog or just add a link to the full changelog.

[2022-04-02 11:32] #3099 closed, assigned to nobody

[2022-04-02 12:08] amrbashir commented on #3694
I can't reproduce this in debug builds at all but since it is not noticeable for your in a release build I am not gonna consider this as a bug. Let me know if you encounter it in a release build and probably.

[2022-04-02 12:08] #3694 closed, assigned to nobody

[2022-04-02 12:15] amrbashir commented on #3691
I definitely can reproduce this in `wry`. Looks like it might be an upstream issue in webview2

[2022-04-02 12:18] amrbashir commented on #3720
What version of Windows are you running the installer on? Is it Windows 7?

[2022-04-02 12:48] elibroftw commented on #3694
Is it noticeable to me in production builds since I'm looking for it. If you don't encounter the problem then that's good.

[2022-04-02 13:21] amrbashir commented on #3694
I think this is the same as #3691

[2022-04-02 13:42] lucasfernog commented on #3725
I never had issues on Windows and macOS. And I don't know about a workaround :/

[2022-04-02 14:54] #3841 closed, assigned to nobody

[2022-04-02 15:45] elibroftw commented on #3694
Makes sense

[2022-04-02 17:25] DinCahill commented on #3691
Hi, I'm using @elibroftw's template and encountered this problem when clicking the buttons.

It only happens as long as the mouse stays completely still while clicking and releasing. Move the mouse, and everything continues immediately as expected.

[2022-04-03 05:17] tedbyron commented on #2952
Having same issue with asset protocol causing memory leak with webkit on `aarch64-apple-darwin`. Memory usage starts increasing once video is *playing* and visible on the screen. If I add the `loop` attribute to the video element, mem usage just keeps going up.

<details>
<summary><code>yarn tauri info</code> output</summary>

[code]

</details>

[2022-04-03 10:45] amrbashir commented on #3610
can you guys add this in your `Cargo.toml` and see if the issue is fixed?
[code]

[2022-04-03 13:16] lucasfernog commented on #2952
Thanks for the report @tedbyron I just opened a wry PR to fix that issue.

[2022-04-03 14:05] lucasfernog commented on #3669
Ahh I just found the issue of the info command showing rc.7 instead of rc.8, will push a fix.

Can you share the full error message when building the universal target?

[2022-04-03 14:26] #2794 closed, assigned to nobody

[2022-04-03 14:55] #3610 closed, assigned to nobody

[2022-04-03 17:20] elibroftw opened #3850 "[bug] Console shows up in release build"
### Describe the bug

I have no idea what caused this, but a console shows up with the release build.
![image](https://user-images.githubusercontent.com/21298211/161439736-120692d0-1a2c-411e-ad01-984e2e3a4f8a.png)

### Reproduction

[code]
conf:
[code]

### Expected behavior

No console should show up

### Platform and versions

[code]
[code]

[2022-04-03 17:26] amrbashir commented on #3850
your `main.rs` should have this at the top of the file, it shouldn't be removed.
[code]

[2022-04-03 17:26] #3850 closed, assigned to nobody

[2022-04-03 17:32] elibroftw commented on #3850
There should be a comment above it for what it does because I had commented it out due to thinking it was spam. Nonetheless thanks.

[2022-04-03 21:05] jeff-hykin commented on #3189
Encase anyone still hits this, I'm no longer able to reproduce with this setup:

tauri-cli (master as of today) <br> `cargo install --git https://github.com/tauri-apps/tauri/ --rev 6839fde11de39e6eafaee31782825eda1d7f2266 tauri-cli`

Rust
`rustc 1.61.0-nightly (76d770ac2 2022-04-02)`
`cargo 1.61.0-nightly (1ef1e0a12 2022-03-31)`

Cargo.toml
[code]

[2022-04-03 21:36] AOx0 opened #3851 "[bug] (macOS) cargo tauri build produces a malformed Mach-o file"
### Describe the bug

When building using `cargo tauri build` (without `--debug`) the resulting binary does not execute.

When launching from Finder I get the pop-up :
<img width="372" alt="Screen Shot 2022-04-03 at 3 33 32 p m" src="https://user-images.githubusercontent.com/50227494/161447384-bd1aca2e-c858-4b75-9ac5-94cc31110d56.png">

When launching from the Terminal I get the message:

    zsh:

[2022-04-04 04:06] ttfkam commented on #3669
No change. Same error as before.

https://github.com/tauri-apps/tauri/issues/3669#issuecomment-1080096363

[2022-04-04 06:18] FabianLars commented on #3669
@ttfkam to tell npm to correctly forward arguments to the tauri cli you need to prepend an extra `--` like so: `npm run tauri build -- --target universal-apple-darwin`

[2022-04-04 09:37] percy507 opened #3854 "[type missed] the `open` method of dialog module missed `null` type"
https://github.com/tauri-apps/tauri/blob/6839fde11de39e6eafaee31782825eda1d7f2266/tooling/api/src/dialog.ts#L91

Use `open` method open a dialog and cancel it directly, the value of promise is null.

[2022-04-04 14:18] rming opened #3855 "[bug] @tauri-apps/cli command error(macOS)"
### Describe the bug

hello,

Err when run command ` yarn tauri` in repo directory

[code]

### Reproduction

1.  install package `yarn add @tauri-apps/cli@1.0.0-rc.8`
2. run cmd` yarn tauri`

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-04-04 16:46] ankitpatial opened #3856 "[bug] failed to run custom build command for `gdk-sys v0.15.1`"
### Describe the bug

Fails to build/run tauri app on ubuntu machine.

I have also tried

but still issue is same.

### Reproduction

1. go to source dir
2. yarn tauri dev

### Expected behavior

Tauri app must open on devleopment machine.

### Platform and versions

[code]

### Stack trace

[code]

### Additional context

Installed packages

sudo apt update && sudo apt install \
	libwebkit2gtk-4.

[2022-04-04 16:48] lucasfernog commented on #3856
Are you sure `libgtk-3-dev` was installed without any errors? It should just work with the dependencies properly installed.

[2022-04-04 17:53] FabianLars commented on #3856
Either what Lucas said, or you're using homebrew whose own pkg-config breaks every pipeline lol (cause it prevents finding system packages). In that case the only real option is to uninstall homebrew.

[2022-04-04 23:01] cdiezmoran commented on #2663
Is there any progress on this feature? It is an important feature for the app I'm trying to build, would love to see it added!

[2022-04-05 05:01] ankitpatial commented on #3856
Thank you @lucasfernog  & @FabianLars for quick help.

Yes culprit was homebrew on linux. I removed homebrew and everything seems normal now.
I was not hoping homebrew to screw it.

Again, Thank you guys!

[2022-04-05 05:01] #3856 closed, assigned to nobody

[2022-04-05 12:22] elvinaspredkelis opened #3857 "[docs] Improve docs on tray icon template"
### Describe the problem

It seems to be rather difficult to set different variants of the tray icon depending on the display mode.

For example, on macOS the tray icon is either black or white, therefore it is impossible to have a "universal" icon for both modes. If a white icon is set, it is barely visible in the system tray if light mode is enabled.

### Describe the solution you'd like

I was

[2022-04-05 12:33] peterroe opened #3858 "Http scope match error"
### Describe the bug

hello, I meet a error because of `glob match`.

example:

[code]
I found that the above can only match the first-level route，such as `https://xxx.xxx/xxx` (normal)

it can't match the second-level route or more, such as `https://xxx.xxx/xxx/xxx` or `https://xxx.xxx/xxx/xxx/xxx`(timeout)

such as:

[code]

### Platform and versions

[code]

### Stack trace

_No response_

###

[2022-04-05 12:47] #3817 closed, assigned to nobody

[2022-04-05 13:31] wusyong opened #3859 "[feat] Auto-detect appindicator library during runtime"
### Describe the problem

Right now there's two libraries being used for system tray on Linux: libappindicator and libayatana-appindicator. ayatana is former's fork since the old one is unmaintained. This becomes an issue because different distros might use different one. I would say the ratio is around 50:50.
Decide one during compile time means the other half won't work.

### Describe the soluti

[2022-04-05 14:39] elvinaspredkelis commented on #3857
Turns out it was supported by setting `"iconAsTemplate": true`. Might still be an issue with non-macOS.

Closing this issue. Perhaps expanding the docs on this would be amazing?

[2022-04-05 14:39] #3857 closed, assigned to nobody

[2022-04-05 14:51] FabianLars commented on #3858
Hello. First of all please don't answer questions that are marked with "**required**" as "no need". In this case it may would've have shown that your project uses an older tauri version than required for the PR you commented on (for reference: https://github.com/peterroe/Rss-Reader/blob/master/src-tauri/Cargo.toml#L20).
So please try upgrading your dependencies (also run `cargo update` in your src

[2022-04-05 15:50] JonasKruckenberg commented on #2663
Alright, here goes my issue-only knowledge dump 😂:

I'm struggling a bit with implementing this in tauri+tao directly, but here is how you can implement this yourself using the `ns_window()` handle and the `cocoa` crate:

[code]

This is how you would use the defined function in your app to make a window have a transparent titlebar.

[code]

[2022-04-05 17:39] ttfkam commented on #3669
Yep @FabianLars, that almost fixed the build issue. Thank you. FYI: someone might want to update the command I basically copy-pasted from the Tauri docs. I think my CLI goof may be a common mistake worth documenting proactively.
https://tauri.studio/docs/distribution/macos#binary-targets

[2022-04-05 17:44] ttfkam commented on #3669
tauri info results are unchanged from before
[code]

[2022-04-05 17:45] FabianLars commented on #3669
Try upgrading tauri-build (in Cargo.toml) to `1.0.0-rc.5`
Edit: tauri may need to be updated to `1.0.0-rc.6`, otherwise there might be version mismatches. But either way tauri-build needs to be updated to work with the latest cli versions.
Edit2: If you can't upgrade tauri because of the breaking changes yet, you can try to carefully downgrade the cli version again in the meantime.

[2022-04-05 17:49] ttfkam commented on #3669
Success! Updating to `-rc.5` was the last missing piece. Universal binary built and running now. Thank you. 👍

[2022-04-05 17:51] ttfkam commented on #3669
`-rc.6` appears to work as well. 👍

[2022-04-05 17:52] FabianLars commented on #3669
Nice!

With that resolved i'm gonna close this issue since the OP doesn't respond and it looked like an issue with the missing target (feel free to comment here again and we will re-open it)

[2022-04-05 17:52] #3669 closed, assigned to nobody

[2022-04-05 20:37] betamos commented on #3857
I'm using `iconAsTemplate: true`. On MacOS, it enforces monochrome + alpha (no color), including for dynamic `TrayHandle.set_icon` updates.

This option seems to do nothing on Windows and Linux, so the icon is full color. This is consistent with many other apps in these environments. Windows, KDE and Gnome are much more relaxed in their design guidelines - that said, anecdotally modern DEs and app

[2022-04-05 20:49] FabianLars commented on #3857
Yep, macOS only

Yeah, as said on discord too, i totally second that. It's pretty much impossible to get the tray color right on linux and windows.
For example on gnome no matter if dark mode (talking about both the new gnome 42 dark mode and the "old" adwaita-dark thingy) the top bar is black, but it can probably be styled too. Don't remember the situation with the dash-to-panel extension. And no

[2022-04-06 05:01] just-be-dev commented on #2798
Just a minor data point but I bumped into this too. It's ubuntu but I do have homebrew for some stuff I ended up cross managing across OSes. It's a weird setup, but it resulted in the same error. I had to add an extra entry to my `PKG_CONFIG_PATH`:

`export PKG_CONFIG_PATH=/usr/lib/pkgconfig:/usr/share/pkgconfig:/usr/lib/x86_64-linux-gnu/pkgconfig`

[2022-04-06 08:49] ultravires commented on #2067
**BUG:**
But parent window can not `getAll()`.

**To Reproduce: **
`A.js`
[code]

what should i do?

[2022-04-06 09:01] peterroe commented on #3858
My bad！I had modified the issue contents.

[2022-04-06 11:08] peterroe commented on #3859
Hello, We need more information about your system, Maybe you can run `npm run tauri info ` or `cargo tauri info` to get it.

[2022-04-06 12:42] lucasfernog commented on #2067
@ultravires I cannot reproduce this issue with the API example. Please file a dedicated issue with an app we can use to reproduce it, and also share the `tauri info` output (ensure you're using latest tauri releases).

[2022-04-06 12:44] Niedzwiedzw opened #3864 "[bug] 32 bit windows wix build is broken"
### Describe the bug

when building for for target `stable-i686-pc-windows-msvc` using tauri github action this happens:
[code]

2 bugs here
1. wix expects x64 binaries even though it's a 32 bit build
2. https://github.com/tauri-apps/tauri/blob/ed71679368845f603680465fdffcc90fe842bb8c/tooling/bundler/src/bundle/settings.rs#L503 this target is not handled properly for some reason

### Reproduction

[2022-04-06 12:45] #3559 closed, assigned to nobody

[2022-04-06 14:08] jaques-sam commented on #3701
On debian11 the package `libappindicator3-dev` cannot be found any more.

[2022-04-06 14:09] lucasfernog commented on #3701
We're currently working to expose the Ayatana appindicator in tauri.

[2022-04-06 14:11] lucasfernog commented on #3701
@jaques-sam you can add Debian 10 to your source list, see #2647

[2022-04-06 14:16] peterroe commented on #3864
It's probably blocked by something. Can you try downloading [it](https://github.com/wixtoolset/wix3/releases/download/wix3112rtm/wix311-binaries.zip) manually and unpack it into the src-tauri dir so that the project structure looks similar to this:

[code]
DownLoad link: https://github.com/wixtoolset/wix3/releases/download/wix3112rtm/wix311-binaries.zip

[2022-04-06 14:49] MaKleSoft commented on #3831
Yep, `boolean | string[]` would work as well.

[2022-04-07 02:51] onetonfoot commented on #3822
I'm also still experiencing this issue, having installed the latest version of `tauri-cli` (1.0.0-rc.8) from cargo.

[2022-04-07 03:35] onetonfoot commented on #3822
Turns out the issue was because I had the wrong version of  tauri-build (1.0.0-rc.4) after updating to `1.0.0-rc.5 all is good

[2022-04-07 07:10] awkj commented on #2663
Thanks, It's work for me
![image](https://user-images.githubusercontent.com/9017743/162140852-9e5a99bb-d52c-4ff1-9f93-ed00d8fece93.png)

but I not found API to hide toolbar(close maxsize fullsize button ) , if can hide the button, it will is perfect !

[2022-04-07 08:11] azerpas commented on #3189
Yeah I'm getting the same error when running with yarn and rustc 1.58, cargo 1.58.
[code]

Fixed by running
[code]

[2022-04-07 09:34] AaronW-BE opened #3867 "[bug] data-tauri-drag-region attribute cannot work in pure HTML page"
### Describe the bug

I used `data-tauri-drag-region`  in a normal html splashscreen page, it doesn't work as other react rendered page well

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-04-07 09:45] amrbashir commented on #3867
Please include the full `tauri info` output and a minimal reproduction repo or at least steps to produce.

Splash windows are not different than any other windows. Just make sure that you have `tauri > allowlist > window > startDragging` enabled in your `tauri.conf.json`

[2022-04-07 10:09] AaronW-BE commented on #3867
Thanks for your answer, its a mistake, I used an absoulte path on the disk for splashscreen file path, now I drop the `splashscreen.html` file to public dir in react project, it works well!
Thanks agian, hahaha

[2022-04-07 10:09] #3867 closed, assigned to nobody

[2022-04-07 10:12] rming opened #3868 "[bug] msi installer lost sidecar exe file when install with old version installed (Windows)"
### Describe the bug

https://streamable.com/k0lc8i
https://streamable.com/ql2x6u

### Reproduction

tauri app msi installer with sidecar exe file

1. install v1 msi
2. install v2 msi

the sidecar exe file missing

### Expected behavior

_No response_

### Platform and versions

[code]

### Stack trace

_No response_

### Additional context

_No response_

[2022-04-07 10:22] JonasKruckenberg commented on #2663
This can be archived with the same NSWindowStyleMask that I used in the above example if you merely want to "grey-out" the minimize and close buttons.

If you're looking to hide all window buttons you should have chosen `WindowBuilder::decorations(false)` that has already been available for a while

[2022-04-07 12:37] Tixwell opened #3869 "[bug] TypeError: undefined is not an object (evaluating 'window.rpc.notify')"
### Describe the bug

I'm trying to run a command like this : https://tauri.studio/docs/guides/command/

But I face this error:

<img width="1399" alt="Capture d’écran 2022-04-07 à 14 36 32" src="https://user-images.githubusercontent.com/59584617/162200030-0f1c7c26-8dcc-425e-8ae2-7d1ec48bfe57.png">

[code]

### Reproduction

_No response_

### Expected behavior

_No response_

### Platform and v

[2022-04-07 12:37] Tixwell commented on #3869
@azerpas

[2022-04-07 12:50] FabianLars commented on #3869
Please include the _whole_ output of `tauri info`...
This looks like an outdated `@tauri-apps/api` package at first glance.

[2022-04-07 12:53] peterroe commented on #3858
Can you help me? because of this problem, I can's develop my application continue :(

[2022-04-07 12:53] Tixwell commented on #3869
Hey here is the tauri info:

Environment
  › OS: Mac OS 12.2.1 X64
  › Node.js: 17.6.0
  › npm: 8.5.1
  › pnpm: Not installed!
  › yarn: 1.22.17
  › rustup: 1.24.3
  › rustc: 1.58.1
  › cargo: 1.58.0
  › Rust toolchain: stable-x86_64-apple-darwin

Packages
  › @tauri-apps/cli [NPM]: 1.0.0-rc.7
  › @tauri-apps/api [NPM]: 1.0.0-beta.8
  › tauri [RUST]: 1.0.0-rc.6,
  › tauri-build [RUST]: 1.0.0-rc.5,

[2022-04-07 12:55] nothingismagick commented on #3869
Is outdated.

[2022-04-07 12:56] FabianLars commented on #3858
I couldn't reproduce this issue myself (it works fine for me). I can take another look in the evening, if nobody else beats me to it.

Edit: I didn't test it with your urls yet tho. Do they work fine in a browser? Because a _timout_ doesn't sound like a scope error.

[2022-04-07 13:04] Tixwell commented on #3869
I just updated it but the error is still there.

[2022-04-07 13:04] nothingismagick commented on #3869
did you update the acceptlist?

[2022-04-07 13:06] FabianLars commented on #3869
Honestly, if you updated the package, you can't get that exact error, because the code it comes from doesn't exist anymore.

So make sure your api npm package is at rc.3 (also check the lockfile and "tauri info"

[2022-04-07 13:11] #3869 closed, assigned to nobody

[2022-04-07 13:24] peterroe commented on #3858
I found that I only have this problem when requesting XML files for multi-level routing
The strangest thing is that the first-level routing is OK, but the multi-level routing is not.

[2022-04-07 13:31] lucasfernog commented on #3189
Make sure you update every dependency to the RC instead of beta. Use `cargo tauri info` to check it.

[2022-04-07 14:20] nothingismagick commented on #3858
Please try updating rust with `rustup` and install the latest `@tauri-apps/api` and `@tauri-apps/cli` versions

[2022-04-07 14:34] Pierstoval opened #3870 "[feat] Use configured target triple for filename"
### Describe the problem

For now, when compiling a project, the final filename for the binary depends on the OS, as stated in the `build.rs` file here for instance:

https://github.com/tauri-apps/tauri/blob/82c7855bf83326eafcad861642edd117684fa506/tooling/cli/src/build.rs#L211-L225

I could successfully manage to cross-compile the project by using [cross-rs/cross](https://github.com/cross-rs/cros

[2022-04-07 14:45] FabianLars commented on #3870
I almost think trying to find both files (first exe, after that without extension) would be more reliable (and ofc easier).

Also keep in mind that we explicitly don't support cross-compilation yet, so no promises that a fix for this will make it into V1 stable :)

[2022-04-07 15:13] Pierstoval commented on #3870
Indeed! Do you want me to work on a small patch? I'm not sure to have all the necessary knowledge about the builder's workflow, but I can try 👍

This wouldn't be "explicit cross-compilation support", it would be more like _"making it easier for nerdies trying edge-case cross-compilation"_, and since it shouldn't (and musn't) have any impact on the project, I guess it's fine 😇

[2022-04-07 15:43] FabianLars commented on #3870
Which is pretty much what I meant. Our (human) resources are scarce and since it blocks only something we explicitly don't support (aka spend much time on) we make no promises that it will make it into vs. Especially since we need to make sure that it doesn't break anything (tbf that would be really weird for such a simple change).

That said "no promises" does _not_ mean that it can't make it int

[2022-04-07 17:34] betamos commented on #3870
Note that there's some shared logic with sidecar (external) binaries as well, might even be reusable code that can be plugged in. IIRC we use target triple to choose input file on those. There's some benefit in terms of total system complexity if input filename is deterministic. To me, it sounds like assuming input filename from current OS is just a plain old bug. Just my 2c.

+1 on this. One posi

[2022-04-07 20:20] probablykasper commented on #3801
Uploaded the video:

https://user-images.githubusercontent.com/11315492/162288406-75870144-8775-427f-98a3-0b9a72f31436.mov

Not seeing this bug in my apps on macOS 10.15, so I assume this bug is specific to macOS 11+.

[2022-04-07 20:24] probablykasper commented on #3855
`tauri info` is saying your `@tauri-apps/cli` is on `1.0.0-rc.6`, so looks like it's out of date

[2022-04-08 03:28] cangSDARM commented on #3256
I have a similar problem...

in the current version, how do i pass multiple arguments with app_handler?

[code]

![image](https://user-images.githubusercontent.com/20441896/162356880-735ab636-215a-44be-8248-4d24f7ba58b8.png)

[2022-04-08 03:33] FabianLars commented on #3256
@cangSDARM your Payload must derive `Deserialize` not `Serialize`. The latter is needed for values you want to return from commands.

Edit: keep in mind that this function needs to be invoked with an object in JavaScript (`invoke("cmdname", {label:"newwindow"})`)

You can change the signature to something like `async fn cmdname(handle: AppHandle, label: String, transparent: Option<bool>) {}` if yo

[2022-04-08 05:32] awkj commented on #2663
yes, I have use the API, it equal to setting tauri.conf.json "decoration" = false, but the setting will let window border lose round

[2022-04-08 06:55] rming commented on #3855
`yarn list | grep tauri-apps/cli  -C3`

[code]
That's weird, let me see what's wrong

[2022-04-08 07:51] JonasKruckenberg commented on #2663
Do you want to publish your app to the macOS App Store? If not you can use `"transparent": true` and use css to recreate the border radius. It's as easy as that, no need for unsafe objective C interop.

[2022-04-08 08:02] rming commented on #3855
[code]

It looks like tauri info is showing the wrong version number, although I don't know why.

[2022-04-08 08:15] rming commented on #3855
[code]

[2022-04-08 08:42] awkj commented on #2663
the solution I found it in tauri document (https://tauri.studio/docs/guides/window-customization)  ,but not perfect ,when I drag my windows , the border have display blank block on border. I want a setting can hide button and have round border(the style like native swift ui on mac)

Yes, I want publish to  App Store ,  Why rust need use private API, but use swift or electron can  ?