[2021-06-19 01:13] lucasfernog commented on #917
I have a fix for this, I'll push it tonight.

[2021-06-19 04:15] SOVLOOKUP commented on #727
I hope tauri can support win7. It's very important to me.

Many government agency customers still use win7.

and now webview2 support win7 too.

[2021-06-19 07:53] anvaymishra1 opened #2009 "Cannot ship external license agreements along with the Setup"
I tried to ship have an external licence agreement along with the setup of my app built using tauri but couldn't do so with the current structure.

[2021-06-19 08:32] chrisspiegl commented on #1773
I just got interested in Tauri as an alternative to Electron.
I find the size benefits incredible, however, I would love to see an easier way to have a Node.JS backend.
I understand the preference for rust, yet I am not willing to learn that environment at this time.
So I am now subscribed to this issue here and am looking forward to see how things continue.

I tried understanding the ways guijs d

[2021-06-19 09:08] Laegel commented on #1773
Hey @chrisspiegl and @rxliuli ,
You'll find an up to date guide [right here](https://github.com/tauri-apps/tauri/blob/dev/docs/usage/guides/bundler/sidecar.md) to embed a binary such as Node.js.
Note that you may need to use Tauri's dev branch in order to make it work.

[2021-06-19 11:34] chrisspiegl commented on #1773
@Laegel I am trying and I think I am getting closer. Thanks for the tip.
I am however, now stuck at one specific point which is that upon running the app I get:

[code]

The line that throws the error is:

[code]

The files should be present, and the binary of the build is also as big as the binary I am packaging.

The files also are named with the tripplet stuff.

Maybe this is the thing you ment

[2021-06-19 11:47] lemarier commented on #1773
Could you try to put the sidecar in src-tauri/target/debug (same folder as the binary)

[2021-06-19 11:52] rxliuli commented on #1773
But I found another lower-level library [webview](https://www.npmjs.com/package/webview), which can display the specified url as a window, combined with pkg seems to be easier to package the nodejs service into a binary program

[2021-06-19 11:56] chrisspiegl commented on #1773
@lemarier That indeed elevated the problem and the app launched without the error message that the sidecar was not found.
A bit of light at in the tunnel.

Do you have any idea about how this now could be adjusted to work for builds and dev as well? Am I doing something wrong or can I adjust my code somehow?

[2021-06-19 11:57] chrisspiegl commented on #1773
@lemarier That indeed elevated the problem and the app launched without the error message that the sidecar was not found.
A bit of light at in the tunnel.

Do you have any idea about how this now could be adjusted to work for builds and dev as well? Am I doing something wrong or can I adjust my code somehow?

And @rxliuli, that is an idea. But I like that tauri has more to offer (menu bar icon, me

[2021-06-19 12:02] lemarier commented on #1773
awesome!

I'll ask @lucasfernog to help on this as I'm not 100% sure what's the best way to do it.

What's about deno? You can do a `deno compile` to get a binary with deno + your code compiled so instead of shipping node binary you ship your deno bundle that include the v8 engine. (that's a personal suggestion)

[2021-06-19 12:07] rxliuli commented on #1773
This reminds me of an article. . .
https://hackernoon.com/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f#.5zzf9ydlm

[2021-06-19 12:16] lucasfernog commented on #1773
Sidecar on dev was fixed and will be available on the next release.

[2021-06-19 12:18] chrisspiegl commented on #1773
@lucasfernog That sounds awesome, is there a timeline? For now, copying the binary will work for me during development.

[2021-06-19 12:36] lucasfernog commented on #1773
Next week probably.

[2021-06-19 12:59] nothingismagick commented on #1773
Yes, we were involved in webview for quite some time, but its C approach proved to cumbersome for our project

[2021-06-19 16:45] The-Mr-L opened #2014 "Can not render HTML5 drag & drop"
**Describe the bug**
Hey and thanks alot for the awesome work you guys do on this project!
well the thing is  I have spend quite some time trying to figure out why I cant  do drag and drop like using vuejs and the lib called vuedraggable or even raw html5 drag and drop.   elements are not draggable inside tauri window and if I serve the dev-serve for the browser it renders as it should , in both c

[2021-06-19 16:48] lucasfernog commented on #2013
We have a fix for this on the tauri repo. It will be available on the next release.

[2021-06-19 16:53] chrisspiegl commented on #1773
@lemarier and @rxliuli in terms of the `deno compile` idea. That may be something for others to work on. But for me this is a side project not full time work. I don't want to learn tones of new things if I can avoid it. And learning a new eco system (aka deno or rust) and becoming fluent in it is not my goal here.

I am very much looking forward to being able to program web view based applications

[2021-06-19 16:57] #917 closed, assigned to nobody

[2021-06-19 17:05] Laegel commented on #2014
Hey @LambdaMan2K , thanks for the issue!
We are aware that the HTML5 drag&drop API is broken (at least on Windows), some users have noticed it and reported it on our Discord.
For now, the only workaround we thought about is using a library that doesn't rely on this API.
I don't know why exactly this is happening, feel free to go deeper in the investigation. Come to see us on our Discord if you nee

[2021-06-19 17:11] lucasfernog commented on #2014
I think @wusyong said we need to allow disabling the file-drop feature.

[2021-06-19 17:13] Laegel commented on #2014
Ah, indeed.

[2021-06-19 17:27] lucasfernog commented on #2014
I'll try to fix this for the next release. Do you have an app I can use to test it @LambdaMan2K ?

[2021-06-19 17:50] The-Mr-L commented on #2014
Thanks  for the quick reply guys, this is great!   Well I just used vue-cli
1. vue create app
2.  selected  vue2
3. cd app && vue add tauri && yarn add vuedraggable
4. then replace the src/components/HelloWorld.vue content with the following

[code]

then just yarn tauri:serve

XD if you need me to test it for you just tell me :) it just requires a simple html 5 drag and drop exapmle  to test it

[2021-06-19 17:59] nothingismagick commented on #2014
Indeed, the problem is that you currently need to turn off file drop if you want draggable in the window. Maybe though we could resolve this with dropzones, like how we manage the draggable region in undecorated windows. What do you think @wusyong

[2021-06-19 18:16] The-Mr-L commented on #2014
yes that seems  kinda tricky, so the issue is that tauri support drag and drop of files from the os and back and now we need some kinda of abstraction to allow both features at the same time or at the time being just allow only one of them to be used? , btw I dont kno w how to share vue js code the right way on github :s the format is off

[2021-06-19 20:50] ilukinov opened #2017 "Frameless window and something like '-webkit-app-region:drag' for tauri"
**Is your feature request related to a problem? Please describe.**
When building frameless window I need a way to give user ability to move and resize the window. Electron has style option that you can add to html tag to make it behave like window title bar in a sense that user can grab this element and drag the whole app window. Like so:
[code]

**Describe the solution you'd like**
Ideally I woul

[2021-06-19 21:13] olup commented on #2017
Hi, have you checked out https://tauri.studio/en/docs/guides/window-customization#html ?

[2021-06-19 21:16] olup commented on #2013
Oh, great ! I'll try it from dev once the pr is merged, and report here

[2021-06-19 21:24] Laegel commented on #2014
@LambdaMan2K  Write your Markdown this way:
[code]
you may need to add a line break before the last three backticks.

[2021-06-19 21:44] ilukinov commented on #2017
I did not! Thank you very much, this will do the trick.

[2021-06-19 21:44] #2017 closed, assigned to nobody

[2021-06-20 00:31] elibenporat opened #2018 "This version of %1 is not compatible with the version of Windows you're running."
**Describe the bug**
I get the following cryptic error message: This version of %1 is not compatible with the version of Windows you're running. Check your computer's system information to see whether you need a x86 (32-bit) or x64 (64-bit) version of the program, and then contact the software publisher. (os error 216)

I assume it's webview2, but I can't be sure? I didn't know how to fill out the

[2021-06-20 06:20] poovarasanvasudevan opened #2019 "Open / Close window through Rust API [docs]"
I registered two window

`
{
"windows": [
      {
        "title": "window1",
        "width": 280,
        "height": 600,
        "resizable": false,
        "fullscreen": false
      },
      {
        "title": "window2",
        "width": 350,
        "height": 350,
        "resizable": false,
        "fullscreen": false,
        "alwaysOnTop": true,
        "visible": false,
        "url": "htt

[2021-06-20 08:07] The-Mr-L commented on #2014
Thanks @Laegel

[2021-06-20 08:16] FabianLars commented on #2018
You need to have Microsoft Build Tools 2019 installed. You most likely also have to remove old versions (2015/2017) too (no side-by-side installs).

[2021-06-20 09:44] nothingismagick commented on #2018
Thanks Fabian, you're right.

[2021-06-20 09:44] #2018 closed, assigned to nobody

[2021-06-20 10:48] amrbashir commented on #2018
This is a common question and should be added to the F.A.Q

[2021-06-20 11:01] ikey4u opened #2020 "vue router does not work in tauri"
**Describe the bug**
When using vue router in tauri, it works in `yarn tauri:serve` mode but not work in built production generated by `yarn tauri:build`.

**To Reproduce**

I created a simple and dirty demo here [https://github.com/ikey4u/tauri-vue](https://github.com/ikey4u/tauri-vue) to reproduce the problem

**Expected behavior**
The built binary generated by `yarn tauri:build` works as it doe

[2021-06-20 12:21] Laegel commented on #2020
Hey @ikey4u , thanks for the issue!
I see you're using the `history` mode that has some known problems with Tauri (I think the history API requires a polyfill), try to switch to the default `hash` mode.

[2021-06-20 12:25] lucasfernog commented on #2020
The wry team fixed the old history mode but now we need a fix for the custom protocol asset loading. For now the hash mode fixes it.

[2021-06-20 12:37] #2013 closed, assigned to wusyong

[2021-06-20 12:38] joaobsantos opened #2021 "Reloading in bundle crashes the app."
**Describe the bug**
After you bundle your app, if you have a button with window.location.reload() or right click and refresh, the app crashes or the window says that 127.0.0.1 cannot process the request.

It seem to me that hes trying to get an asset from my folder and addin myurl(/chat/joao) in the last part of the path
Ex:
thread '<unnamed>' panicked at 'Could not read asset **D:\Apps\2-Develop

[2021-06-20 12:55] joaobsantos opened #2023 "feature: request user attention"
Allow javascript to require focus to the window in the taskbar with blinking icon.

Ex:

![image](https://user-images.githubusercontent.com/14371776/122674919-17a42180-d1cf-11eb-94a8-27260916ada9.png)

[2021-06-20 13:24] ikey4u commented on #2020
@lucasfernog @Laegel I have changed the mode to hash mode, but it still does not work in built production, see the demo repo.

[2021-06-20 13:26] lucasfernog commented on #2020
I'm checking it right now.

[2021-06-20 13:53] joaobsantos commented on #2021
For now, i've changed react-router-dom to use HashRouter and fixed this problem.

[2021-06-20 13:59] lucasfernog commented on #2019
[code]

Note that you need to add `"label": "window1"` to the tauri.conf.json window object.

[2021-06-20 13:59] #2019 closed, assigned to nobody

[2021-06-20 14:07] lemarier commented on #2023
I think this should be handled at the window level, so the `tao` issue makes sense.

[2021-06-20 14:12] amrbashir commented on #2023
@lemarier we have it on `tao`, we just need to expose it on Tauri

[2021-06-20 14:47] #2020 closed, assigned to nobody

[2021-06-20 14:52] dumrich opened #2025 "Getting issue WebKit encountered an internal error when using Fetch API"
**Describe the bug**
When I use Fetch API to fetch data from my API, my app is giving an error that says, "Failed to load resource, WebKit encountered an internal error". Note that it works fine when doing anything else except fetch
**To Reproduce**
Steps to reproduce the behavior:
1. Try using fetch API.

**Expected behavior**
Get expected results.

**Screenshots**
If applicable, add screenshots

[2021-06-20 15:34] nothingismagick commented on #2025
Can you please share the csp value in your tauri.conf.json and also paste the results of `yarn tauri info`?

[2021-06-20 15:35] The-Mr-L commented on #2014
Hello again, well you  are right
I just tried to comment out this part and html5  drag and drop works as expected so far :)
// if let Some(handler) = file_drop_handler {
  //   webview_builder =
  //     webview_builder.with_file_drop_handler(create_file_drop_handler(context, label, handler));
  // }
Thanks again

[2021-06-20 19:06] olup commented on #2013
Thanks a lot, working great on my end !

[2021-06-21 02:42] #2023 closed, assigned to nobody

[2021-06-21 02:57] #2021 closed, assigned to nobody

[2021-06-21 03:12] lucasfernog commented on #2025
I can use `fetch` normally on Linux. Check the console to see if it's not a CORS issue.

Here's an example API I used to test it:

[code]

And this is how I called it:

[code]

My CSP on tauri.conf.json is `default-src blob: data: filesystem: ws: wss: http: https: tauri: 'unsafe-eval' 'unsafe-inline' 'self' img-src: 'self'`.

Please reach us on Discord if it still doesn't work.

[2021-06-21 03:12] #2025 closed, assigned to nobody

[2021-06-21 03:13] lucasfernog commented on #2009
Which OS? Windows? Please provide more details next time. Currently it is only implemented for macOS.

[2021-06-21 04:34] yang-dong-dong opened #2028 "raspberry PI supported"
![image](https://user-images.githubusercontent.com/20069609/122707667-0d485d00-d28d-11eb-8489-a3c4e9005449.png)

[2021-06-21 05:58] #2028 closed, assigned to nobody

[2021-06-21 13:36] #2009 closed, assigned to nobody

[2021-06-21 13:55] #2014 closed, assigned to nobody

[2021-06-21 13:55] ghost opened #2032 "Other Content-Type Header when creating a post request with form data"
**Is your feature request related to a problem? Please describe.**
Currently I am working on a client application, which communicates with a server that only accepts form data with the Content-Type "multipart/form-data" for uploading files. Setting the content type to "multipart/form-data" in the http.fetch method is not possible, it gets overwritten ("application/x-www-form-urlencoded").

**Descr

[2021-06-21 14:13] lucasfernog commented on #2032
Can you share the code you're using to perform the HTTP request? The `solution you'd like` is definitely what should be happening here per the HTTP crate documentation.

Also, you're using the default http client right? Not the reqwest one?

[2021-06-21 14:26] ghost commented on #2032
I am using the tauri (version 1.0.0-beta.2) javascript api, i don't know which crate is used internally.

The code i am using:

`http.fetch("URL", {
    method: "POST",
    headers: {
        "Content-Type": "multipart/form-data",
        ...
    },
    responseType: "Json",
    body: {
        payload: { file_path: "PATH_TO_FILE" },
        type: "Form"
    }
});`

The server answers with HTTP st

[2021-06-21 14:26] lucasfernog commented on #2032
I just tried it. This is my backend code:

[code]

And my fetch call:

[code]

And the backend logs this:

[code]

Reach to us on Discord if you still can't figure it out. We can reopen this if it is an issue on another platform/http client.

[2021-06-21 15:37] JonasKruckenberg opened #2034 "CTA fails in yarn monorepo"
**Describe the bug**
CTA doesn't set the name property in the generated package.json, this causes the subsequent `yarn install` command to fail in a yarn monorepo.

**To Reproduce**
1. create an empty folder
2. run `yarn init`, answer private? with true and add `  "workspaces": [ "packages/*" ]` to the generated package.json
3. create an empty folder `packages` and enter
4. run `yarn create tauri-

[2021-06-21 15:51] lucasfernog commented on #2034
I just ran the steps you provided and this is the error: `Command failed with exit code 1: yarn add --dev --ignore-scripts @tauri-apps/cli@latest`. Running the command outputs this:

[code]

Seems like create-tauri-app needs workspace support.

[2021-06-21 15:52] amrbashir commented on #2034
Are you sure it happens with all recipes and not only vanilla ?

CTA uses each recipe's official bootstrapping tool, for example, react recipe uses `create-react-app` and it should be responsible for creating the `package.json` and the `name` field

[2021-06-21 15:52] lucasfernog commented on #2034
Seems like it doesn't even reach the recipe side, just fails installing @tauri-apps/cli.

[2021-06-21 15:54] JonasKruckenberg commented on #2034
@amrbashir I've tried the vite recipe and vanilla so yeah

~But it has already set up the package.json right?~ Nevermind it has to to that if course

[2021-06-21 16:07] lucasfernog commented on #2032
I'm reopening it since we need to fix this problem when using the reqwest client feature.

[2021-06-21 16:31] amrbashir commented on #2034
if it fails there then the recipe part is done and now is preparing to do `tauri init`.

[2021-06-21 16:32] amrbashir commented on #2034
@JonasKruckenberg I hate to keep asking but can you try a recipe other than vite because it is broken right now ?

[2021-06-21 16:47] #2032 closed, assigned to lucasfernog

[2021-06-21 17:41] JonasKruckenberg commented on #2034
Yes I did, sorry for the confusion, I tried the vite first but since I heard it had problems I also tried the vanilla recipe to make sure it's really a bug

[2021-06-21 19:49] amrbashir commented on #2034
We create package.json for vanilla and it is supposed to have the name field.
I will look into it later (in a week probably)

[2021-06-21 23:01] crobibero commented on #1836
I just got back to attempting this again, and I'm still having a CORS issue. When I make the request using [Insomnia](https://insomnia.rest/) I can see the response headers being:
[code]

To me this means that any origin is allowed, so I don't think this is actually a CORS issue?
I also attempted to make a request to https://webhook.site using the same method mentioned

`fetch('https://webhook.sit

[2021-06-22 01:53] chippers opened #2038 "API example doesn't open new window when button clicked (crashes on `--release`)"
**Describe the bug**
API example crashes when clicking "New Window" in a release build. Debug builds generate the same error, but does not crash the window.

**To Reproduce**
1. Check out latest dev (59784c7e5587ff10d7f0c37ac414499da42d0707 at the time of writing)
2. Run `cargo run --bin api` (release and backtrace optional)
3. Click the "Window" tab on the left side
4. Click "New window" button
5

[2021-06-22 03:03] lucasfernog commented on #2038
Oops, I'll check this tomorrow. Thanks for finding it before the release!

[2021-06-22 04:29] #2038 closed, assigned to nobody

[2021-06-22 10:49] dizda opened #2040 "Can't build for target i686-pc-windows-msvc"
**Describe the bug**
Hi there,

Checked out the branch `tauri-v1.0.0-beta.1`, I can build smoothly for the target `x86_64-pc-windows-msvc`, but not for `i686-pc-windows-msvc` (windows 32-bit).

**To Reproduce**
I'm using the helloworld example.

[code]

**Expected behavior**

It shouldn't be `info: Target: x64` but x86

**Screenshots**
<img width="979" alt="Screen Shot 2021-06-22 at 17 48 35" src=

[2021-06-22 14:00] guillemcordoba opened #2042 "Tasks spawned with `async_runtime::spawn` don't execute when 3 sidecar commands have been executed"
**Describe the bug**

Tasks spawned with `async_runtime::spawn`  don't execute when 3 sidecar commands have been executed.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute 3 `Command::new_sidecar` in the `setup` hook of the application, with an `tauri::async_runtime::block_on` wrapper.
2. Try to `async_runtime::spawn`, or anything that uses that (eg and async command).
3. The spawned

[2021-06-22 14:01] lucasfernog commented on #2042
Can you share the code you're trying to execute?

[2021-06-22 14:50] guillemcordoba commented on #2042
This is what my main looks like:

[code]

After this setup is done, no spawned task gets executed. Maybe I'm doing something wrong?

[2021-06-22 15:09] lucasfernog commented on #2042
And which task is not being executed? I can only see the setup hook on your code, and it runs ok. Maybe you could come up with an example app to reproduce it?

[2021-06-22 15:27] guillemcordoba commented on #2042
For example this is not executing after the setup:

[code]

And also

[code]

Does not execute as well. I have tested that it is at least 3 sidecars spawned that cause this, with 2 it works fine.

I can try to provide a reproduction, yes

[2021-06-22 15:30] lucasfernog commented on #2042
Alright I think I can reproduce it, going to see what's happening.

[2021-06-22 15:49] guillemcordoba commented on #2042
Okey in another computer it seems to be happening with just 2 sidecars executing... So not sure what is happening in the background. Maybe a tokio runtime configuration thing?

[2021-06-22 15:51] lucasfernog commented on #2042
The `hi` is printed if I force kill one of the sidecar processes, so I think this is some kind of limitation with the number of spawned tasks on `tokio`. There's not much I can do, except reduce the number of tasks spawned by the sidecar (currently 3 for each command).

[2021-06-22 15:57] guillemcordoba commented on #2042
Isn't there some configuration that can remove that limitation for tokio?

[2021-06-22 16:27] lucasfernog commented on #2042
I don't think so.

[2021-06-22 16:39] lucasfernog commented on #2042
I'll push a PR that reduces the spawn count from 3 to 1 on each sidecar. I don't see an alternative solution :/

[2021-06-22 16:41] guillemcordoba commented on #2042
Thanks :) I'm experimenting with this:

[code]

It seems the default spawn limit is the number of cores your CPU has.

[2021-06-22 16:42] lucasfernog commented on #2042
Yeah that's what I imagined.

[2021-06-22 16:43] lucasfernog commented on #2042
Hmm we could use this, but I'm not sure it's a good idea to increase the default value: https://docs.rs/tokio/1.7.1/tokio/runtime/struct.Builder.html#method.worker_threads

[2021-06-22 16:49] guillemcordoba commented on #2042
I understand... It does the trick though, I'm able to create 3 sidecars and spawn more things :)

[2021-06-22 16:51] lucasfernog commented on #2042
#2044 will also fix it for your use case.

[2021-06-22 16:51] guillemcordoba commented on #2042
Yeap just saw it, thanks!

Your real-time support is really appreciated.

[2021-06-22 17:09] Beanow opened #2046 "(JS) HTTP requests should resolve on non-ok status codes"
**Describe the bug**

Currently non-ok status codes (like 404) will reject the requests promise, with an error like:
`failed to execute API: Network Error: Status code 404 Not Found indicates failure` (See https://github.com/tauri-apps/tauri/pull/2004)

OK requests do resolve, including a status code: https://github.com/tauri-apps/tauri/blob/034c26013bce0c7bbe6db067ea7fd24a53a5c998/tooling/api/src

[2021-06-22 17:21] lucasfernog commented on #2046
Yeah I did see this mistake recently, but it would be a breaking change :|

[2021-06-22 17:24] #2042 closed, assigned to nobody

[2021-06-22 17:37] Beanow commented on #2046
Yeah, it is unfortunate to break APIs but shipping as-is will guarantee people having issues implementing what they need.
As an example: https://discord.com/developers/docs/topics/rate-limits

[code]

Contains tons of information to avoid + efficiently respond to rate-limiting.
But a `429` status would reject so the client wouldn't have access to it.

[2021-06-22 20:29] #814 closed, assigned to nothingismagick

[2021-06-23 00:37] crobibero commented on #1836
Additionally, when making the request as `fetch('https://demo.jellyfin.org/stable/System/Info/Public').then(console.log)` on Windows, the request headers are:
[code]

On linux the request headers are:
[code]

I'm no CORS expert by any stretch, but I think the server doesn't like the custom protocol (`tauri://`). Is it possible to change the `Origin`?

[2021-06-23 16:09] BenoitRanque commented on #1934
I would like to propose the title of this issue be changed, or that it be closed.
The current title implies that tauri does not currently support angular, which is misleading.
While it is true that `create-tauri-app` does not currently support angular, it is currently possible to add tauri to almost any project provided an http endpoint is available.

IMHO most complex projects will not use `creat

[2021-06-23 16:21] nothingismagick commented on #1934
You're right.

[2021-06-23 16:22] nothingismagick commented on #1934
Lucas beat me to it.

[2021-06-23 16:51] lucasfernog commented on #2046
Since the HTTP API already has the status code on the resolved response, this can be seen as a feature or bug fix instead of a breaking change :)

[2021-06-23 17:22] #2046 closed, assigned to nobody

[2021-06-23 22:15] BenoitRanque commented on #1911
I was able to reproduce this issue on windows.

[2021-06-23 22:45] nothingismagick opened #2060 "ATTENTION: FEATURE FREEZE"
For the time being (until the audit is over) we will not accept any new feature requests for 1.0 - all work is being focussed on resolving issues discovered during the audit. Please consult the [next](https://github.com/tauri-apps/tauri/tree/next) branch if you want to use upcoming features.

You can read more about the code audit here:
https://dev.to/tauri/tauri-feature-freeze-and-security-audit-

[2021-06-23 22:57] probablykasper opened #2061 "`setFocus()` does not work if called right after `show()`"
**Describe the bug**
Calling `window.setFocus()` doesn't work if called right after `window.show()`. Happens both in JS and Rust

**To Reproduce**
This code should do the job:
[code]

**Platform and Versions**
OS: macOS 10.15.7
Node: 14.16.0
NPM: 6.14.11
rustc: 1.52.1

[2021-06-23 22:58] nothingismagick commented on #2061
Please add the results of `cargo tauri info` or `yarn tauri info`

[2021-06-23 22:59] probablykasper commented on #2061
Sure thing:
[code]

[2021-06-24 00:35] probablykasper opened #2062 "Ability to hide app from Dock"
Ability to hide app from Dock

There's a window-level `.skip_taskbar()` method, but as far as I can tell nothing for hiding the app itself from the Dock

[2021-06-24 00:40] probablykasper opened #2063 "Ability to hide app"
Would be nice to have the ability to hide the app, so that the app loses focus, just like the `MyApp > Hide MyApp` menu item. Mostly useful for macOS

[2021-06-24 07:59] amrbashir commented on #1839
<s>related to https://github.com/tauri-apps/tao/issues/103 </s>

[2021-06-24 08:00] amrbashir commented on #1839
I am gonna change the title since we can't do anything atm to correctly forward the double click so this issue will be about double click to maximixe instead.

[2021-06-24 09:11] BenoitRanque opened #2067 "Uniqueness of WebviewWindow label should be enforced"
**Describe the bug**
It is currently possible to create multiple instances of `WebviewWindow` with the same label.
This could lead to undefined behavior when we consider that `WebviewWindow.getByLabel()` returns a single handle.
Alternatively, `WebviewWindow.getByLabel()` could be changed to return an array if there are multiple windows with that label.

**To Reproduce**
Steps to reproduce the beh

[2021-06-24 15:13] fkromer commented on #1934
From my side there is no need to keep this issue open as well. I like Vue.js 3 better than Angular for creating Tauri apps. And as @BenoitRanque said it's of course possible to add Tauri to an already existing Angular app.

[2021-06-25 04:12] dizda opened #2074 "100% CPU consumption bug"
### **Describe the bug**
When I launch the "helloworld" example, the CPU consumption goes to 100%.
The commit https://github.com/tauri-apps/tauri/commit/3280c4aa91e50a8ccdd561a8b48a12a4a13ea8d5 introduce the bug.

### **To Reproduce**
[code]

### **Expected behavior**
CPU Should be around 0% when idling.
Previous commit (f7d21a4b864e067856018e7b1f4ba178aea46d71) doesn't have this bug.

[code]

###

[2021-06-25 04:46] dizda commented on #2074
I've also noticed that the mapping of commands between rust and the JS doesn't work.

[2021-06-25 07:14] sakthig opened #2075 "Unable to run in dev mode"
### **Unable to run app in dev mode**
When I run yarn tauri:serve on a freshly created vue app it shows blank screen. Instead if I do yarn tauri:build the app loads fine.

### **To Reproduce**
1. Create app using https://github.com/tauri-apps/vue-cli-plugin-tauri
2. Run 'yarn tauri:serve'

### **Expected behavior**
Should load vue app, instead of white screen.

### **Screenshots**
<img width="802"

[2021-06-25 08:42] nothingismagick commented on #2074
That is because you are using the old version of tauri core.
[code]

Please either update the source or use the latest crate from crates.io

[2021-06-25 08:48] cheng990629 opened #2076 "multiwindow to side by side"
**Is your feature request related to a problem? Please describe.**
multiwindow to side by side
or
create subWindow()
or
create Plugin html()

[2021-06-25 08:59] nothingismagick commented on #2074
Because its a bit confusing, I went and tried it, running directly on m1 mac from dev (both via yarn tauri and cargo tauri), without any problems - but you should remember a couple things:

1. please try to use latest toolchains - i.e. what is your version of the rust tauri-cli (`cargo tauri --version`)
2. try this: `cargo install tauri-cli --version ^1.0.0-beta.2` / or force install from the prop

[2021-06-25 09:03] nothingismagick commented on #1960
Can you please update all dependencies and confirm that this issue has been fixed? Thanks @n8jadams

[2021-06-25 09:11] dizda commented on #2074
FYI, I'm also on m1 mac.

❯ cargo tauri --version
cargo-tauri 1.0.0-beta.2

I think this is misinterpreted, because I've cloned the tauri repo, and checked out the right tag (1.0.0-beta.2).
I had first that issue with my own project, and I wanted to make sure the error was not coming from my projected, so I've tested it out with the provided examples from tauri's, and I encountered the same issues

[2021-06-25 09:16] dizda commented on #2074
About that part, it's when I've checked the earliest commit to find out when it started to produce the bug.

Here is the right `cargo tauri dev` when I check out the latest tag "git checkout tauri-v1.0.0-beta.2" (still with the bug)

[code]

[2021-06-25 09:19] dizda commented on #2074
active toolchain
----------------

1.52.1-aarch64-apple-darwin (overridden by '/Users/j/www/tauri/rust-toolchain')
rustc 1.52.1 (9bc8c42bb 2021-05-09)

[2021-06-25 09:20] nothingismagick commented on #2076
This makes no sense to me, sorry.

[2021-06-25 09:20] #2076 closed, assigned to nobody

[2021-06-25 09:22] nothingismagick commented on #2074
I am on the same rustc as a matter of fact - although we should both move to 1.53.0 :|

[2021-06-25 09:25] dizda commented on #2074
I've also tried with `yarn tauri dev`, same result.

I wonder what else could be different from your environment and mine?
Do you get normal CPU consumption?

[2021-06-25 09:30] cheng990629 commented on #2076
how to \<webview\>?

[2021-06-25 09:32] nothingismagick commented on #2074
Care to visit our discord and we can have a chat about it? Ping denjell

[2021-06-25 09:38] cheng990629 opened #2077 "how to <webview>?"
**Is your feature request related to a problem? Please describe.**
how to <webview>?

[2021-06-25 09:38] nothingismagick commented on #2076
I am sorry if it sounded rude, but I am still not sure what you want. Have you looked in the documentation, for example here:

https://tauri.studio/en/docs/guides/splashscreen

Alternatively, please write in your primary spoken language and I will try to translate.

[2021-06-25 09:47] cheng990629 commented on #2076
非常感谢，最后问一下，怎样使用electron 中的\<webview\> tabs功能，独立并行两个app

[2021-06-25 09:57] Laegel commented on #2076
I guess they'd like to use a webview HTML element in a webview window, a bit like Electron does.

[2021-06-25 09:58] cheng990629 commented on #2076
YES

[2021-06-25 10:58] wusyong commented on #2076
[Webview tag](https://developer.chrome.com/docs/extensions/reference/webviewTag/) is already deprecated by Chrome which electron uses it.

[2021-06-25 11:05] TomzBench opened #2078 "Support async commands with Window handle on Windows"
**Is your feature request related to a problem? Please describe.**
I have an async [tauri::command] that includes a Window.  This command compiles on Linux, but not compile on Windows.  On Windows I get an error that Window is not Send and not Sync.

**Describe the solution you'd like**
Window object on `Windows` should be `Send + Sync` as same on Linux.

**Additional context**

Here is the code t

[2021-06-25 12:11] TomzBench commented on #2078
I believe `c_void` does not have Send + Sync auto traits. So you might need to wrap this handle?  No idea if that is sound or not but perhaps this is why the Window is not `Send` on windows

[code]

[2021-06-25 13:40] #2077 closed, assigned to nobody

[2021-06-25 17:58] TomzBench commented on #2078
As a work around, i am no longer using `window.emit` and driving the `update` feature client side using a request/response pattern. I think what is actually needed for this use case is the concept of a `stream`.  Where instead of returning a future resolving a single response, we return a stream of responses. Maybe that would go in a different feature request

[2021-06-25 19:32] lucasfernog commented on #2078
You should move the window to the try_for_each closure (probably needs to clone a window for each iteration).

[2021-06-25 22:36] ghost opened #2079 "yarn tauri init stuck on Downloading Rust CLI..."
### `yarn tauri init` is stuck on Downloading Rust CLI...
When I run the command `yarn tauri init`, it just gives me the following and exits:
[code]

### **To Reproduce**
Steps to reproduce the behavior:
1. Install tauri (`yarn add -D @tauri-apps/cli`)
2. Initialize tauri (`yarn tauri init`)
3. It says `Downloading Rust CLI... Done in 0.20s` without anything else

### **Expected behavior**
Tauri w

[2021-06-25 22:49] reujab opened #2080 "Access to window instance?"
Nice project, I'd love to make some desktop widgets for Linux using Tauri. Is there any way we could set the [type hint](https://docs.rs/gtk/0.14.0/gtk/struct.WindowBuilder.html#method.type_hint) on Linux and possibly use the [layer shell API](https://github.com/subgraph/gtk-layer-shell-rs)?

**Describe alternatives you've considered**
Perhaps the developer could create their own modified window a

[2021-06-25 22:49] reujab opened #2083 "feat(linux): expose `gtk_window` method"
Nice project, I'd love to make some desktop widgets for Linux using Tauri. Is there any way we could set the [type hint](https://docs.rs/gtk/0.14.0/gtk/struct.WindowBuilder.html#method.type_hint) on Linux and possibly use the [layer shell API](https://github.com/subgraph/gtk-layer-shell-rs)?

**Describe alternatives you've considered**
Perhaps the developer could create their own modified window a

[2021-06-25 23:22] nothingismagick commented on #2083
Thanks for the suggestion, but we are about to enter code freeze, and the core team won't be accepting non critical features for at least the next several months. That said, if you wanted to create a PR that addresses your concerns, I am sure we would review. The proper place though, is going to be in the tao or wry repositories, Tauri would then integrate such low level interfacing.

[2021-06-26 05:06] amrbashir commented on #2083
No additional functionality is needed in Tao, we already expose a method to get the gtk_window so users can do what they want with it, will transfer back to tauri.

[2021-06-26 05:10] amrbashir commented on #2083
Here is the relevant code in Tao  https://www.github.com/tauri-apps/tao/tree/dev/src%2Fplatform%2Funix.rs#L18

[2021-06-26 08:06] JonasKruckenberg opened #2084 "Target triple mismatch"
### **Describe the bug**
The recently updated documentation provides a code snippet that automatically appends the target triple to a binary. I noticed, however that there is a mismatch between the llvm target triple and the rust target triple.
I suspect this mismatch is also present for different platforms, but in my case it is as follows:
LLVM target triple:
`x86_64-apple-macosx10.7.0`
rust targ

[2021-06-26 11:44] shareejvk opened #2103 "Support for accessing files from local filesystem with in html"
As of now, I am not able to access files from the local file system within HTML.
Reading files as binary then converting to base64 cant be considered as a solution to this issue as this is super slow especially for video files.
I believe local file system access within the renderer is a very basic requirement.

[2021-06-26 11:46] shareejvk opened #2085 "Support for accessing files from local filesystem with in html"
As of now, I am not able to access files from the local file system within HTML.
Reading files as binary then converting to base64 cant be considered as a solution to this issue as this is super slow especially for video files.
I believe local file system access within the renderer is a very basic requirement.

[2021-06-26 11:49] nothingismagick commented on #2085
You don't need to file the same issue in 2 repos. Closing in favor of wry.

[2021-06-26 11:49] #2085 closed, assigned to nobody

[2021-06-26 15:27] nothingismagick commented on #2103
One should be able to do something like:

[code]

[2021-06-26 18:08] thadguidry opened #2088 "[docs] Add ARCHITECTURE doc to update-docs workflow for website"

[2021-06-26 19:18] olup opened #2089 "Built app window is missing styles"
### **Describe the bug**
My dev app looks like :
![image](https://user-images.githubusercontent.com/13785588/123523386-80a20280-d6c3-11eb-90a0-beeb183acd6f.png)

But my built app looks like:
![image](https://user-images.githubusercontent.com/13785588/123523414-a8916600-d6c3-11eb-8f03-c5eefecc1e3e.png)

Notice the black line on top and the absence of shadows. Also - cursor never goes into "pointer"

[2021-06-26 19:30] nothingismagick commented on #2089
The only thing that pops out at me is that you are missing `tauri:` in your CSP

[2021-06-26 19:58] olup commented on #2089
Can I ask if and how I should add this ?

[2021-06-26 20:02] nothingismagick commented on #2089
Sure, edit the `CSP` value in `tauri.conf.json`:

[code]

[2021-06-26 20:28] olup commented on #2089
Added tauri: - but no changes on the output.

[2021-06-26 20:29] nothingismagick commented on #2089
I didn't really expect it to change anything in this situation, just wanted to make you aware of it. Do you have a repo where we can try to reproduce?

[2021-06-26 20:36] olup commented on #2089
The project I am working on is public on github : https://github.com/olup/fragment-desk
It's just a sketch - no judgement :-) (plus rust is not my mother-tongue).

I should try to build a fresh project on my machine when I get the time and see if it get the same bug (but I don't have much time those days).

[2021-06-26 22:51] RuudBurger commented on #2074
@nothingismagick

This is closed but I also have this issue.
Using `npx create-tauri-app` and picking the vanilla.js version.
If I run it cpu is at 100%.

[code]

[2021-06-26 23:20] Biacode opened #2090 "Ignore mouse event on transparent areas"
Hi, everybody!
It would be great to have the same feature as the electron has. Please see the link below.

https://www.electronjs.org/docs/api/browser-window#winsetignoremouseeventsignore-options

The feature is about ignoring and passing the mouse event.
I need to have this feature in the transparent locations within the Tauri window.
Thanks in advance :)

[2021-06-27 08:36] joaobsantos opened #2092 "feature: change app name in toast notifications"
**Is your feature request related to a problem? Please describe.**
It was pointed to me that the notification crate uses windows powershell

**Describe the solution you'd like**
I'd like to have the name of my apllication instead of Windows PowerShell or even better, to edit the name, because I can have one exe, with multiple "apps".

Ex: 2 routes in the same exe.

Route 1:  /chat: notification to

[2021-06-27 11:55] euphbriggs commented on #1830
I apologize for coming to this discussion late. If you've already worked out a process without elevated privileges, please disregard this message.

I've seen other update processes that require admin rights on Windows avoid the UAC prompt by using the Windows Task Scheduler. During an elevated install process, they create a task that runs with elevated permissions. When the update needs to run, th

[2021-06-27 11:58] euphbriggs commented on #1911
Is this related to DPI scaling?

Are the folks who experience this using a DPI scale factor other than 100% in their Windows display settings?

[2021-06-27 12:32] lucasfernog commented on #1911
I can reproduce this on my laptop with stock configuration.

[2021-06-27 12:37] nothingismagick commented on #2084
I can confirm, this happened to me as well.

[2021-06-27 12:40] lucasfernog commented on #2084
Seems like we should use [`rustc -vV`](https://github.com/rust-lang/cargo/blob/1dae5acb7d27568ca30fe2da49b4a447d7b78e90/src/cargo/util/rustc.rs#L50-L68) instead.

[2021-06-27 12:40] euphbriggs commented on #1911
Is there any chance your machine defaults to a scale factor other than 100%?

[2021-06-27 12:41] lucasfernog commented on #1911
It's 100%. Seems like the webview isn't recognizing the window position change.

[2021-06-27 12:42] lemarier commented on #1830
Hi @euphbriggs ,

Thanks a lot for your suggestion, I think it could be useful with an optional configuration as it may cause some security concerns.

If you want to draft a PR I'll be happy to help/guide you!

Thanks again

[2021-06-27 12:42] euphbriggs commented on #1911
Oh ok, thanks for checking.

[2021-06-27 12:50] euphbriggs commented on #1830
Sure thing. I'd be happy to take a crack at it.

Should I be looking for the code related to Wix?

[2021-06-27 12:54] lemarier commented on #1830
Hey @euphbriggs ,

Yes, you can take a look at the [bundler](https://github.com/tauri-apps/tauri/tree/dev/tooling/bundler/src/bundle/windows)

If you need to check the updater process, you can [see it here](https://github.com/tauri-apps/tauri/tree/dev/core/tauri/src/updater)

An [example](https://github.com/tauri-apps/tauri/tree/dev/examples/updater) is configured to kick a new update if you need

[2021-06-27 12:56] lucasfernog commented on #1911
@amrbashir just posted this on Discord:

https://github.com/MicrosoftEdge/WebView2Feedback/issues/780
https://github.com/MicrosoftEdge/WebView2Feedback/issues/780#issuecomment-808306938

[2021-06-27 14:02] #2078 closed, assigned to nobody

[2021-06-27 19:50] euphbriggs commented on #1830
@lemarier I put together a very basic prototype of the idea in [this repo](https://github.com/euphbriggs/task_scheduler_prototype).

To keep it simple, it just launches an elevation command prompt, but the concept should work for the update process too.

If this looks like a good direction to you, I'll start looking into how this fits into the Tauri ecosystem and put together a pull request.

[2021-06-27 21:08] Biacode commented on #2090
Found this implementation in Electron C++ code. Maybe this could help.
https://github.com/electron/electron/blob/b8261f15916eb94428d5672716f85c56720b1501/shell/browser/native_window_views.cc#L1047

[2021-06-28 00:05] #2067 closed, assigned to nobody

[2021-06-28 00:20] lucasfernog commented on #2061
It works on Windows. Gonna try on Mac when I get home.

Can you see if it works if you `await` on the show call?

[2021-06-28 00:21] #2084 closed, assigned to nobody

[2021-06-28 00:28] probablykasper commented on #2061
@lucasfernog `await` does not fix it.

Also noticed that even using a `setTimeout` of 0ms fixes it

[2021-06-28 03:13] dizda commented on #2040
Hi @lucasfernog

Thanks for the patch.
It seems that it didn't fix the issue though, I've pull to the latest commit which includes https://github.com/tauri-apps/tauri/commit/8e2387018940e9e1421948d74a82156661ce2e4b, and re-built cli.rs but it doesn't seem to change anything about it.

<img width="838" alt="Screen Shot 2021-06-28 at 10 12 45" src="https://user-images.githubusercontent.com/1245245/1

[2021-06-28 03:24] lucasfernog commented on #2040
Seems like that's a different issue now.

[2021-06-28 03:36] lucasfernog commented on #2040
Btw did you check the correct bundle path? it's printed on the stdout.

[2021-06-28 03:40] dizda commented on #2040
Yes, the path is correct and contains the bundle.

<img width="843" alt="Screen Shot 2021-06-28 at 10 40 01" src="https://user-images.githubusercontent.com/1245245/123577018-3d4baf00-d7fd-11eb-8379-25a530c4f75c.png">

[2021-06-28 03:44] lucasfernog commented on #2040
Something must be wrong with the wix code. I'll check it tomorrow.

[2021-06-28 03:48] dizda commented on #2040
Sure, could you reopen the issue in the meanwhile? 🙏

[2021-06-28 06:47] balbatross opened #2099 "Warn about scoped names"
**Is your feature request related to a problem? Please describe.**
I'm building from a scope mono repo and when the package name starts with @ tauri build fails with little context and the following message (Error: No such file or directory (os error 2))

**Describe the solution you'd like**
Warn during init that scoped names are invalid or remove the scoping and snake case the result

[2021-06-28 07:10] nothingismagick commented on #2099
probably better for us to be smarter about that than to offer workarounds.

[2021-06-28 07:18] lisiur commented on #2079
I also encountered the same problem, and it took longer to display the prompt “Done in *s”, but in fact nothing happened. Sometimes switching networks may succeed. The strange thing is that there is no error message. This is very confusing.

[2021-06-28 07:20] nothingismagick commented on #2079
hmm. i worried that we may have had problems because of serving assets from GH Releases - thanks for the reporting. going to talk with the team and see about figuring out a more reliable alternative.

[2021-06-28 07:26] wusyong commented on #2103
I updated the custom protocol example in tauri-apps/wry#315 which should make it more like a real life sample to load local assets.
@lucasfernog @lemarier Does tauri support this feature yet?

[2021-06-28 07:32] wusyong commented on #2103
Btw, I tested `file://` protocol last weekemd.
It can be used to load the webview by `with_url`.
But it is extreme restricted in the HTML files on all platforms.
And even there are some hacks and workarounds. It still has some wierd behaviors.

[2021-06-28 08:31] advancedtw opened #2100 "[macOS] window visibility setting not respected for new windows"
### **Describe the bug**
setting the visibility of a newly created window to false doesn't hide the window.

### steps
the most basic way to reproduce this bug is to add a window in tauri.conf.json
[code]
run the app

### **Expected behavior**
I'm expecting win2 to be hidden

### **Platform and Versions (required):**
[code]

### **Additional context**
reported the issue on discord and confirmed by

[2021-06-28 09:18] joaobsantos commented on #2092
@lucasfernog  can I help implement this? Need some pointers... thx

[2021-06-28 09:42] nothingismagick commented on #2100
Yeah, I ran the splashscreen example on dev and can confirm.

[2021-06-28 10:28] KaeruCT opened #2101 "Windows build Error: "The system cannot find the path specified. (os error 3)""
### **Describe the bug**
The build seems to fail. However, I look into the `src-tauri\target\release` directory, and an app.exe file is there. I ran it and it works perfectly.

[code]

### **To Reproduce**
Steps to reproduce the behavior:
Run `npm run tauri build`
[code]

### **Expected behavior**
I expected the build to have an exit code 0, with no errors in the output.

### **Screenshots**
If ap

[2021-06-28 11:06] lucasfernog commented on #2092
That app name is for dev only. On build you should see your own app name.

[2021-06-28 11:07] lucasfernog commented on #2092
Not sure if you can change it dynamically, I think you can't.

[2021-06-28 11:44] lucasfernog commented on #2092
The app name is determined from the bundle id: https://allenbenz.github.io/winrt-notification/0_1_3/winrt_notification/struct.Toast.html
I don't think you can have multiple bundle ids on the same binary, so this is impossible to do.

[2021-06-28 11:44] #2092 closed, assigned to nobody

[2021-06-28 11:44] lucasfernog commented on #2092
Please reopen if you find something that we can implement.

[2021-06-28 12:20] amrbashir commented on #1839
Apparently I was wrong, fixing the Aero-Snap on windows, didn't maximize the window on double clicking a drag-region.

A solution to this problem can be like this, I'd like your input @lucasfernog:
[code]

[2021-06-28 12:47] lucasfernog commented on #2101
Any chance you can give us an app to reproduce it?

[2021-06-28 12:49] lucasfernog commented on #2079
Sounds like an issue with the init command, and not with the CLI downloading.

[2021-06-28 12:49] lucasfernog commented on #2079
Does `yarn tauri into` prints the message correctly? I guess it's only on the init cmd.

[2021-06-28 12:52] nothingismagick commented on #2079
Do you have a project you are installing into?
i.e.
[code]

[2021-06-28 12:54] lucasfernog commented on #2099
I'm not sure the scoped name is the problem here. Can you create a repo with a project to reproduce it?

[2021-06-28 13:04] lucasfernog commented on #1839
Makes sense @amrbashir

[2021-06-28 13:17] #2040 closed, assigned to nobody

[2021-06-28 13:20] joaobsantos commented on #2092
Thanks Lucas I just figured this out and came here to tell, that if I do the msi setup the exe that he creates solves this problem, I thought that the exe in the release folder was the same... Next time I will check the issue first :) Thx

[2021-06-28 13:42] amrbashir commented on #2092
@joaobsantos that's my bad not yours, I checked the `notify-rust` crate code on a hurry and told you to open a false issue.

[2021-06-28 13:44] Blakeinstein opened #2105 "Central version bump."
**Is your feature request related to a problem? Please describe.**
Any time a version bump is required. I need to update three locations
1. `tauri.conf.json` : Build version on the binaries.
2. `package.json`: Version number for github releases
3. `cargo.toml`: I dont think this is honored anywhere, except when using cargo run.

**Describe the solution you'd like**
A central source of truth? Can t

[2021-06-28 13:56] #2103 closed, assigned to nobody

[2021-06-28 14:00] joaobsantos commented on #2092
No worries, it's the best way for me to learn is to talk to you guys :) thx

[2021-06-28 14:23] KaeruCT commented on #2101
Hi Lucas, thanks for your help!

I have created a smaller app in which the issue still happens https://github.com/KaeruCT/tauri-win-issue-2101

[2021-06-28 23:14] #1839 closed, assigned to nobody

[2021-06-28 23:30] lucasfernog commented on #1928
We have an `exports` section on our package.json so I think svelte-kit should respect that.

[code]

[2021-06-29 00:05] lucasfernog commented on #2101
You can't have slashes on the productName since the app executable is renamed to that string. I've improved the error message though.

[2021-06-29 00:14] lucasfernog commented on #2099
I think #2114 fixes it and the problem is when the product name has slashes. Let me know if you still face any issues.

[2021-06-29 00:14] #2099 closed, assigned to nobody

[2021-06-29 00:25] #2101 closed, assigned to nobody

[2021-06-29 02:10] dizda commented on #2040
Good job mate, it works like a charm now!

<img width="978" alt="Screen Shot 2021-06-29 at 09 07 10" src="https://user-images.githubusercontent.com/1245245/123726261-df30d180-d8b9-11eb-9688-cd8e78c37976.png">

[2021-06-29 02:26] lisiur commented on #2079
The easiest way to reproduce is to cut off the network and run `yarn tauri init`. And I found the problem：

https://github.com/tauri-apps/tauri/blob/4339b46e4bedc27f943db296ef5d89674046ca0e/tooling/cli.js/src/helpers/download-binary.ts#L42-L45

Throw statement in the catch callback will not be thrown out, we need try-catch to handle it.
New PR has been submitted #2116

------------edit------------

[2021-06-29 05:52] MitchellMonaghan commented on #1935
Hi I've been playing with Tauri and there seems to still be a issue with this unless I'm just being dumb. I am running the following in the browser/webview using the typescript api and no stdout or stderr is printed. The close event is fired and a pid is printed.

[code]

[2021-06-29 06:50] ghost opened #2118 "http POST: missing boundary with content-type "multipart/form-data""
Currently it is not possible to use "multipart/form-data" as content-type posting form-data with the http module due to missing boundary.

Example using the JS-API setting content-type by hand resulting in missing boundary:

[code]

This might be an issue with attohttpc, leaving the content type blank the content-type defaults to "application/x-www-form-urlencoded".

I am using the latest version

[2021-06-29 07:57] nothingismagick commented on #2118
This is a great finding, thankyou! I see a couple options here:

1. You create a custom command and use something like reqwest
2. We create an advanced plugin using something like reqwest
3. We replace our current client with something like reqwest

[2021-06-29 08:29] myWsq commented on #2074
Same problem when using `vue-cli-plugin-tauri`

[code]

[2021-06-29 08:44] nothingismagick commented on #2074
Hmm. You know, something I remembered is that I actually transferred the contents of my Intel mac to the M1, and I am actually still using the Intel version of rustc: `x86_64-apple-darwin` - I never bothered to switch over since everything was working fine.

Maybe @wusyong can help us out here, since he also has an m1

[2021-06-29 09:20] RuudBurger commented on #2074
I'm on an Intel machine though, So it doesn't seem to be related to the m1

[2021-06-29 09:22] lemarier commented on #2074
I can confirm tauri `api` kick my cpu at 100%, and wry didn’t. (Intel)

[2021-06-29 12:38] yamadapc commented on #2074
![Screen Shot 2021-06-29 at 22 04 43](https://user-images.githubusercontent.com/3923654/123794363-163ccc80-d926-11eb-860e-29781ea5f620.png)

https://github.com/tauri-apps/tauri/blob/fe32afcc933920d6282ae1d63b041b182278a031/core/tauri-runtime-wry/src/lib.rs#L1369-L1385

I'm not familiar with `CFRunLoopObserverCreate` ; there's a busy loop per event-loop tick. Quite a few different things running th

[2021-06-29 12:49] yamadapc commented on #2074
This happened after changing deps from `beta.1` to `beta.4`

Also:
- https://github.com/tauri-apps/tao/blob/dev/src/platform_impl/macos/app_state.rs#L418-L425

[2021-06-29 23:56] lucasfernog commented on #2118
The issue is that we need to use the dedicated multipart APIs to support this:
https://docs.rs/reqwest/0.11.4/reqwest/struct.RequestBuilder.html#method.multipart
https://docs.rs/attohttpc/0.17.0/attohttpc/struct.MultipartBuilder.html

But the crate's design for multipart is filled with references, so it's tricky to implement it without introducing a breaking change.

[2021-06-30 02:05] MitchellMonaghan commented on #1935
Turns out I'm just a idiot false alarm carry on.

[2021-06-30 09:15] piovano opened #2124 "Can not open page because of ERR_NAME_NOT_RESOLVED"
### **Describe the bug**
I have written a simple program, but it doesn't always work properly. Sometimes the home page will not open and gets an error ERR_NAME_NOT_RESOLVED.

### **To Reproduce**

### **Expected behavior**
Show home page properly.

### **Screenshots**
![err_name_not_resolved](https://user-images.githubusercontent.com/8413870/123935228-99adfa80-d9c6-11eb-9ff2-d1d98622328f.JPG)

###

[2021-06-30 09:29] nothingismagick commented on #2124
What  home page do you mean? Can you share the contents of your index.html and main.rs and tauri.conf.json?

[2021-06-30 09:37] piovano commented on #2124
Home page is the `index.html` file in the `distDir` folder.

index.html
[code]

main.rs
[code]

tauri.conf.json
[code]

[2021-06-30 09:40] FabianLars commented on #2124
Looks like the same problem we talked about on discord. See https://discordapp.com/channels/616186924390023171/731495047962558564/859366062646624256 and above.

In short: Windows only. Your frontend files doesn't really matter (error occurs on repo examples too). Build the app (release or debug mode, doesn't matter) and run the exe multiple times. Sometimes it starts correctly, sometimes it doesn'

[2021-06-30 09:49] nothingismagick commented on #2124
Thanks @FabianLars - it seems like we've got our work cut out for us here.

[2021-06-30 09:50] nothingismagick commented on #2124
_didn't mean to close_

[2021-06-30 11:04] Laegel commented on #2124
Also, I think that this tauri.conf.json is wrong:
[code]
That should be the directory containing the `index.html` file, not the file itself (unless we changed that rule and I'm not aware of that).

You may fix it like this (if `../` **does** contain your `index.html` file):
[code]

[2021-06-30 11:06] nothingismagick commented on #2124
I also actually faced this yesterday (I couldn't import files outside of that folder), so, you should put that file in a folder - even if our examples are not doing it. But I don't think that this resolves the underlying issue.

[2021-06-30 11:48] wusyong commented on #2124
We updated the URL scheme on Windows yesterday. And I did see it break a few times.
But it's working all fine for me today.
I suppose it's the URL registration to webveiw2 that went wrong. But since it's a hack already, I don't think we have much could do.
The best thing to do is still wait for [WebView2Feedback#172](https://github.com/MicrosoftEdge/WebView2Feedback/issues/172).

Could you try som

[2021-06-30 12:26] #2079 closed, assigned to nobody

[2021-06-30 12:40] piovano commented on #2124
@Laegel This tauri.conf.json is copied from examples/helloworld. I also tried using directory instead of file, but the problem persists.

@wusyong Ok, I will try it later.

[2021-06-30 13:05] mjhouse opened #2127 "Provide access to the event loop"
**Is your feature request related to a problem? Please describe.**
I am attempting to write a program that needs to poll a function on a regular basis.

**Describe the solution you'd like**
I would like to be able to provide a function to the tauri::Builder instance that will be called once-per-iteration inside the event loop.

**Describe alternatives you've considered**
I've considered and partia

[2021-06-30 13:05] lucasfernog commented on #2124
We added support to distDir and devPath as arrays of file paths, so the config was correct. It only injects the index.html file though.

[2021-06-30 13:38] #2074 closed, assigned to nobody

[2021-06-30 19:21] nothingismagick commented on #2124
yes - what i found in that approach though, @lucasfernog - is that I could only import other files like js if I was in a folder, not pointing at index.html

[2021-06-30 19:37] nothingismagick opened #2133 "gitlab, debian production pipes, pureos"
**Is your feature request related to a problem? Please describe.**
This may seem like a monolithic feature request, and indeed - it's massive. At the moment we only support github actions for cross platform development, but they are hand configured. They won't work on gitlab, for reasons. We assume that engineers install and maintain their own toolchains, which has to be mapped to the workflows. A

[2021-06-30 21:25] lucasfernog commented on #2124
Yeah you need to manually add all files or folders if using an array.

[2021-06-30 22:57] nicholasdgoodman commented on #1911
I have just put a code sample of a hacky but functioning workaround for this issue over on https://github.com/MicrosoftEdge/WebView2Feedback/issues/780 if you are looking for a quick fix.

*tl;dr*

If you "wiggle" the bounds of the WebView2 it will correctly recalibrate its dropdown positions.

[2021-06-30 23:06] lucasfernog commented on #1911
Thanks for the help @nicholasdgoodman I'll patch this fix in our webview library.

[2021-07-01 04:01] dizda commented on #2074
It did fix the issue!

Thanks everyone, good job @wusyong & @lucasfernog

[2021-07-01 04:03] probablykasper commented on #1928
Ah, looks like this issue is https://github.com/sveltejs/kit/issues/1549 / https://github.com/vitejs/vite/issues/2393. Hopefully not tauri related afterall then

[2021-07-01 04:03] #1928 closed, assigned to nobody

[2021-07-01 16:36] lucasfernog commented on #2124
Closed by https://github.com/tauri-apps/wry/pull/324 (will be available on wry 0.10.4 or 0.11).

[2021-07-02 10:03] leimantas commented on #2074
<img width="752" alt="image" src="https://user-images.githubusercontent.com/46538777/124258164-633ebf80-db2d-11eb-8f76-91ba562f5b0a.png">
Just created app with **nxp create-tauri-app** React-ts

All dependencies updated.

CPU is 100%

[2021-07-02 11:20] lemarier commented on #1830
hi @euphbriggs,

Well done!

I've tested and it seems promising!

To confirm, the `install_task` should be run from the WIX installer when the user installs the app for the first time.

Then once we got an update, we can elevate with the `/run`

Also, I think we should allow users to enable/disable this feature, so it should probably be in the `tauri.conf.json`

Feel free to draft a PR and if you

[2021-07-02 16:08] #2083 closed, assigned to nobody

[2021-07-03 01:46] probablykasper opened #2142 "Panel windows"
I'd like to create a window/app that behaves like macOS Spotlight:
1. It shows over fullscreen apps
2. It doesn't deactivate the active app. If the window opens while you have Chrome focused, the Chrome menu bar is still shown and the Chrome window looks like it's still focused.

On macOS I think this kind of window is an [NSPanel](https://developer.apple.com/documentation/appkit/nspanel)

[2021-07-03 03:12] raguay opened #2143 "Trying to use on MacBook Pro M1 system: crashes on installation of the cli"
### **Describe the bug**
I'm trying to install tauri in a project using:

[code]

### **To Reproduce**
Steps to reproduce the behavior:
1. Create a project directory. In my case, it is a Svelte project
2. In the directory, run the command:  npm install -D @tauri-apps/cli
3. After a while it crashes out.

### **Expected behavior**

The Tauri installation should finish normally and I can work on cre

[2021-07-03 20:49] leimantas commented on #2143
Try YARN. Everything works for me with yarn.

[2021-07-03 21:01] leimantas opened #2144 "After building on Mac M1 .app .dmg is not working on other M1 Mac"
### **Describe the bug**
After building app on my M1 MAC - app and dmg works fine on my laptop.
Tried to launch both on other M1 MAC - got error that files are damaged.

Also tried to sign app with custom self signed keychain cert. Not helped.

### **To Reproduce**
Steps to reproduce the behavior:
1. clone repo [https://github.com/leimantas/tauri-test](https://github.com/leimantas/tauri-test)
2. B

[2021-07-03 22:39] probablykasper opened #2147 "Dialog with custom buttons"
I'd like to have a dialog that asks if the user wants to save, with the buttons `Don't Save` (secondary highlight), `Cancel` and `Save` (primary highlight).

Right now, the only option seems to be to have a Yes/No dialog

[2021-07-04 00:00] nothingismagick commented on #2147
This is more customisation than we can offer, mostly because of decades old standards. I recommend you call a new tauri window, and if you need to trigger such a thing from JS land, then build a proper tauri plugin. When you succeed, please let us know so we can add your experience to the tutorial series.

[2021-07-04 00:12] probablykasper opened #2149 "Clicking/focusing app does not reveal hidden windows"
### **Describe the bug**
If I call `window.hide()` and then click the app icon in the Dock or cmd+tab into the app, the hidden window does not reveal itself.

### **To Reproduce**
1. Reproduction branch: https://github.com/probablykasper/tauri-hide-reveal-bug
2. `npm install`
3. `npm run dev`
5. Click the `Hide window` button
6. Click the app

### **Expected behavior**
When an app window is hidden

[2021-07-04 00:32] probablykasper commented on #2147
@nothingismagick What exactly is blocking it? Why wouldn't it be possible if Electron is able to do it in [dialog.showMessageBox](https://www.electronjs.org/docs/api/dialog#dialogshowmessageboxbrowserwindow-options)?

[2021-07-04 01:36] nothingismagick commented on #2147
This is a `give-a-mouse-a-cookie` long-tail feature. Next I would want a data entry field. And then password injection / protection. And fully stylable for my app. Maybe without copy buffer access. And hey, while we're at it, lets rewrite copy buffer to make app specific encrypted buffers. And then cold fusion to kickstart antimatter entropy and non-temporal dimensional folding.

Ok, maybe that we

[2021-07-04 05:55] probablykasper commented on #2147
Sure, it's fair to say it's a slippery slope, but I don't quite see what makes that bad.

I'm clueless about this, but custom buttons sounds like something every major OS would support. Data entry and password protection might make sense to consider down the road. Anything beyond that seems to pretty clearly be off limits.

Would be simple enough to make a webiew dialog, but would be great to be a

[2021-07-04 06:41] amrbashir commented on #2149
I believe this is the expected behavior, hiding a window is not the same as minimizing it. If a window is hidden, you have to call `win.show()`.

[2021-07-04 09:43] nothingismagick commented on #2147
https://developer.mozilla.org/en-US/docs/Web/API/Window/prompt

[2021-07-04 09:44] nothingismagick commented on #2147
I am not aware of a spec that would enable you to change the labels and number of interface buttons. Can you find one?

[2021-07-04 09:56] nothingismagick commented on #2147
Furthermore, any of the three (alert, prompt, confirm) will block media asset loading and for all intents and purposes are like a poor-man's breakpoint.

[2021-07-04 10:05] nothingismagick commented on #2147
Maybe I am overthinking this though, which is why I reopened the feature request.

[2021-07-04 14:25] probablykasper commented on #2147
Ah, I didn't think about the fact that browser dialog APIs exist. The idea would be for this to be an addition to [tauri::api::dialog](https://docs.rs/tauri/1.0.0-beta.4/tauri/api/dialog/index.html). I don't think the browser dialog APIs are too relevant here because those are for websites. Sorry if I confused you

[2021-07-04 15:22] probablykasper commented on #2149
You're absolutely right, I'm not thinking straight. Was trying to get the standard window closing behavior where the window is just hidden (like Activity Monitor, or default Electron behavior)

[2021-07-04 15:22] #2149 closed, assigned to nobody

[2021-07-04 15:29] amrbashir commented on #2149
can you alt-tab into a hidden electron window? well @lemarier is the expert on macOS, lets hear what he thinks of this.

Edit: electron has some interesting notes here https://www.electronjs.org/docs/api/browser-window#page-visibility

[2021-07-04 15:39] up-to-you opened #2151 "Examples api is broken"
### **Describe the bug**
[code]
### **To Reproduce**
Steps to reproduce the behavior:

Steps described in readme to compile and run examples/api

### **Platform and Versions (required):**

Macos
yarn info v1.22.10
rustc 1.52.1 (9bc8c42bb 2021-05-09)  (1.53 also used)

tauri info:
[code]

[2021-07-04 15:44] nothingismagick commented on #2151
Please add the results of `tauri info`, as required by the issue template.

[2021-07-04 16:21] probablykasper commented on #2149
I tried Electron's `mainWindow.hide()`, tabbing into the app did not reveal the window.

If you close the window (clicking the red x or CMD+W or File > Close Window), tabbing into the app does reveal it.

Might be worth opening an issue to figure out how to go about that behavior

[2021-07-04 16:30] lucasfernog commented on #2149
AFAIK that's implemented on the app level using Electron's activate event.

[2021-07-04 17:06] probablykasper commented on #2149
@lucasfernog Ah you're right. Should I open an issue for supporting that?

[2021-07-04 22:37] Verequies opened #2156 "Setting default headers such as User-Agent and Accept-Language"
I'm not sure if its possible as I have not figured out how to set the default headers yet, but it would be great if there were settings exposed that could be configured before building to set the default header values.

[2021-07-05 06:12] flydev-fr commented on #2156
I dont know how you are using the http client inside your app, this is what I am doing to get an http client, with default custom headers:

in `https.ts`

[code]

[2021-07-05 07:06] flydev-fr opened #2157 "Message loop on Windows"
Not an issue - It is possible to send and receive messages from a Tauri app between process ?

I am talking about `PostMessage()` and `SendMessage()` on Windows.

[2021-07-05 07:12] amrbashir commented on #2157
well, This is out of tauri scope. However you can get the window handle by calling `window.hwnd()` and use that with `winapi` or `windows-rs` crates as you like.

[2021-07-05 07:12] #2157 closed, assigned to nobody

[2021-07-05 07:14] flydev-fr commented on #2157
Thanks, just for myself, why it is out of scope of Tauri ?

[2021-07-05 07:18] amrbashir commented on #2157
Communicating with other processes is a rare use case and it would be really hard to provide a unified interface across all the platforms we support.

[2021-07-05 07:20] amrbashir commented on #2157
We can only provide you with the means to help you achieve this as you see fit. For Windows we provide `win.hwnd()` and for Linux `win.gtk_window()`.
If you need access to other low level handles, you should open a feature request and we will try to provide it if we can.

[2021-07-05 07:40] flydev-fr commented on #2157
Ok thanks for the explanation. The project I am developping might be a good use case for Tauri and theses sort of informations could give hints to others devs.

I am using Tauri to embbed a ViteJS/Vue frontend app to get a really nice user interface (UI) which need to communicate with a custom server written in Pascal hosted on the same plateform. This plateform is a custom made terminal deployed

[2021-07-05 07:48] amrbashir commented on #2157
In that case you don't even need `win.hwnd()` you can just `SendMessage` with the targeted window handle, however you'd need `win.hwnd()` if you want to receive messages (attach a subclass procedure). I'd be happy to discuss it more on discord if you want.

[2021-07-05 07:52] flydev-fr commented on #2157
Ok thanks @amrbashir I will give a try this afternoon and will jump on discord to discuss it 👍

[2021-07-05 12:19] Verequies commented on #2156
Thanks for the suggestion, however I'm not sure if that will work here. I need to be able to set the default Tauri User-Agent and other headers as making the requests are a bit out of my control in my application.

[2021-07-05 12:29] nothingismagick commented on #2156
Which side is making the request? The Webview side (likely more dangerous) - or the Rust side (potentially more complicated)?

[2021-07-05 12:59] Verequies commented on #2156
The frontend (browser/web side). The requests are running in an IFrame of which I have no control over.

[2021-07-05 13:04] nothingismagick commented on #2156
Do you know how the requests' headers are appearing at the remote endpoints?

[2021-07-05 13:06] Verequies commented on #2156
I am not in control of the remote server, so no. But I know how they should appear. Hence the need to modify the headers by default.

[2021-07-05 13:22] nothingismagick commented on #2156
So how should they appear, exactly?

[2021-07-05 13:24] Verequies commented on #2156
The User-Agent should appear as a custom set agent instead of the default Tauri Agent. And Accept-Language should appear as a custom set value instead of the default Tauri value also.

[2021-07-05 13:35] nothingismagick commented on #2156
Well, here is how I see it:

This is not within the scope of Tauri Best Practice, and even if it were possible (I am not saying it isn't) this is likely to stay a very low priority for us. There are already 2 existing and functional ways to do what you are requesting (the fetch approach outlined above by @flydev-fr ) and using the rust side of the http API provided by Tauri. I am not going to judg

[2021-07-05 13:35] #2156 closed, assigned to nobody

[2021-07-05 13:45] Verequies commented on #2156
Okay, I'll give it a go. There is a valid reason for this. I cannot speak much about it as it is an in house application from another organisational unit that I am collaborating with, on strict guidelines.

[2021-07-05 19:27] AlexHayton commented on #1055
I'm also seeing the same behaviour... :(
This is on 1.0.0-beta.2

[2021-07-06 01:30] AsyncBanana opened #2158 "Allow for devtools to be disabled"
**Is your feature request related to a problem? Please describe.**
Since Tauri is security-focused, it would make sense to give an option to disable devtools for the webview in production, to prevent users from viewing the source.

**Describe the solution you'd like**
The ability to add an option in tauri.conf.json that disables devtools.

**Describe alternatives you've considered**
Using hacks li

[2021-07-06 02:19] lucasfernog commented on #2158
Which platform are you seeing the devtools on production build? It should be disabled by default.

[2021-07-06 03:06] e-l-i-j-a-h opened #2159 "Apostrophes in App Window Title Breaks Build"
### **Describe the bug**
When I add an apostrophe in the default window title in `tauri.conf.json` and build my app, I am met with an "custom.protocol.taurilocalhost’s server IP address could not be found." screen in the webview upon running.

### **To Reproduce**
Steps to reproduce the behavior:
1. Open `tauri.config.json`
2. Find the default window object under the `"windows"` array and add an a

[2021-07-06 03:09] lucasfernog commented on #2159
This is not related to the apostrophe. It has been fixed on wry and will be released soon.

[2021-07-06 03:09] #2159 closed, assigned to nobody

[2021-07-06 03:33] e-l-i-j-a-h commented on #2159
Just found your bug fix in the wry repo. I somehow didn't see the original  "ERR_NAME_NOT_RESOLVED" bug report here before I submitted this issue. I also tried adding and removing the apostrophe enough times before building that I thought it was the real culprit. Anyways, thank you for your bug fix.

[2021-07-06 12:25] ghost opened #2162 "JavaScript API: German umlaut in response header leads to conversion error"
Accessing a ressource via JavaScript http module leads to the following error if the response header contains a german umlaut like "äüö" or special characters like "ß":
````Uncaught (in promise) failed to execute API: failed to convert response header value to string````

Example:

[code]

[code]

tauri info:
[code]

[2021-07-06 14:40] juzi5201314 commented on #323
Hello, I want to know how this function is progressing.
I am using the dev branch of tauri and wry, but the registered protocol is still unavailable.
`Failed to launch'tes://az' because the scheme does not have a registered handler.`
For some applications that use oauth, this is a very convenient feature.

[2021-07-06 16:46] AsyncBanana commented on #2158
Webview2, although I just realized it might be a problem on my end. Sorry for taking your time, and I will check more thoroughly next time

[2021-07-06 16:46] #2158 closed, assigned to nobody

[2021-07-06 16:59] lucasfernog commented on #2162
Only visible ASCII characters are permitted, see https://docs.rs/http/0.2.4/http/header/struct.HeaderValue.html#method.to_str and https://docs.rs/http/0.2.4/http/header/struct.HeaderValue.html#method.from_str

[2021-07-06 17:17] lucasfernog commented on #2147
First we'd need custom buttons support on [rfd](https://github.com/PolyMeilex/rfd).

[2021-07-07 03:14] scrmea opened #2163 "minHeight and maxWidth used together causes fixed window height on macOS"
### **Describe the bug**
Tauri docs mention the following configuration options:

[code]

Those options do not work as expected on macOS.

Setting both minHeight and maxWidth cause the window to be of fixed height (minHeight) and it can only be resized in width hereafter.

### **To Reproduce**
Steps to reproduce the behavior:
Add the following to tauri.conf.json:

[code]
open on macOS 11.4.

### *

[2021-07-07 05:01] NitinRamnani opened #2168 "API call fails in Vue + Node App"
### **Describe the bug**

Hi, I'm trying to create an app for Mac OS with Vue on frontend and Node on backend. I created a binary of my Node app using pkg npm package and have added it in externalBin also configured it in sidecar but the issue is that when I make an API call it gives below error.

"Failed to load resource: The resource could not be loaded because the App Transport Security policy

[2021-07-07 06:49] SOVLOOKUP opened #2173 "feat: hot reload dev for static files"
When I modify the front static file, I hope `tauri dev` can automatically hot reload.

[2021-07-07 06:53] nothingismagick commented on #2168
You don't need to file an issue and start a discussion.

[2021-07-07 07:11] NitinRamnani commented on #2168
Adding plist to the project solves the issue.

[2021-07-07 07:11] #2168 closed, assigned to nobody

[2021-07-07 07:20] scrmea opened #2175 "Allow replacement of banner artwork in Windows installer dialog"
The windows installer shows a distorted graphic, consisting of an overstretched icon.ico:

<img width="498" alt="screenshottauriinstaller" src="https://user-images.githubusercontent.com/50693365/124716285-e05ba180-df3e-11eb-8d05-7c4f5a4d38a7.png">

It would be much nicer if one could add a bmp of corresponding size to the src-tauri/icons folder.
The required dimensions are 493px × 58px.

A separat

[2021-07-07 11:33] m2lab commented on #2143
It works fine on a Mac Mini M1 with Big Sur 11.4.
Your problem is probably related to the architecture: you can't compile arm64 apps yet (afaik). The rust build target is Intel. It still builds much faster than on my Intel computers 😉.
Sorry can't help with details, just￼￼ wanted to reassure you that it works very well.

[2021-07-07 11:35] nothingismagick commented on #2143
Or use the `cargo cli` -> this problem seems to be with sharp, unfortunately. It is only required for making your icons.

[code]

With that you can run `cargo tauri dev|build|info`

[2021-07-07 11:35] #2143 closed, assigned to nobody

[2021-07-07 12:14] NitinRamnani commented on #1773
Hi @chrisspiegl were you able to use Node server as sidecar and did server started when you launched the app. I'm also trying to build an app with Vue & Node and have added node server in sidecar but it doesn't starts when I launch tauri app.

[2021-07-07 12:23] Clouder0 opened #2176 "[docs] Readme typo"
[Here](https://github.com/tauri-apps/tauri/tree/fix/update-docs#comparison-between-tauri-and-electron):

![image](https://user-images.githubusercontent.com/41664195/124758260-f8dcb380-df60-11eb-9f4f-e9b7c383093b.png)

I guess the `.80s` should be replaced with `0.80s`.

[2021-07-07 12:24] leimantas commented on #2144
After updates today - it works.

[2021-07-07 12:24] #2144 closed, assigned to nobody

[2021-07-08 02:53] raguay commented on #2143
Hi,

Thanks. I was able to get it running with the `cargo install tauri-cli
--version ^1.0.0-beta` command line. But, It wouldn't work in fish shell. I
had to load zsh to run the command.  The carrot is processed by fish as a
pipe. I wasn't sure if the cargo command line would take the version with
quotes, so I just ran it as zsh. I'm new to Rust and it's tools (other than
just building my favorit

[2021-07-08 08:12] Laegel commented on #2173
Hey @SOVLOOKUP !
Thanks for this suggestion. We've been talking about it and came to the conclusion we could work on such feature, probably once we've passed the security audit. :smile:

[2021-07-08 09:50] chrisspiegl commented on #1773
Hi @NitinRamnani, I tried for quite some time and I think I got it working in some setup prototype way but at the end decided that (for now) I am not going to package my app with any UI builder. The effort was just not worth it at this point of development.

Personally, I got mostly stuck with the whole "rust + node.js + etc" situation. I found Tauri as a Electron alternative but with the whole Ru

[2021-07-08 10:23] akzhy opened #2180 "Taskbar hides on maximize when decorations set to false"
### **Describe the bug**

I am trying to customize the title bar and followed this tutorial https://tauri.studio/en/docs/guides/window-customization/. And I disabled the default title bar by setting `decorations:false` in `tauri.conf.json`, however once the default title was removed, the maximize button also hid the taskbar. So the app appears to be in full screen situation. The issue does not app

[2021-07-08 11:22] amrbashir commented on #2180
The bug is resolved recently in https://github.com/tauri-apps/tao , it should be available in the next release.

[2021-07-08 11:22] #2180 closed, assigned to nobody

[2021-07-08 15:04] #2151 closed, assigned to nobody

[2021-07-08 20:01] 0o-de-lally opened #2182 "Ubuntu installation from web docs, needs sudo?"
Can't quite express my excitement to start playing with Tauri. Getting stuck with silent errors on `yarn tauri info`.

### **Describe the bug**
Using Ubuntu 20.4, I'm following the instructions with a user that has sudo.

I do a fair amount of rust development, so `rustup` and `cargo` are already there.

Using the website's instructions (which are excellent BTW): https://tauri.studio/en/docs/devel

[2021-07-08 20:13] nothingismagick commented on #2182
Try this:

[code]

[2021-07-08 20:15] nothingismagick commented on #2182
You should never have to run sudo for yarn / npm / node. That died out years ago. I guess what you need to install is a proper version of `nvm` - node version manager. But thats only if you need node, which you don't necessarily need.

[2021-07-08 20:15] #2182 closed, assigned to nobody

[2021-07-08 20:18] lemarier opened #2183 "macOS(updater): crash when app is signed"
[code]

[2021-07-08 20:24] domiSchenk opened #2184 "Multiline shell commands change order"
### **Describe the bug**
When running a command from JS, that returns a multiline stdout, the output is changed everytime.

### **To Reproduce**
- clone repo `https://github.com/domiSchenk/tauri-bug-command`
- start tauri dev
- when clicking reload the output changes
- this should not happen

### **Expected behavior**
Output should be every time the same

### **Screenshots**
![image](https://user-

[2021-07-08 21:43] 0o-de-lally commented on #2182
yes that works nicely, thanks. And then I'm guessing `cargo tauri dev` is next.

IMO the web documentation should reflect this to be the default way of using the tauri tools, instead of yarn. Thanks again!

[2021-07-08 21:58] FabianLars commented on #2182
i think the docs are fine in that regard. It looks like a misconfiguration on your end tbh. But I have to admit that not getting any error either from tauri or yarn is kinda weird.

[2021-07-08 22:10] 0o-de-lally commented on #2182
Ok, I'm running through the directions on OSX now (different machine) and I'm getting the same issue with `yarn tauri info` providing no output. Am I missing something?

[2021-07-08 22:17] jacobq opened #2185 "[docs] Splashscreen example doesn't work out of the box"
Disclaimer: I'm brand new to Rust and to Tauri; just spun up my first app with the beta today.

The [docs](https://tauri.studio/en/docs/usage/guides/visual/splashscreen) provide [some example code](https://github.com/tauri-apps/tauri/blame/tauri-v1.0.0-beta.4/docs/usage/guides/visual/splashscreen.md#L41-L60) to illustrate how to make a "splash screen" (separate window / webview) and display it whi

[2021-07-08 22:28] FabianLars commented on #2182
Welp, no idea about macos. But it works fine for me on linux & windows. Are you on the [tauri discord server](https://discord.gg/SpmNs4S)? Would make it easier to debug, afterwards we could post the results here.

Did you try it with npm to see if it throws an actual error?
Also, why does your log shows the /root/ path even on non sudo commands?

[2021-07-09 00:43] scrmea opened #2187 "macOS resize event does not update dimensions of resized window"
On macOS, tauri reports the initial screen dimensions to a resizable window while adjusting its dimensions. Every event fired while dragging contains the dimensions that the window had when launching the app, instead of the current window dimensions.

### **To Reproduce**
`listen("tauri://resize", ({ event: _, payload }) => console.log(payload))`

### **Expected behavior**
console logs an object w

[2021-07-09 07:16] DingpingZhang opened #2188 "[win10] Crash after running, exception: STATUS_ACCESS_VIOLATION"
I tried to execute `yarn tauri dev` command, or `yarn tauri build` command and then run app_name.exe from `target/release`, both encountered the following issue: the window appears 2 seconds after the crash exit, the window appears during the white screen, no normal web page content is displayed.

[code]

Environment info:
[code]

From the event viewer log of the win system, we can see that the ex

[2021-07-09 07:51] amrbashir commented on #2188
Is your repo public? I need to see what apis are used.

[2021-07-09 13:06] SOVLOOKUP opened #2189 "input tag's cursor does not blinks when the data-tauri-drag-region attribute is set"
### **Describe the bug**
When the data-tauri-drag-region attribute is set, the input tag's cursor does not blinks.

### **To Reproduce**

[code]

Steps to reproduce the behavior:
https://github.com/SOVLOOKUP/starries-tauri/blob/master/src/routes/_component/searchBar.svelte#L15

### **Expected behavior**
text cursor blink blink blink...

### **Screenshots**
![image](https://user-images.githubuserco

[2021-07-09 13:31] nothingismagick commented on #2189
Please try putting the `data-tauri-drag-region` in the `<div>` surrounding the `<input>`.

[2021-07-09 13:44] SOVLOOKUP commented on #2189
I have tried, but the "input" event will replace the "drag" event, causing the drag action to fail in the input area. That's why here is another `data-tauri-drag-region`.

[2021-07-09 13:51] nothingismagick commented on #2189
Yeah, this seems to me like you need to rethink your interaction model. I mean, if I click in the "omnibar" in Chrome, it focusses and won't let me drag. This is why normal UI allows for other logical drag regions. Looking at your screenshot I would assume I could then click and drag on the circular avatar icon you have. I am closing this issue as won't fix.

Although we all really love the:

<img

[2021-07-09 13:51] #2189 closed, assigned to nobody

[2021-07-10 03:22] DingpingZhang commented on #2188
@amrbashir I'm sorry to tell you: this crash issue cannot reproduce after I restarted my computer, but it was indeed 100% reproduce before I restarted the win system. I don't know what happened.
I didn't apply any api, I just ran the helloworld example. if I can reproduce it next time, I'll let you know.

By the way, I sometimes find that of course when I run any command, the following result appe

[2021-07-10 03:22] #2188 closed, assigned to nobody

[2021-07-10 07:39] amrbashir commented on #2188
Take a look at this issue, #2079 , it should be fixed in the next release.

[2021-07-11 13:04] Epsilon02 commented on #1934
I will give it a try.

[2021-07-11 13:57] SOVLOOKUP opened #2193 "Unhandled Promise Rejection: ReferenceError: Can't find variable: __TAURI_INVOKE_KEY__"
### **Describe the bug**
when using `window.appWindow` api, error: `Can't find variable: __TAURI_INVOKE_KEY__`

### **To Reproduce**
https://github.com/SOVLOOKUP/starries-tauri/blob/master/src/lib/component/magnet/index.svelte#L49

### **Expected behavior**
resizable can be properly set

### **Screenshots**
I![image](https://user-images.githubusercontent.com/53158137/125198025-c26da400-e292-11eb-9

[2021-07-11 14:35] amrbashir commented on #2193
Your tauri version is outdated, it should be `1.0.0-beta.4`, change it in `src-tauri/Cargo.toml`

[2021-07-11 14:42] #2193 closed, assigned to nobody

[2021-07-11 16:46] #2124 closed, assigned to nobody

[2021-07-12 01:15] parker-codes opened #2198 "Official RRIT (Rewrite it in Tauri) Standpoint?"
I think the recent tweets to rewrite-it-in-tauri (like the one about Slack) has been inspiring community members to push for it in other projects. 😁 I think it's great to offer ideas and get the word out there, but I worry a little that some of these unofficial cases will be discounted because Tauri is in beta and then may not be considered again once things are stable.

I'm _guessing_ that some o

[2021-07-12 01:40] parker-codes commented on #2198
This is obviously not just a Tauri thing. This applies to any project, but especially innovative newcomers. My thoughts were just to proactively shape the external outreach.

[2021-07-12 13:01] stefnotch opened #2201 ""custom.protocol.taurilocalhost’s server IP address could not be found" on first startup"
### **Describe the bug**

Sometimes, when starting a Tauri application for the first time on Windows 10, one will be faced with a `custom.protocol.taurilocalhost’s server IP address could not be found` error. When closing and quickly restarting the application, the error usually goes away.

Screenshot of the error
![image](https://user-images.githubusercontent.com/10220080/125290598-c8aa6180-e320-

[2021-07-12 13:14] FabianLars commented on #2201
That should be fixed (unreleased). See https://github.com/tauri-apps/tauri/issues/2124#issuecomment-872392287

[2021-07-12 13:18] #2201 closed, assigned to nobody

[2021-07-12 15:01] #2185 closed, assigned to nobody

[2021-07-12 15:01] #2176 closed, assigned to nobody

[2021-07-12 15:03] #2183 closed, assigned to lemarier

[2021-07-13 17:02] DBTaylor opened #2204 "Comms Broken in beta.4"
Using tauri 1.0.0-beta.4 (or beta.3), commands that I attempt to send from the frontend are not making it to the backend, and events triggered in the backend are not being emitted in the frontend. I've had to revert to beta.1 to get everything to work (couldn't seem to get beta.2 to build).

The issue doesn't occur when I run ```tauri dev```, only in the release build.

window.emit is returning Ok

[2021-07-14 17:00] Snazzie opened #2211 "new msi installers are unable to detect the app with same version already installed on the system."
### **Describe the bug**

New msi installers builds are unaware that the same version of the app its going to install is already installed. Making it possible to continously install duplicate entries of an app when using an installer that has yet to be installed on the machine.

This also introduces another bug where uninstalling duplicate entries causes another app's files to be completely delete

[2021-07-14 20:36] #1934 closed, assigned to nobody

[2021-07-14 22:14] lemarier opened #2216 "CI: updater artifacts sign only on dev push"
### **Describe the bug**
A clear and concise description of what the bug is.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### **Expected behavior**
A clear and concise description of what you expected to happen.

### **Screenshots**
If applicable, add screenshots to help explain your problem.

### **Platform and Ver

[2021-07-14 22:15] lemarier commented on #2216
https://github.com/tauri-apps/tauri/blob/074caa32475d6593d61c52e13a540d1c28d4beeb/.github/workflows/artifacts-updater.yml#L111-L113

Details; As they are secrets, PR's failed.

[2021-07-15 12:48] #2216 closed, assigned to nobody

[2021-07-15 14:38] #1830 closed, assigned to lemarier

[2021-07-15 16:07] amrbashir commented on #1911
Re-opening this, since we reverted the workaround, because it introduced more bugs than it solved.

[2021-07-15 21:36] jquesada2016 opened #2218 "Cannot bind to Windows Key in globalShortcuts"
### **Describe the bug**
First of all, amazing project. Really is! Has made desktop development super fun and easy with Rust. Second of all, I am sorry if this is actually not a bug, I tried searching for the docs to the shortcut key names, but could not for the life of me find it.

I am not able to register to a shortcut that contains the `windows key`.

### **To Reproduce**
Steps to reproduce th

[2021-07-15 23:47] amrbashir commented on #2218
As I answered in discrod, you should use `Super`.
This will be documented better.

[2021-07-15 23:48] #2218 closed, assigned to nobody

[2021-07-16 12:04] lemarier opened #2221 "bug(updater): Race condition with dialog"
### **Describe the bug**
A clear and concise description of what the bug is.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### **Expected behavior**
A clear and concise description of what you expected to happen.

### **Screenshots**
If applicable, add screenshots to help explain your problem.

### **Platform and Ver

[2021-07-16 12:53] lemarier opened #2223 "Updater refactor w/ async?"
**Is your feature request related to a problem? Please describe.**

With the latest changes to our Linux implementations, it gets harder to spawn a thread, especially for dialogs.

In https://github.com/tauri-apps/tauri/pull/2222 we fixed with the `glib::MainContext`

The big drawback with that is it runs on the main GtkThread, which means it locks the app run.

Having slow updater endpoints will

[2021-07-16 13:06] #2221 closed, assigned to lemarier

[2021-07-16 13:52] jquesada2016 commented on #2218
I am not 100% sure if the issue should be closed, or perhaps consider creating a new issue for the second half of this one?

The other half of the issue being `Control+Windows+<some key>` still works, and registers fine, even though it only works with `Control+<some key>`, without the `Windows`. Not sure if this behavior extends to other keys, as well.

[2021-07-16 14:00] amrbashir commented on #2218
Open a new issue at https://github.com/tauri-apps/tao and we will fix this. I think we should throw an error if there is a wrong key there.

[2021-07-16 16:19] bdjnk opened #2225 "download attribute on link ignored"
### **Describe the bug**
A clear and concise description of what the bug is.

Generate an `a` tag with the `download` attribute set and the `href` attribute pointing to a `blob:` URL. For example the following.

[code]
([example source](https://javascript.info/blob#blob-as-url))

Clicking such a link in any modern browser will initiate download of the linked resource. In Tauri, nothing happens.

#

[2021-07-16 17:36] lemarier opened #2227 "macOS 12 beta support"
**Is your feature request related to a problem? Please describe.**

Seems local storage do not work on macos 12...

**Describe the solution you'd like**
Probably connected with https://github.com/tauri-apps/tauri/issues/1570

**Describe alternatives you've considered**
N/A

**Additional context**
We should do more testing and add more context.

To be completed

[2021-07-16 17:40] KaKi87 opened #2228 "feat(@tauri-apps/api): `path` module similar to nodejs"
**Is your feature request related to a problem? Please describe.**
Windows & Unix-based operating systems doesn't use the same syntax for file paths.

**Describe the solution you'd like**
A [`path.join`](https://nodejs.org/api/path.html#path_path_join_paths) method for Tauri like there is for Node that returns correct paths no matter what OS is running.

**Describe alternatives you've considered**

[2021-07-16 17:42] KaKi87 opened #2229 "feat(@tauri-apps/api): `os` module similar to nodejs"
**Is your feature request related to a problem? Please describe.**
It is sometimes required for an app to behave differently depending on which operating system it is running.

**Describe the solution you'd like**
A [`process.platform`](https://nodejs.org/api/process.html#process_process_platform) property for Tauri like there is for Node that returns current operating system.

**Describe alternat

[2021-07-16 17:44] NeoEvaX commented on #2227
Steps to Reproduce:

1. npm start
2. npm run tauri dev
3. performing a localStorage.setItem("test", 1); crashes the development server with this error:

[code]

The tauri server keeps running, but the window goes white. Full crash of the node server running.
If I do a build of the application and run that, it works fine. As does running the app in the browser from just the development server.

Inc

[2021-07-16 17:59] lemarier commented on #2229
A wrapper around `std::env::consts::OS` could do the trick (suggestion from Short@Discord)

[2021-07-16 18:24] amrbashir commented on #2229
This comment will keep track of methods that needs to be added, people are welcome to suggest more methods and I will add them to the list.

- [ ] `os.platform()`
- [ ] `os.version()`

[2021-07-16 18:27] amrbashir commented on #2228
This comment will keep track of methods that needs to be added, people are welcome to suggest more methods and I will add them to the list.

- [ ] `path.join()`
- [ ] `path.relative()`
- [ ] `path.sep`

[2021-07-16 18:27] amrbashir commented on #2228
This comment will keep track of methods that needs to be added, people are welcome to suggest more methods and I will add them to the list.

- [ ] `path.join()`
- [ ] `path.resolve()`
- [ ] `path.relative()`
- [ ] `path.sep`

[2021-07-16 20:30] euphbriggs opened #2230 "Unable to uninstall when using Skip UAC Task"
### **Describe the bug**

When the new `enableElevatedUpdateTask` is set to `true` the user is unable to uninstall the application because the uninstaller isn't able to successfully remove the Windows Task that is used to skip the UAC prompt.

### **To Reproduce**
Steps to reproduce the behavior:
1. In the tauri.conf.json file, set the "tauri" -> "windows" -> "wix" -> "enableElevatedUpdateTask" to

[2021-07-16 20:35] euphbriggs commented on #2230
@lemarier When I wrote the original PR, I tested uninstalling, but evidently, somewhere along the way, I broke it.

This PR includes the resolution: https://github.com/tauri-apps/tauri/pull/2231

I apologize for the inconvenience.

[2021-07-16 23:54] bdjnk opened #2232 "set default file name in save dialog"
### **Is your feature request related to a problem? Please describe.**
When I attempt to save some data using `dialog.save` I am missing the ability to set a default file name. This is feature is present in other applications.

### **Describe the solution you'd like**
The ability to set a default file name, presumably as part of the `dialog.savedialogoptions`.

### **Describe alternatives you've c

[2021-07-17 09:41] amrbashir opened #2233 "[meta] Tracking issue for Node.js/Deno standard library inspired functions to include in `@tauri-apps/api`"
I will be refactoring our js api and aiming to make the it more familiar to users coming from electron/js-land so it is easier to migrate.

Some of current functions will be deprecated and removed when new variants are released.

We want to gather some feedback from users and which functions they want to add from the **Nodejs standard library**, so comment below and I will add them to this list of

[2021-07-17 09:43] amrbashir commented on #2229
closed in favor of #2233

[2021-07-17 09:43] #2229 closed, assigned to amrbashir

[2021-07-17 09:43] amrbashir commented on #2228
closed in favor of #2233

[2021-07-17 09:44] #2228 closed, assigned to amrbashir

[2021-07-17 11:03] loveencounterflow opened #2234 "Unable to run `pnpm run tauri dev` (missing PkgConfig path; `ld`)"
### **Describe the bug**

Installation of Cargo deps initiated by `pnpm run tauri dev` fails because "pango was not found in the
pkg-config search path". I have the following packages with `pango` in their name installed:

[code]

### **To Reproduce**

[code]

### **Expected behavior**

Expected the app to start.

### **Platform and Versions (required):**

[code]

### **Stack Trace**

[code]

[2021-07-17 12:18] loveencounterflow commented on #2234
**Update** I did `locate pango.pc` which gave me `/usr/lib/x86_64-linux-gnu/pkgconfig/pango.pc`. I then re-run the command as

[code]

(`PKG_CONFIG_PATH` was not set prior to this). Compilation errored again, this time complaining that `Package wayland-protocols was not found in the pkg-config search path`. I added that location too:

[code]

Alas, this time round compilation stopped with

[code]

[2021-07-17 12:30] sophon-aniketos opened #2235 "[docs] Documentation has no mention of @tauri-apps/api"
I was trying out Tauri on Windows following these intructions: https://tauri.studio/en/docs/get-started/setup-windows  and https://tauri.studio/en/docs/development/integration , but neither of these pages mention anything about needing to install @tauri-apps/api . Also create-tauri-app didn't ask me about installing @tauri-apps/api either. The issue only came to light after I ask about it on Disco

[2021-07-17 13:24] Tim-Paik opened #2236 "[docs] The relative path is not stated in the api documentation"
I was puzzled when reading the `distDir: string` and `devPath: string` configuration items: Is the relative path relative to the project directory or the src-tauri directory?
So I went to discord to ask and got the result
I think it is beneficial to specify that the relative path in `https://tauri.studio/en/docs/api/config/#build.distDir` is relative to `tauri.conf.json`

[2021-07-17 14:10] chippers opened #2237 "CLI does not download with `HTTPS_PROXY`."
### **Describe the bug**
When `HTTPS_PROXY` is set, `tauri init` does not successfully use the value. This can make the download of the Rust CLI fail, and therefore the entire `tauri init` fails.

### **To Reproduce**
Steps to reproduce the behavior:
1. Have a `HTTPS_PROXY`
2. Download the Rust CLI through `tauri init`
3. Notice that the Rust CLI fails to download through `tauri init` when needing

[2021-07-17 14:19] Tim-Paik commented on #2237
I am the Chinese user mentioned above, and I think the following link may be helpful:https://github.com/sindresorhus/got/blob/main/documentation/tips.md#proxying
I think it is better to use global-agent

[2021-07-17 14:33] YievCkim opened #2238 "blank screen with webapp build from Elm on Mac OSX Big Sur"
Hi,

I don't know if my issue comes from a bug or a misuse. I have just discovered Tauri and I am trying to build a desktop app on Mac OSX and get a window with a blank screen instead of the expected content. The app doesn't communicate with a backend, is a single pure js app, and is built as a single html file with `elm make`.

I followed the instructions given in the [documentation](https://taur

[2021-07-17 14:52] amrbashir commented on #2238
your `devPath` points to `localhost:8000` while you want to serve from the `build` folder.

change your `devPath` in `tauri.conf.json` to `../build`

[2021-07-17 14:59] YievCkim commented on #2238
ok I am trying this thanks . This is set like this because the url of a dev server is asked during the `yarn tauri init` . as I don't use a server I set localhost:8000. Should I fill this question with `../build` instead ?

[2021-07-17 15:01] YievCkim commented on #2238
Thank you it works.

[2021-07-17 15:01] #2238 closed, assigned to nobody

[2021-07-17 15:47] amrbashir commented on #2204
We released a new version yesterday, update your deps and re-open if the issue still exists

[2021-07-17 15:47] #2204 closed, assigned to nobody

[2021-07-18 15:37] Tim-Paik commented on #2234
I think this may be related to the GCC version. What does `cc -v` output?

[2021-07-18 19:13] Shotman commented on #2233
Suggestion : get complete directory tree as JSON from a given folder, along with files with their metadata
`getFileTree('dir')`

[2021-07-18 19:56] ljfreelancer88 commented on #544
I really need this feature too [https://www.electronjs.org/docs/api/screen](url) in Tauri. I'm trying to create an app like minimal "MS Power Point" for our Churches. The output will sending out to HDMI.

[2021-07-18 20:08] amrbashir commented on #2233
Sorry, I forgot to mention I am accepting only function suggestion from Nodejs standard library for now.

Once I am done with this, I think I will make a plugin for extended api and will accept suggestion for anything.

[2021-07-19 05:25] loveencounterflow commented on #2234
[code]

[2021-07-19 06:19] Tim-Paik commented on #2234
Please upgrade your gcc to version 8.3.0 or higher.  In fact, I am using gcc11 on archlinux.

[2021-07-19 11:54] stefnotch opened #2243 "Tauri bundle.ts is missing the clipboard"
### **Describe the bug**
`import { clipboard } from "@tauri-apps/api";` throws an error
[code]

Upon investigating, it seems like the bundle does not export the clipboard
https://github.com/tauri-apps/tauri/blob/dev/tooling/api/src/bundle.ts

### **To Reproduce**
1. `import { clipboard } from "@tauri-apps/api";`

### **Expected behavior**
I expected to be able to import the clipboard

### **Platfo

[2021-07-19 12:30] #2243 closed, assigned to nobody

[2021-07-19 16:35] lemarier opened #2248 "feature-flag: menu & system tray"
**Is your feature request related to a problem? Please describe.**

Since we can have a `system_tray` without a menu.
I think it would be better to have 3 different feature flags.
1. `menu` for all menu creation whether it is with a `menu_bar` or a `system_tray`
2. `menu_bar` for the menu_bar itself and would include the `menu` feature flag
3. `system_tray` for the tray itself

So if users just wa

[2021-07-19 16:39] Dragoteryx opened #2249 "TypeScript compilation errors when using @tauri-apps/api@1.0.0-beta.5"
### **Describe the bug**
Currently working on an app using Tauri and Angular, I noticed that I get TypeScript compilation errors when using the latest version of Tauri. This doesn't happen when using `@tauri-apps/api@1.0.0-beta.4`.

### **To Reproduce**
Create a new Angular project, then use `tauri init`.
Once that's done, use `@tauri-apps/api` in your project, then try compiling it.
I've only tes

[2021-07-19 22:20] #2249 closed, assigned to nobody

[2021-07-20 10:36] amrbashir commented on #2235
after #2251 is merged and new version is released, `create-tauri-app` will prompt your to install the api.

[2021-07-20 11:02] kubijo commented on #2079
I've run into this as well… the solution for me was to [unplug](https://yarnpkg.com/cli/unplug) the `@tauri-apps/cli` package.
I guess you don't play well with yarn's PNP

[2021-07-20 11:57] stefnotch opened #2254 "[docs] Cloudbridge pattern"
Since Webview2 doesn't ship with Windows 10 by default, I decided to let the user use whichever browser they want to use.

This means that I would use the [Cloudbridge pattern](https://tauri.studio/en/docs/guides/patterns/cloudbridge), start the default browser and navigate to `localhost:...`.

This works until I try to access an API like
[code]

If I do so, a `Uncaught (in promise) TypeError: win

[2021-07-20 12:05] amrbashir commented on #2090
FYI, electron's `setIgnoreMouseEvents` will ignore all mouse events and not just on transparent areas.

Detecting whether an area within a window is transparent or not is a near impossible task, even electron gave up on the idea and will introduce an [api](https://github.com/electron/electron/issues/1335#issuecomment-225178859) for manipulating the window shape instead.

[2021-07-20 12:09] amrbashir commented on #2090
I will close this issue, and if you want the same functionality as electron's `setIgnoreMouseEvents` (no transparent detection), please file a feature request at https://github.com/tauri-apps/tao

[2021-07-20 12:09] #2090 closed, assigned to nobody

[2021-07-20 12:13] caseykneale opened #2255 "Rust JS Interop Issues"
### **Describe the bug**
Trying to do Rust and JS interop yeilds "windows.rpc" errors. Even in relatively simple cases.

### **To Reproduce**
Steps to reproduce the behavior:
clone this repo: https://github.com/caseykneale/tauribug

### **Expected behavior**
In this example I would expect the Rust `String` to be passed from Rust into JS and show up in the alert box.

### **Platform and Versions (r

[2021-07-20 12:28] amrbashir commented on #2255
can you post the full error here ?

note: `invoke` returns promise so you are passing a promise to alert which won't be the result you want.
this how you should use it
[code]

[2021-07-20 12:43] caseykneale commented on #2255
I tried that change, and good call that is a promise - sorry. Same error though:
[code]

[2021-07-20 12:58] amrbashir commented on #2255
just tested your repo, it works fine.
![image](https://user-images.githubusercontent.com/48618675/126328343-cb94bb43-37ea-4dab-b3eb-470f397e679d.png)

try removing `node_modules` folder and install all the deps again.

[2021-07-20 13:01] caseykneale commented on #2255
Interesting, it might be worth noting I used the `create tauri app` NPM package if this persists. I'll report back later today about this.

[2021-07-20 13:23] kubijo opened #2256 "`@tauri-apps/cli` has un-declared dependencies"
### **Describe the bug**
When running under yarn with PNP & trying to use the `tauri icon` command I get the following error:

[code]

### **Platform and Versions (required):**
[code]

### **Additional context**
- https://classic.yarnpkg.com/en/docs/pnp/troubleshooting/#toc-is-trying-to-require-without-it-being-listed-in-its-dependencies

### **Stack Trace**
[code]

[2021-07-20 13:24] tolgaerdonmez opened #2257 "What is valid for key Space as accelerator name?"
## Code/Problem

[code]

Giving name Space won't work also tried, "space", " ", "_"

## Output
[code]

[2021-07-20 13:38] kubijo commented on #2256
After adding the one above-mentioned dependency to yarn's dependency injection, I've encountered several other missing ones.
I've been able to hotfix it by:
- changing the command to: `yarn tauri icon ./icon.png --compression="zopfli" --log`
  - which means that the site docs are not in sync with the actual command
- adding the following to `.yarnrc.yml`, but that's a dirty solution… you should de

[2021-07-20 13:41] FabianLars commented on #2254
That's not what the Cloudbridge pattern is about or tauri as a whole for that matter.
You can't use tauri without a webview == in a browser (at least as long as tauri can't be compiled to wasm), as it isn't a frontend framework or something...
What you want is something like a classic PWA i guess? And that would be more or less a normal website and not a whole program like tauri apps.

[2021-07-20 13:47] srsholmes opened #2258 "feat(macos): expose `set_activation_policy`"
### Is your feature request related to a problem? Please describe.
I would like to make a launcher / spotlight / alfred type application. Currently tauri apps have a menu and a dock icon, which isn't really compatible with this use case.

### Describe the solution you'd like
Ideally, we would have the ability to create NSPanel type windows, as described [here](https://github.com/tauri-apps/tao/iss

[2021-07-20 13:48] stefnotch commented on #2254
I see, reading through the documentation, I was under the impression that that should work.

So, using a Tauri application as a localhost web server and then showing the UI in a browser. I do need access to native functions for https://github.com/stefnotch/downline/ though.

[2021-07-20 13:58] FabianLars commented on #2254
Ohh, that part is still from the alpha version where tauri had a builtin server.
The beta version uses a "custom protocol" instead and the server got removed.

[2021-07-20 14:22] stefnotch commented on #2254
Oh, I was a bit surprised at the fact that that was pretty much the only place in the documentation which referenced that. I guess it makes sense.

So, since this is something that Tauri doesn't support by design, I can close this issue?
(Too bad, I had hoped that I could use that as a very low effort alternative to shipping Webview2 with my application)

[2021-07-20 14:37] nothingismagick commented on #2254
yes - its something that has been on my backlog for far too long. really need to totally revamp that entire section...

[2021-07-20 14:37] #2254 closed, assigned to nobody

[2021-07-20 15:52] amrbashir commented on #2256
`graceful-fs` is a nested dependency of some of `@tauri-apps/cli` dependencies, we don't have control over that.

And yarn2 has issues with some of npm packages and don't think yarn3 is any different.

[2021-07-20 16:10] kubijo commented on #2256
Come on, man, is that really it?
Can you, @arcanis, please give some pointer on what would be the way to approach this a find the issue?

[2021-07-20 16:12] amrbashir commented on #2256
just to be clear, I am not sure if it is a problem with yarn2/yarn3 or not, I closed this issue because we have no control over the nested dependency.

[2021-07-20 16:20] arcanis commented on #2256
From a quick look (I don't use Tauri, so I can only rely on the error message), the problem is in tauri, not a transitive dependency. You don't declare `graceful-fs` as a dependency, even though your own source files `import` from it (same thing for a few other packages, as per https://github.com/tauri-apps/tauri/issues/2256#issuecomment-883400565). As a result, the behavior is unsafe, hence the e

[2021-07-20 16:38] amrbashir commented on #2256
To be even more clear, we never really put any effort in officially supporting yarn2 (haven't even used it personally).

I looked at all of our source files and not a single line contains an `import` or `require` from `graceful-fs` however I looked at our `yarn.lock` file generated by yarn1 and `graceful-fs` is used by number of our dependency, some note-wroth are `jest`, `fs-extra` and `imagemin`

[2021-07-20 16:51] arcanis commented on #2256
To be even clearer (😛), properly listing dependencies isn't about Yarn. All package managers, including npm, are affected when that happens. In their cases, the differences are often very subtle - one package being at the wrong place, one resolution being hoisted when it shouldn't ... it usually works, but causes very cryptic and difficult to debug issues pseudo-randomly. Very annoying for users,

[2021-07-20 17:02] amrbashir commented on #2256
Thanks for the detailed explanation, I was dumb not to check the bundled package.

you're right, we are using webpack externals. I will re-open the issue.

Thanks for help, @arcanis , we really appreciate it.

[2021-07-20 20:51] Florob opened #2264 "Calling unlisten from JavaScript removes all listeners"
### **Describe the bug**
Calling any `unlisten()` function returned by a `listen()` call remove all callbacks registered through `listen()`.

### **To Reproduce**
Steps to reproduce the behavior:
1. Create a new tauri project (or use an existing one)
2. Add the following code:
[code]
3. Open a console
4. Resize/focus/blur the window
5. Observe none of the callbacks are triggered

### **Expected be

[2021-07-21 00:17] caseykneale commented on #2255
Some luck. I deleted `node_modules` then ran `npm install` to recover the project. This gave me the same errors. But I ran `npm update` and now I can get invoking to work in the window, but not the browser. Is this the expected result? Or can invoking work in te browser as well?

[2021-07-21 00:20] amrbashir commented on #2255
`@tauri-apps/api` package is supposed to be only used in tauri window, it won't work in browsers.

[2021-07-21 00:21] #2255 closed, assigned to nobody

[2021-07-21 07:25] wusyong commented on #2248
We have an alternative PR for system tray on tao.
And I'm going to remove the dependency of libappindicator on lunix.
So perhaps we won't need these feature flag in the future.

[2021-07-21 07:40] #2236 closed, assigned to nobody

[2021-07-21 10:45] ya55en opened #2270 "Global events hooks not working"
### **Describe the bug**
A global event emitted on the front-end side via `emit()` [[1]] does not seem to get propagated to the back-end but is instead propagated to a front-end listener setup via `listen()` [[2]].

### **To Reproduce**
Steps to reproduce the behavior:

NOTE: The sample code shown below is available in [this repository] created to showcase the issue.)

1. Create a new tauri projec

[2021-07-21 11:09] watho opened #2271 "Local data path for Webview2 not always set"
### **Describe the bug**
Running compiled app creates a webview directory inside the runtime directory of the executable. Probably the local data path for the webview2 component is not set correctly and the webview2 component falls back to the default.

### **To Reproduce**
Steps to reproduce the behavior:
Run minimal example from here https://github.com/watho/tauri_bug_minimal
See folder app.exe.

[2021-07-21 11:25] shanshouchen commented on #2270
I have the same problem and look forward to solving it

[2021-07-21 12:15] blekman995 opened #2273 "Compatability with OpenUI5 JS framework"
SAP openUI5 has awesome controls and a solid frontend framework , will compensate tauri nicely. is it possible to initialise tauri via npm in an openUI5 project? in the present release will the Rust bindings work on initialisation?

openUI5 framework link: https://openui5.org/

[2021-07-21 12:56] amrbashir commented on #2273
As long as your front-end compiles to html/css/js, it will work

[2021-07-21 12:57] Laegel commented on #2273
Hey @subralog !
**Any** web framework can be used with Tauri.
To add Tauri to an existing project, follow this guide: https://tauri.studio/en/docs/development/integration

[2021-07-21 12:57] #2273 closed, assigned to nobody

[2021-07-21 19:25] scarmuega commented on #2249
I'm experiencing the exact same behaviour. Would you kindly elaborate on how to fix or why the issue was closed? Thanks!

[2021-07-21 19:28] amrbashir commented on #2249
@scarmuega this issue has been fixed in the dev branch, and will be available in the next release.

[2021-07-21 19:55] blekman995 commented on #2273
Thanks so much folks!

[2021-07-21 22:14] Verequies opened #2274 "Net API"
It would be great if Tauri had the Node.JS [Net](https://nodejs.org/api/net.html) API or similar such as the Electron.JS [Net](https://www.electronjs.org/docs/api/net) API.

For example I am trying to create a Discord Rich Presence using discord-rpc but am unable to do so easily as the function 'net.createConnection' does not exist.

[2021-07-21 22:19] amrbashir commented on #2274
Recently, I had the idea to make our api similar to nodejs and introduce new functions from Nodejs standard library, you can suggest which methods you want in #2233

[2021-07-21 22:19] #2274 closed, assigned to nobody

[2021-07-21 22:21] Verequies commented on #2233
It would be great to have 'net.createConnection' from the Net API so that [discord-rpc](https://github.com/discordjs/RPC) can work.
I would be happy to make an example project that can be tested with if needed.

[2021-07-21 22:31] amrbashir commented on #2233
I added `createConnection` to the list for now, but I will ask @nothingismagick , our security expert, if it is okay to include it or not since it will deal with sockets.

I will try to do my best but I am not sure if this will be a drop in replacement for the NodeJS one.

[2021-07-21 22:55] OJFord opened #2275 "Flex elements not behaving as expected, to fill page or overflow scroll"
### **Describe the bug**
Flex elements do not behave as expected, or as seen in the browser. In particular, [this example](https://www.codeply.com/go/ouc3hddx5i) is intended to show a fixed 'frame' consisting of header, footer, and sidebar; with two independently scrollable columns. In Tauri, the footer floats up to meet column content height if less than viewport, and the full page scrolls rather

[2021-07-22 00:30] OJFord commented on #2275
Same behaviour on macOS (Darwin 20.5.0) - thought worth a test as @amrbashir mentioned in Discord a different webkit renderer is used there.

[2021-07-22 01:59] krscott opened #2276 "Add Svelte to create-tauri-app"
**Is your feature request related to a problem? Please describe.**
There is no [Svelte](https://svelte.dev/) option in create-tauri-app.

**Describe the solution you'd like**
Add a Svelte recipe to create-tauri-app to install the [official template](https://github.com/sveltejs/template).

**Describe alternatives you've considered**
Although it is relatively straight-forward to get Tauri and Svelte

[2021-07-22 02:00] krscott commented on #2276
I'm willing to work on a PR for this if greenlit.

[2021-07-22 07:30] amrbashir commented on #2275
alright, can you provide a minimal repo ?

[2021-07-22 10:04] OJFord commented on #2275
How's that ^? `yarn && yarn dev` to run.

[2021-07-22 10:32] amrbashir commented on #2275
@OJFord
I built your repo and served with [http-server](https://www.npmjs.com/package/http-server) in a chromium-based browser (vivaldi) and the footer is not fixed, same as tauri.

Vivaldi:
![vivaldi-chromium-based](https://user-images.githubusercontent.com/48618675/126625448-f12742b4-619a-4111-9202-310bd82b1ec3.png)

Looks to me that this is how it supposed to work, so I will close the issue.

i

[2021-07-22 10:32] #2275 closed, assigned to nobody

[2021-07-22 10:49] OJFord commented on #2275
Ah, I missed the `html, body { height: 100%; }`.

...but with that Tauri has the fixed footer too; works as expected. 🤦🏻 There isn't much more to the app I pulled it from (I'm using Svelte, but did try this plain HTML in the root component) but it's clearly my fault on my end somehow. Sorry about that.

[2021-07-22 11:07] amrbashir commented on #2276
That would be awesome

[2021-07-22 11:10] amrbashir commented on #2163
this is [fixed](https://github.com/tauri-apps/tauri/pull/2247) in the dev branch and will be available in the next release.

[2021-07-22 11:10] #2163 closed, assigned to nobody

[2021-07-22 11:21] amrbashir commented on #2061
This should be fixed now.

[2021-07-22 11:21] #2061 closed, assigned to nobody

[2021-07-22 11:21] amrbashir commented on #2100
This should be fixed now.

[2021-07-22 11:21] #2100 closed, assigned to nobody

[2021-07-22 12:54] woubuc opened #2278 "[Feature request] Create a tray icon on runtime"
**Is your feature request related to a problem? Please describe.**
I would like to be able to create a tray icon during runtime.

Use case: an application that shows a login window on startup, and only after login are the main window and the tray icon created.

**Describe the solution you'd like**
A way to create/remove tray icons on runtime. Or at least a way to toggle the tray icon so it can be

[2021-07-22 15:34] michaelowens opened #2280 "Separate window shadow config from decorations"
**Is your feature request related to a problem? Please describe.**
When using `decorations: false` the app removes not only the topbar & border, but also the shadow.

**Describe the solution you'd like**
I would like to see the shadow separated into it's own config property. So you could e.g. do:
[code]
Which would result in a window without the top bar, without borders but *with* the OS shadow.

[2021-07-22 15:34] woubuc opened #2281 "URL in `WindowManager.prepare_window()` has double slashes"
### **Describe the bug**
When a page URL is joined with the base URL, too many slashes are added, causing some dev servers (in my case, the Nuxt dev server) to return a 404 instead of showing the page.

With config..
[code]
..[`WindowManager.get_url()`](https://github.com/tauri-apps/tauri/blob/74a278fcfc60f51c879347476c3f76e286a3fd69/core/tauri/src/manager.rs#L184-L198) returns `http://localhost:3

[2021-07-22 19:26] #2276 closed, assigned to nobody

[2021-07-22 19:32] amrbashir commented on #2281
Thanks for the detailed explanation and investigation, a PR would be great.

[2021-07-22 20:09] woubuc commented on #2281
Pull request opened in #2282

[2021-07-23 09:57] woubuc opened #2284 "Tauri spawns multiple windows with `app.create_window()` in certain situations"
### **Describe the bug**
If no window is added in the config file, but a window is created through `app.create_window()`, if the Javascript code in that window imports `@tauri-apps/api` then Tauri will incorrectly spawn a second window pointing to `index.html` (the default). This happens both in dev and in release builds.

### **To Reproduce**
Steps to reproduce the behavior:
1. Create a Tauri pro

[2021-07-23 10:09] woubuc commented on #2284
The import doesn't *have* to happen on page load. If I remove the top-level import and instead add a button with this onclick handler..
[code]
..then when clicking the button, the second window will spawn just like with a top-level import.

Once this second window has spawned, clicking the button again (either in the original or the new window) does not spawn any additional windows.

[2021-07-23 10:15] amrbashir commented on #2284
I think I know where the bug happens, will open a PR in a second.

[2021-07-23 11:17] woubuc commented on #2284
I've pulled the branch with your fix and built de API package locally, and it seems to work. No more double windows! 😄

[2021-07-23 11:19] amrbashir commented on #2284
Thanks for testing it. I guess we can merge it soon.

[2021-07-23 11:34] JonasKruckenberg opened #2286 "[binary-releases] macos aarch64 (m1) support"
### **Describe the bug**
The bundler fails to include a sidecar on apple silicon machines. It is expecting to find a binary named: `${name}-x86_64-apple-darwin` even though the correct thing to do is to look for a binary with the name `${name}-aarch64-apple-darwin`.

### **Platform and Versions (required):**

[code]

### **Workaround**

you can specify the target explicitly by running `yarn tauri

[2021-07-23 11:39] lemarier commented on #2286
Nice catch! Thanks
As we are there we should do a full round of checkups for `aarch64 ` support.
The updater should add `aarch64 ` as a supported platform as well.

[2021-07-23 11:49] JonasKruckenberg commented on #2286
I just noticed ^^the target triple is `aarch64-apple-darwin` not `arch64-apple-darwin`. Something that my autocorrection doesn't like

[2021-07-23 11:56] woubuc opened #2287 "[Feature request] Keep app running after all windows are closed"
**Is your feature request related to a problem? Please describe.**
I am building an app that should "live" in the system tray. The app window can be closed and later reopened by clicking on the tray icon. However, when the last window of the app closes, Tauri exits.

**Describe the solution you'd like**
I would like an option to keep the app running after all windows are closed, so that I can crea

[2021-07-23 13:06] #2284 closed, assigned to nobody

[2021-07-23 13:09] srsholmes commented on #2258
After doing a bit of digging on this, I have managed to build an app using a local version of tauri without a menu bar and only a system tray icon by changing [this line](https://github.com/tauri-apps/tauri/blob/dev/core/tauri-runtime-wry/src/lib.rs#L1257) to the following

[code]

and changing the import of the `EventLoopExtMacOS` to the following...
[code]

I would like to contribute this as a P

[2021-07-23 13:20] #2281 closed, assigned to nobody

[2021-07-23 13:25] #2270 closed, assigned to nobody

[2021-07-23 13:49] amrbashir commented on #2256
Alright, I tried declaring `graceful-fs` as a direct dependency but that wasn't enough, a lot more undeclared dependencies emerged and declaring all of these dependencies doesn't seem the right way to do it and I am not an expert enough in this to find a fix for it.

So since we are focusing on stability of the core tauri code base, this issue will remain as is until one of two things happen, eith

[2021-07-23 13:57] kubijo commented on #2256
I've given you a list of dependencies in the second comment... It's the `.yarnrc.yml` file

[2021-07-23 14:01] amrbashir commented on #2256
Sorry I missed that list but what happens if in the future we add another dependency, we are gonna have to trial and error to see what dependencies need to be also declared and we have to maintain that list, if there is a better solution I'd be happy to do it.

[2021-07-23 14:29] #2271 closed, assigned to nobody

[2021-07-23 14:47] woubuc commented on #2287
I'd be interested in figuring out how to implement this and creating a PR.

On first look, there seems to be an easy way to add a parameter to `App.run()` to prevent killing the app [here in `tauri/app.rs`](https://github.com/tauri-apps/tauri/blob/70a1941468f55f0dc09ac2e13802945891d766f4/core/tauri/src/app.rs#L305-L315), but I think it's probably more appropriate to have this config passed down fr

[2021-07-23 15:03] kubijo commented on #2256
I'd say go for yarn2 ... With all that @arcanis said it only makes sense
and I'm sure they have some examples of automatic checks...

On Fri, 23 Jul 2021, 16:01 Amr Bashir, ***@***.***> wrote:

[2021-07-23 15:14] arcanis commented on #2256
Without going to a full change of package manager, perhaps an intermediary solution would be to setup a cron GitHub Action job that would periodically run a quick test using Yarn 2? Something simple, like running --version on your CLI or such.

It wouldn't notify you on PRs, but it's low effort and should notify you fairly fast if something happens (we actually do that on our side as well, just to

[2021-07-23 15:32] amrbashir commented on #2256
It is not that we don't want to support yarn2, we just have much higher priority tasks right now so unless someone wants to fix this issue and make a PR, this is gonna have to wait.
And in the future we are most likely gonna re-write the `tauri icon` command in rust (don't worry, you can still use `tauri icon` with the npm packge, it will just forward it to our rust cli).

yeah that would work.

[2021-07-23 15:45] woubuc commented on #2287
I've gone ahead and hacked something together based on my (so far fairly limited) understanding of the codebase.

1. A `RunMode` enum can be set on the builder
2. This run mode is then passed through to the app and then to the runtime
3. The `Runtime.run()` and `Runtime.run_iteration()` functions have a new parameter `run_mode` which adds the run mode to the `EventLoopIterationContext`.
4. From th

[2021-07-23 15:53] lemarier commented on #2287
Hey well done!

@lucasfernog what you think about this?
https://github.com/woubuc/tauri/compare/dev...feat/run-mode

[2021-07-23 16:00] amrbashir commented on #2287
we have something similar to stop Window from closing, check https://github.com/tauri-apps/tauri/blob/70a1941468f55f0dc09ac2e13802945891d766f4/examples/api/src-tauri/src/main.rs#L104-L106 to see it in use, maybe something similar would be better ?

[2021-07-23 16:04] lemarier commented on #2286
@JonasKruckenberg could you make `rustup default` and paste me the result please

Thanks

[2021-07-23 16:25] woubuc commented on #2287
Personally I think my approach is easier on the developers who have to work with Tauri. It's directer ("set the mode of operation", instead of "check for an ExitRequested event and then callback to prevent the exit") and I think it more clearly communicates the *intention* of the code. Also, this is a personal preference but I always like to make "discoverable" APIs - if there's a function `.run_m

[2021-07-23 16:38] amrbashir commented on #2287
Your approach is fine but I think we should do something similar to how we stop closing the window for two reasons:
1. I don't see a way to close the app if the Run mode is set to `Infinite` but I am sure you can fix this.
2. consistency in the codebase and similarity with javascript `event.preventDefault()` and this is my main reason.

[2021-07-23 18:43] lemarier opened #2289 "bug(api): `withGlobalTauri` injection order is wrong and can't access `window`"
### **Describe the bug**
When we enable `withGlobalTauri` we got;
[code]

### **To Reproduce**
Steps to reproduce the behavior:
`cargo run --bin bench_helloworld`

### **Expected behavior**
Should work without errors

### **Screenshots**
N/A

### **Additional context**
Introduced by https://github.com/tauri-apps/tauri/pull/2285

[2021-07-23 18:45] lemarier commented on #2289
https://github.com/tauri-apps/tauri/blob/70a1941468f55f0dc09ac2e13802945891d766f4/core/tauri/src/manager.rs#L417-L420

[2021-07-23 19:43] lemarier commented on #2289
@amrbashir I think we should deprecate the use of `appWindow` and use `getCurrent()` instead, otherwise it'll be too late if we wait the stable release.

[2021-07-23 19:50] amrbashir commented on #2289
I agree, removing it is the best approach but that would be a huge breaking change, so many people use it and we use it alot through the documentation but lets see what @nothingismagick  and @lucasfernog think.

[2021-07-23 21:36] nothingismagick commented on #2289
I would like to hear @chippers opinion here, and while it is true this is a breaking change, we are in beta. What we cannot afford to do, is to let any such issues slip through before the audit begins. After the audit (and the subsequent stable release), breaking changes of any kind will force a Major Version bump.

[2021-07-23 23:38] chippers commented on #2289
I think that supporting `appWindow` to prevent a large breaking change is probably worthwhile since the additional code to do so is not a very large burden as far as I can see. Especially since it's already so prevalent throughout all our documentation. I agree that having `getCurrent()` being the _only_ way of doing things is my preference, but unfortunately it's not.

Here's a diff from `dev` th

[2021-07-24 06:43] woubuc commented on #2287
That's a fair point. I had considered ease of use over consistency but both are indeed important. Which other APIs on the Rust side use cancelable events in this way? So I can check out how it's implemented for those cases and see if maybe I can implement something similar.

[2021-07-24 09:16] amrbashir commented on #2287
Currently only Window close event

[2021-07-24 09:32] woubuc opened #2290 "[Feature request] Make `App.create_window()` accept any `Into<String>` type for the label"
**Is your feature request related to a problem? Please describe.**
The `App.create_window()` function takes a label as its first argument. This currently needs to be a `String` so I need to use `.into()` on every call to this function.

**Describe the solution you'd like**
I'd like to be able to pass a `&str` label to the function without having to add `.into()`.

**Additional context**
I've [impl

[2021-07-24 11:35] chippers commented on #2290
Hi, thanks for your contribution! It looks good from a cursory glance, so I suggest you open up a PR with your fork and we can make a final decision there.

One thing to be changed is the changefile level, this should be a `patch` not `major` change, and perhaps mention that it's both `App` and `AppHandle` whose signature change, since that macro is used on both.

Edit: I've opened the PR for you

[2021-07-24 15:46] woubuc opened #2292 "[Feature request] Implement `Debug` for public API types"
**Is your feature request related to a problem? Please describe.**
I'm trying to debug a Tauri app but a lot of the types don't implement `Debug` so I often can't just use `println!("{:#?}")` to get an idea what's happening while debugging.

**Describe the solution you'd like**
I would like to have `Debug` implemented on all types exposed through the public API.

[2021-07-24 20:34] woubuc commented on #2287
I've created [a test on my fork](https://github.com/woubuc/tauri/compare/dev...woubuc:feat/exit-requested-event) of what the `ExitRequested` event would look like. I made it work in the exact same way as the existing `CloseRequested` event; A channel is created and sent to the user in the `ExitRequested` event, and the user can then use that to send a message back to prevent the app from exiting.

[2021-07-24 20:51] amrbashir commented on #2287
Looks good, would love to see a PR.

that won't be necessary, you can remove it. Tao will handle this automatically in the next release.

[2021-07-24 20:56] parker-codes commented on #1928
Disabling SSR fixed the issue for me when rendering, but doesn't make the error message go away.

I ended up proxying the invoke method so that I didn't have to dynamically import in every place I would invoke:
[code]

And my code can look like this:
[code]

[2021-07-24 21:21] woubuc commented on #2287
PR created #2293

[2021-07-24 22:15] woubuc opened #2294 "Javascript API monitor functions don't work"
### **Describe the bug**
In the window API, the [`currentMonitor()`, `primaryMonitor()` and `availableMonitors()` functions](https://github.com/tauri-apps/tauri/blob/70a1941468f55f0dc09ac2e13802945891d766f4/tooling/api/src/window.ts#L1162-L1196) don't work. They call an incorrect command from the JS side which causes an error.

### **To Reproduce**
Steps to reproduce the behavior:
1. In a project

[2021-07-24 22:39] ulvido opened #2295 "deb file build app name kebab-cased"
**Is your feature request related to a problem? Please describe.**
I write at tauri.conf.js
`"productName" : "Tauri Svelte Test" `
but app name shows tauri-svelte-test

**Describe the solution you'd like**
Good named like other apps in picture. ( Tauri Svelte Test )

**Additional context**

![2021-07-25 01-06-49 ekran görüntüsü2](https://user-images.githubusercontent.com/27722274/126882441-3bb6147

[2021-07-25 21:46] probablykasper commented on #2061
Yup, works perfectly now!

[2021-07-26 08:18] JonasKruckenberg commented on #2286
Sorry for the delay,  here you go!
`rustup default` gives me:
[code]

[2021-07-26 11:15] lemarier commented on #2289
@chippers good points! I totally agree with you there, I didn't realize it was throughout all our documentation.
Do you want to open a PR?

[2021-07-26 11:17] domiSchenk opened #2296 "tauri-runtime-wry still used win32 feature flag"
Wry did remove support for winrt: https://github.com/tauri-apps/wry/commit/c37973e47318e9cff2712eb4a394c07734f58d54
and there fore the flagh win32 was removed.

tauri-runtime-wry still uses this flag:
https://github.com/tauri-apps/tauri/blob/70a1941468f55f0dc09ac2e13802945891d766f4/core/tauri-runtime-wry/Cargo.toml#L15

[2021-07-26 11:27] lemarier commented on #2296
Hi there,

It'll be fixed on the next `wry` release.  Hopefully in the next day(s)...
Actually, the tauri `dev` branch is locked to wry `0.11` and still has the `win32` flag.

Thanks for pointing it up!

[2021-07-26 11:27] #2296 closed, assigned to nobody

[2021-07-26 11:33] domiSchenk commented on #2296
i do use a wry patch on my end (fixing the flicker https://github.com/tauri-apps/wry/commit/e28bcce0884937365013fda3098f64f9956d569f)
but changed to dev branch because the PR was completed.

But i change to rev patch instead!

[2021-07-26 12:00] lemarier commented on #2286
@JonasKruckenberg could you try without `node cli` ?

[code]

then `cargo tauri build` should do the trick in the `src-tauri`

Let me know if it works

[2021-07-26 12:02] #2230 closed, assigned to nobody

[2021-07-26 12:03] lemarier commented on #2230
Thanks, @euphbriggs we do appreciate your contribution!
And thanks for catching it up!

[2021-07-26 12:05] lemarier commented on #1883
Hi @dibadibadiudiu
I'll close this issue as it's been fixed in the latest version.
If you still encounter problems, please let us know.

Thanks

[2021-07-26 12:05] #1883 closed, assigned to lemarier

[2021-07-26 12:28] #2290 closed, assigned to nobody

[2021-07-26 13:22] JonasKruckenberg commented on #2286
It works! 🥳👍🏻

[2021-07-26 13:42] lemarier commented on #2286
@nklayman looks like this is coming from the [binary releases](https://github.com/tauri-apps/binary-releases) as the built-in `target_arch` is wrong

Maybe we could build a CI version with `--target aarch64-apple-darwin`?

Thanks

[2021-07-26 13:52] lucasfernog commented on #2289
This is my bad, I thought I pushed the fix for it but seems like I missed it. I wrote a simpler solution when I pushed that change, it was just allowing WebviewWindow label to be null.

[2021-07-26 13:52] lucasfernog commented on #2289
I can make that PR.

[2021-07-26 14:25] #2289 closed, assigned to nobody

[2021-07-26 18:54] lemarier opened #2298 "System tray events does not trigger when there is no window"
### **Describe the bug**
When all Windows are closed, the system tray menu events is not triggered.

### **To Reproduce**
`cargo run --bin api`

1. Click `New window` in tray menu (window is opening)
2. Close all windows.
3. Click again on `New window` in tray menu (window is NOT opening)

### **Expected behavior**
On `3` the Window should open. I've tried to make a simple tray application and I g

[2021-07-27 07:11] cestef commented on #1836
Getting the same error:
tauri info:
[code]
 happens on the appimage bundle on manjaro

[2021-07-27 15:44] OJFord commented on #1657
`rel="noopener"` doesn't - it switches focus to the default browser, but the link opens in the Tauri window; the same one.

[MDN says](https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types/noopener):

and:

[2021-07-28 00:13] probablykasper opened #2303 "`FileDialogBuilder::pick_file()` error in stateful command"
### **Describe the bug**
I'm getting a panic while calling `FileDialogBuilder::pick_file()` in a stateful command on macOS

### **To Reproduce**
Invoke a command like the following:
[code]

### **Platform and Versions:**
[code]

### **Stack Trace**
[code]

[2021-07-28 00:44] probablykasper commented on #2303
Not a Tauri issue, was missing `.manage(cmd::Data(Default::default()))` on `tauri::Builder`.

Maybe a hint could be added to the error message?

[2021-07-28 05:30] nklayman commented on #2286
I don't think we can cross compile, so we'd have to wait for https://github.com/actions/virtual-environments/issues/2187. We could work around this by checking the arch at runtime instead of build time.

[2021-07-28 17:38] probablykasper opened #2311 "Multi window freeze"
### **Describe the bug**
Creating a new window like this makes the app unresponsive on macOS:
[code]

### **To Reproduce**
Repo: https://github.com/probablykasper/tauri-multiwindow-freeze-bug

### **Platform and Versions (required):**

[code]

[2021-07-28 17:55] amrbashir commented on #2311
I can reproduce this issue on windows with your repo but can't reproduce it with our multiwindow example.

[2021-07-28 17:58] probablykasper commented on #2311
@amrbashir I think the multiwindow example only creates windows from `tauri.conf.json` and/or `tauri::Builder`

[2021-07-28 17:59] amrbashir commented on #2311
~~No, it creates from commands too.~~
Edit: it creates it from the js side.

[2021-07-28 18:25] probablykasper commented on #2311
@amrbashir Ah, so then it calls this internal command: https://github.com/tauri-apps/tauri/blob/fd8fab507c8fa1b113b841af14c6693eb3955f6b/core/tauri/src/endpoints/window.rs#L115-L128

[2021-07-28 18:45] amrbashir commented on #2311
yeah but we still need to figure out why it doesn't work from commands, doesn't matter which attributes you set too

[code]

[2021-07-28 18:47] pbondoer opened #2313 "Dev tools crashes using WSL2 + VcXsrv"
### **Describe the bug**
Opening the dev tools under WSL2 + VcXsrv crashes the process.

### **To Reproduce**
* Create a new Tauri project
* Run `tauri dev`
* Right click -> Developer Tools

### **Expected behavior**
The dev tools should show up and not crash.

### **Screenshots**
<img src="https://user-images.githubusercontent.com/1671753/127378666-f5818c7b-c7a6-41b0-8bb8-9323f5709612.png" width=

[2021-07-28 18:52] amrbashir commented on #2313
Running GUIs on WSL is not officially supported by Microsoft (not yet) so it is expected that some gui apps won't run properly.

With that noted and since devtools work properly in a real linux environmeny, I am afraid it is beyond our control.

[2021-07-28 18:52] #2313 closed, assigned to nobody

[2021-07-28 21:17] pbondoer commented on #2313
That kinda sucks. The [docs have instructions for WSL](https://tauri.studio/en/docs/getting-started/setup-linux#4-for-windows-subsystem-for-linux-wsl-users), so I thought it was supported, but if it isn't then fair enough. Though I would suggest adding a mention somewhere that it's likely not gonna work for actual dev. I'll have to switch to dev on native Windows for now I suppose, and maybe in th

[2021-07-28 21:27] amrbashir commented on #2313
well, we do support building on WSL but this crash is far beyond our control, It might be a bug in `VcXsrv` or something else, I don't know. With GUI on WSL there is a lot of different emulation layers and we don't control any of them so I hope `wslg` will fix this.

[2021-07-28 22:56] #2264 closed, assigned to nobody

[2021-07-28 23:14] nicolaic opened #2314 "Double clicking `data-tauri-drag-region` ignores window resizable flag."
### **Describe the bug**
A clear and concise description of what the bug is.

### **To Reproduce**
Steps to reproduce the behavior:
1. Configure your window to have `resizeable` as `false`
2. Create an HTML element with the `data-tauri-drag-region` attribute
3. Double click the HTML element, and the window maximizes

### **Expected behavior**
Because the window is configured to not be resizable, i

[2021-07-29 06:43] 9ParsonsB opened #2317 "Allow developers to implement their own Permission Prompts"
**Is your feature request related to a problem? Please describe.**
I am developing an application which is opened via another application. When my application is launched it connects to a WebRTC connection and attempts to share the screen using `navigator.mediaDevices.getUserMedia`.
This is required to be done with zero user interaction.

**Describe the solution you'd like**
A method for developer

[2021-07-29 12:13] richardmward opened #2319 "perUser InstallScope"
**Is your feature request related to a problem? Please describe.**
I am unsure if there are technical reasons for this not being possible, but wish to raise it to see if it is a possibility.

**Describe the solution you'd like**
Could the windows installer support the perUser InstallScope (and I think maybe it'd need the limited InstallPrivileges) wix settings so that a Tauri app would not require

[2021-07-29 12:39] amrbashir commented on #1924
This should be fixed in the next release, please re-open if it still happens then.

[2021-07-29 12:39] #1924 closed, assigned to nobody

[2021-07-29 12:39] amrbashir commented on #2034
This should be fixed in the next release, please re-open if it still happens then.

[2021-07-29 12:39] #2034 closed, assigned to nobody

[2021-07-29 14:21] jvail commented on #2233
Would be nice to have  a **synchronous** api to access to files in a way that allows open/read/write/close (as mentions here https://github.com/tauri-apps/tauri/issues/1025) to directly read/write large files without copying them into memory:

Something like https://github.com/emscripten-core/emscripten/blob/main/src/library_nodefs.js

[2021-07-29 14:41] amrbashir commented on #2233
A synchronous api is not possible, but I will add nodejs async function `open` which returns a `FileHandle` class

[2021-07-29 16:44] #2294 closed, assigned to nobody

[2021-07-29 17:49] FabianLars opened #2323 "calling listen() emits events from the past"
This will be slightly longer as i'm not able to formulate concise sentences...

### **Describe the bug**
Finally got the time to convert my discord message (https://discord.com/channels/616186924390023171/731495028677148753/869314406075498516) into an issue.

First of all the steps to reproduce (with `tauri://move` as an example event):
1. Have some kind of tauri app, without a event listener for

[2021-07-30 09:04] jzyzxx opened #2325 "Failed to download webview2"
### **Describe the bug**
[code]

1. vue create my-tauri-app
2. cd my-tauri-app
3. vue add tauri
4. npm run tauri:serve

Operating System
win10
Node.js environment
v14.15.4
Global packages
npm
6.14.10

Rust environment
rustc
rustc 1.49.0 (e1884a8e3 2020-12-29)
cargo
cargo 1.49.0 (d00d64df9 2020-12-05)

[2021-07-30 09:10] FabianLars commented on #2325
Try upgrading your rust toolchain (`rustup update`). The resolver stuff got added in 1.51 (latest version is 1.54, you're at 1.49)

[2021-07-30 09:14] #2325 closed, assigned to nobody

[2021-07-30 18:56] iohzrd opened #2327 "Strange CORS behavior."
I'm using [ipfs-http-client](https://www.npmjs.com/package/ipfs-http-client) in a simple test app to connect to the go-ipfs daemon.
my CORS configuration for go-ipfs is such that it allows me to connect from my test app running in a browser but not tauri.

The dev console in tauri reports:
[code]

I've tried adding "tauri://localhost", "tauri://*" and even  * to my CORS config but it doesn't help.

[2021-07-31 04:33] jvail commented on #2233
Sorry, a bit off-topic but Is that a design decision or technically impossible?

Since electron offers sync fs it will be difficult to migrate. Are there ways to customize/extend tauri to make a sync fs available in a webworker?

[2021-07-31 07:16] amrbashir commented on #2233
yeah it is a kinda impossible technically.

you can wrap your logic in an async function and await our api calls.
here is an example using an async IIFE.
[code]

[2021-07-31 14:37] gereleth opened #2328 "Allow href without .html extension for links between app's pages"
**Is your feature request related to a problem? Please describe.**

I want to have several pages in my app with links between them.
Suppose my distDir contains two files: `index.html` and `about.html`.
My index page has a link to the About page:
`<a href="about"> About </a>`
On the web this link opens the `about.html` file.
But in Tauri this link doesn't work unless I put `href="about.html"` there

[2021-07-31 16:33] amrbashir commented on #2328
as discussed on [discord](https://discord.com/channels/616186924390023171/625037620996734986/871057572399046677)
given this directory structure , if you want `about.html` then you need to explicitly set your `<a>` tag to link to `about.html`
ex: `<a href="about.html">About</a>`
[code]
if you want  `<a href="about">About</a>` to work then your folder structure should be like this
[code]

[2021-07-31 17:30] elvinaspredkelis opened #2330 "Javascript Notification API throws an error upon invokation"
### **Describe the bug**
JS API for notifications throw an error upon invokation:

`Unhandled Promise Rejection: TypeError: undefined is not a function (near '...window.__TAURI__.invoke...')`

### **To Reproduce**
Steps to reproduce the behavior:
1. Install Tauri via Vue CLI
2. Try to invoke any of the notification module methods via the JS API

### **Expected behavior**
Default behavior for notif

[2021-07-31 17:33] gereleth commented on #2328
Thanks. I realised after looking into this that I had a setting called [`clean_urls`](https://vercel.com/docs/configuration#project/clean-urls) enabled in a Vercel-hosted app which made my links work that way.
What you described about folder structure makes total sense. :+1:

[2021-07-31 17:33] #2328 closed, assigned to nobody

[2021-07-31 23:18] jquesada2016 commented on #2233
Regarding sync function calls, I do understand the technical limitations on why promises must be used. But just in case, it is possible to emulate (though inefficiently) a blocking synchronous function in JS from an asynchronous function. This can be done as follows:

[code]

Two important things to note on my primitive implementation above:
1. The functionality can be made into a simple helper fu

[2021-08-01 01:04] chippers commented on #2233
The impossible part isn't exposing a sync api, it was the other part of the request.

This is difficult in the current design because we use message passing to communicate with the WebView, meaning Rust loads the file and passes the bytes over to the webview into JS where it is consumed. To do that without copying into memory, there would need to be a way from JavaScript to directly load a file fr

[2021-08-01 04:56] jvail commented on #2233
Thank you for your thoughts and insight, but ...

excuse the heresy - this is pretty much what I can do already in a good old browser: Ask for a file, load it entirely into memory, process it and ask for a save-as dialog. This is fine for small files but let's say I'd like to process a 500MB geotiff then I'll soon hit the limitations of the browser (and tauri's).

The use-case I have in mind is ru

[2021-08-01 05:55] chippers commented on #2233
I agree with you, that would be a really interesting interface and I would love to see it someday soon. Electron is in a fortunate place regarding this due to controlling both the backend and a custom build of Chromium. We provide Wry by default in Tauri to support the "native" OS browser (iOS/macOS = WkWebView, Linux = webkit2gtk, Windows = webview2) which would require all those libraries to sup

[2021-08-01 15:11] MikeTheSnowman opened #2332 "[docs] examples in CLI guide are outdated"
Hello. I'm new to Tauri and Rust, so apologies if this is the wrong place to post this.

The documentation on at this [page](https://tauri.studio/en/docs/usage/guides/cli#rust) for the rust code for creating a custom CLI using Tauri does not appear to work.

I tried to place this code in my main.rs file to test, but I keep getting errors that "tauri::cli::get_matches" does not exist.

[code]

Also

[2021-08-01 16:49] FabianLars commented on #2332
Looks like there is a re-export missing (or it's intentional and the docs are outdated lol).
In the meantime you can access it via `tauri::api::cli` instead of `tauri::cli`.

[2021-08-02 01:44] MikeTheSnowman commented on #2332
Hello @FabianLars thanks for the advice. I've tried giving that a shot, but still run in to issues (mostly due to my lack of knowledge of Rust).
![image](https://user-images.githubusercontent.com/5297545/127793566-e670b39f-36ef-438a-bfe8-d0e8a327efbd.png)
![image](https://user-images.githubusercontent.com/5297545/127793579-5325abeb-3bad-4ebf-bc40-b46450242042.png)
![image](https://user-images.gith

[2021-08-02 02:45] #2330 closed, assigned to nobody

[2021-08-02 04:13] canadaduane opened #2335 "[docs] cargo-tauri does not explain to use `cargo tauri`"
I installed `tauri-cli` via cargo:

[code]

The last line of the install reads as follows:
[code]

Naturally, I tried this new executable, but was left scratching my head:
[code]

I didn't think `tauri` was the subcommand I was looking for, because I wanted to `init` a new project. lol.

Anyway, I think the `cargo-tauri` command should self-document that its intended usage is through `cargo tauri`

[2021-08-02 06:57] nothingismagick commented on #2335
Great idea, not sure how we missed that!

[2021-08-02 07:27] amrbashir commented on #2332
try this

[code]

[2021-08-02 12:01] MikeTheSnowman commented on #2332
@amrbashir , Thank you very much. This works perfectly!
![image](https://user-images.githubusercontent.com/5297545/127858769-62a011a8-7279-4d1e-81fa-4aef6489abbe.png)

[2021-08-02 12:03] amrbashir commented on #2332
Good to know, Idk why I closed this, the docs still are not up to date.

[2021-08-02 12:08] cyyynthia opened #2336 "fs-all feature does not include base64 crate"
### **Describe the bug**
When compiling Tauri with the fs-all feature only, the `base64` crate is not included which causes compile errors.

### **To Reproduce**
Steps to reproduce the behavior:
1. Init a Tauri application
2. Set the features allowlist in config to `{ "fs": { "all": true } }` (effectively enabling the fs-all feature)
3. Run `tauri dev`
4. See error

### **Expected behavior**
The a

[2021-08-02 12:31] MikeTheSnowman commented on #2332
Just as a heads up, I created a [PR](https://github.com/tauri-apps/tauri/pull/2337) with the example code that you provided to update that specific portion of the docs. Thanks again!

[2021-08-02 13:43] #2314 closed, assigned to nobody

[2021-08-02 14:54] b4s36t4 opened #2338 "getDisplayMedia returning undefined in macos."
I've trying to get the screen recording of my system through the tauri, but When I navigator doesn't even have the MediaDevices object.

Can anyone please help me to get the screen in macos?

Any ideas to implement feature like 'desktopCapturer' in electron?

[2021-08-02 15:04] nothingismagick commented on #2338
Please follow the issue template and provide all information.

[2021-08-02 16:13] #2332 closed, assigned to nobody

[2021-08-02 19:44] DBTaylor opened #2342 "Comms broken since beta.3"
Using tauri 1.0.0-beta.3 (or beta.4 or beta.5), invoke is throwing an error, and events triggered in the backend are not being emitted in the frontend. I've had to revert to beta.1 to get everything to work (couldn't seem to get beta.2 to build).

The issue doesn't occur when I run ```tauri dev```, only in the release build.

window.emit is returning Ok(). invoke returns ```ReferenceError: __TAURI

[2021-08-02 19:46] amrbashir commented on #2342
try
1. remove `target` folder
2. run `cargo update` in `src-tauri`
3. build your app

[2021-08-02 19:56] DBTaylor commented on #2342
just tried this, but I still have the issue

[2021-08-02 20:04] amrbashir commented on #2342
can you provide a minimal repro ?

[2021-08-03 08:40] TheCallSign opened #2343 "AppHandle is not Send + Sync on Windows"
Hello,

My Cargo.toml:
[code]

I have a tauri application that compiles fine on Linux but when cross compiling to Windows I get the following error:
[code]

and

[code]

I am holding on to a tauri AppHandle in my application state. My application state is managed with a tauri Application via `manage()`.

Also, as far as I can tell `tao::event_loop::EventLoopProxy` is `Send + Sync` on Linux but onl

[2021-08-03 10:01] amrbashir commented on #2336
Can you provide a minimal repo? I can't reproduce it on my end.

[2021-08-03 10:07] TheCallSign commented on #2343
I've since refactored my code to work around this issue but the inconsistent behaviour remains...

[2021-08-03 10:10] TheCallSign commented on #2343
Nevermind, cross compilation still fails. I cannot send the AppHandle to long running background tokio tasks.

Here are some more compiler errors:

Note that `ConnectionManager` contains an `AppHandle`, but it is instantiated and sent to a newly spawned async task.

The error wrt to tracing is because I am forwarding tracing log messages to the developer console in the tauri window. For that to wo

[2021-08-03 10:33] TheCallSign commented on #2343
With regards to this error:
[code]

Wrapping the AppHandle with an `Arc<RwLock<T>>` does not work (`tauri_runtime_wry::Message` does not impl `Send`):

[code]

[2021-08-03 11:56] cyyynthia commented on #2336
Sure, I've just made a repo here: https://github.com/cyyynthia/tauri-fs-all-2336

The important thing is really the `tauri.conf.json` (+ the `Cargo.toml` file) and the modification to the `allowlist`, as otherwise it's just what `tauri init` gives.

[2021-08-03 13:58] DBTaylor commented on #2342
Minimalish:
https://github.com/DBTaylor/tauri-comms

[2021-08-03 14:33] nothingismagick commented on #2342
Internally `invoke` now requires the use of the `__TAURI_INVOKE_KEY__` which is a random string injected into an IIFE or ESM at runtime. By doing this manually, you are not passing in that private value.

[2021-08-03 14:38] amrbashir commented on #2342
The comms are working fine. I didn't see any errors related to `__TAURI_INVOKE_KEY__` and the reason why your front-end shows `Ok: undefined` is because your `test` function in `src-tauri/src/main.rs` doesn't return anything if you change it to something like this, it will work.
[code]

Note: the repo had a typescript errors due to `@tauri-apps/api` package (which is fixed in dev and will be avail

[2021-08-03 15:20] DBTaylor commented on #2342
@amrbashir, did the comms work fine for you in the release build? The "Ok: undefined" is expected, but only shows up for me in dev. In release I get the error.

I also saw the typescript error and fixed it locally. I didn't have an issue building after fixing it.

[2021-08-03 15:23] DBTaylor commented on #2342
What do you mean by "by doing this manually"? I'm attempting to use the invoke function, and getting this exception in the release build. Is there some other mechanism to send commands?

[2021-08-03 15:40] nothingismagick commented on #2342
@lucasfernog - am I mistaken, or is the `__TAURI_INVOKE_KEY__` injection not needed when `invoke("myFunc")` is called?

[2021-08-03 15:43] lucasfernog commented on #2342
The injection is handled by the tauri protocol. I'll check this repo today.

[2021-08-03 15:45] DBTaylor commented on #2342
@nothingismagick I think whatever sets __TAURI_INVOKE_KEY__ is failing in my release build for some reason. The invoke function is attempting to use it, but it doesn't exist.

[2021-08-03 16:01] amrbashir commented on #2342
I can confirm it happens on release.

[2021-08-03 16:02] lucasfernog commented on #2342
I'll take care of this. Might be some detection issue on the custom protocol resolver.

[2021-08-03 16:17] lucasfernog commented on #2342
Found the issue. Our resolver ignores `<script></script>` tags assuming that it'll use the global tauri API (`window.__TAURI__`), and handles only scripts with `type="module"`. I'll make a PR changing that so your app will work.

[2021-08-03 16:36] amrbashir commented on #2336
yeah I can reproduce it with your repo, I couldn't reproduce it one of our examples so maybe it was fixed in dev, idk maybe @lucasfernog can confirm ?

[2021-08-03 16:53] #2342 closed, assigned to lucasfernog

[2021-08-03 19:15] amrbashir commented on #8632
I poked around and found out:
- Transparent on electron only works when used in a frameless window, Regular windows cannot be transparent, probably they are using the same api as us.
- We could draw to the window like glutin [transparent](https://github.com/rust-windowing/glutin/blob/cfda993f2700e2cd002160d4f14a3af0ecaae3fb/glutin_examples/examples/transparent.rs) example but with decorations on.

[2021-08-04 02:10] thaumictom opened #2349 "Cursor flickers its state"
### **Describe the bug**
If [decorations](https://tauri.studio/en/docs/api/config/#tauri.windows.decorations) is set to false, the cursor is flickering when hovering over text or elements that have a non-default CSS cursor property set. This behavior only happens in frameless mode and I could only reporduce this on Windows.

### **To Reproduce**
Steps to reproduce the behavior:
1. Create a new Tau

[2021-08-04 07:20] amrbashir commented on #2349
I think you meant `decorations: false`
This is has been fixed in tauri-apps/wry#350 and will be available in the next release.

[2021-08-04 07:20] #2349 closed, assigned to nobody

[2021-08-04 12:14] thaumictom commented on #2349
Yes, I indeed meant false. Thank you that you have already made a PR and fixed the issue. I unfortunately couldn't find it before making this.

[2021-08-04 12:18] amrbashir commented on #2349
No worries, the bug was reported on discord and I fixed it without making an issue about it so it was kinda hidden.

[2021-08-04 15:31] LJason77 opened #2352 "stack overflow"
### **Describe the bug**
thread 'main' has overflowed its stack
fatal runtime error: stack overflow

### **To Reproduce**
Steps to reproduce the behavior:
[code]

### **Expected behavior**
Normal operation

### **Screenshots**
If applicable, add screenshots to help explain your problem.

### **Platform and Versions (required):**

[code]

### **Additional context**
Add any other context about the p

[2021-08-04 16:56] DBTaylor opened #2353 "Ability to disable minimize/maximize/close"
It would be nice to have the ability to disable windows' minimize, maximize/restore, and close buttons. They can be removed entirely with ```decorations: false```, but the close functionality remains when right clicking the app in the taskbar.

I'm on Windows, I don't know what behaviors other platforms have.

[2021-08-04 16:59] amrbashir commented on #2353
related to tauri-apps/tao#116

[2021-08-04 17:07] DBTaylor opened #2354 "window.start_resizing(direction)"
It would be nice to have Window methods like start_dragging, but for resizing the window. This would be useful for frameless apps. I imagine you would pass as an argument what side of the window you're resizing from (top, topright, right, bottomright, bottom, bottomleft, left, or topleft).

[2021-08-04 17:21] amrbashir commented on #2354
Frameless windows support resizing by default and we already use similar methods internally to do so, so it is possible to expose this method for windows and linux.
@lemarier can confirm if it is possible or not on macos.

[2021-08-04 20:46] Y2KForever opened #2355 "Asset `35729/livereload.js` not found; fallback to index.html (examples/api)"
### **Describe the bug**
Trying to run the example in example/api results in the tauri app to show only a grey background, with the console saying:
`Asset 35729/livereload.js not found; fallback to index.html`

### **To Reproduce**
Clone the latest release and follow the instructions in the README.md inside example/api.

### **Expected behavior**
The app to look the same as the screenshot in examp

[2021-08-04 21:41] lemarier opened #2356 "Updater: MSI is not starting without UAC"
### **Describe the bug**
Looks like it's been introduced by https://github.com/tauri-apps/tauri/pull/2155

### **To Reproduce**
Steps to reproduce the behavior:
1. Install version 1.0
2. Ask for update
3. No new update is installed and no msi is launched/

Works fine when UAC is set tho.

### **Expected behavior**
Should update app correctly.

### **Screenshots**
N/A

### **Platform and Versions (

[2021-08-05 02:03] OceanBelongsToMe opened #2358 "feat(macos): dock management api"
### **Describe the bug**
A clear and concise description of what the bug is.

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### **Expected behavior**
A clear and concise description of what you expected to happen.

### **Screenshots**
If applicable, add screenshots to help explain your problem.

### **Platform and Ver

[2021-08-05 12:51] JohnCido commented on #2079
I ran into this issue too. Any updates on this?
And this also happens when I run `yarn tauri info`. Does this CLI tool has to be downloaded each time?

[2021-08-05 13:00] JohnCido commented on #1628
I downloaded the Windows version into the target folder you mentioned and ran the `yarn tauri info` again in **WSL**. The funny thing is I was not able to download the Rust CLI behind my proxy, but it succeeded after I paste the Windows binary. Not sure they're related. But anyway， I finally get the Tauri CLI tool to work properly.

[2021-08-05 23:10] feeddageek opened #2360 "the js api should probably be compiled for a target higher than ES3"
**Is your feature request related to a problem? Please describe.**
Despite my app targeting a recent ES version, I noticed that my bundle was full of shim and that a copyright notice from Microsoft was attached to it because of said shim.
The shims and copyright notices came from importing @tauri-apps/api because `tooling/api/tsconfig.json` do not have a `target` set and the default value is `"ES3

[2021-08-06 06:49] nothingismagick commented on #2360
You are absolutely right! Nice catch. We technically support (to the best of my knowledge) all the way up to ecma2018.

[2021-08-06 09:03] harshkhandeparkar commented on #2360
Isn't babel responsible for this?

[2021-08-06 11:16] harshkhandeparkar commented on #2360
I tried this locally and changing the target does not affect the bundle size whereas removing babel does (although I don't know what consequences that would have).

[2021-08-06 11:35] nothingismagick commented on #2360
babel transpiles EVERYTHING. so removing babel would just leave your ECMASCRIPT as is.

[2021-08-06 11:37] nothingismagick commented on #2360
however, the question here is about our API, not userland, so maybe @harshkhandeparkar we are having a misunderstanding. Did you do this in the API folder of this repo?

[2021-08-06 11:39] nothingismagick commented on #2360
Because if so, you just found a GREAT win for final bundle size and probably saved the planet terabytes (if not more) of annual traffic once Tauri becomes mainstream.

[2021-08-06 12:37] harshkhandeparkar commented on #2360
Yes, the API folder and I compared the `api/dist` and `core/[something i forgot]/bundle.js` next to `core.js`

[2021-08-06 16:07] feeddageek commented on #2360
@harshkhandeparkar  I did not consider the `bundle.js` next to `core.js` because it is only use when withGlobalTauri is set to true (which is don't use).
It is build from the same sources as the API, but it does not read the `tsconfig.json` file.
I don't know why it is build that way, so I can't make an informed recommendation on how to reduce the size of this file.
_(but adding `targets: "> 0.25%

[2021-08-06 17:00] harshkhandeparkar commented on #2360
Yes, definitely.

I had tried this but it kind of gave me a difference initially when it reduced but I tried again and it didn't really make a difference, perhaps this needs to be measured again.

[2021-08-06 18:08] Y2KForever commented on #2355
Update:

Tried to compile the beta2 instead of beta5, that works fine, so it seem the problem is with the newest release.
Compiling the project again shows a few errors that did not come up during the beta2.

[code]

This is when running the `./.scripts/setup.ps1` script.

[2021-08-06 20:12] amrbashir commented on #2355
You should always check out the latest commits, a lot of fixes happened.

Follow these steps:
1. run `.scripts/setup.ps1` and say yes to install nodejs cli
2. `cd examples/api`
3. `yarn install`
4. `yarn tauri dev`

[2021-08-06 21:05] Y2KForever commented on #2355
Cloned the lastest dev, followed your instructions still the same result.

![image](https://user-images.githubusercontent.com/38052875/128570876-a1f323e7-9e8f-4a6d-9796-1920ba353ac7.png)
![image](https://user-images.githubusercontent.com/38052875/128570965-fc2425f4-ecfd-487f-99c7-3e7c594077f2.png)

[2021-08-06 21:37] amrbashir commented on #2355
Seems like something goes wrong when it tries to build `tooling/api` can you run `yarn build` in that folder and see if it throws any errors

[2021-08-06 22:25] Y2KForever commented on #2355
EDIT: I was a bit tired last night when I read what you wrote.
I ran `yarn build` inside `tooling/api` and it does produce the same error.

[code]

[2021-08-07 07:21] makorne commented on #1838
@nothingismagick

Just installed all from  [tauri.studio/en/docs/get-started/setup-linux](url)
 and tried [https://github.com/tauri-apps/vue-cli-plugin-tauri/](url)
The same issue...

`error: failed to run custom build command for `glib-sys v0.10.1``

rustc 1.53.0 (53cb7b09b 2021-06-17)
fedora 34 xfce
tauri-bundler   0.9.4

[2021-08-07 10:29] nothingismagick commented on #1838
Your system is VERY out of date @makorne. Please update Rust and tauri-bundler (and i am assuming all of your other tauri deps). Please visit our discord for more information about how to do this.

[2021-08-07 12:46] tststs commented on #323
+1 or could someone show an example on how to use it?

[2021-08-07 13:10] harshkhandeparkar opened #2363 "Inclusive Branch Names"
I opened this issue as requested by Denjell on Discord.

I was just looking through the `tauri-apps` org repos and found that the following repos still use `master` branch:
1. (org repos) `rustdocusaurus`, `tauri-dialog-rs` (archived), `governance-and-guidance`, `rfcs`, `.github`.
2. (forks) `winit`, `create-pull-request`, `web-view` (archived), `zserge-webview` (archived), `tauri-inliner` (archiv

[2021-08-07 14:54] makorne commented on #1838
I updated to the latest stable rust (from  a VERY old one, 1 month older :)
Now I have `stable-x86_64-unknown-linux-gnu updated - rustc 1.54.0 (a178d0322 2021-07-26)`
and did `cargo update, cargo install tauri-bundler --force`

But still the same tauri-bundler version and same issue.

Looks like ` tauri.studio/en/docs/getting-started/setup-linux` with
[code]
should be updated and needs the right i

[2021-08-07 15:11] FabianLars commented on #1838
The problem is not the setup page (although 1.40 could actually be too old idk), but rather the instructions in the vue-cli-plugin-tauri readme or the plugin itself. Both are somewhat outdated.
- you don't need tauri-bundler anymore => uninstall it straight away, just in case
- if the plugin doesn't work without it (don't know how vue plugins work, but tauri-bundler is still mentioned in the gener

[2021-08-07 21:45] nothingismagick commented on #1838
@nklayman - can you take a look at your vue-cli-plugin documentation again and make sure its beta compatible?

[2021-08-08 04:47] diversoft commented on #2079
I also encountered the same problem, it will download rust cli when run 'yarn tauri dev' each time?

[2021-08-08 07:24] 8 commented on #2249
While waiting for the next release, I fixed it locally for me by moving the two lines with `// @ts-expect-error` one line down, so that the end result looks like:

[code]

Take care,
Martin

[2021-08-08 07:52] nothingismagick commented on #2363
Thanks, we are not going to modify archived repos - because they are archived. WIll find some time to do the others that you mentioned. Thanks again!

[2021-08-08 08:30] pzeinlinger commented on #2327
I can confirm this bug.

[2021-08-08 10:02] lemarier commented on #2354
In macos we do have https://developer.apple.com/documentation/appkit/nswindowdelegate/1419292-windowwillresize?language=objc

But it doesnt tell us the resizing from. Probably some hacking could be done, but dont seems to have any native function available.

[2021-08-08 10:10] lemarier commented on #2338
May we know your os?

I suspect macos so i’ll give a quick hint;
This is a security thing (specially in dev build, as you need a custom plist to the app)

add this in your Cargo.toml under dependencies;
[code]

add this is to the top of your main.rs
[code]

Then create a sample plist in the root of `src-tauri` (This will ask permission to access your camera and microphone.)
[code]

***

Then all s

[2021-08-08 10:21] amrbashir commented on #2354
Seems like this is some sort of an event and we don't want that, we want to start the resizing itself not to listen to the resizing event.

[2021-08-08 10:30] lemarier commented on #2354
Sorry misunderstood!

I need to make more research for this.

Edit we can do it with;
https://developer.apple.com/documentation/appkit/nswindow/1419519-setframe

[2021-08-08 10:53] b4s36t4 commented on #2338
Thanks @lemarier. Will check it.!

[2021-08-08 17:06] fundon opened #2366 "CSP: request a server api was failed"
I have a backend server, the HTTP address is `http://localhost`.

### **Platform and Versions (required):**
[code]

### **Additional context**
<img width="729" alt="Screen Shot 2021-08-09 at 01 05 33" src="https://user-images.githubusercontent.com/27926/128639745-7e7132e4-0e17-42f1-a0ff-ac853f7fdfcc.png">

### **Stack Trace**

[2021-08-08 20:37] jdheeter opened #2367 "Infinite loading during first window spawn, no errors."
### **Describe the issue**
I'm having an issue with Tauri where the app starts without error and spawns the first window, which then seems to be loading and freezes, never finishes loading and just is stuck on the initial white screen. The issue is present in dev and after build. In dev mode I tried with and without the dev frontend server and I found the same result. I created a fresh tauri proje

[2021-08-08 21:13] #2360 closed, assigned to nobody

[2021-08-08 21:13] #2356 closed, assigned to nobody

[2021-08-08 23:23] wusyong commented on #2343
I believe `tao::event_loop::EventLoopProxy` should be `Send` only.
It turns out `glib::Sender` is actually `Send + Sync`.
Thanks for notifying this!
@lucasfernog Should `AppHandle` be `Send + Sync`? Or it just needs `Send` to send the messages?

[2021-08-08 23:27] lucasfernog commented on #2343
I think AppHandle only needs to be Send since it implements Clone so it's easy to manage it. But it needs to be consistent across platforms.

[2021-08-08 23:34] wusyong commented on #2343
For `EventLoopProxy` it should be `Send` only imho.
So if that's the only thing that affect `AppHandle`, I think it should be `Send` only too.
I'll check it across platform later.

[2021-08-08 23:43] lucasfernog commented on #2367
Can you create a repo that we can use to reproduce it? This depends on your front end.

[2021-08-08 23:45] lucasfernog commented on #2366
Try setting the `exceptionDomain` configuration to `localhost`: https://tauri.studio/en/docs/api/config#tauri.bundle.macOS.exceptionDomain

Please reopen if it still doesn't work.

[2021-08-08 23:45] #2366 closed, assigned to nobody

[2021-08-08 23:46] lucasfernog commented on #2338
We need to document this or maybe help users define their plist file.

[2021-08-08 23:47] lemarier commented on #2338
ref; https://github.com/tauri-apps/tauri/issues/1570

[2021-08-08 23:51] lucasfernog commented on #2355
Looks like a problem with your setup since it works on my machine and it also works on CI. Please reach out on our Discord and we'll help you.

Also this is a good resource to follow: https://github.com/tauri-apps/tauri/blob/dev/.github/CONTRIBUTING.md

[2021-08-08 23:51] #2355 closed, assigned to nobody

[2021-08-08 23:51] lucasfernog commented on #323
The work on this feature is frozen because we're focusing on bug fixes ahead of a stable release and our audit.

[2021-08-09 00:05] lucasfernog commented on #2352
Can you create a repo that we can use to reproduce this issue?

[2021-08-09 00:07] lucasfernog commented on #2352
I've tried this `pub fn get() -> Menu` thing on the API example and it works fine. Maybe there's more log output on your error?

[2021-08-09 00:08] github-actions[bot] opened #2369 "RUSTSEC-2021-0080: Links in archive can create arbitrary directories"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `tar`                      |
| Version             | `0.4.35`                   |
| URL                 | [https://github.com/alexcrichton/tar-rs/issues/238](https://github.com/alexcrichton/tar-rs/issues/238) |
| Date

[2021-08-09 00:16] #2336 closed, assigned to nobody

[2021-08-09 00:24] lucasfernog commented on #2335
When you use `cargo install`, you're installing a cargo subcommand, see [this](https://github.com/rust-lang/cargo/wiki/Third-party-cargo-subcommands) and [this](https://doc.rust-lang.org/book/ch14-05-extending-cargo.html). So it doesn't make much sense to run it directly like you did (`$ cargo-tauri --help`). I'll add this to the help output.

[2021-08-09 00:36] lucasfernog commented on #2335
Take a look at #2370. I don't love it, but it's better than what we have right now.

[2021-08-09 00:48] lucasfernog commented on #2232
This feature requires a change on the great RFD library: https://github.com/PolyMeilex/rfd/issues/18

[2021-08-09 00:51] wusyong commented on #2335
cli.rs uses clap right? I believe it's able to doc those subcommands with method it has.
Let me explore a bit and see how to fix this

[2021-08-09 00:56] lucasfernog commented on #2323
We have this event queue that are no longer needed. Removing it will fix this problem.

[2021-08-09 01:04] lucasfernog commented on #2311
It doesn't work because the command is not async, which means it is ran on the main thread and it's preventing the event loop from receiving the message.

Changing the `#[command] pub fn` to `#[command] pub async fn` will make it work.

[2021-08-09 01:04] #2311 closed, assigned to nobody

[2021-08-09 03:10] #2323 closed, assigned to nobody

[2021-08-09 03:32] ghost opened #2374 "Support file permissions when writing a file"
**Is your feature request related to a problem? Please describe.**
I'm unable to set permissions on sensitive files to 600

**Describe the solution you'd like**
Similar to node fs, the javascript api should allow file permissions and would be nice to have read/write flags as well, so that file writing looks like node fs:
[code]

**Describe alternatives you've considered**
I've posted in help-triag

[2021-08-09 09:40] ghost opened #2375 "Remove NodeJS as a requirement"
**Is your feature request related to a problem? Please describe.**
NodeJS is a requirement. I'm frustrated because I only need Rust and HTML,CSS,JS in my apps. usually with webpack or other bundlers like esbuild.

**Describe the solution you'd like**
Make it optional.

**Describe alternatives you've considered**
Remove it completely.

[2021-08-09 09:56] amrbashir commented on #2374
Closing in favor of #2233.

[2021-08-09 09:56] #2374 closed, assigned to nobody

[2021-08-09 09:58] nothingismagick commented on #2375
Nodejs is not a hard requirement. You can do everything with cargo:

[code]

[2021-08-09 09:58] #2375 closed, assigned to nobody

[2021-08-09 12:01] ghost commented on #2375
Oh, okay. Thanks. You should clarify that in the docs! How can I contribute to the docs?

[2021-08-09 12:06] nothingismagick commented on #2375
You could file an issue at the docs repo, or dive in and make a PR

[2021-08-09 12:25] #2335 closed, assigned to lucasfernog

[2021-08-09 12:31] fundon commented on #2366
Still failed.

[2021-08-09 12:35] LJason77 commented on #2352
@lucasfernog I just use `yarn tauri:serve` and get the error：
[code]

https://github.com/LJason77/my-tauri

[2021-08-09 12:55] amrbashir commented on #2375
Docs are now hosted in this repo, you can contribute and make PRs here to `docs` folder in the repo root.

[2021-08-09 13:53] ghost commented on #2375
I am getting this error:
thread 'main' panicked at 'Couldn't recognize the current folder as a Tauri project.', /home/dragon/.cargo/registry/src/github.com-1ecc6299db9ec823/tauri-cli-1.0.0-beta.5/src/helpers/app_paths.rs:29:3
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

I did: cargo new MY_PROJECT

cd MY_PROJECT
cargo tauri dev

[2021-08-09 13:56] #2184 closed, assigned to lucasfernog

[2021-08-09 14:05] nothingismagick commented on #2375
Without running `cargo tauri init` first, there is no project rigged. Please visit our discord for help

[2021-08-09 14:07] lucasfernog commented on #2352
It works on my end. Did you follow the installation instructions?

[2021-08-09 14:11] lucasfernog commented on #2343
I'll take a look on Windows.

[2021-08-09 14:48] lucasfernog commented on #2343
I just checked https://docs.rs/tao/0.4.0/tao/event_loop/struct.EventLoopProxy.html and https://docs.rs/tao/0.4.0/x86_64-pc-windows-msvc/tao/event_loop/struct.EventLoopProxy.html
the proxy is Sync on Linux, and !Sync on Windows. Maybe we should force them to be !Sync on all platforms (the proxy and also AppHandle).

[2021-08-09 15:22] ghost commented on #2233
I don't see it listed as a task (or maybe I misread), but adding file permissions when writing a file (not after the fact - race condition) would help tremendously for electron apps that needed to store sensitive data (e.g. passwords, secrets) that are not readable by groups or others.

Example:

[code]

[2021-08-09 15:56] amrbashir commented on #2233
@zoombinis it is listed under `fs` section, all current functions will have new overloads that is similar to nodejs standard library, with support for file permissions

Edit: updated the list for more transparency

[2021-08-09 16:30] LJason77 commented on #2352
vue create my-tauri
https://github.com/LJason77/my-tauri/commit/c5f49390e0332c589b427a549a4cd50e15d998c7
---It works---

vue add tauri
yarn tauri init
https://github.com/LJason77/my-tauri/commit/cbc9a9a32de28751a02ddb5ed9bbf6da7c5c836f
---It works---

add menu
https://github.com/LJason77/my-tauri/commit/9a91a7ec4fea5b9c2b34ce5de63e473701f83fd3
---It does not work---

How can I get a more detailed

[2021-08-09 16:36] lucasfernog commented on #2352
@wusyong @lemarier any ideas here?

[2021-08-09 16:38] rkedward commented on #2237
I'm seeing what I believe is the same issue working behind a corporate firewall.  npm is able to download the packages successfully but the Rust CLI script fails to download.

[code]

[2021-08-09 16:42] LJason77 commented on #2352
[code]

[2021-08-09 16:49] RangerMauve commented on #323
@lucasfernog  Thanks for the update! Is this something you'll be able to continue on after the release/audit?

[2021-08-09 16:52] lucasfernog commented on #323
Yeah hopefully I can get back to it after the release.

[2021-08-09 16:56] RangerMauve commented on #323
Sweet, I'm excited to see how it progresses. 😁 This functionality can enable a lot of interesting use cases (especially for people making experimental browsers like myself).

[2021-08-10 00:35] ghost commented on #1986
I also tried reusing an appimage, that worked fine on ubuntu, on centos7 but hit this:

Here is a hacky-as-heck work around:

1. use e.g. the electron-builder `AppRun` bash script (forget if MIT else I would paste) and rename the app to run as `AppRunTauri`
2. run: `your_app.appimage --appimage-extract` and cd inside the extracted folder
3. `mv AppRun AppRunTauri`
4. paste the bash script in as th

[2021-08-10 01:00] wusyong commented on #2352
Did you install `libgtksourceview-3.0-dev`? Also, it seems you used `1.0.0-beta.2` based on your commit instead of latest `beta.5`

[2021-08-10 04:20] wusyong commented on #2343
While we should make proxy send only on tao, maybe `AppHandle` in tauri should be with `Sync`. We use tokio a lot here and usually it demands Send + Sync, even its Sender.

[2021-08-10 04:57] jdheeter commented on #2367
I was unable to repro the issue on another machine even with a minimalist repo. I did a fresh install of rust/tauri, latest macos updates and a reboot and now Tauri is working again. Issue could have been related to M1 Mac hardware emulation layer. Will update here if I see the issue again.

[2021-08-10 04:57] #2367 closed, assigned to nobody

[2021-08-10 06:38] wusyong commented on #2343
I'm thinking about maybe we could use channel from `crossbeam` since the performance from std is quite slow anyway.
It's sender is also `Send + Sync` that could ease our pain a lot

[2021-08-10 12:43] LJason77 commented on #2352
@wusyong `libgtksourceview-3.0-dev` is already installed. 1.0.0-beta.2 is the default version of `yarn tauri init`.
I updated to beta.5 and I still get the error.
https://github.com/LJason77/my-tauri/commit/690fb23d8876942a10fd9fd25d719518af41da61

[2021-08-10 12:46] lucasfernog commented on #2343
@wusyong can you patch it in tao? Yesterday I saw that tao 0.5 has a breaking change on macOS because it's no longer Sync (it used to work, now the same code only works on Linux and I had to make some changes).

[2021-08-10 14:31] lucasfernog commented on #2343
`AppHandle` will be `Sync` on Windows on the next release, @wusyong fixed it here: https://github.com/tauri-apps/tao/pull/181

[2021-08-10 14:31] #2343 closed, assigned to nobody

[2021-08-10 14:31] #2237 closed, assigned to nobody

[2021-08-10 17:00] lucasfernog commented on #1628
This will be supported on the next release, see #2381

[2021-08-10 17:18] lucasfernog commented on #2369
Fixed on tar 0.4.36, see https://github.com/alexcrichton/tar-rs/pull/259

[2021-08-10 17:18] #2369 closed, assigned to nobody

[2021-08-10 17:51] pzeinlinger opened #2383 "window.__TAURI_INVOKE_KEY__ missing after navigation to remote URL"
### **Describe the bug**
A clear and concise description of what the bug is.

window.\_\_TAURI_INVOKE_KEY\_\_ is missing after navigating to a remote URL by setting window.location.href. This is only happening in production builds, not in development ones.

### **To Reproduce**
Steps to reproduce the behavior:
1. open some index.html after **building** the application
2. navigate to another page (

[2021-08-10 17:54] nothingismagick commented on #2383
Yeah, this is actually expected behaviour at the moment. The invoke key exists to prevent remote and untrustable code from accessing the Tauri API.

[2021-08-10 17:54] #2383 closed, assigned to nobody

[2021-08-10 17:55] pzeinlinger commented on #2383
Is there a way to get around this or disable this?

[2021-08-10 17:56] pzeinlinger commented on #2383
invoking through the global tauri object still works. but it'd rather be using the api.

[2021-08-10 17:58] nothingismagick commented on #2383
Yes, the global object is the only workaround at the moment AFAIK. But that has severe security issues.

[2021-08-10 18:25] lucasfernog commented on #2383
Can you also ship the "authenticated" UI with the tauri app, instead of hosting it and redirecting on the app? That's also helpful if you want your app to be accessed offline.

[2021-08-10 18:28] #2232 closed, assigned to lucasfernog

[2021-08-10 18:38] #2287 closed, assigned to nobody

[2021-08-10 18:49] pzeinlinger commented on #2383
I don't think so. The actual application is updated quite frequently (at least daily) which is unfeasible to do with tauri (builds take long, no cross compilation). Apart from that there is issue #2327 which makes CORS requests with credentials impossible.

I'm really out of ideas. I could expose the global tauri object and call it a day, but that's just a last resort "solution".

[2021-08-10 19:02] #2295 closed, assigned to nobody

[2021-08-11 01:46] ghost commented on #1355
I hit this issue trying to release to centos 7 having built on ubuntu. The workaround is to create a docker image for the environment you are releasing to, or use a tool like rust embedded cross build that does this automatically for you (I haven't used that tool yet).

so the trick is you also need to build tauri and build your app with that version (not the downloaded node package)

Here's the i

[2021-08-11 04:28] ghost opened #2391 "allow configurable removal of Origin request header"
**Is your feature request related to a problem? Please describe.**
Some servers that are out of a developers control will block requests that have an Origin header that is unexpected, such as tauri://localhost.

**Describe the solution you'd like**
Please offer a way of disabling tauri's Origin header so that it is not included in the request

**Describe alternatives you've considered**
Sending Or

[2021-08-11 04:34] ghost commented on #2327
I believe what is happening here is tauri includes an `origin: tauri://localhost` request header for cross origin requests.

Many servers (especially ones out of your control) may not expect this origin, and so the request is blocked and you will see that error.

[2021-08-11 05:07] #2292 closed, assigned to nobody

[2021-08-11 06:01] pzeinlinger commented on #2327
Unfortunately, that's not true. Using curl and manually setting origin to ```tauri://localhost``` works. What I found is that the webview expects the Access-Control-Allow-Origin header to be ```tauri://localhost``` but does send an empty string.

[2021-08-11 11:56] ghost commented on #2391
This is not something aligned with tauri's goals in upholding security so im closing based on discord chats

[2021-08-11 11:56] #2391 closed, assigned to nobody

[2021-08-11 12:19] nothingismagick commented on #2327
Thanks for filing the issue. From our Discord discussion about this right now by @Beanow:

[2021-08-11 15:13] lucasfernog commented on #1355
Btw I've changed the CLI binary build CI to run on ubuntu-18.04 (that's the lowest available ubuntu on github actions :/) so maybe you won't need to build the CLI by yourself on the next release.

[2021-08-11 16:14] wusyong commented on #2352
First of all thanks for creating the repo. It helps us a lot to try to reproduce it.
But I couldn't recreate it either. So I'm sorry I also don't have any idea either.
What's your ram total? If you want to help us tracking this issue, could you run [this example](https://github.com/tauri-apps/wry/blob/dev/examples/menu_bar.rs) in `wry` with command ` cargo run --example menubar`?
Thanks again for

[2021-08-11 16:23] wusyong commented on #2298
This also happens on linux. So users will need to click the tray twice to exit.

[2021-08-11 16:34] lucasfernog commented on #2298
How are you guys testing this? With the new `ExitRequested` API? because closing all windows just exits the app.

[2021-08-11 17:00] #2256 closed, assigned to nobody

[2021-08-11 17:34] arpan-dhatt opened #2397 "Copy/Paste and Other Keyboard Shortcuts Do Not Work on MacOS"
### **Describe the bug**
Keyboard shortcuts on MacOS such as `cmd/a`, `cmd/c`, `cmd/v`, `cmd/x`, `cmd/z`, and others do not work in the Tauri window. Right-click context menus do behave correctly, but using the keyboard shortcuts for equivalent actions create the system error sound.

### **To Reproduce**
`npm run tauri dev` and attempt to use keyboard shortcuts to manipulate the field.

### **Expe

[2021-08-11 18:41] Beanow commented on #2327
I was indeed able to reproduce the issue @pzeinlinger is describing.

Here's a simple server to test different origins with.
https://gist.github.com/Beanow/ccb667d1d7ffc674dedd7e54a62800ec

It seems to be a type of bug related to the custom protocol `tauri://` and not setting the `Origin:` header correctly.
Using `"devPath": "http://localhost:5000",` so we're not running from the custom protocol a

[2021-08-11 18:48] Beanow commented on #2327
@iohzrd I see you mentioned

For me it did work to use `*` though. (Of course this isn't desirable and `tauri://localhost` should work ideally).
Can you try the minimal reproduction I added in the gist?
https://gist.github.com/Beanow/ccb667d1d7ffc674dedd7e54a62800ec

[2021-08-11 19:32] probablykasper commented on #2397
You can fix this by adding a [menu](https://tauri.studio/en/docs/usage/guides/visual/menu)

[2021-08-11 19:44] #2397 closed, assigned to nobody

[2021-08-11 21:28] pzeinlinger commented on #2327
* is not an option if credentials are involved.
https://fetch.spec.whatwg.org/#cors-protocol-and-credentials

[2021-08-11 21:54] probablykasper opened #2398 "feat: add a default menu for tauri apps"
On macOS, it's pretty much standard for every app to have a menu. Not having one looks very unusual, and basic shortcuts like copy/paste don't work (https://github.com/tauri-apps/tauri/issues/2397). This could result in future issues being created, and unexpected surprises for people who develop on Windows/Linux.

To prevent that, I think it would make sense to have a default macOS menu.

Suggesti

[2021-08-11 21:59] probablykasper commented on #2358
Hard to say what you mean because you didn't say much. Windows don't show up in the macOS Dock, so `window.set_skip_taskbar` isn't something that works on macOS. If you're talking about hiding the app from the Dock, that's mentioned in https://github.com/tauri-apps/tauri/issues/2258

[2021-08-11 22:50] amrbashir commented on #2398
I just talked with @lemarier a couple hours ago about this and I took some inspiration from electron.

Here is proposed changes which is breaking so @lucasfernog input here is vital.

Changes needed in tao:
1. [`MacOS only`] tao should expose a `MenuBarBuilder` that is dependant on event  loop rather than window and only one instance should be allowed.
2. [`Linux and Windows only`] `window.set_men

[2021-08-11 23:05] amrbashir commented on #2358
It is not possible for macOS so I will rename this issue to dock management.

[2021-08-11 23:06] amrbashir commented on #2358
related to tauri-apps/tao#105

[2021-08-11 23:30] probablykasper commented on #2258
Some questions/concerns I have about using `ActivationPolicy::Accessory` for Spotlight-like windows:
1. Behavior with multiple spaces/monitors. Spotlight's behavior seems to be to open in the current space, and close whenever the user switches spaces (don't know how it deals with multiple monitors).
2. Does it show over fullscreen apps?
3. Does it take away focus from the active window?

[2021-08-11 23:38] amrbashir commented on #2258
In order to do something like this you would need to do.
1. get the monitor nearest the cursor (would need a feature request at Tao then Tauri can expose it)
2. position your window according to the info of the monitor.

I think switching to another space will make the window lose focus, and would trigger `blur` event, and so you'd call `window.hide()`

[2021-08-11 23:49] probablykasper commented on #2398
Sounds like a great way to go about it :D

[2021-08-12 00:02] lucasfernog commented on #1977
Unfortunately this is not possible with the current tauri architecture. If you can find a way to implement this, we'd love to see it as a PR! For now you can use the `async_runtime` module.

[2021-08-12 00:02] #1977 closed, assigned to nobody

[2021-08-12 06:01] srsholmes commented on #2258
Regarding the spaces, currently with activation policy, it will switch space when the user activates the app (back to the space the app was on).

This can be overcome by adding the following to tao in `src/platform_impl/macos/window.rs` line 195.

[code]

and building tauri against this. This allows the app to pop up on whatever space is currently active, without switching the user back to the ori

[2021-08-12 06:19] amrbashir commented on #2354
This is not quite what we want too, we want something similar to https://developer.apple.com/documentation/appkit/nswindow/1419386-performwindowdragwithevent but for resizing.

Looks like macOS doesn't support this, should we just close this issue @lemarier ?

[2021-08-12 06:32] amrbashir commented on #2258
@srsholmes Thanks for the detailed explanation.

There is a project called [Ueli](https://github.com/oliverschwendener/ueli) which is a spotlight-like app built in electron and I don't think it is using any activation policy, if you don't mind can you take a look on it and see how it behaves on different spaces and monitors and if that's the desired behavior?

This seems like a feature request for

[2021-08-12 06:37] amrbashir commented on #2089
related to tauri-apps/tao#157

[2021-08-12 08:00] srsholmes commented on #2258
@amrbashir Ueli works perfectly as I would expect the behaviour to work.

It opens the popup on the active screen, with multiple monitors, where the mouse currently sits.

The popup works when the app are in full screen mode.

It also restores focus to the previous app when the pop up is closed.

I couldn't find anything regarding Activation Policy in Ueli, so i think you are correct, maybe the ac

[2021-08-12 10:54] amrbashir commented on #2258
Cool, looks to me that needed methods are:
1. `dock.hide()` and `dock.show()`, requested in #2358 and tauri-apps/tao#105
2. `app.hide()` and `app.show()`, requested in tauri-apps/tao#182
3. `window.set_visible_on_all_workspaces()`
4. `monitor::cursor_position()`
5. `monitor::from_point()`

I think we should keep this issue open for exposing activation policy only but feel free to file requests for

[2021-08-12 11:04] pankerit opened #2407 "Click through window"
Possibility to click through window.
In case window is transparent I would like to pass it.

[2021-08-12 12:10] LJason77 commented on #2352
16 G.
`cargo run --example menu_bar` **wry** still get the error

[code]

On the first day, the menu worked fine, but on the second day, it did not work properly, and the error persisted until now.